.more-videos-title, .news-page h3{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

#owl-demo .item img.flags{
	margin: auto !important;
}

.btnMore{
	border: 1px solid #50b948; 
    background-color: #50b948;
    padding: 15px 40px;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border: none;
}

.bxslider li .product-title .name {
    left: 30px;
}
.bxslider li .product-title .country {
    left: 30px;
}
li.home-page-fixtures{
	line-height: 16px !important;
}
.landing-fixtures-title{
	padding: 2px 0px 0px !important;
}

button.psl-join{
	border: 1px solid #50b948; 
    background-color: #21cbc2 !important;
    padding: 15px 45px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border: none;
}
#commentry_block{
    max-height: 1000px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tapable{
	cursor: pointer;
}

.player-vs .tab-links-match li {
    width: auto !important;
}

@media (max-width: 400px){
	.owl-carousel .owl-item {
	padding: 0px 10px !important;
	}
}
