
@media (min-width:768px) and (max-width:990px) {
nav.navigation ul li:last-child {
	border-bottom: none
}
.navigation>#menus>li>a {
	color: #fff!important
}
.navigation>ul>li>a {
	color: #fff!important;
	padding: 0px 0px;
	height: auto;
	float: left;
	width: 100%;
	border: none;
	position: relative;
	font-size: 14px
}
::i-block-chrome, .navigation ul li>ul {
top:0px
}
.navigation ul ul ul {
	display: block
}
.navigation ul ul li a {
	color: #fff;
	border: none;
	padding: 0px 10px
}
.navigation ul>li.sub-icon>a:after {
	content: "\f107";
	font-family: FontAwesome;
	position: absolute;
	right: 4px;
	top: 1px;
	color: #fff
}
.navigation ul ul ul {
	left: 0px
}
.navigation ul>li>a:before, .navigation ul ul:before {
	display: none
}
.navigation>ul>li:hover>a, nav.navigation>ul>li.current-menu-item>a, nav.navigation>ul>li.current-menu-ancestor>a, .navigation ul ul li:hover>a {
	background-color: transparent!important;
	border: none
}
.cs-click-menu i {
	color: #fff;
	font-size: 20px
}
.main-section .cs-blog .bottom-blog .icons-style i {
	padding: 0 10px;
	margin: 0 10px 0 0
}
.navigation {
	float: none
}
.navigation ul ul li:hover>a {
	box-shadow: none;
	background: none
}
.sidebar-color.page-sidebar {
	margin-bottom: 0px!important;
	padding-bottom: 0px!important
}
.page-section .announcement-ticker .ticker-wrapp .ticker-controls {
	right: -40px
}
.page-section .section-fullwidth .filter-nav li {
	margin-bottom: 1px;
	margin-right: 1px
}
.page-section .section-fullwidth .filter-nav li a {
	padding: 14px 15px
}
.page-section .section-fullwidth .post-option li {
	margin-left: 9px
}
.flex-control-nav, .flex-control-nav li {
	width: auto!important
}
.main-section .page-content ~ .page-sidebar, .main-section .page-content {
	width: 100%!important
}
.main-section .page-sidebar .widget {
	width: 47%;
	margin-right: 3%
}
.main-section .page-section .content-rt .widget {
	width: 48%;
	margin-right: 2%;
	float: left
}
.main-section .page-sidebar {
	width: 100%;
	margin-bottom: 25px
}
.main-section .page-sidebar .recent_blog_widget ul.blog_without_thumb li i {
	padding-top: 2px
}
.main-section .page-sidebar .sidebar-border .widget_team .time {
	font-size: 24px
}
.main-section .page-sidebar .sidebar-border .widget_team ul li .infotext {
	padding-top: 5px
}
.main-section .page-sidebar .sidebar-border .widget_team .infotext a {
	font-size: 16px
}
.main-section .page-section .page-sidebar ~ .page-content {
	width: 100%;
	padding-left: 0
}
.page-section .section-fullwidth .cs-blog.cs-blog-grid .title .post-option {
	margin-bottom: 10px
}
.page-content .page-section .col-md-4 {
	width: 50%
}
#footer-sec .signup .user-signup input[type="submit"] {
	line-height: 39px!important
}
#footer-sec .col-md-4.widget {
	width: 50%;
	float: left
}
#footer-sec .widget_text .logo {
	text-align: left;
	padding-left: 7%
}
.main-section .twitter_widget .page-no-search .cs-search-area form {
	width: 100%
}
.main-section .twitter_widget .page-no-search .cs-search-area .form-control {
	width: 100%;
	height: 40px
}
.main-section .twitter_widget .page-no-search .cs-search-area label input {
	padding: 8px 13px 8px;
	font-size: 12px
}
.main-section .twitter_widget .page-no-search .cs-search-area {
	margin-bottom: 15px
}
.main-section .page-no-search h2 {
	font-size: 18px
}
.main-section .page-not-found .cs-section-title {
	width: 37%
}
.main-section .page-not-found .cs-content404 {
	width: 50%
}
.main-section .page-not-found .cs-section-title h2 {
	font-size: 125px
}
.main-section .page-not-found .cs-section-title h2 span {
	font-size: 36px;
	margin-top: -25px
}
.main-section .page-not-found .cs-content404 h2 {
	font-size: 37px
}
.main-section .page-not-found .cs-content404 p {
	font-size: 16px
}
.main-section .page-not-found .cs-content404 .social-media {
	display: inline-block;
	float: none;
	margin-left: 0;
	margin-top: 20px
}
.main-section .page-not-found .cs-search-area {
	width: 100%
}
.main-section .page-not-found .cs-content404 a {
	float: none;
	margin: 0px 0 20px 0;
	display: inline-block
}
.main-section .page-content .detail-post, .main-section .page-content .cs-tags, .main-section .page-content .prev-next-post, .main-section .page-content .match-video, .main-section .page-content .default_gallery, .main-section .page-content .about-staduim {
	padding-left: 20px
}
.section-fullwidth .post-recent [class*="col-md"] {
	width: 50%
}
.main-section .page-section .page-sidebar {
	width: 100%
}
.section-fullwidth .element-size-67 {
	width: 100%
}
.section-fullwidth .element-size-33 {
	width: 50%
}
.section-fullwidth .owl-stage-outer .owl-carousel .owl-item {
	width: 100%
}
.section-fullwidth .woocommerce ul.products li.product, .section-fullwidth .woocommerce-page ul.products li.product {
	width: 45%;
	float: left
}
.main-section .page-section .cs-services {
	width: 95%
}
.section-fullwidth .cs-services.left figure ~ .text {
	padding-left: 112px
}
.section-fullwidth .cs-services .text p {
	margin-bottom: 15px
}
.main-section .page-section {
	padding-bottom: 15px
}
.section-fullwidth .cs-services.left figure {
	width: 100%;
	text-align: center;
	margin-bottom: 20px
}
.section-fullwidth .cs-services.left figure ~ .text {
	padding-left: 0;
	text-align: center
}
.section-fullwidth .button_style {
	width: 100%;
	text-align: center
}
.section-fullwidth .button_style .cs-button-shortcode {
	float: none
}
.section-fullwidth article.cs-edu-info {
	margin-left: 4%;
	width: 90%
}
.main-section .page-section .cons-icon-area #countdownwrapp .main-digit-wrapp {
	width: 153px
}
.main-section .page-section .cons-icon-area #countdownwrapp {
	top: 27%
}
.main-section .page-section .under-wrapp .cons-text-wrapp .cs-search-area .form-control {
	width: 376px
}
.page-section .section-fullwidth .cs-upcomming .featured-event .cs-sc-team {
	padding: 0
}
.main-section .page-section .rich_editor_text blog-editor .col-md-12.wow.slide {
	width: 100%;
	margin-top: 15px
}
.main-section .sidebar-color.page-sidebar:before {
	padding: 0;
	top: -19px;
	right: -125px
}
.page-section .section-fullwidth .cs-tabs .vertical .tab-content {
	width: 72%
}
.page-section .section-fullwidth .cs-tabs .vertical .nav-tabs {
	width: 27%
}
.page-section .cs-services.bg-color {
	padding: 10px
}
.page-section .section-fullwidth .cs-services.classic figure i {
	display: inline-block;
	float: none;
	text-align: center
}
.page-section .section-fullwidth .cs-services.left figure {
	margin-bottom: 20px;
	text-align: center;
	width: 100%
}
.page-section .section-fullwidth .cs_counter {
	float: left;
	margin-right: 5%;
	width: 87%
}
.page-section .section-fullwidth .element-size-25 {
	width: 33%
}
.page-section .section-fullwidth .messagebox-v3 .custom-btn {
	top: 66%;
	right: 10px
}
.page-section .section-fullwidth .cs-map-section {
	display: none
}
.wrapper .footer-tweets ul li .twitter-logo {
	width: 20%;
	text-align: center;
	margin: 0px 0 30px 0
}
.wrapper .footer-tweets ul li i {
	margin: 3px 0 0 15px
}
.wrapper .nav>li>a:hover, .wrapper .nav>li>a:focus {
	background: #0b0b0b
}
.page-section .section-fullwidth .cs-blog.blog-medium .cs-media ~ section {
	float: left;
	padding: 15px;
	width: 50%
}
.page-section .section-fullwidth .cs-tabs .vertical .nav-tabs {
	width: 30%
}
.page-section .section-fullwidth .cs-tabs .vertical .tab-content {
	width: 70%
}
.section-fullwidth .main-history .history-list article span {
	font-size: 39px
}
.section-fullwidth .main-history .history-list article {
	width: 83%;
	padding-left: 67px
}
.section-fullwidth .main-history .cs-section-title {
	padding-left: 15px
}
.main-section .page-section .cs-blog.blog-medium .cs-media {
	width: 50%;
	float: left
}
.main-section .page-section .cs-blog.blog-medium .cs-media {
	width: 50%;
	float: left
}
.section-fullwidth .main-history .history-list article {
	margin-left: 109px
}
.col-md-12 {
	width: 100%
}
.page-section .page-content .prev-next-post {
	padding-left: 0
}
.page-section .page-content .prev-next-post article.prev {
	width: 46%
}
.page-section .page-content .prev-next-post {
	width: 100%
}
.page-section .page-content .prev-next-post article .text h2 {
	width: 84%
}
.page-section .page-content .prev-next-post article.next {
	width: 44.7%
}
.page-section .page-content .prev-next-post article.next .text h2 {
	width: 84%
}
.page-section .page-content .prev-next-post a .icon-list8 {
	margin-bottom: 12px
}
.page-content .blog-editor.rich_editor_text {
	padding-left: 0
}
.page-content .blog-editor.rich_editor_text .cs-qoute {
	margin-left: 0
}
.section-fullwidth .col-md-4 {
	width: 50%
}
.team-detail .detailpost img ~ figcaption {
	top: 102%;
	width: 100%!important;
	position: static!important
}
.main-navbar .scroll-to-fixed-fixed {
	position: static!important
}
.main-section .prev-next-post a .icon-list8 {
	margin: 0px 7px
}
.rtl .main-section .prev-next-post article .text h2 {
	width: 82%
}
.main-section .prev-next-post article .text a {
	font-size: 12px
}
.main-section .cs-prv-next .owl-controls {
	top: -40px
}
.rtl .wrapper .header .main-navbar .navigation .navbar-nav>li>a {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.8);
	border-right: none;
	padding: 10px 15px
}
.rtl .header .navigation ul li:last-child a {
	border-left: none
}
.rtl .navigation ul>li>a {
	border-right: none
}
.rtl .cs-blog.blog-medium .cs-media ~ section {
	padding: 30px 390px 0 30px
}
.rtl .main-section .page-section .cs-blog.blog-medium .cs-media {
	float: right
}
.rtl .header .navbar-nav {
	z-index: 9999!important
}
.rtl .cs-rating {
	width: 90%;
	position: relative;
	left: 7%
}
.rtl span.win {
	left: -8%
}
.rtl .match-progress {
	width: 100%;
	position: relative
}
.rtl .match-progress:before, .rtl .match-progress:after {
	left: -13px
}
.rtl .match-progress:after {
	right: -13px
}
}
@media only screen and (max-width: 3000px) 
{
	/*.section_top {
		background-position: left -38px;
		background-position-x: 0;
		background-position-y: -26px;
	}
	.section_top_trns {
		background-position: left -26px;
		background-position-x: 0;
		background-position-y: -26px;
	}*/
}
@media only screen and (max-width: 1360px) 
{
	.section_top {
		background-position: left -26px;
		background-position-x: 0;
		background-position-y: -26px;
	}
	.section_top_trns {
		background-position: left -26px;
		background-position-x: 0;
		background-position-y: -26px;
	}
	
}
@media only screen and (max-width: 1200px) 
{
.ca-item {
	width: 190px;
}
.other-video, .other-videotitle {
    width: 31%;
    float: left;
}
.subscription-cricket h3 {
	font-size: 22px;
}
/***Player***/
.data-player, .data-player-2 {
	font-size: 13px;
}
.rank-player p.rank-title {
	font-size: 20px;
}
.rank-player p.rank-data {
	width: 40%;
    padding: 30px 20px;
    font-size: 32px;
}
.rank-player {
    padding: 0;
    width: 27%;
}
.data-player-2 {
	width: 32%;
}
/***Shop***/
.shop-prod {
	width: 24%;
}
.prod-buy a {
	padding: 5px 4px;
}
.shop-prod:last-child, .shop-prod:nth-child(6) {
padding-right: 15px;
margin-right: 0;
}
}
@media only screen and (max-width: 1024px) 
{
	
	.logo.logo-pt {
    float: right;
    margin-top: 2px !important;
    width: 17%;
}
.box-menu {
   width: 56%;
}
.cbp-hrmenu > ul > li {
    width: 22.5%;
}
.cbp-hrmenu > ul > li > a{
	 padding: 0.4em 1em;
}
	.wrapper {
    box-shadow:none;
   width: 100% !important;
}
header.container{
	padding: 0 10px;
	
}
.container{
	width:100%;
}
.slider_box {
    margin-left: auto !important;
    width: auto !important;
}
.cbp-hrsub-inner.cbp-hssub-rows ul li {
    width: 16.2%;	
}

#textslide .col-md-2 {
	display: none;
}
.content-result .col-md-8 {
	width: 100%;
}

.cart-prod .sec-prod {
	width: 19%;
}
.cart-prod {
	margin-top: 75px;
}
.ca-item {
    width: 235px;
}
.content-result .col-md-4 {
	height:auto;
}
.score-marg {
	margin-top:30px;
}
.video-txt {
	float: left;
}
.content-top-login {
	float: none;
}
.match-team-list .t-img1 {
    margin-right: 10px;
}
.top-score-title h3, .top-match .col-md-8 h3.news-title {
	padding: 0px 0 5px 0;
}
.top-match .col-md-8 h3.news-title {
	margin-top:0;
}
.news-content {
   /* margin-top: 30px;*/
}
#footer-tag .social .top-social {
	padding:5px;
}
.sponsor li {
    width: 10%;
}
.next-match-co h3 {
	padding: 0 0 5px 0;
}
.pl-desc{font-size: 10px;}

.nm-result-vs .nrvs {
	border: 0px;
	margin-top: 10px;
	padding: 20px 0 0 0;
}
.pl-point {
	padding: 15px 0 43px 0;
	width: 30.5%;
}
.pl-bt-con {
	margin-top: 56px;
}
#nextmatch-content .img-round {
	margin-top: 70px;
}
/****Page Result****/
.top-score-title .cat-con-desc img {
    width: 14%;
}
/****Page News****/
#news .data-news-pg h3 {
	padding: 0 0 0 0;
}
.news-page .col-md-10 {
    width: 68%;
}
/***Page Video****/
.other-video, .other-videotitle {
	width: 31%;
}
/*****Page Players*****/
.top-score-title .cric-player img{
	width: 90%;
}
.cric-player p {
	font-size: 12px;
}
/*****Page Single Player***/
.rank-player {
    width: 28%;
    float: left;
}
.data-player-2 p {
	font-size: 13px;
}
.data-player p {
	font-size: 13px;
}
.rank-player p.rank-title {
	font-size: 20px;
}
.rank-player p.rank-data {
	width: 40%;
    padding: 30px 10px;
    font-size: 26px;
}
.col-md-4.data-player-2 {
	width: 32%;
	float: left;
}
/****Pages Shop*****/
.prod-buy a {
	font-size: 12px;
}
.shop-prod {
	width: 32%;
}
.shop-prod:last-child, .shop-prod:nth-child(6) {
padding-right: 15px;
margin-right: 0;
}
.prod-buy a {
	padding: 5px 4px;
}
/****Shop cric****/
.shop-prod .title-prod {
	font-size: 14px;
}
.shop-prod:last-child, .shop-prod:nth-child(6) {
	padding-right: 15px;
}
/****Page Details Prod****/
.content-desc-zoom h3 {
	padding-top: 0;
}
.col-xs-6.box {
	width: 60%;
}
/****html5****/
.video-js {
	max-height: 389px;
}
#news-section .portfolio a {
    background-size: 20% auto;
}
.gallary a {
    background-size: 20% auto;
}
.portfolio a {
    background-size: 20% auto;
}
.cs-section-title.adj::after {
    width: 70% !important;
}

/************slider*********/
.wrapper-main{
	width: 100% !important;
}
.wrapper {
    height: 40% !important;
    margin: -8px auto !important;
   width: 100% !important;
}

.carousel-indicators{
	margin:0; left:auto; right:15px; width:20%;
}
.carousel-caption a {
	padding: 10px 0 0 15px;
	margin-bottom:0;
	bottom:0;
	margin-bottom: 0px;
}
}
@media only screen and (max-width: 1000px) 
{
/*Menu*/
.cbp-hrsub-inner.cbp-hssub-rows ul li {
	width: 15.82%;
}
.jm-item {
    padding: 2em 0em 1em 1em;
}
.second .jm-item-description p{
	display:none;
}
.cbp-hrmenu ul.menu-pages {
	margin: 0;
}
.content-sub-menu .jm-item-button {
margin: 75px auto;
}
#tab1 h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.next-match-news .other-match {
	width: 100%;
	float: left;
	padding-left: 0;
}
.video-txt {
    float: none;
}
.next-match-news .other-match.other-last{
	text-align: center;
}

 /* Home Page*/
.content-result .col-md-4 {
   /* width: 32.7%;
    float: left;*/
    padding-right: 0px;
}
.content-logo {
	height: 90px;
}
.ca-item {
	width: 242px;
}
.tp-grid {
	margin-left:0;
}
.top-match .score-marg.col-md-4 {
	padding-left:0;
}
.top-product h3 {
	margin-top:50px;
    padding: 10px 0 5px 0;

}
.top-score-title img{
	width: 100%;
}
.tp-grid li {
	width: 43%;
}
.sponsor li {
    width: 10%;
}
#footer-tag .social .top-social {
    padding: 5px;
}
.footer-last-news li {
	float: left;
	width: 100%;
}
.footer-newsletters h3 {
	float left;
}
}
@media only screen and (max-width: 990px) 
{
	.box-menu {
    width: 55%;
} 
.box-menu{
	    margin: 20px 10px 0;
}
.cbp-hrmenu > ul > li{
	 width: 23.5%;
}
.cbp-hrmenu > ul > li > a{
	padding:0 !important;
}
	.content-logo .logo {
    padding-top: 0px;
	padding-bottom: 5px;
	width: 23%;
	}
	.logo.logo-pt {
    width: 19%;
}
.acc-content .acc-title, .acc-content .col-md-1, .acc-content .col-md-2, .acc-content .col-md-3 {
    width: 16.5%;
    float: left;
}
#next-match.next-match-news {
	height: auto;
}
.cbp-hrmenu ul {
    margin: 10px 0 5px;
}
.yoga-desc::before {
	display:none;
}
.cbp-hrmenu ul.menu-pages {
	margin: 0;
}
.cbp-hrmenu > ul > li > a {
	/*padding: 1.4em 1.2em;
	font-size: 11px;*/
	padding: 0 1em;
	font-size: 12px;
}
/* top news*/
.dd-date {
    margin-top: 8px;
}
.top-slide-info h4 {
	margin-top: 30px;
}
.slide-cont-img {
	margin-right: 0px;
}
.slide-news-bottom {
	margin-bottom: 20px;
}
/*end*/

.next-match-co {
	width: 100%;
	margin-bottom: 60px;
}
.img-face-home {
    width: 100%;
}
#nextmatch-content .pht-1 {
    width: 30%;
}
.pl-point {
	padding: 0 0 0 0;
    width: 40%;
    margin: 0px 0 0px 0;
}
.top-match .home-page {
	padding: 0;
}
.content-logo {
	height: auto;/*height: 90px;*/
}
.cbp-hrmenu {
	margin-top: 0;
}
/*.content-logo .logo img {
	width: 80%;
}
*/
.ctn-img img {
	width: 30%;
}

#nextmatch-content .img-round {
	margin-top:30px;
	margin-bottom: 20px;
}
.circle-percentage .col-xs-3 {
    width: 50%;
    margin-bottom: 20px;
}
.other-match .score-next {
	margin-bottom: 80px;
}
.typography img {
	width: 100%;
}
/***Pages News****/
.news-page img {
	float:left;
}
.news-page,.news-page .col-md-10 {
	float:left;
}
#single_news .login-page{
	float: left;
    width: 100%;
}
#single_news .quiz-page{
	float: left;
    width: 100%;
}
/***Video****/
#video .right-column {
	float: left;
}
.other-video, .other-videotitle {
    width: 31%;
    float: left;
}
/****Player***/
.cric-player {
	float: left;
}
.cric-single-player {
	float: left;
	width: 100%;
}
.data-player {
	width: 18%;
    float: left;
}
#single_player .right-column {
	float: left;
}
.serves-content,.percentage1 {
	float: left;
}
.data-player-2 {
    width: 20%;
    float: left;
}
.rank-player p.rank-title {
    font-size: 16px;
}
.rank-player {
    width: 25%;
}
/****Single Match***/
#single-match-pl .right-column {
	float: left;
}
#tab1 h3 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.single-match-data {
	width: 33%;
    float: left;
}
.col-md-4.subcol-pl {
	width: 33%;
    float: left;
}
.top-score-title h3.tab-match-title {
	padding: 5px;
}
/****Page Shop****/
.shop-prod {
    float: left;
}
.top-score-title.prod-cat.col-md-12 {
	float: left;
	width: 100%;
}
#shop .top-score-title.col-md-12 {
	float: left;
	width: 100%;
}
.shops-cric .shop-cat {
	float: left;
    width: 100%;
}
/****detail Prod****/
.content-more-det {
	float: left;
    width: 100%;
}
#shop .content-desc-zoom {
	margin-top: 30px;
}
/***Contact****/
#contact_form {
margin-bottom: 0px;
}
#info-company {
	margin-bottom: 40px;
}
/*****Page Slider*****/
.caption.white-b2 {
	font-size: 14px;
	padding: 8px 20px 8px 20px;
}
#slider .score-next-time {
	margin-bottom: 30px;
}
#slider .content-result {
	display:none;
}
.caption .txt-slide-shop {
	padding: 10px 25px 3px 25px;
	margin-top: 20px;
	font-size: 14px;
}
}
@media only screen and (max-width: 770px) 
{
.ca-item {
	width: 237px;
}

/*.cbp-hrmenu ul {
    margin-top:20px;
}*/
.content-result p.sub-result {
	font-size: 80px;
}
.content-result p.sub-result.welcome {
	font-size: 55px;
}
.cart-prod {
	margin-top: 73px;
}
.cart-prod .sec-prod {
	width: 25.4%;
}
.top-match .col-xs-12 {
	margin-top: 10px;
}

.top-product h3 {
    margin-top: 50px;
}

.pl-point {
    padding: 3% 0 4% 0;
    width: 100%;
    margin:20px 0 20px 0;
}
.img-face-home {
	width: 40%;
}
.social-player {
	margin-top: 20px;
    float: left;
}
.vertical-news .vertical-news-desc p {
	font-size: 12px;
}
.next-match-co {
	width: 100%;
	margin-bottom: 60px;
}
.img-face-home {
    width: 100%;
}
#nextmatch-content .pht-1 {
    width: 30%;
}
.pl-point {
	padding: 0 0 0 0;
    width: 40%;
    margin: 0px 0 0px 0;
}
.it-video {
	text-align: center;
	width: 35%;
    float: left;
}
.macbook-content {
	text-align: center;
}
.video-txt {
	padding-left: 20px;
    margin: 10px 0 80px 0;
}
.bbtxt-content-subscription {
	height: 1790px;
}
#owl-demo .item img {
	width: 20%;
	height: auto;
}
.testimon-desc {
	padding: 0px 0 0 20px;
}
.testimon-desc p {
	margin-top: 0px;
    font-size: 16px;
}
.top-match .home-page {
	padding: 0;
}
.pl-desc {
	font-size: 12px;
}
.subtitle {
	margin: 0 auto 120px auto;
}
.nm-result {
	margin-top: 5%;
}
#nextmatch-content .name-mc {
	margin-top:0;
}
#next-match {
	height: auto;
	padding-bottom: 50px;
}
.footer-map {
	background-position: 40% 70px;
}
/****Page Tournament*****/
.acc-content .acc-title, .acc-content .col-md-1, .acc-content .col-md-2, .acc-content .col-md-3 {
	width: 16.5%;
    float: left;
}
/**** Login ****/
.ctn-img img {
	display:none;
}
.register-form {
	width: 100%;
}
/*****Page Video******/
.video-content {
    float:none;
}
.other-video, .other-videotitle {
	margin-right: 5px;
    float: left;
}
#video .col-md-3.right-column {
	float: left;
}
.video-content .other-videotitle {
	margin-top:30px;
}

/*****Page Players*****/
.cric-player {
	float:left;
}
.right-column{
	float:left;
}
/*****Page Single Player***/
.col-md-2.data-player {
	width: 16%;
    float: left;
}
.col-md-4.data-player-2 {
	width: 30%;
    float: left;
    padding: 0;
}
.cric-single-player {
	float: left;
    width: 100%;
}
.rank-player {
    width: 28%;
    float:left;
}
.serves-content {
	float: left;
}
.percentage1 {
    float: left;
}
/***Pages News****/
.news-page img {
	float:left;
}
.news-page,.news-page .col-md-10 {
	float:left;
}
.news-page img {
	width: 100%;
}
.news-page .col-md-10 {
	padding-left: 0;
	margin-top: 20px;
	padding-right: 0;
}
.news-page .col-md-10 {
    width: 100%;
}
/****Pages REsults****/
#allmatch .match-right {
	float: none;
}
/***SingleMatch*****/
.single-match-data {
	width: 33%;
    float: left;
}
.col-md-4.subcol-pl {
	width: 33%;
    float: left;
}
.top-score-title h3.tab-match-title {
	padding: 5px;
}
/****Page Shop****/
.shop-prod {
    float: left;
}
.top-score-title.prod-cat.col-md-12 {
	float: left;
	width: 100%;
}
#shop .top-score-title.col-md-12 {
	float: left;
	width: 100%;
}
/****Shop cric****/
.shops-cric {
	float: left;
}
/****Page Detail prod****/

.content-more-det {
    margin-top: 40px;
    margin-bottom: 30px;
}
.content-desc-zoom h3 {
	padding-top: 30px;
}
/****Slider****/
.caption.white-field {
	padding: 10px 25px 10px 18px;
}
.logo_footer {
    float: none;
}
.caption.white-b3.bowler {
    width: 500px;
}
}
@media (max-width:768px) {
	
.content-logo .logo {
    padding-top: 0px;
	padding-bottom: 5px;
	width: 23%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.section_top {
	background-position: left -38px;
	background-position-x: 0;
	background-position-y: -38px;
}
.section_top_trns {
	background-position: left -38px;
}
.cs-section-title.adj::after {
    width: 60% !important;
}
.video-js {
	max-height: 399px;
}
/***********topbar***********/

.box-menu {
      border-left: 10px solid #ee2e24;
    border-right: 10px solid #ee2e24;
    margin: 20px 10px 0;
    padding: 0;
    width: 54.2%;
}
.cbp-hrmenu > ul > li {
   width: 23.5%;
}
.cbp-hrmenu > ul > li > a {
    padding: 0;
}
.logo.logo-pt {
	float: right;
    margin-top: 4px !important;
    width: 20%;
}
/***********endtopbar***********/

.slider_box {
    margin-left: -5% !important;
    width: 107% !important ;
}
.live_m {
    left: 47.2%;
    top: -18px;
    width: 44%;
}
}
@media (max-width:767px) {
	
/*.content-logo .logo {
    padding-left: 20px;
	
}*/
body {
	overflow: auto!important
}
/*.element-size-50,  .element-size-33,  .element-size-75,  .element-size-67,  .page-content,  .page-sidebar,  .page-sidebar ~ .page-content,  .element-size-100 .col-md-12,  .element-size-75 .col-md-12,  .element-size-67 .col-md-12,  .element-size-50 .col-md-12,  .element-size-25 .col-md-12,  .element-size-33 .col-md-12, .col-md-12, .section-content, .section-sidebar, .main-section .call-actions .heading, .main-section .call-actions .cell, .main-section .call-actions.ac-clean .cell.text-area, .col-md-9, .main-section .post-recent .cs-theme-carousel li,  .col-md-6, .main-section .breadcrumbs-profile ul, .main-section .breadcrumbs-profile .socialmedia, .main-section .lof-slidecontent .sliders-wrapper, .main-section .main-slider-content, .main-section .lof-slidecontent ul.navigator-wrap-inner li, .main-section .lof-slidecontent .navigator-wrapper, .main-section .main-slider-content {
	width: 100%!important
}
.col-md-4, .col-md-3, .col-md-2, .element-size-25 {
	width: 100%!important
}*/
.sidebar-color.page-sidebar {
	margin-bottom: 0px!important;
	padding-bottom: 0px!important
}
.wrapper #footer-sec .signup .user-signup label {
	width: 67%
}
.wrapper .footer-tweets ul li .twitter-logo {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	margin: 0px 0 30px 0
}
.wrapper .footer-tweets ul li .text:before {
	z-index: -1;
	width: 80px;
	left: -35px
}
.wrapper #copyright .social-media {
	margin-left: 0
}
.wrapper .main-section .sidebar-color.page-sidebar:before {
	right: -25;
	top: -25px
}
.wrapper .cs-blog.blog-lrg section .title ~ .blog-text {
	float: left;
	padding: 0;
	width: 100%
}
.page-section .section-fullwidth .messagebox-v3 .custom-btn {
	top: 65%;
	right: 3px
}
.main-section .page-section .cs-blog.blog-medium .cs-media ~ section {
	padding: 15px;
	float: left;
	width: 50%
}
.main-section .page-section .cs-blog.blog-medium .cs-media {
	width: 50%;
	float: left
}
.section-fullwidth .thumblist .text {
	float: left;
	padding: 0;
	position: relative
}
.section-fullwidth .main-history .history-list article {
	width: 100%;
	padding: 0 30px 30px 105px;
	margin: 0 0 25px
}
.section-fullwidth .history-list article img {
	width: auto
}
.sidebar-color.page-sidebar:before {
	top: -20px
}
.section-fullwidth .cs-theme-carousel li[class*="col-md-"], .main-section .cons-text-wrapp .cs-search-area .form-control {
	width: 100%!important
}
.section-fullwidth .woocommerce ul.products li.product, .section-fullwidth .woocommerce-page ul.products li.product {
	width: 45%;
	float: left
}
.section-fullwidth .event .event-fixtures .calendar-date figure {
	margin-left: 7px
}
.section-fullwidth .table>thead>tr>th, .table>tbody>tr>th, .section-fullwidth .table>tfoot>tr>th, .section-fullwidth .table>thead>tr>td, .section-fullwidth .table>tbody>tr>td, .section-fullwidth .table>tfoot>tr>td {
	padding: 12px
}
.owl-controls .owl-nav .owl-prev, .owl-controls .owl-nav .owl-next {
	display: block!important
}
.main-section .blog-editor.rich_editor_text {
	padding-left: 0
}
.main-section .prev-next-post {
	padding-left: 0;
	text-align: center
}
.main-section .prev-next-post, .main-section .prev-next-post article.next, .team-detail .detailpost img, .main-section .prev-next-post article.prev, .team-detail .detailpost img, .cons-text-wrapp {
	width: 100%
}
.main-section .prev-next-post article .text h2, .main-section .prev-next-post article.next .text h2 {
	width: 90%
}
.main-section .prev-next-post article.next, .main-section .prev-next-post article.prev {
	width: 100%
}
#footer-sec .signup .user-signup label {
	width: 181px
}
.team-detail .detailpost img ~ figcaption {
	top: 102%;
	width: 100%!important;
	position: static!important
}
.page-section .blog-editor.rich_editor_text .cs-qoute {
	margin-left: 0
}
.prev-next-post article .text h2 {
	width: 79%
}
.section-fullwidth .woocommerce ul.products li.product, .section-fullwidth .woocommerce-page ul.products li.product {
	width: 43%
}
.wrapper .footer-tweets ul li .text {
	width: 80%
}
.heading-description {
	padding: 0 10px
}
.page-section .page-content .prev-next-post a .icon-list8 {
	margin-bottom: 4px
}
.main-section #countdownwrapp {
	position: initial
}
.main-section .cs-prv-next .owl-controls {
	top: -40px
}
.rtl .wrapper .header .main-navbar .navigation .navbar-nav>li>a {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.8);
	border-right: none;
	padding: 10px 15px
}
.rtl .header .navigation ul li:last-child a {
	border-left: none
}
.rtl .navigation ul>li>a {
	border-right: none
}
.rtl .header .navbar-nav {
	z-index: 9999!important
}
.rtl .cs-rating {
	width: 90%;
	position: relative;
	left: 7%
}
.rtl span.win {
	left: -8%
}
.rtl .match-progress {
	width: 100%;
	position: relative
}
.rtl .match-progress:before, .rtl .match-progress:after {
	left: -13px
}
.rtl .match-progress:after {
	right: -13px
}
}

@media (max-width:580px) {
.col-md-3, .col-md-4, .element-size-25, .wrapper #copyright .social-media {
	/*width: 100%!important*/
}
.wrapper .cs-blog.blog-lrg section .title ~ .blog-text {
	float: left;
	padding: 0;
	width: 100%
}
#footer-sec .signup .user-signup label {
	width: 180px
}
.page-section .section-fullwidth .cs-blog.blog-medium .cs-media ~ section {
	padding: 15px;
	width: 100%
}
.section-fullwidth .share-btn {
	margin-bottom: 15px
}
.section-fullwidth .detail-post {
	padding-left: 0
}
.post-321.product.type-product.status-publish.has-post-thumbnail.first.downloadable.shipping-taxable.purchasable.product-type-simple.product-cat-music.product-cat-singles.instock {
	width: 93%
}
.main-section .cs_shop_wrap .images {
	width: 100%!important
}
.main-section .cs_shop_wrap .summary.entry-summary {
	width: 100%!important
}
.section-fullwidth .cs-about-author {
	padding: 15px!important;
	text-align: center
}
.section-fullwidth .cs-about-author figure {
	float: none;
	text-align: center;
	width: 100%
}
.page-section .section-fullwidth .cs-about-author figure img {
	border-radius: 100%;
	float: none;
	width: auto
}
.page-section .custom-btn {
	font-size: 12px;
	min-width: 100px;
	padding: 10px 0
}
.section-fullwidth .cs-about-author .text, .section-fullwidth .featured-event .cs-sc-team ul li:nth-child(2), .section-fullwidth .featured-event .cs-sc-team ul li, .main-section .page-section .cs-blog.blog-medium .cs-media {
	width: 100%
}
.section-fullwidth .featured-event .small-featured .cs-sc-team ul li {
	width: 25%;
	float: left
}
.section-fullwidth .featured-event .small-featured .cs-sc-team ul li:nth-child(2) {
	width: 50%
}
.section-fullwidth .cs-section-title:before, .section-fullwidth .cs-section-title:after {
	top: 15px
}
.main-section .page-section .cs-blog.blog-medium .cs-media ~ section {
	padding: 15px;
	float: left;
	width: 100%
}
.main-section .share-btn {
	margin-bottom: 13px
}
.page-section .page-content .prev-next-post {
	padding-left: 0
}
.main-section .prev-next-post article.prev, .main-section .prev-next-post article.next, .main-section .prev-next-post {
	width: 100%
}
.main-section .prev-next-post article .text h2, .main-section .prev-next-post article.next .text h2 {
	width: 88%
}
.section-fullwidth .table>thead>tr>th, .table>tbody>tr>th, .section-fullwidth .table>tfoot>tr>th, .section-fullwidth .table>thead>tr>td, .section-fullwidth .table>tbody>tr>td, .section-fullwidth .table>tfoot>tr>td {
	padding: 8px
}
.page-content .blog-editor.rich_editor_text {
	padding-left: 0
}
.main-section .cs-classic-form .comment-form-author input, .main-section .cs-classic-form .comment-form-email input, .main-section .cs-classic-form .comment-form-Website input, .main-section .cs-classic-form p.comment-form-comment {
	width: 100%
}
.section-fullwidth .pagination li.pgnext img {
	width: auto
}
.main-section .cs-qoute, .main-section .cs-tags {
	padding: 0px
}
.main-section .children {
	padding-left: 0
}
.main-section .cs-classic-form p.comment-form-comment {
	position: inherit
}
.main-section form p.form-submit input[type="submit"] {
	left: 0px
}
.main-section .pagination li.pgprev img {
	width: auto
}
.rtl .featured-event .cs-sc-team ul li {
	width: 33%!important
}
.rtl .featured-event .cs-sc-team ul li.right-side figure figcaption {
	right: 30%
}
.rtl .featured-event .cs-sc-team ul li figure figcaption {
	left: 30%
}
.main-section .prev-next-post, .main-section.prev-next-post article.prev {
	text-align: center
}
.main-section .prev-next-post a .icon-list8 {
	margin-bottom: 6px
}
.rtl .header .navbar-nav {
	z-index: 9999!important
}
}

@media (max-width:480px) {
	.content-logo .logo {
    width: 31%;
	}
.page-content {
	padding: 0
}
/*.element-size-50, .element-size-25, .element-size-75, .element-size-67, .element-size-33, .page-content, .page-sidebar, .element-size-100 .col-md-12, .element-size-75 .col-md-12, .element-size-67 .col-md-12, .element-size-50 .col-md-12, .element-size-25 .col-md-12, .element-size-33 .col-md-12, .col-md-3, .col-md-4, .col-md-12, #main-header .cs-signup, .col-md-2, .element-size-25 {
	width: 100%!important
}*/
#copyright .social-media {
	margin: 0
}
.section-fullwidth .cs-blog section .title ~ .blog-text {
	float: left;
	padding: 0;
	width: 100%
}
.section-fullwidth .cs-blog section .title {
	float: left;
	width: 100%
}
.page-section .flexslider .flex-control-nav {
	bottom: 35px;
	left: 33%;
	position: absolute;
	text-align: center;
	width: auto
}
.page-content .page-section .cs-blog section .title ~ .blog-text {
	padding: 0
}
.page-content .page-section .cs-blog.blog-lrg section {
	width: 100%
}
.main-section h2, .main-section h2 a {
	font-size: 14px
}
.main-section .cs-blog.blog-lrg section .title, .page-section .section-fullwidth .cs-blog.blog-medium .cs-media, .section-fullwidth .cs-blog-grid img, .cs-about-author .text, .section-fullwidth .cs-about-author .text, .page-section .section-fullwidth .cons-text-wrapp .cs-search-area .form-control {
	width: 100%
}
.page-content .cs-blog.blog-medium .cs-media ~ section {
	float: left;
	padding: 30px 0px 0 20px;
	width: 96%
}
.wrapper .breadcrumb-sec .absolute-sec .breadcrumbs {
	left: 9%
}
.wrapper .breadcrumb-sec {
	padding-top: 15px
}
.wrapper .breadcrumb-sec .absolute-sec .pageinfo h1 {
	font-size: 19px
}
.main-section .page-section .section-fullwidth .page-sidebar {
	width: 96%;
	padding-left: 15px
}
.page-section .section-fullwidth .blog-editor.rich_editor_text {
	padding: 0
}
.page-section .page-content .gallery .gallery-item {
	padding: 4px
}
.section-fullwidth .cs-about-author {
	padding: 15px!important;
	text-align: center
}
.section-fullwidth .cs-about-author figure {
	width: 100%;
	text-align: center;
	float: none
}
.section-fullwidth .cs-about-author figure img {
	width: auto
}
.page-section .section-fullwidth .cs-about-author figure img {
	border-radius: 100%;
	float: none;
	width: auto
}
.section-fullwidth .page-content .cs-about-author .text .custom-btn {
	padding: 10px;
	margin-right: 8px;
	min-width: 100px
}
.page-section .section-fullwidth .thumblist .text {
	padding-left: 0
}
.main-section .page-section .section-fullwidth .page-sidebar .widget {
	width: 95%
}
.page-section .section-fullwidth .cs-classic-form .comment-form-author input, .cs-classic-form .comment-form-email input, .cs-classic-form .comment-form-Website input {
	width: 100%!important
}
.page-section .section-fullwidth .cs-sc-team ul li figure figcaption a {
	float: none
}
.wrapper #copyright P {
	color: #666;
	float: left;
	width: 100%
}
#footer-sec .widget_text .logo {
	text-align: left;
	padding-left: 5%
}
.main-section .page-no-search .cs-search-area, .main-section .page-no-search .cs-search-area form, .main-section .page-no-search .cs-search-area .form-control {
	width: 100%
}
.main-section .page-not-found .cs-section-title {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px
}
.main-section .page-not-found .cs-content404 {
	width: 100%;
	border: 0;
	padding: 0
}
.main-section .page-not-found .cs-section-title h2 {
	font-size: 96px
}
.main-section .page-not-found .cs-section-title h2 span {
	font-size: 30px;
	margin-top: -45px;
	padding-right: 17px
}
.main-section .page-not-found .cs-content404 h2 {
	font-size: 23px
}
.main-section .page-not-found .cs-content404 p {
	font-size: 15px
}
.main-section .page-not-found .cs-search-area {
	width: 100%
}
.main-section .page-not-found .cs-content404 .social-media {
	margin-left: 17px;
	margin-top: 20px
}
.main-section .page-not-found .cs-content404 a {
	float: none;
	margin: 0px 0 20px 0;
	display: inline-block
}
.main-section .page-not-found .cs-content404 .social-media {
	display: inline-block;
	float: none;
	margin-left: 0;
	margin-top: 20px
}
.main-section .page-content .featured-event .cs-sc-team {
	padding: 0 18px
}
.main-section .page-content .frame-plane section {
	width: 98%;
	padding: 15px;
	position: relative;
	float: left;
	margin-bottom: 15px
}
.main-section .page-content .detail-post .socialmedia {
	float: left;
	width: 100%
}
.main-section .page-content .cs-classic-form .comment-form-author input, .main-section .page-content .cs-classic-form .comment-form-email input, .main-section .page-content .cs-classic-form .comment-form-Website input {
	width: 100%
}
.main-section .cs-classic-form p.comment-form-comment {
	width: 100%;
	position: relative
}
.blog-editor.rich_editor_text p {
	padding-left: 0
}
.main-section .page-section .cs-tags {
	padding: 0
}
.main-section .page-section .detail-post {
	padding-left: 0
}
.main-section .page-section .share-btn {
	margin-bottom: 15px
}
.page-section .section-fullwidth .cs-services.left figure {
	float: none;
	width: 100%;
	text-align: center
}
.page-section .section-fullwidth .cs-services.left figure ~ .text {
	padding: 0;
	text-align: center
}
.page-section .section-fullwidth .cons-icon-area #countdownwrapp {
	top: 39%
}
.page-section .under-wrapp .cons-text-wrapp .cs-search-area form, .main-section img.alignleft {
	width: 100%
}
.main-section .cons-icon-area .cons-text-wrapp h1 {
	font-size: 22px!important;
	color: #fff!important
}
.cons-icon-area {
	width: 100%;
	float: left;
	background-color: #222
}
.main-section .main-digit-wrapp {
	width: 149px;
	border-right: none
}
.section-fullwidth .filter-nav .filter-nav li a {
	padding: 11px 16px
}
.section-fullwidth .cs-partner {
	text-align: center
}
.section-fullwidth .woocommerce ul.products li.product, .section-fullwidth .woocommerce-page ul.products li.product {
	width: 88%
}
.page-section .section-fullwidth .cs-services.classic.right figure ~ .text {
	padding: 0
}
.page-section .section-fullwidth .cs-upcomming .cs-sc-team ul li figure {
	width: 100%
}
.page-section .page-section .featured-event .cs-sc-team ul li {
	width: 100%;
	text-align: center;
	float: none;
	padding: 0
}
.page-section .section-fullwidth .button_style {
	width: 100%;
	text-align: center
}
.page-section .section-fullwidth .default.radius.large-btn.bg-color.wow.cs-button-shortcode {
	float: none
}
.event-fixtures .ticket-btn {
	padding: 1px 7px;
	top: 38%
}
.page-content .rich_editor_text .blog-editor .col-md-12.wow.slide {
	width: 100%;
	margin-top: 15px
}
.page-content .image-frame .frtable-row .frtabel-cell {
	width: 100%;
	float: left
}
.page-content .image-frame .frtable-row .frtabel-cell.imageframe {
	width: 100%
}
.page-section .section-fullwidth .table-condensed tbody tr td {
	font-size: 12px
}
.page-section .messagebox-v3 .custom-btn {
	border-radius: 3px;
	height: 26px;
	line-height: 12px;
	min-width: 92px;
	position: absolute;
	right: 5px;
	top: 85%
}
.page-section .custom-btn {
	font-size: 12px;
	min-width: 100px;
	padding: 10px 0
}
.main-section .section-fullwidth .vertical .nav-tabs {
	width: 100%
}
.main-section .section-fullwidth .vertical .tab-content {
	width: 100%;
	padding: 0
}
.main-section .section-fullwidth .cs-services.classic figure i {
	float: none;
	display: inline-block
}
.main-section .section-fullwidth .top-left {
	text-align: center
}
.main-section .page-section .section-fullwidth .heading-description, .main-section .page-section .section-fullwidth .element-size-25 h1 {
	text-align: center!important
}
.main-section .section-fullwidth .cs_counter.left img {
	width: 100%;
	text-align: center;
	float: none;
	margin: 0 0 10px 0
}
.main-section .section-fullwidth .cs_counter.classic.left figcaption {
	float: left;
	text-align: center;
	width: 100%
}
.main-section .section-fullwidth blockquote {
	line-height: 29px;
	font-size: 20px
}
.main-section .section-fullwidth .tolbtn {
	padding-top: 10px
}
.main-section .section-fullwidth .custom-btn.cs-bg-colorP {
	padding: 0
}
.main-section .section-fullwidth .cs-services.bg-color {
	padding: 10px
}
.page-section .section-fullwidth .cs-sc-team ul li .match-score {
	margin-bottom: 43px
}
.page-section .page-content .blog-editor.rich_editor_text {
	padding: 0
}
.page-section .section-fullwidth .cs_counter figure {
	width: 100%;
	text-align: center
}
.page-section .section-fullwidth .cs_counter img {
	width: auto!important
}
.page-section .section-fullwidth .features li {
	text-align: center
}
.page-section .section-fullwidth .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 6px 3px!important;
	text-align: center
}
.page-section .section-fullwidth .event {
	margin-top: 15px
}
.page-section .section-fullwidth .event article .text h2 {
	font-size: 18px;
	text-align: center
}
.wrapper .featured-event .cs-sc-team ul li:nth-child(2) {
	width: 100%
}
.cs-sc-team ul li.right-side figure img, .cs-sc-team ul li.right-side {
	text-align: center;
	float: none
}
.wrapper .breadcrumb-sec .absolute-sec .pageinfo span {
	width: 100%
}
.wrapper .main-section .page-sidebar ~ .page-content {
	width: 100%;
	padding-left: 0
}
.section-fullwidth .comment .thumblist header {
	width: 100%
}
.page-section .section-fullwidth form p.form-submit input[type="submit"] {
	left: 0
}
.main-section .section-fullwidth .cs-services figure {
	text-align: center
}
.main-section .section-fullwidth .cs-services.modren.top-left figure i {
	float: none
}
.thumblist .text {
	float: left;
	padding: 0;
	position: relative;
	width: 100%
}
.cs-btnsharenow.btnshare.addthis_button_compact.share-btn {
	margin-bottom: 15px
}
.section-fullwidth .main-history .history-info .history-list article {
	width: 94%;
	margin-left: 106px;
	margin-bottom: 20px
}
.section-fullwidth .main-history .history-info .history-list article:before {
	left: -5%
}
.section-fullwidth .main-history .history-info .history-list article span {
	font-size: 29px;
	left: 57px
}
.section-fullwidth .main-history .cs-section-title {
	padding-left: 16px
}
.section-fullwidth .main-history .history-info .history-list article .inner-sec {
	padding: 0 13px
}
.section-fullwidth .main-history .history-list article span {
	left: 103px;
	font-size: 32px;
	top: 106px
}
#copyright {
	width: 99%
}
.section-fullwidth .featured-event .cs-sc-team ul li:nth-child(2) {
	width: 100%!important
}
.section-fullwidth .featured-event .cs-sc-team ul li {
	width: 100%!important
}
.rtl .event-results .event-fixtures .ticket-btn {
	left: 50%;
	right: inherit;
	top: 100%;
	margin: -50px 0px 0 -60px
}
.section-fullwidth .cs-section-title:before, .section-fullwidth .cs-section-title:after {
	top: 15px
}
.section-fullwidth .filter-nav li.active a {
	padding: 15px 10px
}
.main-section .page-section .cs-blog.blog-medium .cs-media {
	width: 100% !important;
}
.main-section .page-section .cs-blog.blog-medium .cs-media ~ section {
	padding: 15px;
	float: left;
	width: 100%
}
.section-fullwidth .event .event-fixtures .calendar-date, .section-fullwidth .event .event-fixtures .match-result {
	width: 100%;
	text-align: center
}
.section-fullwidth .filter-nav .cs-filter-menu li.active a, .section-fullwidth .filter-nav .cs-filter-menu li a {
	padding: 10px 25px
}
.page-content .blog-editor.rich_editor_text {
	padding-left: 0
}
.page-section .page-content .prev-next-post {
	padding-left: 0
}
.main-section .prev-next-post, .main-section.prev-next-post article.prev {
	width: 100%;
	padding: 0px;
	text-align: center
}
.main-section .prev-next-post article .text a {
	font-size: 12px
}
.main-section .prev-next-post article .text h2 {
	width: 82%
}
.main-section .prev-next-post article.next {
	width: 100%
}
.main-section .prev-next-post article.next .text h2 {
	width: 83%
}
.main-section .prev-next-post a .icon-list8 {
	margin-bottom: 4px
}
.main-section .cs-qoute {
	padding-left: 0px
}
.footer-tweets .flexslider ul li .twitter-logo {
	width: 100%;
	text-align: center;
	margin-bottom: 20px
}
#footer-sec .signup .user-signup input[type="submit"] {
	line-height: 39px!important
}
.wrapper .footer-tweets ul li .text {
	width: 62%;
	padding: 15px 10px 15px 10px
}
.footer-tweets .flexslider .text>a {
	word-wrap: break-word
}
#footer-sec .signup .user-signup label {
	width: 200px!important
}
.footer-tweets ul li .twitter-logo {
	float: left;
	margin: 30px 0 15px;
	text-align: center;
	width: 100%
}
.footer-tweets ul li .text:before {
	left: -88px!important;
	width: 170px!important;
	z-index: -1
}
.main-section .post-option-panel .post-option li {
	margin: 0 15px 0 0
}
.page-section .page-content .prev-next-post article .text h2, .page-section .page-content .prev-next-post article.next .text h2 {
	width: 83%
}
.rtl .featured-event .cs-sc-team ul li.right-side figure figcaption {
	right: 2%
}
.rtl .featured-event .cs-sc-team ul li figure figcaption {
	left: 7%
}
.rtl .header .navbar-nav {
	z-index: 9999
}
.rtl .cs-sc-team ul li.right-side figure {
	position: relative
}
.rtl span.win {
	left: -12%;
	top: -40px
}
#contact_form input[type=submit], .login-form input[type=submit], .quiz-form input[type=submit], .register-form input[type=submit] {
	width:100%
}
#contact_form input#email, #contact_form input[type=text], .login-form input[type=password], .login-form input[type=text], .quiz-form input[type=password], .quiz-form input[type=text], .register-form input[type=password], .register-form input[type=text] {
width:100%
}
}

@media screen and (min-width:320px) and (max-width:440px) {
.rtl .cs-sc-team ul li.right-side figure {
	position: relative;
	right: -38px
}
.rtl .cs-sc-team ul li figure {
	position: relative;
	left: -48px
}
.rtl span.win {
	left: -12%;
	top: -40px
}
}

@media screen and (min-width:991px) and (max-width:1054px) {
.wrapper.wrapper_boxed {
	width: 100%!important
}
#footer-sec .signup .user-signup label {
	width: 200px
}
.page-content .cs-blog-grid ul.post-option li {
	margin-left: 5px
}
.page-section .flexslider .flex-control-nav {
	bottom: 21px;
	left: 23%;
	position: absolute;
	text-align: center;
	width: 100%
}
.page-section .flexslider .flex-control-nav li {
	display: inline-block;
	float: left;
	margin: 0 6px;
	width: auto!important
}
.page-section .flexslider .cs-flex-total-slides {
	display: none
}
.page-section .flexslider .flex-direction-nav a:before {
	display: none
}
.page-section .flexslider .flex-control-paging li a, .page-section .flexslider .flex-control-paging li a.flex-active {
	background: rgba(256,256,256,.5)
}
.page-section .cs-blog .main-section h4, .page-content .page-section .cs-blog .main-section h4 a {
	font-size: 17px
}
#footer-sec .col-md-4.widget {
	width: 50%;
	float: left
}
#footer-sec .widget_text .logo {
	text-align: left;
	padding-left: 11%
}
#footer-sec .signup .user-signup label {
	width: 204px
}
.main-section .twitter_widget .page-no-search .cs-search-area form {
	width: 100%
}
.main-section .twitter_widget .page-no-search .cs-search-area .form-control {
	width: 100%;
	height: 40px
}
.main-section .twitter_widget .page-no-search .cs-search-area label input {
	padding: 8px 13px 8px;
	font-size: 12px
}
.main-section .twitter_widget .page-no-search .cs-search-area {
	margin-bottom: 15px
}
.main-section .page-no-search h2 {
	font-size: 20px
}
.main-section .page-not-found .cs-section-title {
	width: 37%
}
.main-section .page-not-found .cs-content404 {
	width: 50%
}
.main-section .page-content .featured-event .cs-rating ul li {
	width: 81px
}
.page-section .page-content .prev-next-post {
	padding-left: 0
}
.page-section .page-content .prev-next-post article.prev {
	width: 46%
}
.page-section .page-content .prev-next-post {
	width: 100%
}
.page-section .page-content .prev-next-post article .text h2 {
	width: 84%
}
.page-section .page-content .prev-next-post article.next {
	width: 44%
}
.page-section .page-content .prev-next-post article.next .text h2 {
	width: 83%
}
.page-section .page-content .prev-next-post a .icon-list8 {
	margin: 0 11px;
	margin-bottom: 12px
}
.main-section .page-section .content-rt .widget.recent_blog_widget ul.blog_without_thumb li a {
	width: 75%
}
.main-section .page-section .content-rt .widget_team .time {
	margin-right: 0
}
.main-section .page-section .content-rt .widget_result ul li .infotext {
	display: inline-block;
	padding-left: 9px;
	width: 68%
}
.main-section .page-section .content-rt .widget_team ul li figure ~ .infotext {
	padding-left: 70px;
	text-align: left
}
.main-section .page-sidebar .sidebar-border .widget.recent_blog_widget ul.blog_without_thumb li a {
	width: 74%
}
.main-section .page-sidebar .sidebar-border .widget_team .infotext a {
	font-size: 11px
}
.widget_team .time {
	font-size: 17px;
	margin-top: -38px
}
.main-section .page-sidebar .sidebar-border .widget_team .recent_blog_widget ul li figure ~ .infotext, .main-section .page-sidebar .sidebar-border .widget_team .widget_team ul li figure ~ .infotext {
	padding-left: 70px
}
.main-section .page-sidebar .sidebar-border .widget_result ul li .infotext {
	width: 68%
}
.main-section .page-sidebar .sidebar-border .widget_result ul li .infotext a {
	font-size: 14px
}
.main-section .page-sidebar .sidebar-border .widget_result ul li .match-result {
	font-size: 26px
}
.main-section .page-content .cs-about-author .text .custom-btn {
	padding: 10px 20px
}
.main-section .page-section .cons-icon-area figure i {
	font-size: 60px
}
.main-section .page-section .cons-icon-area #countdownwrapp {
	left: 0;
	top: 52%
}
.main-section .page-section .cons-text-wrapp .cs-search-area form {
	width: 68.1%
}
.main-section .page-section .cons-text-wrapp .cs-search-area .form-control {
	height: 56px
}
.main-section .page-sidebar .sidebar-border {
	padding: 0
}
.main-section .section-fullwidth .cs-upcomming .featured-event .cs-sc-team {
	padding: 0 10px
}
.col-md-12 {
	width: 100%
}
/*.section-fullwidth .cs-section-title:before, .cs-section-title:after {
	top: 19px
}*/
.page-content .contant-info .player-info {
	margin-bottom: 10px
}
.section-fullwidth .woocommerce ul.products li.product, .section-fullwidth .woocommerce-page ul.products li.product {
	width: 29%
}
.home .main-section .filter-nav li.active a {
	padding: 20px 25px 15px
}
.home .main-section .filter-nav li a {
	padding: 12px 28px 16px
}
.main-section .cs-prv-next .owl-controls {
	top: -40px
}
.main-section .messagebox-v3 .custom-btn {
	top: 15%
}
.rtl .wrapper .header .main-navbar .navigation .navbar-nav>li>a {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.8);
	border-right: none;
	padding: 10px 15px
}
.rtl .header .navigation ul li:last-child a {
	border-left: none
}
.rtl .navigation ul>li>a {
	border-right: none
}
.rtl .main-navbar {
	padding: 20px 0
}
.rtl .cs-blog.blog-medium .cs-media {
	width: 50%
}
.rtl .main-section .cs-blog.blog-medium .cs-media ~ section {
	padding: 30px 15px 0 30px;
	float: right
}
.rtl .cons-text-wrapp .cs-search-area form {
	float: none!important
}
.rtl .main-digit-wrapp {
	width: 20%
}
.rtl .page-not-found, .rtl .cons-icon-area {
	padding-top: 60px
}
.main-section .page-content ~ .page-sidebar, .main-section .page-content {
	width: 100%!important
}
.main-section .page-sidebar .widget {
	width: 47%;
	margin-right: 3%
}
.main-section .page-sidebar {
	width: 100%;
	margin-bottom: 25px
}
.sidebar-color.page-sidebar {
	margin-bottom: 0px!important;
	padding-bottom: 0px!important
}
.main-section .sidebar-color.page-sidebar:before {
	padding: 0;
	top: -19px;
	right: -125px
}
.rtl .page-content .page-section .col-md-4 {
	width: 50%
}
.rtl .page-section .section-fullwidth .cs-blog.blog-medium .cs-media ~ section, .rtl .page-section .section-fullwidth .cs-blog.blog-medium .cs-media ~ section {
	width: 50%
}
.rtl .prev-next-post a .icon-list8 {
	margin: 0 7px
}
.rtl .prev-next-post article .text h2 {
	width: auto
}
.rtl .prev-next-post article.next .text h2 {
	width: 82.66%
}
.rtl .post-recent .col-md-4 {
	width: 50%
}
.rtl .cs-rating {
	width: 94%
}
.rtl .match-progress {
	width: 100%
}
}
/******************2***********************/


@media only screen and (max-width: 762px) 
{
.ca-item {
	width: 226px;
}
.top-score-title h3.tab-match-title {
	padding: 5px;
}
.general-results .top-score-title.total-reslts {
	background-image: none;
}

/*mini menu*/
.content-top-login {
	float: none;
}
.cbp-hrmenu .cbp-hrsub.sub-little {
	padding: 0;
}
.box-menu {
	display: none;
}
.box-menu.active {
	display: block;
}
.bt-menu {
	display:block;
}
.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0 20px;
	}
.cbp-hrmenu > ul > li {
		display: block;
	}

.cbp-hrmenu > ul > li {
	border-bottom:1px solid #c2c2c2;
}
.cbp-hrmenu .cbp-hrsub-inner ul.menu-pages li a {
	padding: 3px 0 3px 20px;
}
.cbp-hrmenu .cbp-hrsub.sub-little {
    width: 100%;
    margin-left: 0px;
    margin-top: 0;
}
.cbp-hrmenu ul {
	margin: 0;
}
/*.content-logo .logo img {
	max-width: 40%;
}*/
.content-logo {
    height: 100%;
}
.cbp-hrmenu ul {
    margin-top:0px;
}
.content-logo {
	padding: 0;
}
/*.content-logo .logo {
	width: 100%;
	float: none;
}*/
.cbp-hrmenu > ul > li {
     background: #fff;
}
.bt-menu {
	  color: #fff;
    margin-right: 0;
    margin-top: 5px;
    padding: 10px 0 0;
    right: 0;
    text-align: center;
    top: 0;
    width: auto;
}
.bt-menu a{
    color: #12bcb3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 38px;
}
.cbp-hrmenu > ul > li > a {
	padding: 1em 1.2em;
}
.cbp-hrmenu .cbp-hrsub.sub-little {
	left: 0px;
}
.cbp-hrmenu > ul li a.lnk-menu.active {
	border-bottom: 0px solid #f59123;
}
.cbp-hrmenu > ul li.cbp-hropen a.lnk-menu {
	border-bottom: 0px solid #50b948;
}
.cbp-hrmenu > ul li.cbp-hropen a.lnk-menu:hover {
	border-bottom: 0px solid #50b948;
}
.cbp-hrmenu > ul li a.lnk-menu:hover {
	border-bottom: 0px solid #50b948;
	background: #ddd;
}
.cbp-hrmenu > ul li.cbp-hropen a.lnk-menu {
	border-bottom: 0px solid #50b948;
}
}
@media only screen and (max-width: 740px) and (orientation: landscape)
{
    
/*.content-logo .logo img {
	width: 30%;
}*/
/*****Page News***/
.news-page .col-md-10 {
    width: 95%;
    position: relative;
    float: left;
    padding-left: 0;
	margin-top: 10px;
}
.news-page {
	float: left;
}
.news-page img {
	margin-right: 10px;
    float: left;
}
.vertical-news .vertical-news-desc h3 {
	font-size: 16px;
	margin-top: 5px;
}
.vertical-news .vertical-news-desc p {
	font-size: 12px;
}
.cbp-hrmenu > ul > li > a {
	font-size: 11px;
}
#news-section p.sub-result {
	font-size: 16px;
}
.ca-item h3 {
	font-size: 16px;
}
.top-match .col-md-4 {
	padding-left: 0;
}

.data-news-pg h3 {
	font-size: 18px;
	margin-bottom: 10px;
}
/**** Shop *****/
.prod-buy a.prod-cart {
	padding: 0;
}

/**** Single player ***/
.data-player-2 {
	width: 40%;
}
/***Slider***/
.caption.white-b2 p.blackbold {
	font-size: 12px;
}
}
@media only screen and (max-width: 700px) 
{
.ca-item {
	width: 210px;
}
.tp-grid li {
    width: 40%;
}
.cbp-hrmenu > ul > li > a {
	font-size: 12px;
}

.slide-txt img {
	display: none;
}
.content-result .col-md-6 {
	/*margin-top: 120px;*/
}
.content-result .slide-txt .col-md-4.line-alid1, .content-result .slide-txt .col-md-4.line-alid2 {
	display: none;
}
.content-result p.sub-result,.content-result p.sub-sub-result {
    font-size: 28px;
}
.tshirt-buy p.tshirt-price, .tshirt-buy p.tshirt-cart {
	float:none;
	width:100%;
}
/****Page Tournament*****/
.tournaments div.acc-content {
	font-size: 10px;
}
.acc-content .col-md-1 {
	width: 15%;
    float: left;
}
.acc-content .col-md-2 {
	width: 15%;
}
.acc-content .col-md-3 {
	width: 17%;
}
/*********carousel controls***********/
.owl-theme .owl-controls {
    text-align: center;
	width:250px;
	padding-left:18px;
	margin:0 auto;
}


}
@media only screen and (max-width: 680px) 
{
.container {
	margin-top: 0px;
}


/*.content-logo .logo img {
    margin: 10px 0 0 10px;
}*/

header {
	z-index: 9999;
    width: 100%;
}

.jm-item p {
	font-size: 9px;
}
.cbp-hropen .cbp-hrsub.cbp-player {
	margin-top:0px;
}

.content-result p.sub-result,.content-result p.sub-sub-result {
	font-size: 40px;
}
.tp-grid li {
    width: 42%;
    margin: 0;
    padding: 0;
}
.tp-info, .tp-title {
	width:85%;
}
.tp-info span:nth-child(1) {
	margin-left:0;
	font-size:12px;
}
.other-match .score-next, .score-next-time {
	font-size:13px;
}
.ca-item {
    width: 276px;
}
/*Disable btn more news*/
.news-content .ca-more {
	display:none;
}
.ca-more-resp {
	display:block;
}
.news-content .ca-more-resp {
	margin-right:10px;
}
.ca-more-resp {
	position: absolute;
    bottom: 10px;
    right: 0px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
}
.ca-more-resp i {
	color: #fff;
    font-size: 14px;
    margin-right: 5px;
    padding: 2px 5px 3px 5px;
    background: #50b948;
    border:1px solid #50b948;
}
.ca-more-resp:hover i{
	color:#000;
	text-decoration: none;
	background: #17e3d9 ;
}
.ca-more-resp:hover{
	color:#000;
	text-decoration: none;
}
.nm-result {
    margin-top: 4%;
}
.nm-result .nr1 {
	font-size: 48px;
}
.nm-result .nr2 {
	font-size: 18px;
    margin-top: 20px
}
/****Page Login***/
.ctn-img {
	margin-top:50%;
}
/****Page News****/
.data-news-pg h3 {
	font-size: 16px;
	margin-top: 10px;
}
.data-news-pg p {
	margin-left: 0px;
}
.news-page .col-md-10 {
	padding: 0;
	width: 100%;
}
.img-djoko {
    float: none;
}
.news-page img {
    width: 100%;
}
/***Page Video****/
.other-video, .other-videotitle {
	width: 32%;
}
.other-videotitle p {
	font-size:13px;
}
/****html5****/
.video-js {
	/*max-height: 260px;*/
}
/*****Page Players******/
.cric-player p {
    font-size: 9px;
    padding: 5px;
}
#single_player .img-djoko {
    float: left;
}
.col-md-2.data-player {
	width:25%;
}
.col-md-4.data-player-2 {
	width: 40%;
}
.rank-player p.rank-title {
    font-size: 14px;
}
.rank-player p.rank-data {
	font-size: 26px;
	width: 30px;
    padding: 0px 0px;
    color: #212121;
    background: #fff;
    margin: 5px auto;
}
.serves-content {
	display:none;
}
.percentage1 {
    width: 50%;
    margin-top: 20px;
}
.play-vs #result-table {
	width: 90%;
}
/***SingleMatch*****/
#single-match-pl .play-vs .result-name {
	font-size: 16px;
}
.player-score-bg {
	display:none;
}
.single-match-data {
	font-size: 11px;
}
/***shop*****/
.prod-buy a {
	padding: 0;
}
.shop-prod p.title-prod {
	font-size: 11px;
}
/****Page Gallery*****/
.portfolio li {
	width:48%;
}
/****Slider****/
.caption.white-b2 p.blackbold {
	margin-top: 8px;
}
.caption.white-b2 {
	font-size: 12px;
    padding: 5px 20px 0px 20px;
}
.tp-rightarrow.large {
	background: url(../assets/arrow_midium_right.png) no-repeat top left;
    width: 31px;
    height: 30px;
}
.tp-leftarrow.large {
	background: url(../assets/arrow_midium_left.png) no-repeat top left;
    width: 31px;
    height: 30px;
}
.tp-rightarrow:hover {	background-position:bottom left; }
.tp-leftarrow:hover {	background-position:bottom left; }
.caption .txt-slide-shop {
    padding: 10px 25px 3px 0px;
    margin-top: 30px;
    font-size: 14px;
    background-color: transparent;
}
.caption.white-field {
	padding: 10px 25px 10px 14px;
}
.caption.white-b3 span,.caption.white-b3 p.cric-int {
	font-size: 26px;
}
.caption.white-b2 p.country-name {
	font-size: 13px;
}
.caption.white-b2 p.country-name span {
	font-size: 10px;
}
.caption.white-b2 p.blackbold {
	font-size: 12px;
}
.caption.banner-player {
	display: none;
}
.caption.white-b3 {
	width: 150px;
}
.caption.white-b3.bowler {
    width: 350px;
}
}
@media only screen and (max-width: 600px)
{
.vertical-news .slide .vert-img {
	float: none;
}
}
@media only screen and (max-width: 667px) and (orientation: landscape)
{
/*.content-result {
    height: 450px;
}*/
.content-match-team-wrapper {
	font-size: 24px;
}
/*.content-result.content-result-news {
	height: 450px;
}*/
#news-section .button.button-group.small {
	display:none;
}

/*** single player ****/
.data-player-2 {
	width: 30%;
}
.rank-player {
	margin: 10px auto;
    width: 100%;
}
}
@media only screen and (max-width: 640px)
{
.section_top {
		background-position: left -40px;
		background-position-x: 0;
		background-position-y: -40px;
		border-top: 10px solid #e7e7e7 !important;
	}
	.section_top_trns {
		background-position: left -40px;
		background-position-x: 0;
		background-position-y: -40px;
		border-top: 10px solid #e7e7e7 !important;
	}
	.cs-section-title.adj::after {
    width: 53% !important;
	}
	.news-page{
		width:50% !important;
	}
	.video-js {
	max-height: 337px;
}
/*****************timeline**********************/
#timeline::before {
    left: 50%;
    margin-left: 0;
}
#timeline > li {
    padding: 0 !important;
	position:relative;
}
#timeline > li .hentry .entry-date, #timeline > li:nth-child(2n) .hentry .entry-date, #timeline > li:nth-child(2n+1) .hentry .entry-date{
    /*left:auto !important;left: 36.9%;
    right: auto !important;*/
	position:relative !important;
	width:200px !important;
	text-align:center !important;
	margin: 0 auto;
}
 .home #timeline > li:first-child {
    padding-top: 77px !important;
}

/*********top bar***********/
.logo.logo-pt {
      float: right;
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: -5px !important;
    width: 9% !important;
}
/*********score header***********/

.item{
	position:relative;	
}
.item h1 {
    font-size: 24px;
    margin-left: 5px;
    width: 50px;
}
.item h1.score-rt, .item h4.score-rt{
	text-align:right !important;
	 width: 68px;
}
.item h1.score-lft, .item h4.score-lft{
	text-align:left !important;
}
.item h1.score-lft{
	margin-left:0;
}
.item h1.country-lft{
	 margin-left: 10px !important;
}
.item h4 {
    margin: 0;
	 width: 65px;
}
.item h4.score-rt{
	margin-left:5px
}
.icon-ball.ml20 {
    margin-left: 10px !important;
}
.item img.flags.flags1{
	width:52px !important;
	margin-left: 10px !important
}
.item img.flags.flags2{
	 margin-left: -8px !important;
    width: 52px !important;
}
.live_m {
       left: 47.5%;
    top: -9px;
    width: 42%;
}
/**/.header-board-lft {
	  margin-left: 35% !important;
    width: 50%;
}
.header-board {
    margin-right: 29% !important;
}
.item .pr60, .slider-header .pr60{
	padding-right:0 !important
}
.item .pl60{
	padding-left:0 !important;
	
} 
.slider-header .pl60{
	padding-left:0 !important
}
table.side1{
	margin-top:10px;
	margin-left:0;
	width:83%;	
}
table.side2{
	 margin-left: 66px;
    margin-top: 10px;
    width: 83%;	
}
.hidden-xs.batsman-bowlr-lft, .hidden-xs.batsman-bowlr-rt {
    display: block !important;
}
.pl30 {
    padding-left: 4px !important;
}

}
@media only screen and (max-width: 600px) and (orientation: landscape)
{
	.content-logo .logo {
    width: 28%;
	}
/*.content-result {
	height: 450px;
}*/
/*.content-logo .logo img {
	max-width: 30%;
}*/
.content-result p.sub-result, .content-result p.sub-sub-result {
    font-size: 56px;
    margin-top: 30px;
}
.content-result p.sub-result.welcome {
	font-size: 45px;
}
/*.content-result.content-result-news {
	height: 460px;
}*/

#nextmatch-content .name-mc {
	padding-left: 10px;
}
#nextmatch-content .pl-desc {
	width: 50%;
    padding: 0 15px;
}
.bbtxt-box h4 {
	font-size: 52px;
}
.top-match .col-md-4 {
	padding-left: 0px;
    padding-right: 0px;
}
.bbtxt-box img.macbook {
	width: 50%;
}
.bbtxt-content-subscription {
    height: 1820px;
}
#news-section .portfolio li {
	width: 49.8%;
}
.bbtxt-box p {
	line-height: 22px;
}
.pl-match p {
	padding: 4px 5px;
}
.nm-result-vs .nrvs {
	display:none;
}
#nextmatch-content .name-mc {
	font-size: 12px;
}

.sponsor li {
	margin-right: 20px;
}
.vertical-news .vertical-news-desc {
	height: 130px;
    padding-left: 0px;
}
/*** single player***/
.data-player-2 {
    width: 27%;
    float: left;
}
.rank-player {
	display: none;
}
.prod-buy a {
	padding: 0;
}
}

@media only screen and (max-width: 480px) and (orientation: landscape)
{

.score-next .txt-vs {
    font-size: 12px;
}
.content-result p.sub-result {
    font-size: 16px;
}
.ca-item {
    width: 210px;
}
.tp-grid li {
    width: 75%;
}
.other-match .score-next, .score-next-time {
    font-size: 11px;
}
.tshirt-buy p {
    padding: 5px 0px;
    font-size: 12px;
}
.menu-details-player {
	display:none;
}
.cbp-hrmenu .cbp-hssub-rows ul li .jm-item-button a {
	font-size:0;
}
.cbp-hrmenu .cbp-hssub-rows ul li .jm-item-button a i {
	font-size:14px;
}
.jm-item {
    padding: 1em 0em 1em 0.5em;
    text-align: center;
}
.jm-item-button {
    margin: 45px auto;
    text-align: center;
    margin-left: 15px;
}
/****PAge Tournament****/
.acc-content .col-md-1, .acc-content .col-md-2, .acc-content .col-md-3 {
	float: none;
}
.acc-content .t1,.acc-content .t2,.acc-content .t3,.acc-content .t4,.acc-content .t5 {
	width: 100%;
}
.acc-content .t1 p:before { content: "DATE: "; }
.acc-content .t2 p:before { content: "TOURNAMENT: "; }
.acc-content .t3 p:before { content: "$ MONEY: "; }
.acc-content .t4 p:before { content: "DRAW: "; }
.acc-content .t5 p:before { content: "WINNERS: "; }

.acc-title {
	display:none;
}
.tournaments div.acc-content {
    font-size: 10px;
}
/***Page login***/
.ctn-img {
	display:none;
}
.register-form {
    width: 100%;
}
.other-videotitle p {
	font-size:11px;
}
/*****Page Players******/
.cric-player p {
    display:none;
}

}

@media only screen and (max-width: 575px) /*Plump*/
{

.content-result {
	height: 400px;
}

.box-login a {
	font-size: 13px;
}
.box-login i.fa-shopping-cart {
	padding: 7px 10px 7px 10px;
}
.content-result .col-md-4 {
	/*width: 95%;
    float: left;
    z-index: 9999;*/
}
.content-result p.sub-result.welcome {
	font-size: 35px;
}
#slider #slidematch {
	display:none;
}

.other-match .match-stadium img {
    width: 100%;
}

.content-result .col-md-4 {
    height: auto;
    margin-top: 0px;
}
.content-result .other-last {
    margin-bottom: 30px;
}
.content-result p.sub-result {
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}
.content-result p.sub-result.aft-little {
	color:#fff;
}


.tp-grid li {
    width: 65%;
}
.menu-details-player {
	display:none;
}
.content-sub-menu .jm-item-button {
	margin: 35px auto;
	text-align: center;
}
.cbp-hrmenu .cbp-hssub-rows ul li .jm-item-button a {
	font-size: 0;
}
.cart-prod .sec-prod {
    width: 51%;
}
.cart-prod {
    margin-top: 38px;
}

/*****Page Single Player****/
#single_player .img-djoko {
	float: none;
}
.col-md-2.data-player {
    width: 32%;
    float: left;
    padding-left: 0;
    margin-top: 10px;
}
.col-md-4.data-player-2 {
    width: 55%;
    margin-top: 10px;
}
.rank-player {
    width: 100%;
    padding-left: 0;
    border-top: 1px solid #eeeeee;
    float: left;
    padding-top: 5px;
}
.cric-single-player {
	text-align: center;
}
.cric-single-player img{
	width: 70%;
}
.percentage1 {
	display: none;
}
.play-vs #result-table {
    width: 100%;
}
.play-vs .result-name {
	font-size:12px;
}
.play-vs {
	padding: 0;
}
.player-vs .tab-content .result-name .txt-vs {
	font-size: 13px;
    margin: 0 5px 0 5px;
}
.player-vs .tabs .img-face.img-mm1,.player-vs .tabs .img-face.img-mm2 {
	width: 30%;
}
.player-photo .img-mm2 {
    margin-left: 10px;
}
.player-score-bg {
	display: none;
}
.kkcountdown-box {
	font-size: 28px;
	padding: 5px;
}
.kkc-days-text, .kkc-hours-text, .kkc-min-text, .kkc-sec-text {
	font-size: 11px;
	margin-right: 10px;
}
.big-countdown h3 {
	font-size: 18px;
}
/****PAge Tournament****/

.acc-content .col-md-1, .acc-content .col-md-2, .acc-content .col-md-3 {
	float: none;
}
.acc-content .t1,.acc-content .t2,.acc-content .t3,.acc-content .t4,.acc-content .t5 {
	width: 100%;
}
.acc-content .t1 p:before { content: "DATE: "; }
.acc-content .t2 p:before { content: "TOURNAMENT: "; }
.acc-content .t3 p:before { content: "$ MONEY: "; }
.acc-content .t4 p:before { content: "DRAW: "; }
.acc-content .t5 p:before { content: "WINNERS: "; }

.acc-title {
	display:none;
}
.acc-content .col-md-1.timg {
	width: 22%;
}
/****Pages REsults****/
.match-tbs .fpt i {
	text-align: center;
    font-size: 10px;
    float: none;
}
.match-tbs td {
	font-size: 11px;
}
/***Pages Single Match****/
#single-match-pl .tabs.single-pl {
	display: none;
}
#single-match-pl .play-vs .result-name {
    font-size: 13px;
}
/*****Page News***/
.news-page .col-md-10 {
    position: relative;
    float: left;
}
.news-page {
	float: left;
}
.news-page img {
	margin-right: 10px;
    float: left;
}
/***Page Video****/
.video-desc h3.video-tit {
    line-height: 26px;
}
.other-video, .other-videotitle {
    width: 100%;
}
.other-video {
	margin-top: 10px;
}
.video-content .other-videotitle {
margin-top: 0px;
}
/****Page Players****/
.cric-player p {
	display:none;
}
/****Page Shop****/
.shop-prod {
    width: 100%;
}
/***Page detail prod***/
#shop .content-zoom,#shop .content-zoom .col-md-6 {
	padding-right: 0;
}
/***html5***/
.video-js {
	max-height: 338px;
}
.video-desc h3.video-tit {
	line-height: 24px;
}
.vjs-default-skin .vjs-menu-button {
	display:none;
}
/****Slider****/
.tp-rightarrow.large {
	background: url(../assets/arrow_midium_right.png) no-repeat top left;
    width: 31px;
    height: 30px;
}
.tp-leftarrow.large {
	background: url(../assets/arrow_midium_left.png) no-repeat top left;
    width: 31px;
    height: 30px;
}
.tp-rightarrow:hover {	background-position:bottom left; }
.tp-leftarrow:hover {	background-position:bottom left; }
.caption.white-b3 p.cric-int, .caption.white-b3 span {
	font-size: 24px;
}
.city_ld {
	display:none;
}
.tp-simpleresponsive .caption.player-slide {
	margin-top: 20px;
}
.field-display {
	display:none;
}

}
@media only screen and (max-width: 570px) and (orientation: landscape){
.cart-prod {
	margin-top: 65px;
    margin-right: 0px;
}
.cart-prod .sec-prod {
	width: 32%;
}
.nm-result-vs .nrvs {
	font-size: 22px;
}
.vertical-news .slide .vert-img {
	float: none;
}
.vertical-news .vertical-news-desc {
	height: 100px;
    padding-left: 0px;
}

/*****Page Tournament****/
.tournaments div.acc-content {
	font-size:9px;
}
/****Page Video****/
.other-videotitle p {
	font-size:12px;
}
/**** single player ****/
.data-player-2 {
    width: 40%;
    float: left;
    margin-top: 10px;
}
.exp-title-pp {
	text-align: left;
}
.ppl-desc {
	text-align: left;
}
/****Single Match****/
#single-match-pl .play-vs .result-name {
	font-size: 14px;
}
.single-match-data {
    font-size: 10px;
}


}
@media only screen and (max-width: 570px){
.cric-player {
	margin-bottom: 8px;
}
}
@media only screen and (max-width: 510px) 
{

.tp-grid li {
    width: 90%;
}
.nm-result-vs .nrvs {
	font-size: 13px;
	margin-top: 0px;
    padding: 0px 0 0 0;
}
#cric-match, #resultsPoint {
	background-image: none;
}
.pl-title {
    font-size: 16px;
    padding-top: 5px;
}
.circle-percentage .col-xs-3 {
    width: 100%;
    margin-bottom: 20px;
}
.bxslider li .product-title a {
	/*font-size: 14px;*/
}
.top-slide-info .col-xs-6 {
	width: 100%;
}
#nextmatch-content .img-face-home img {
	width: 40%;
	padding: 40px 0 10px 0;
}
#nextmatch-content .name-mc-title {
	padding: 20px 0 30px 0;
}
.next-match-co {
	/*background: #212121;*/
}
.content-match-team-wrapper {
	font-size: 14px;
}
.nm-result .nr2 {
	font-size: 14px;
}
.nm-result .nr1 {
    font-size: 28px;
}
.nm-result {
    margin-top: 0;
}
.pl-point {
    padding: 2% 0 6% 0;
    width: 100%;
}
.bbtxt-box p {
	line-height: 22px;
}
#nextmatch-content .pht-1 {
	width: 100%;
}
#nextmatch-content .name-mc {
	font-size: 14px;
}
#news-section .portfolio li {
	width: 100%;
}
.video-txt {
	padding-left: 0px;
}
.bbtxt-content-subscription {
    height: 2030px;
}
.filter a {
	padding: 5px 5px;
}
.subtitle {
	width: 100%;
	font-size: 12px;
}

.content-result p.sub-result.creative {
	font-size: 20px;
}
.content-result p.sub-result {
	margin-top: 50px;
}
.top-score-title h3 {
	margin-top: 10px;
}
.tshirt-buy p,.tshirt-buy a {
	padding: 5px 5px;
    font-size: 11px;
}
.tshirt-buy p.prod-ts-price {
	padding: 5px 5px;
	font-size: 11px;
}
.top-score-title h3, .top-match h3.news-title, .next-match-co h3,.top-video h3 {
	padding: 5px 0 3px 0;
	font-size: 10px;
}

.pl-details {
	margin: 10px 5px 10px 5px;
}
.top-product h3 {
    margin-top: 20px;
    padding: 15px 0 3px 0;
}
.txt-advert {
	font-size: 30px;
}
.top-match .col-md-4 {
	padding-left: 0;
	padding-right: 0;
}
.tshirt-buy p.prod-ts-price {
	text-align: left;
}
.tshirt-buy p, .tshirt-buy a {
	width: 100%;
}
#footer-tag .social li a {
	float: left;
}
/****Page Gallery*****/
.portfolio li {
	width:47%;
}
/***single news ****/
.other-video i {
	margin-top: 0px;
	left: 0px;
	top: 0;
}

/*** video ***(**/

.data-player-2 {
	width: 60%;
	margin-top: 10px;
}
.rank-player {
	padding-top: 25px;
}
/***Slide***/
.caption.white-b3 p.cric-int, .caption.white-b3 span {
    font-size: 20px;
}
.caption.white-b3 {
	width: 150px;
	background-color: rgba(255,255,255,0);
}
}
@media only screen and (max-width: 480px)
{
	.cs-section-title.adj::after {
    /*border:none;*/
	 width:36% !important
	}	
	/*.cs-section-title h2::before {
		 border:none
	}*/
	.bxslider li .product-title a {
	font-size: 31px;
	font-weight: normal;
}
.bxslider li .product-title .name {
    font-size: 11px;
    left: 5px;
    top: -8px;
}
.bxslider li .product-title .country {
    font-size: 11px;
    left: 5px;
    top: 9px;
}
.commentary-block .commentary-event .commentary-overs {
   width: 16%;
}
.logo-psl{
		top:38%; opacity:0.05;	
	}
	.video-js {
	max-height: 247px;
}
.hidden-xs.batsman-bowlr-lft, .hidden-xs.batsman-bowlr-rt {
    display: none !important;
}
}
@media only screen and (max-width: 400px) 
{
	.content-logo .logo {
    width: 34%;
}	.cs-section-title.adj::after {
    border:none;
}	
	/*.cs-section-title h2::before {
		 border:none
	}*/
	
	
.plr0-xs{
	padding-left:0;
	padding-right:0;
}
#contact_form input[type=submit], .login-form input[type=submit], .quiz-form input[type=submit], .register-form input[type=submit] {
	padding: 15px 10px;
}
.news-page{
		width:100% !important;
	}
	.video-js {
	max-height: 180px;
}
/*********top bar***********/
.logo.logo-pt {
      float: right;
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: -5px !important;
    width: 17% !important;
}
/*********score header***********/

.slider_box {
    margin-left: -10% !important;
    width: 115% !important;
}
.item h1 {
    font-size: 24px;
    margin-left: 5px;
    width: 50px;
}
.item h1.score-rt, .item h4.score-rt{
	text-align:right !important;
	 width: 68px;
}
.item h1.score-lft, .item h4.score-lft{
	text-align:left !important;
}
.item h1.score-lft{
	margin-left:0;
}
.item h1.country-lft{
	 margin-left: 10px !important;
}
.item h4 {
    margin: 0;
	 width: 65px;
}
.item h4.score-rt{
	margin-left:5px
}
.icon-ball.ml20 {
    margin-left: 10px !important;
}
.item img.flags.flags1{
	width:52px !important;
	margin-left: 10px !important
}
.item img.flags.flags2{
	 margin-left: -8px !important;
    width: 52px !important;
}
.live_m {
    width: 56%;
	top:0;
	left:47%;
}
.header-board-lft {
	  margin-left: 59% !important;
    width: 52%;
}
.header-board {
    margin-right: 47% !important;
}
.item .pr60, .slider-header .pr60{
	padding-right:0 !important
}
.item .pl60{
	padding-left:0 !important;
	
} 
.slider-header .pl60{
	padding-left:0 !important
}
table.side1, table.side2{
	margin-top:10px;
	width:113px;	
}
table.side2{
	margin-left:54px;
	width: 126px;	
}


}
@media only screen and (max-width: 390px) 
{

/*.content-logo .logo img {
    margin: 10px 0 5px 10px;
}*/
/*.content-result.content-result-news {
	height: 460px;
}*/
.cs-section-title h2.hide_xs::before{
	border:none	
}
.box-support {
	display: none;
}
.box-login a {
	font-size: 13px;
}
.tab-links a {
	font-size: 13px;
}
/*.match-team {
    width: 95.2%;
}*/
.bbtxt-content-subscription {
    height: 2126px;
}
.bxslider li .product-title {
    padding: 9px 5px;
}
.bxslider li .product-title a {
	font-size: 31px;
	font-weight: normal;
	text-align:center
}
.bxslider li .product-title .name {
    font-size: 11px;
    left: 0;
    top: -8px;
	display:none
}
.bxslider li .product-title .country {
    font-size: 11px;
    left: 0px;
    top: 9px;
	display:none
}
.sponsor.second {
	padding: 30px 0 30px 0;
}
.sponsor li {
	width: 20%;
	margin-right: 10px;
    margin-bottom: 10px;
}
/*.match-team-vs {
	width: 100%;
	font-weight: 800;
}*/
.circle-percentage .col-xs-3 {
    width: 100%;
    margin-bottom: 20px;
}
.vertical-news .vertical-news-desc {
	height: 170px;
}

h3, .h3 {
    font-size: 25px;
    font-weight: 800;
}
.content-match-team-time {
	font-size: 13px;
}
.content-result p.sub-result.creative {
	font-size: 16px;
}
.content-result p.sub-result {
	margin-top: 50px;
}
.menu-details-player {
	display:none;
}

.cbp-hrmenu > ul > li > a {
	font-size:12px;
}
.cbp-hrmenu .cbp-hssub-rows ul li .jm-item-button a {
	font-size:0;
}
.cbp-hrmenu .cbp-hssub-rows ul li .jm-item-button a i {
	font-size:14px;
}
.content-sub-menu .jm-item-button {
    margin: 30px auto;
    text-align: center;
}
#news-section .portfolio li {
	width: 100%;
}
.filter a {
	padding: 5px 5px;
}
.cbp-hrmenu ul.menu-pages li {
	font-size:12px;
}
#result-table td {
	font-size: 14px;
}
.content-result .col-md-4 {
	/*width: 95%;
    float: left;
    z-index: 9999;*/
}

.ca-item {
    width: 326px;
}

.other-match .match-stadium img {
	width: 100%;
}
.cart-prod {
	margin-top: 40px;
    margin-right: 0px;
}
.cart-prod .sec-prod {
	width: 51%;
}

.content-result .other-firts p.sub-result {
	color:#fff;
}
.content-result .col-md-6 p.sub-result {
	color:#fff;
}
.content-result p.sub-result {
	color:#212121;
	margin-top:50px;
	margin-bottom:10px;
}
.content-result .col-md-4.other-firts {
	height:auto;
	margin-top:50px;
}
.content-result .other-last {
	margin-bottom:30px;
}
.content-result .col-md-4 {
	height:auto;
	margin-top:0px;
}
.score-marg {
    margin-top: 0px;
}
.pl-details {
    margin: 10px 5px 30px 5px;
}
.tshirt-buy p,.tshirt-buy a {
	padding: 5px 5px;
    font-size: 11px;
}
.tshirt-buy p.prod-ts-price {
	padding: 5px 5px;
	font-size: 11px;
}

.tshirt-buy p i, .tshirt-buy a i {
	display: none;
}
.bxslider li p.product-title {
	font-size: 12px;
}
.top-product h3 {
	padding: 30px 0 5px 0;
}
.tp-grid li {
	width:90%;
}
.tshirt-buy p i {
	display:none;
}
#footer-tag .social li a {
	float: left;
}
#footer-tag .social .top-social {
	padding:5px;
}
/****PAge Tournament****/
.acc-content .col-md-1, .acc-content .col-md-2, .acc-content .col-md-3 {
	float: none;
}
.acc-content .t1,.acc-content .t2,.acc-content .t3,.acc-content .t4,.acc-content .t5 {
	width: 100%;
}
.acc-content .t1 p:before { content: "DATE: "; }
.acc-content .t2 p:before { content: "TOURNAMENT: "; }
.acc-content .t3 p:before { content: "$ MONEY: "; }
.acc-content .t4 p:before { content: "DRAW: "; }
.acc-content .t5 p:before { content: "WINNERS: "; }

.acc-title {
	display:none;
}
.acc-content .col-md-1.timg {
	width: 22%;
}
/***Page login***/
.ctn-img {
	display:none;
}
.register-form {
    width: 100%;
}
/****Page News****/
.data-news-pg p {
	font-size:11px;
}

/***Page Video****/
.video-desc h3.video-tit {
    line-height: 26px;
}
.other-video, .other-videotitle {
    width: 100%;
}
.other-video {
	margin-top: 10px;
}
.video-content .other-videotitle {
margin-top: 0px;
}
/*****Page Players******/
.cric-player p {
    display:none;
}
/*****Page Single Player****/
#single_player .img-djoko {
	float: none;
}
.col-md-2.data-player {
    width: 40%;
    float: left;
    padding-left: 0;
    margin-top: 10px;
}
.col-md-4.data-player-2 {
    width: 55%;
    margin-top: 10px;
}
.rank-player {
    width: 100%;
    padding-left: 0;
    border-top: 1px solid #eeeeee;
    float: left;
    padding-top: 25px;
}
.cric-single-player {
	text-align: center;
}
.cric-single-player img{
	width: 70%;
}
.percentage1 {
	display: none;
}
.play-vs #result-table {
    width: 100%;
}
.play-vs .result-name {
	font-size:12px;
}
.play-vs {
	padding: 0;
}
.player-vs .tab-content .result-name .txt-vs {
	font-size: 13px;
    margin: 0 5px 0 5px;
}
.player-vs .tabs .img-face.img-mm1,.player-vs .tabs .img-face.img-mm2 {
	width: 30%;
}
.player-photo .img-mm2 {
    margin-left: 10px;
}
.player-score-bg {
	display: none;
}
.kkcountdown-box {
	font-size: 28px;
	padding: 5px;
}
.kkc-days-text, .kkc-hours-text, .kkc-min-text, .kkc-sec-text {
	font-size: 11px;
	margin-right: 10px;
}
.big-countdown h3 {
	font-size: 18px;
}
/***Pages Single Match****/
#single-match-pl .tabs.single-pl {
	display: none;
}
/****Page Gallery*****/
.portfolio li {
	width:46%;
}
/******Pages Shop *******/
.shop-prod {
    width: 100%;
}
/****Slide*****/
.caption.white-b2 p.blackbold {
	margin-top: 0px;
}
.caption.white-b2 {
	font-size: 9px;
}
.caption.white-b3 p.cric-int, .caption.white-b3 span {
    font-size: 18px;
}
.caption.white-b3 {
	width: 150px;
	background-color: rgba(255,255,255,0);
}
}
@media only screen and (max-width: 360px) 
{
.ca-item {
    width: 315px;
}
.content-logo .logo {
    padding-top: 0px;
	padding-bottom: 5px;
    width: 42%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.video-js {
	max-height: 180px;
}
}
@media only screen and (max-width: 320px) 
{


.ca-item {
    width: 270px;
}
/*.effect-backcolor .col-md-6 span {
	font-size: 16px;
}*/
.tab-links a {
    font-size: 9px;
}
.content-result p.sub-result.welcome {
	font-size: 35px;
}
.content-result p.sub-result {
	margin-top: 20px;
}

.cart-prod .sec-prod {
    width: 55%;
}
.match-team-list .t-img1 {
	margin-right: 0px;
}
#nextmatch-content .img-round {
    margin-top: 10px;
}
.bbtxt-box h4 {
	font-size: 52px;
}
.pl-point {
    padding: 3% 0 6% 0;
    width: 100%;
}
/*.match-team {
    width: 94.3%;
}*/
.content-match-team-time {
	font-size: 13px;
}
.tshirt-buy a {
    width: 100%;
    text-align: center;
    font-size: 11px;
}
.tshirt-buy p.prod-ts-price {
    width: 100%;
    text-align: center;
}
.content-result p.sub-result, .content-result p.sub-sub-result {
	font-size: 30px;
}
#container-vert-n .bx-wrapper .bx-controls-direction a {
	margin-top: -48px;
}
.jm-item {
    padding: 1em 0em 1em 0.5em;
}
.content-sub-menu .jm-item-button {
    margin: 30px auto;
}
.sponsor li {
    width: 18%;
}
.top-video h3 {
	margin-top: 10px;
}

.sponsor.second {
	padding: 20px 0;
}

.sponsor li {
	margin-right: 10px;
}
.pl-title {
    font-size: 10px;
}
.pht-1, .pht-2 {
	padding: 0
}

/****Page News****/


/***** PAge Single Player****/
.col-md-4.data-player-2 {
    width: 60%;
}
.player-vs .tab-content {
	/*padding: 10px;*/
}
.cric-single-player {
	padding: 10px;
}
.data-player-2 p,.data-player p {
font-size: 11px;
}
.txt-right {
	font-size: 12px;
}
.play-vs #result-table td {
	font-size: 13px;
}
.result-name img {
	display: none;
}
h3{
    font-size: 22px;
}
.kkc-days-text, .kkc-hours-text, .kkc-min-text, .kkc-sec-text {
    font-size: 10px;
    margin-right: 8px;
}
.kkcountdown-box {
    font-size: 24px;
}
/****Page Gallery***/
.filter a {
	padding: 5px 5px;
	font-size: 12px;
}
/***html5***/
.video-js {
	max-height: 157px;
}
/***Slider****/
.tp-simpleresponsive .caption.player-slide {
    margin-top: 30px;
}
.caption.white-b3 p.cric-int, .caption.white-b3 span {
    font-size: 18px;
}
.caption.white-b3 {
	width: 150px;
	background-color: rgba(255,255,255,0);
}

.header-board {
    width: auto;
}
table.side2 {
    margin-left: 34px;
}
}