.box {
    text-align: left;
}
a{
    color: #333;
    text-decoration: none;
}
a:focus, a:hover {
    color: #ef2743;
    text-decoration: none;
}
a:focus h2, a:hover h2 {
    color: #ef2743 !important;
    text-decoration: none;
}
/*blockquote {
    font-size: 26px !important;
}*/
#videos_page .col-lg-1, #videos_page  .col-lg-10, #videos_page  .col-lg-11, #videos_page  .col-lg-12, #videos_page  .col-lg-2, #videos_page  .col-lg-3, #videos_page  .col-lg-4, #videos_page  .col-lg-5, #videos_page  .col-lg-6, #videos_page  .col-lg-7, #videos_page  .col-lg-8, #videos_page  .col-lg-9, #videos_page  .col-md-1, #videos_page  .col-md-10, #videos_page  .col-md-11, #videos_page  .col-md-12, #videos_page  .col-md-2, #videos_page  .col-md-3, #videos_page  .col-md-4, #videos_page  .col-md-5, #videos_page  .col-md-6, #videos_page  .col-md-7, #videos_page  .col-md-8, #videos_page  .col-md-9, #videos_page  .col-sm-1, #videos_page  .col-sm-10, #videos_page  .col-sm-11, #videos_page  .col-sm-12, #videos_page  .col-sm-2, #videos_page  .col-sm-3, #videos_page  .col-sm-4, #videos_page  .col-sm-5, #videos_page  .col-sm-6, #videos_page  .col-sm-7, #videos_page  .col-sm-8, #videos_page  .col-sm-9, #videos_page  .col-xs-1, #videos_page  .col-xs-10, #videos_page  .col-xs-11, #videos_page  .col-xs-12, #videos_page  .col-xs-2, #videos_page  .col-xs-3, #videos_page  .col-xs-4, #videos_page  .col-xs-5, #videos_page  .col-xs-6, #videos_page  .col-xs-7, #videos_page  .col-xs-8, #videos_page  .col-xs-9 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
#videos_page .row {
    margin-left: -10px;
    margin-right: -10px;
}
#videos_page .entry-date {
    padding: 0px 10px !important;
}
@media(min-width: 320px) {
 #videos_page   .container{
    	padding: 0 5px !important;
    }
}

.right-column {
    margin-bottom: 20px;
    padding: 0;
}
/***line style**/

.cs-seprator {
    float: left;
    height: 15px;
    margin: 0;/*margin: 0 0 15px;*/
    position: relative;
    text-align: center;
    width: 100%;/*margin-bottom: 15px;*/
	padding-left: 5px;
	padding-right:3px;
}
.devider1 {
    float: left;
    position: relative;
    width: 100%;
}
.devider1::before {
    border-top: 1px solid #e5e5e5;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.devider1::after {
    border-top: 1px solid #ef2743;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
}

.crk-trending-videos-container h1 {
	/*margin-top: 30px;
	padding-bottom: 7px;*/
	border-bottom: none;
	/*font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 1px;*/
	margin-bottom:0;
	padding-left:5px;
}

/***end line style**/
/***social media**/
.socialmedia {
    float: left;
}
.socialmedia ul li {
    float: left;
    list-style: outside none none;
}
.socialmedia ul li a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 32px;
    line-height: 36px;
    margin: 0 5px 5px 0;
    text-align: center;
    width: 32px;
	position:relative
}
.socialmedia ul li a i.google{
	position: absolute;
    top: 6px;
    left: 5px;
}
.socialmedia ul li a:hover {
	text-decoration:none;
	opacity:0.9;	
}
.socialmedia ul li a.addthis_button_pinterest {
    background-color: red;
    margin: 0 4px 0 0;
}
.socialmedia ul li a[data-original-title="Facebook"] {
    background-color: #305891;
}
.socialmedia ul li a[data-original-title="twitter"] {
    background-color: #2ca8d2;
}
.socialmedia ul li a[data-original-title="google-plus"] {
    background-color: #ce4d39;
}
.socialmedia ul li a[data-original-title="pinterest"] {
    background-color: #c82828;
}
.socialmedia ul li a[data-original-title="envelope"] {
    background-color: #738a8d;
}
.socialmedia ul li a[data-original-title="Tumblr"] {
    background-color: #c82828;
}
.socialmedia ul li a[data-original-title="Dribbble"] {
    background-color: #ce4d39;
}
.socialmedia ul li a[data-original-title="twitter"] {
}
.socialmedia ul li a[data-original-title="stumbleupon"] {
    background-color: #c82828;
}
.socialmedia ul li a[data-original-title="Youtube"] {
    background-color: #305891;
}
.socialmedia ul li a[data-original-title="Instagram"] {
    background-color: #738a8d;
}

@media(max-width: 400px) {
 footer .copyright{
	 margin: 0 0 10px 20%;
 }
 footer .socialmedia{
	 margin:0 30% 0 0;
 }
}
/***end social media**/

/*************heading style*******************/
.cs-section-title {
	/*float: left;*/
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 13px;
}
.cs-section-title::before, .cs-section-title::after {
	border-top: 1px solid #e5e5e5;
	content: "";
	height: 1px;
	left: 100%;
	margin-left: 10px;
	position: absolute;
	top: 30px;
	width: 7700px;
}
.cs-section-title.no_style::before, .cs-section-title.no_style::after {
	border: none
}
.comment-respond .cs-section-title h2::before {
	top: 11px;
}
.cs-section-title::after {
	left: auto;
	margin-right: 10px;
}
.cs-section-title.adj::after {
	width: 83%;
}
.cs-section-title h2.adj {
	left: -40.5%;
}
.cs-section-title h2 {
	display: inline-block;
	font-size: 18px;
	position: relative;
	text-transform: uppercase;
}
.cs-section-title h2::before {
	border-style: solid;
	border-width: 1px 0 0;
	content: "";
	height: 1px;
	position: absolute;
	right: -70px;
	top: 15px;
	width: 60px;
	z-index: 5;
}
.cs-section-title h2.no_style {
/*font-weight: 100*/
}
.cs-section-title h2.no_style::before {
	border: none
}
.cs-section-title h2.no_style::after {
	border: none
}
.post-option-panel .cs-section-title::before, .post-option-panel .cs-section-title::after, .post-option-panel h2::before {
	display: none;
}
.main-history .cs-section-title {
	margin-bottom: 60px;
}
.cs-section-title h2 {
	font-size: 18px!important
}
/*************end heading style*******************/
/***********main sub nav***************/

.nav > li:hover {
    background: transparent;
	color:#fff !important;
}
.nav > li:hover a{
    background: transparent;
	color:#fff !important;
}
.navbar li a:hover {
    border-top:none;
    border-bottom: 1px solid #ec222b;
}
.navbar li.active a, li.active a:hover {
    border-top:none;
    border-bottom: 1px solid #ec222b;
}
.navbar.sub-navbar{
	background-color:#555;
	min-height: inherit;
	position:absolute;
	width:100%
}
.sub-navbar .nav > li a:hover {
    color: #fff !important;
}
.sub-navbar .nav.navbar-nav{
	margin-top:0
	
}
.sub-navbar .navbar-toggle{
	margin:0;
	width:100%;
	text-align:left;
}
.sub-navbar .nav.navbar-nav > li:hover{
	background-color:#353535
}
.sub-navbar .nav.navbar-nav > li a:hover {
    border-top:none;
    border-bottom:none;
}
.sub-navbar .nav.navbar-nav > li.active, .sub-navbar .nav.navbar-nav > li.active{
    background-color:#ec222b;
}
.sub-navbar .nav.navbar-nav > li.active a, .sub-navbar .nav.navbar-nav > li.active a:hover {
    background-color:#ec222b;
	border:none
}
.sub-navbar .nav.navbar-nav a {
    padding-bottom: 5px;
    padding-top: 5px;
}

/***********end main sub nav***************/
/***********more button***************/

#news-section .ca-more {
	color: #fff
}

#news-section .ca-more-vertical {
	color: #fff
}
#news-section .ca-more:hover {
	color: #ccc
}

.ca-more-resp {
	display: none
}
.ca-more {
	position: absolute;
	bottom: 10px;
	right: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	color: #333
}
.news-content .ca-more {
	margin-right: 20px;
	margin-bottom: 10px
}
.ca-more i {
	color: #fff;
	font-size: 14px;
	margin-right: 5px;
	padding: 2px 5px 3px;
	background: #548ad5 ;
}
.ca-more:hover i {
	color: #000;
	text-decoration: none;
	background: #74aaf5;
}
.ca-more:hover {
	color: #000;
	text-decoration: none
}
.data-news-pg .ca-more {
	position: relative
}
.right-content .ca-more {
	margin-top: 10px;
	position: relative;
	float: right
}
.match-more a.ca-more {
	float: right;
	position: relative;
	bottom: 0;
	background: #212121;
	color: #fff;
	margin-right: 10px
}
/***********end more button***************/
.result-date {
	color: #ebebeb;
	font-size: 60px;
	padding-top: 20px;
	text-align: center;
}
.result-month {
	color: #a7a7a7;
	display: block;
	font-size: 20px;
	padding-bottom: 12px;
	padding-top: 30px;
	text-align: center;
}

.ad-logo {
	float: right;
	position: relative !important;
	right: -14px;
}
.navbar-collapse .nav {
	/*margin-left: 16% !important;*/
	margin-top: 5px;
}
.wrapper {
	background: #efefef none repeat scroll 0 0 !important;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	position: relative;
	max-width: 1170px;
	display: block;
}
.wrapper-main {
	background: #efefef none repeat scroll 0 0 !important;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	position: relative;
	max-width: 1170px;
	display: block;
}
.item {
	/*background: #fff none repeat scroll 0 0;*/
	cursor: pointer;
}
.navbar {
	padding: 10px 0;
}
.ad-logo img {
	margin-top: 0px;/*width: 150px;*/
}
.navbar-brand img {
	width: 150px;
}
.right-last-photo {
	padding: 0;
}
.adds-hrz {
	width: 100%;
}
.adds-hrz img {
	width: 100%;
}
.carousel {
    margin-top:0;
}
.carousel-caption a {
    padding: 10px 0 0 14px;
}
.carousel-caption a h2, .carousel-caption a h3 {
    margin: 5px 0 0;
}
.carousel-caption a:hover h2, .carousel-caption a:hover h3 {
    color: #dfdfdf !important;
}

.carousel-caption a .upcoming{
background:#c6a605;padding:4px 10px 7px; font-weight: bold; display:inline-block	
}

.carousel-caption a .livenow{
background:#e20009;padding:3px 10px 7px; font-weight: bold;	 display:inline-block
}
.carousel-caption a .watch{
background: rgba(0, 0, 0, 0.7); font-weight: 100; padding:8px 10px; font-size: 18px; display:inline-block
}/*
.carousel-caption a:hover .watch{
	color:#e20009
}*/
.carousel-caption a .score{
	font-weight: 100; font-size: 20px;
}
@media (max-width: 550px) {
	.carousel-caption .small_size{
		font-size: 20px !important;
	}
	.carousel-caption h3{
		font-size: 15px !important;
	}
	.carousel-caption a .watch{
		 padding:4px 10px 7px; font-size: 14px;
		}
		.carousel-caption a .score{
		 font-size: 15px;
		}
}

/***************article section*****************/
.cs-blog.cs-blog-grid .h4, .cs-blog.cs-blog-grid h4 {
    font-size: 18px;
    font-weight: bold;
}
  .item .cs-blog-grid{
	/*border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;*/
	border:none;
  }
/***************end article section*****************/

/*****************videolist *************************/

.cric-lockup-content {
	overflow: hidden;
	position: relative;
	/*border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;*/
	background-color: #fff;
	cursor:pointer;
}
.cric-lockup-title {
	font-size: 13px;
	color: #535353 !important;
	margin-bottom: 1px;
	max-width: 100%; font-weight: normal;
}
/*video thumbnails on play*/
.video-container {
    padding-top: 0px;
}
/*end video thumbnails on play*/

.cric-ui-ellipsis-2::before {
	top: 1.3em;
}
.cric-ui-ellipsis::before {
	content: "…";
	right: 5px;
}
.cric-ui-ellipsis::before {
	background-color: inherit;
	position: absolute;
}
.cric-ui-ellipsis::after {
	content: "";
	height: 100%;
	width: 100%;
}
.cric-ui-ellipsis::after {
	background-color: inherit;
	position: absolute;
}
.cric-uix-expander-collapsed .cric-ui-ellipsis {
	overflow: hidden;
}
.cric-lockup-title a, .cric-lockup:hover a, .cric-lockup:hover .cric-lockup-meta a, .cric-lockup:hover .cric-lockup-description a {
	color: #167ac6;
}
.cric-ui-ellipsis-2 {
	max-height: 2.6em;
}
.cric-ui-ellipsis {
	background-color: #fff;
	display: block;
	line-height: 1.3em;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
}
.cric-lockup-title{
	padding: 5px 5px 0px !important;
}
a, abbr, acronym, address, applet, b, big, blockquote {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
.cric-lockup .cric-lockup-meta a, .cric-lockup .cric-lockup-description a, .cric-lockup .cric-lockup-byline a {
	color: #767676;
}
.cric-lockup-grid .cric-lockup-meta {
	max-width: 100%;
}
.cric-lockup-meta {
	display: block;
}

ul {
	list-style: outside none none;
}
.cric-lockup-meta-info > li:first-child::before {
	display: none;
}
.cric-lockup-meta-info > li::before {
	content: "•";
	margin: 0 5px;
}
.cric-lockup-meta-info > li:last-child {
	margin-right: 0;
}
.cric-lockup-meta-info > li {
	font-size: 11px;
	display: inline-block;
	line-height: 1.3em;
	color:#8e8e8e
}
.cric-lockup-meta-info.views > li {
	font-size: 14px;
	
}
.cric-lockup-meta-info.views-left > li {
	font-size: 14px;
	display:none
}

@media only screen and (max-width: 400px) {

/*.cric-lockup-meta-info.views > li {
	display:none;
}*/	
.cric-lockup-meta-info.views-left > li {
	display:block
}
}
.btn-ok{
	background:url(../images/left_arrow.png) no-repeat center right;
	width: 176px;
	font-size: 20px !important;
    padding-left: 30px !important;
    text-align: left;
	line-height: 10px;
}

.btn-more{
	/*background:url(../images/left_arrow.png) no-repeat center right;*/
	width: auto !important;
	font-size: 20px !important;
    padding: 10px  40px !important;
    text-align: left;
	background-color:#ec222b  !important;
	line-height:25px;
	border:none;
	color:#fff;
}
.btn-ok:hover, .btn-more:hover{
	background-color:#666 !important;
	box-shadow:none !important;
}
.btn-ok.full-width, .btn-more.full-width {
	width: 100%;
}
/*right side list videos*/
.widget_team ul li figure {
	float: left;
	margin-bottom: 0;
	width: 100px
}
.recent_blog_widget ul li figure ~ .infotext, .widget_team ul li figure ~ .infotext {
	padding-left: 110px;
	text-align: left
}
.widget.widget_team ul li {
	text-align: right;
	float: left;
	padding: 0;
	padding-bottom: 10px
}
.widget_team ul li p, .widget_team ul li a {
	line-height: normal;
	text-align: left
}
.widget #lang_sel_list ul a {
	padding: 5px 0px;
	border-bottom: 1px solid #eee
}
.widget_team ul li .infotext {
	font-size: 30px;
	color: #4d4d4d;
	font-weight: normal;
	text-align: left;
	padding-top: 0;
	line-height: none
}
.widget_team ul li:hover:before {
	display: none
}
.widget_team ul li:hover a {
	color: #222
}
.widget_team .infotext p {
	color: #999;
	font-size: 12px;
	margin-bottom: 3px;
	font-weight: normal;
	margin-top: 0;
}
.widget_team .infotext a {
	color: #222;
	font-size: 14px;
	font-weight: 700;
	line-height: none;
	display: inline-block
}
/*end right side list videos*/

.list_space_mng_big{
	padding-right:5px
}
@media only screen and (min-width: 992px) {
	.list_space_mng{
		padding-right:5px
	}
	.list_space_mng_side{
		padding-right:10px
	}
}
@media (max-width: 991px) {
	.list_space_mng, .list_space_mng_side{
		padding-right:5px;
		padding-left: 5px;
	}
	.list_space_mng_big{
		padding-right:5px;
		padding-left: 5px;
	}
}
.item .video-container .video-content {
    background: #fff none repeat scroll 0 0;
    /*border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;*/
	border:none;
}
.video-container .video-content {
    background: #fff none repeat scroll 0 0;
    border:none;
}
/*****************end videolist*************************/

/*****scorecard******/
/*stylefromball*/
.column, .columns {
	padding-left: 0.57692em;
	padding-right: 0.57692em;
	width: 100%;
	float: left;
	position: relative
}

hr.secondary-hr {
	border-color: #eaeaea;
	margin-top:10px;
	margin-bottom:10px
}
hr.thick-2 {
	border: 1px solid #464141
}

.innings-information .team-1-name, .innings-information .team-2-name {
	font-size: 18px;
	margin: 0
}
.innings-information .team-1-name .innings-1-score, .innings-information .team-1-name .innings-2-score, .innings-information .team-2-name .innings-1-score, .innings-information .team-2-name .innings-2-score {
	font-weight: bold
}
.innings-information .team-1-name .innings-current, .innings-information .team-2-name .innings-current {
	color: #07569e
}
.innings-information .innings-requirement {
	padding: 5px 0px;
	font-size: 11px;
	 line-height: 16px;
}
.match-information div {
	font-size: 12px;
	padding: 2px 0;
	font-size: 11px
}
hr.border-top-score-squad {
	margin: 10px 0 0 0
}
table.score-table, table.squad-table {
	margin: 0px 0 10px 0
}
table.score-table th, table.score-table td, table.squad-table th, table.squad-table td {
	height: 22px;
	font-size: 11px
}
table.score-table th span.current-time-info, table.score-table td span.current-time-info, table.squad-table th span.current-time-info, table.squad-table td span.current-time-info {
	font-weight: normal
}
table.score-table .match-status-info {
	float: left
}
table.score-table .match-n-time-head {
	padding-right: 5px;
	min-width: 124px
}
table.score-table .career-head {
	border-left: 1px solid #eaeaea
}
table.squad-table {
	border-bottom: 2px solid #464141;
	padding-bottom: 5px;
	margin-bottom: 5px
}
table.squad-table .match-status-info {
	float: left
}
table.squad-table .current-time-info {
	float: right
}
table.squad-table table.team-1, table.squad-table table.team-2 {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea
}
table.squad-table table.team-1 .team-1-name, table.squad-table table.team-1 .team-2-name, table.squad-table table.team-2 .team-1-name, table.squad-table table.team-2 .team-2-name {
	font-weight: bold;
	border-bottom: 1px solid #eaeaea
}
table.squad-table table.team-1 .player-names, table.squad-table table.team-2 .player-names {
	line-height: 1.6em
}
table.squad-table table.team-2 {
	border-bottom: none
}
table.batsmen td, table.batsmen th, table.batsmen-career td, table.batsmen-career th, table.bowlers td, table.bowlers th, table.bowlers-career td, table.bowlers-career th {
	padding: 0px 4px 0 0;
	text-align: right
}
table.batsmen th, table.batsmen-career th, table.bowlers th, table.bowlers-career th {
	font-weight: normal;
	color: #737373;
	font-weight: bold;
	background: #e7e7e7;
	padding: 5px;
}
.batting-table {
	margin: 10px 0px
}
.batting-table th {
	font-weight: bold;
	background: #d0f2f0;
	text-align: right;
	font-size: 11px
}
.batting-table th.th-innings-heading {
	text-align: left;
	padding-left: 5px;
}
.batting-table th.th-sr {
	width: 8%
}
.batting-table th.th-r, .batting-table th.th-m, .batting-table th.th-b {
	width: 5%
}
.batting-table th.th-4s, .batting-table th.th-6s {
	width: 4%
}
.batting-table th:last-child {
	padding-right: 5px
}
.batting-table tr.tr-heading {
	border-bottom: none
}
.batting-table tr.dismissal-detail {
	display: none;
	background: #F7F7F7
}
.batting-table tr.dismissal-detail td {
	text-align: left;
	padding: 5px
}
.batting-table td {
	text-align: right;
	/*height: 20px;*/
	font-size: 11px;
	line-height: 1.7em;
}
.batting-table td:last-child {
	padding-right: 5px
}
.batting-table td.batsman-name {
	width: 26%;
	font-weight: bold;
	text-align: left
}
.batting-table td.td-icon-expand-collapse {
	padding: 0;
	width: 2%;
	text-align: left
}
.batting-table td.td-icon-expand-collapse img {
	margin-top: -3px
}
.batting-table td.dismissal-info {
	width: 41%;
	text-align: left
}
.batting-table td.extra, .batting-table td.extra-details {
	text-align: left
}
.batting-table td.total {
	font-weight: bold;
	text-align: left
}
.batting-table td.total-details {
	text-align: left
}
.batting-table td.rpo {
	text-align: center
}
.batting-table td.dismissal-detail {
	text-align: left;
	padding: 5px
}
.batting-table .total-wrap td {
	
}
.bowling-table {
	margin: 10px 0px
}
.bowling-table th {
	font-weight: bold;
	background: #e7e7e7;
	text-align: right;
	font-size: 11px
}
.bowling-table th.th-innings-heading {
	text-align: left;
	padding-left: 5px;
}
.bowling-table th.th-o, .bowling-table th.th-m, .bowling-table th.th-r {
	width: 6%
}
.bowling-table th.th-w {
	width: 6%
}
.bowling-table th.th-econ {
	width: 8%
}
.bowling-table th:last-child {
	padding-right: 5px
}
.bowling-table tr.tr-heading {
	border-bottom: none
}
.bowling-table tr td {
	font-size: 11px
}
.bowling-table tr.dismissal-detail {
	display: none;
	background: #F7F7F7
}
.bowling-table tr.dismissal-detail td {
	text-align: left;
	padding: 5px
}
.bowling-table tr.tr-last {
	border-bottom: none
}
.bowling-table td {
	text-align: right;
	/*height: 20px;*/
	line-height:1.7em;
}
.bowling-table td.bowler-name {
	font-weight: bold;
	text-align: left;
	width: 26%
}
.bowling-table td.td-icon-expand-collapse {
	padding: 0;
	width: 2%;
	text-align: left
}
.bowling-table td.td-icon-expand-collapse img {
	margin-top: -3px
}
.bowling-table td.td-extra {
	text-align: left;
	padding-left: 30px;
	width: 40%
}
.match-details-block .match-information div {
	line-height: 20px;
	font-size: 12px
}
.more-match-stats {
	font-size: 11px
}
.more-match-stats p {
	margin-bottom: 0;
	padding: 2px 0;
	line-height:1.4em
}
.more-match-stats span.head {
	padding: 0 2px 0 0;
	font-weight: bold
}
.more-match-stats .recent-overs {
	line-height: 16px;
	padding: 0px;
	  background-color: #d0f2f0;
	  padding:5px
}
.more-match-stats .recent-partnership {
	line-height: 16px;
	padding: 0px;
	 
}
.more-match-stats .recent-partnership  span.head {
	float: left
}
.more-match-stats .recent-partnership ul.recent-over {
	padding: 0px 5px;
	float: left;
	margin-bottom: 0
}
.more-match-stats .recent-overs span.head {
	float: left
}
.more-match-stats .recent-overs ul.recent-over {
	padding: 0px 5px;
	float: left;
	border-right: 1px solid;
	margin-bottom: 0
}
.more-match-stats .recent-overs ul.recent-over li {
	font-size: 11px;
	text-align: center;
	line-height: 16px;
	margin: 2px;
	width: 14px
}
.more-match-stats .current-partnership img.icon-partnership {
	padding: 0 4px 3px 0
}
/* end stylefromball*/

.player-vs .tab-content .tab-content {
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}
.player-vs .tab-links-match li {
	width: auto;
}
.batting-table th {
	background: #eaebed;
	
}
.bowling-table th {
	background: #eaebed;
}
#scorecard a, #scorecard a:visited, #scorecard a:hover, #scorecard .comment-action i {
	color: #515151 !important;
}
a.fowLink {
	color: #515151 !important;
}

@media only screen and (max-width: 400px) {
	.hide-sr {
		display: none !important;
	}
	.tr-heading th {
		width: 8% !important;
	}
}
/***** end scorecard******/
/***** styling red******/

.video-desc {
    margin-top: 0;
	background-color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:5px;
	  border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
.video-desc p.video-arg {
    border-left:none;/*border-left: 3px solid #548ad5;*/
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
	margin:10px 10px 10px 0
}
.ca-more.timeline {
    background: #ec222b;
	color:#fff;
	padding:6px 20px 7px 0;
	bottom:-10px;
	font-size:16px;
	left:0;
	right:auto;
	position:relative;
    
}
.ca-more.timeline:hover {
	color:#c7c7c7;
}
.ca-more.timeline i {
    background: #bc1010;
	padding:8px 18px;font-size:16px;
	margin-left:2px;
    
}
.ca-more.timeline:hover i {
    background: #bc1010;
    color: #fff;

}
.extra-large-btn.has_icon i {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    float: left;
    line-height: 45px;
    min-width: 45px;
    font-size: 20px;
}
.cs-bg-color, .cs-bgcolor, .cs-bgcolorhover:hover, .navigation ul > li:hover > a, .cs-tags ul li:hover a, .share-btn, .custom-btn, .team-detail figure figcaption header .player-no, .cs-tags ul li a:hover, .share-btn, form p.form-submit input[type="submit"], .team-detail figure figcaption header .player-no, .cs-qoute .cs-auther-name::before, .woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .widget_archive ul li:hover, .widget_categories ul li:hover, .widget_pages ul > li:hover > a, .widget_meta ul li:hover, .widget_nav_menu ul > li:hover > a, .tagcloud a:hover, #wp-calendar tbody tr td#today, .widget_calendar thead, .history-list article h4::before, .history-grid article h4::before, .spreater-holder span::before, form p.form-submit input[type="submit"], .main-section .button_style .default, .flat, .main-section .strock, .main-section .three-d, #footer-sec .signup .user-signup input[type="submit"], .cart-sec span.qnt {
    background-color: #ec222b !important;
}
.cs-borcolor, .cs-borcolorhover:hover, .cs-section-title h2::before, .widget-section-title h2::before, .woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .cs-section-title h2::before, .filter-nav li.active a, .products li a span::before {
    border-color: #ec222b !important;
}
.cs-color, .cs-colorhover:hover, .post-option li a:hover, .filter-nav li.active a, .prev .left-arrow, .prev-next-post article.next .right-arrow, .prev-next-post article.prev::after, .social-media ul li a:hover, #copyright P a, .footer-tweets ul li .text a, .navigation ul .sub-dropdown > li:hover > a, .social-media ul li a:hover i, .post-option li a:hover, .woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button, .woocommerce #content input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .recent_blog_widget ul li a:hover, .widget_team ul li a:hover, .recent_blog_widget ul li a:hover, .widget_result ul li a:hover, .twitter-logo a, .footer-tweets ul li i, .navigation ul .sub-dropdown > li:hover > a, .social-media ul li a:hover i, .blog-grid .text h2 i, .widget_blog ul li i, .prev-next-post a .icon-list8, .pagination li a:hover, .pagination li.pgprev:hover img, .woocommerce #content table.cart a.remove, .woocommerce table.cart a.remove, .woocommerce-page #content table.cart a.remove, .woocommerce-page table.cart a.remove {
    color: #ec222b !important;
}

.button_style .default, .flat, .strock, .three-d {
    background-color: #ec222b;
    
}
.button_style:hover .default, .flat, .strock, .three-d {
    background-color: #dc121b;
	text-decoration:none
}
/***** end styling red******/
/***** video thumbnails on homepage******/

.video-thumbnail .overlay {
    height: 30%;
    opacity: 0.8;
    top: 70%;
}
.video-container img:hover + img  {
    cursor: pointer; opacity:1;
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.video-play-icon {
    top: 40px !important;
	opacity:0.5;
	-webkit-transition: all .5s ease;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.video-play-icon:hover {
    opacity:1
}
@media only screen and (max-width: 400px) {
	.video-play-icon {
    top: 30px !important;
}
}
/***** end video thumbnails on homepage******/
/***** news carousel at home******/

.news-page {
	margin-bottom: 20px;
	background: #fff;
	/*box-shadow: 0 1px 2px rgba(0,0,0,.3);*/
	padding: 10px !important;
	/*border: 1px solid #d3d3d3;*/
	box-shadow: none;
	/*margin-left: 1%;*/
    width:100%;
	float: left
}
.news-page:first-child {
	/*margin-left: 0px;*/
}

.news-page > div{
	/*box-shadow: 0 1px 2px rgba(0,0,0,.3);
	padding: 10px;
	border: 1px solid #eee*/
}
.news-page img {
	/*border: 1px solid #ccc*/
}
.news-page .col-md-10 {
	/*width: 75%*/
	margin-bottom:20px
}
.data-news-pg p {
	font-weight: 400;
	margin-left: 0px;/*margin-left: 5px;*/
	text-align: left;
	line-height: 20px;
	font-size: 13px;
	margin-bottom: 9px/*margin-bottom: 15px*/;
	position:relative;
}
.data-news-pg p.news-dd {
	line-height: 25px;
	padding: 0 6px;
	margin-bottom: 15px;
	/*background: #548ad5;*/
	color: #fff;
	margin-left: 0;
	font-weight: 700
}
.data-news-pg .news-list {
	padding-left: 10px;
}
.data-news-pg p.news-dd.news-list {
	padding-left: 10px;
}
.news-page p.news-dd {
	line-height: 18px;/*line-height: 25px;*/
	padding: 0;/*padding: 0 6px;*/
	margin-bottom: 0px;
	/*background: #548ad5;*/
	color: #afafaf;
	margin-left: 0;
	font-size: 13px;
	font-weight: 700;
	 margin-top: 0;
}
.news-dd > i{
	font-size: 12px;
	font-weight: normal;
}
.data-news-pg h3 {
	margin-top: 0;
	font-size: 20px;
	text-align: left;
	font-weight: 600;
	margin-bottom: 20px
}
.news-page h3 {
	margin-top: 0;
	font-size: 20px;
	text-align: left;
	font-weight: 600;
	margin-bottom: 10px;
	letter-spacing:normal;
	color:#555
}
.data-news-pg .ca-more {
	position: relative
}
.news-more {
	margin-top:0;
	padding: 0;
	text-align: right;
	 height: 0;
}
.news-page-page {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px
}
.news-page-page span {
	padding: 5px 10px;
	background: #548ad5;
	margin-right: 5px;
	/*border: 1px solid #548ad5*/;
	color: #fff
}
.news-page-page span:hover {
	background: #74aaf5 ;
	/*border: 1px solid #548ad5*/;
	cursor: pointer
}
.news-page-page span.news-page-active {
	/*border: 1px solid #548ad5*/;
	background: #74aaf5;
	color: #fff
}
.news-page-page span.page-point {
	background: #e7e7e7;
	border:1px solid #d3d3d3;
	color: #000;
}
.news-page.hom_slider {
    background: transparent;
    border:none;
    box-shadow:none;
    margin-bottom: 20px;
    padding: 0 5px;
}
.data-news-pg.pl10{
	padding-left: 0px ;	
}
@media only screen and (max-width: 768px) {
	.news-page{
		/*width:50% !important;*/
		/*margin-right: 15px;
		width: 48% !important;*/
		 padding: 5px !important;

	}
	.news-page:nth-child(2n){
		margin-right: 0px;
	}
	
.data-news-pg .news-list {
	padding-left: 0px;
}	
.data-news-pg p.news-dd.news-list {
	padding-left: 0px;
}

}
@media only screen and (max-width: 640px) {
	.col-md-6.col-sm-6.pl0.pr10 {
    padding-right: 0 !important;
	}
}
@media only screen and (max-width: 400px) {
	.news-page{
		/*width:50% !important;*/
		/*margin-right: 15px;
		width: 100% !important;*/
		 padding: 5px !important;
		/* width:48.5%;*/
		 margin-left:2.5%;

	}
	.news-page:nth-child(2n){
		margin-right: 0px;
	}
	.data-news-pg.pl10{
	padding-left: 5px !important;	
	}
	.data-news-pg p {
    font-size: 12px;
	}
	
}
/*****end  news carousel at home******/

/*****result page******/

@media only screen and (max-width: 767px) {
	.event.event-samll article {
    border-bottom: medium none;
    margin-left: 0;
    width: 100%;
}
.match-result > figure {
    text-align: left;
}
.event article {
    padding: 5px 0 !important;
}
	.top-score-title img.result-img {
    width: 70%;
}
.post-option{
	padding-left:0;	
}
.post-option > li {
	color: #777;
  font-size: 12px !important;
    text-align: center;
    width: 100%;
	
	}
	
}
/*****end result page******/

/*****blog page******/
.cs-blog.blog-lrg {
    border-bottom: 1px solid #e5e5e5;
    background-color:#fff;
	padding:10px 10px 30px;
}
.widget_recent_entries li::before, .widget_meta li::before, .widget_nav_menu li::before, .widget_pages li::before, .widget_archive li::before, .widget_recent_comments li::before, .widget_categories li::before {
    color: #1a1a1a;
   content: "";
    /*font-family: FontAwesome;*/
    font-size: 13px;
    left: 5px;
    position: absolute;
    top: 0;
}
.recent_blog_widget ul li figure, .widget_team ul li figure {
    float: left;
    margin-bottom: 0;
    width: 100px;
}
.widget_result ul li, .recent_blog_widget ul li {
    margin: 0 0 10px;
}
.recent_blog_widget .infotext p {
    color: #999;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 0;
}
.widget.widget_archive ul li:hover::before, .widget_categories ul li:hover::before {
    color: #fff;
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 10px;
}
.widget {
    float: left;
    margin-bottom: 30px;
}
.widget_categories ul li, .widget_archive ul li, .widget_meta ul li, .widget_nav_menu ul li a, .widget_pages ul li a {
    border-bottom: 1px solid #e4e4e4;
    padding: 8px 0;
}
.post-option li time {
    background-color: #b0b0b0 ;/*background-color: #ec222b ;*/
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-right: 4px;
    padding: 4px 8px;
}
.devider1::after {
    border-top-color: #ef2743 !important;
}
.post-option li a {
    color: #9c9c9c;
    font-weight: 400;
}
.cs-blog.blog-lrg section .title {
    float: left;
    width: 318px;
}
@media only screen and (max-width: 767px) {
	
.cs-blog.blog-lrg section .title {
    float: left;
    width: 100%;
}
.post-option > li.time-xs {
	text-align: left;
   margin-left:0;
	}
}
/*****end blog page******/
/***** blog post page******/
menu, ol, ul {
    padding: 0 ;
}
.blog-editor.rich_editor_text .cs-qoute {
    margin-left: -10px;/* margin-left: -40px;*/
	font-size:26px;
}
.cs-about-author {
    /*background-color: #ffffff;*/
	 background-color: #e6e6e6;
    margin-bottom: 20px;
	
}
.custom-btn.btn-post{
	padding-top:7px;
}
a:focus.btn-post, a:hover.btn-post {
    color: #fff;
    text-decoration: none;
	background-color:#CC3C3C !important
}
.pagination {
    background-color: #ffffff;
	
}
.cs-about-author {
    padding: 20px;
}
.post-option > li.post_time {
	text-align: left;
}
.top-score-title .detail-blog {
	background-color: #fff !important;
    overflow: hidden;	
}
.cs-blog-grid {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}
.pagination li:before {
    color: #999;
    content: "--";
    font-size: 12px;
    left: -6px;
    letter-spacing: -2px;
    position: absolute;
    top: 0;
}
@media only screen and (max-width: 767px) {
.post-option > li.post_time {
	margin-left:0;
}
}
/*****end blog post page******/
/***** team squad page******/
.filter-nav {
    float: left;
    width: 100%;
}
.filter-nav li {
    float: left;
    list-style: outside none none;
    margin: 7px 0 0 1px;
    position: relative;
    z-index: 5;
}
.filter-nav li:first-child {
    margin-left: 0;
}
.filter-nav li a {
    background-color: #e7e7e7;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 14px 20px;
    text-transform: uppercase;
}
.filter-nav li.active a {
    background-color: #fff;
    border-top: 1px solid #ef2743;
    box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.1);
    margin-top: -8px;
    padding: 20px 20px 14px;
    position: relative;
    z-index: 3;
}
.post-option-panel .filter-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 16px;
    font-weight: 700;
    margin-left: 35px;
    padding: 0;
}
.post-option-panel .filter-nav li:first-child a {
    margin-left: 0;
}
.post-option-panel .filter-nav {
    margin-bottom: 20px;
}
.filter-nav li a i {
    margin: 0 5px 0 0;
}
.cs-team, .cs-team .text, .cs-team .text header {
    float: left;
    width: 100%;
}
.cs-team figure {
    float: left;
    margin-bottom: 16px;
    overflow: hidden;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: transform;
    width: 100%;
	background-color: #ececec;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cs-team:hover figure img {
    transform: scale(1.1) rotate(3deg);
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cs-team figure img {
    transform: scale(1);
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cs-team .text .player-no {
    color: #d2d2d2;
    float: left;
    font-size: 50px;
    font-weight: 700;
    line-height: 42px;
}
.cs-team .text h4 {
    float: none;
    margin: 0;
    text-transform: capitalize;
}
.cs-team .text .player-no ~ h4, .cs-team .text .player-no ~ h6 {
    padding: 3px 0 0 70px;
}
.cs-team .text h6 {
    font-weight: 400;
    margin: 3px 0 20px;
	color: #afafaf;
}
figure.detailpost img {
    width: 100%;
}
.frame-plane, .detailpost {
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
}
.team-detail figure.detailpost {
    margin-bottom: 30px;
}
.team-detail .frame-plane figure img, .team-detail .frame-plane figure {
    height: 100%;
    width: 100%;
}
.team-detail .detailpost img {
    float: left;
    width: 26%;/* width: 45%;*/
}
.team-detail .frame-plane a ~ section, .team-detail .detailpost img ~ figcaption {
    background-color: #ececec;
    height: auto;
    padding:5px 20px;/* padding: 22px 30px 15px;*/
    position: absolute;
    right: 0;
    top: 35px;
    width: 55%;
}
.team-detail .detailpost img ~ figcaption {
    background-color: #fff;/* #dfdfdf;background-color: #1d242e;*/
    height: 100%;
    top: 0;
	width:74%
}
.frame-plane section, .team-detail .detailpost figcaption {
    float: left;
    padding: 22px 30px 0;
}
.frtable {
    display: table;
}
.frtable-row {
    display: table-row;
}
.frtabel-cell.imageframe img {
    width: 100%;
}
.frtabel-cell.imageframe {
    width: 45%;
}
.frtabel-cell {
    background-color: #f2f0f1;
    display: table-cell;
    vertical-align: top;
}
.team-detail .frame-plane p {
    padding: 0;
}
.contant-info.cs-team header {
    float: left;
    margin: 0 0 20px;
    width: 100%;
}
.contant-info.cs-team header h1 {
    float: left;
    margin: 15px 0 0;
}
.contant-info.cs-team header .player-no {
    color: #fff;
    float: right;
    font-size: 40px;
    font-weight: 700;
    height: 62px;
    line-height: 60px;
    text-align: center;
    width: 62px;
}
.contant-info.cs-team .cs-seprator {
    margin-bottom: 10px;
}
.contant-info.cs-team .devider1::before {
    border-top: 1px solid #e5e5e5;/* #bfbfbf; border-top: 1px solid #3f454d;*/
}
.player-info, .player-info ul {
    float: left;
    width: 100%;
}
.player-info {
    margin-bottom: 5px;
}
.player-info .right-side li {
    color: #636363;
    float: left;
    font-size: 14px;
    font-weight: 700;
    list-style: outside none none;
    width: 100%;
}
.player-info .left-side li {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    list-style: outside none none;
}
.player-info .left-side {
    background-color: #efefef ;/* #3f3f3f ;background-color: #0e1217;*/
    float: left;
    padding: 20px;
    width: 30%;
	margin-top: 0;
}
.player-info .right-side {
    background-color: #e1e1e1;/* #717171;background-color: #141920;*/
	float: left;
    padding: 20px 20px 20px 27px;
    width: 70%;
	margin-top: 0;
}
h4 a.player-name {
    font-size: 80%;
}
.panel-heading a {
    font-size: 20px;
	
}
@media only screen and (max-width: 768px) {
.col-xs-3.team{
    width:20% !important;
}

}
@media only screen and (max-width: 400px) {
.col-xs-3.team{
    width:25% !important;
}

}
/*****end team squad page******/

/*****player profile page******/
.table-condensed {
    background-color: #fff;
}
.table-condensed tbody tr {
    border-bottom: 1px solid #efefef;
    transition: none;/*transition: all 0.3s ease-in-out 0s;*/
}
.table-condensed tbody tr:hover, .table-condensed tbody tr:focus{
	background-color: #fff;/* #efefef;*/
	/*background-color: transparent !important;*/
    border-bottom:1px solid #efefef;
    transition: none;/* all 0.3s ease-in-out 0s;*/
}
.table-condensed tbody tr:nth-child(2n+1):hover {
    border-bottom:none;
}
.table-condensed tbody tr:nth-child(2n+1) {
    background-color: #f7f7f7;
	border-bottom:none;
}
.table-condensed tbody tr:hover td {
    color: #333;
}
.table-condensed tbody tr td{
    font-size: 12px;
}
.table-condensed tbody tr th{
    font-size: 12px;
	vertical-align: middle;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: none;/* 1px solid #ddd;*/
}
.table-condensed tbody tr td {
    border: none;/* 1px solid #efefef;*/
}

@media only screen and (max-width: 1024px) {
.team-detail .detailpost img {
    width: 30% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 70% !important;
}
}
@media only screen and (max-width: 980px) {
.team-detail .detailpost img {
    width: 22% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 78% !important;
}
.player-info .left-side, .player-info .right-side {
    padding: 10px;
}
}
@media only screen and (max-width: 880px) {
.team-detail .detailpost img {
    width: 27% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 73% !important;
}
.player-info .left-side, .player-info .right-side {
    padding: 10px;
}
}

@media only screen and (max-width: 768px) {
.team-detail .detailpost img {
    width: 28.3% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 71.5% !important;
}
}
@media only screen and (max-width: 767px) {
.team-detail .detailpost img {
    width: 100% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 100% !important;
}
.table-condensed tbody tr td, .table-condensed tbody tr th{
    font-size: 12px;
}
}
@media only screen and (max-width: 400px) {
.team-detail .detailpost img {
    width: 100% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 100% !important;
}
.player-info {
    margin-bottom: 0;
}
.player-info .left-side, .player-info .right-side {
    padding: 10px;
}
.contant-info.cs-team .cs-seprator {
    margin-bottom: 0;
}
.table-condensed tbody tr td, .table-condensed tbody tr th{
    font-size: 11px;
}
}
/*****end player profile page******/
/*****team standing page******/
.match-tbs {
    margin-top:0px;
   border:none;
   background-color:#fff;
}
.match-tbs th{
	text-align:center;
	font-size: 14px;
}
.match-tbs .match-more:hover, .match-tbs .match-tbs-title:hover {
	background: #e0e0e0
}
.match-tbs .match-tbs-title {
    background-color: #e0e0e0;
    border:none;
    color: #333;
    font-weight:bold;
    text-transform: uppercase;
}
.th-height50{
	height:50px;
	background:#fafafa;
}
/*****end team standing page******/
/*****misc updates all pages******/
.carousel-indicators {
    right: 13px;
	bottom: 5px;
}


#footer-tag p.subcrb {
    font-size: 12px !important;
    font-weight: 700;
    margin-top: 20px;
}
#footer-bottom {
   padding: 10px 0;
}
.crk-trending-videos-container h1 {
    margin-top: 20px;
}
#footer-tag #email {
    color: #333;
}
.color-theme-red{
	color:#ef2743 !important;	
}
.full-story{
	text-align:right;font-size:12px;
}
.full-story a{
	 color: #afafaf
}
.full-story a:hover, .full-story a:focus{
	 color: #ef2743
}
.owl-wrapper-outer {
    margin-top: 0px !important;
	}
 .crk-trending-videos-container.adj-top{
	 margin-top:-10px;
	 
 }
 .video-container a {
    background: #212121 url("../images/play.png") no-repeat scroll center center;
    border: medium none;
    display: block;
    transition: all 0.5s ease 0s;
}
.video-container a img {
    opacity: 0.5 !important;
    transition: all 0.5s ease 0s;
}
.video-container a:hover img {
    opacity: 0.7 !important;
}
.customNavigation.more-news{
	top:19px;
}

@media only screen and (max-width: 767px) {
	.navbar-brand {
    	padding-left:20px !important;
	}
	.carousel-caption {
    	padding-bottom: 9px !important;
	}
	.crk-trending-videos-container h1 {
    	font-weight:700;
	}
	.customNavigation.more-news{
		top:-4px;
	}
}
.next-trending{
	margin-top:5px;
	margin-right:10px !important;
}
.next-trending:hover{
	cursor:pointer;
}
@media only screen and (max-width: 480px) {
	.adj-leftblock{
		margin-left:-9px; margin-right:4px
	}
	.adj-rightblock{
		margin-left:-3px; margin-right:-2px
	}
	.news-page{
		margin-left:0 
	}
}

/*****end misc updates all pages******/


