.entry-date {
	background-color: #c4161c !important;
	font-size: 1em !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	text-transform: capitalize;
	letter-spacing: 0;
	padding: 8px 15px 9px !important;
	color: #fff !important;
}

#timeline li:nth-child(odd) .social-icons-timeline {
	
}
#timeline li:nth-child(even) .social-icons-timeline {

}
.social-icons-timeline {
	position: relative;
	text-align: right;
}
.social-icons-timeline li {
	margin-top: 5px;
	margin-left: 0 !important;
}
.social-icons-timeline a {
	border: none !important;
	color: #939393 !important;
	padding: 0px 10px !important;
	font-size: 20px;
}
.social-icons-timeline li a:hover {
	color: #333 !important;
	border-color: #8b9dc3 !important;
}
.social-icons-timeline li a:focus {
	outline: none !important;
}

#timeline > li .hentry:before {
	background: #c4161c !important;
}

.cd-timeline-center-circle {
	height: 95px;
	width: 95px;
	background: #aadea2;
	cursor: pointer;
	transition: 0.2s ease-in;
}
.cd-timeline-center-circle:hover {
	background: #fff;
}
.entry-quote-green {
	background: #aadea2 !important;
	color: #383838 !important;
}
.entry-quote-red {
	background: #c4161c !important;
	color: #fff !important;
}

img.icc-image {
	width: 100%;
}

.hentry .hentry-box {
	padding: 0 20px;
}

p.image-description {
	margin-top: 5px;
	padding-bottom: 10px;
	line-height: 19px;
}

.no-padding {
	padding: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}

.video-block {
	display: inline-block;
	width: 24%;

}

.video-block p {
	margin-top: 0;
}

.video-section {
	margin-left: 20px;
	padding-bottom: 30px;
}

@media(max-width: 540px) {
	.video-section {
		margin-left: 0;
	}
	.video-block {
		width: 49%;
	}
}

.video-block img {
	width: 100%;
	height: auto;
}

.six {
	background: #75ce66 !important;
}

.green-tag {
	background: #aadea2 !important;
	color: #383838 !important;
}

.video-thumbnail img {
	cursor: pointer;
}

.video-play-link {
	position: absolute;
	top: 33%;
	left: 41%;
	z-index: 99;
	transition: 1s ease;
	cursor: pointer;
}

.video-play-link img:hover {
	transform: scale(1.1);
}

.video-thumbnail {
	position: relative;
	height: 100%;
	width: 100%;
}

.video-thumbnail .overlay {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    color: #FFF;
    display: block;
    opacity: 0.5;
    background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, #000); /* Standard syntax */
}

.view-count {
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: #fff;
}
.duration {
	position: absolute;
	bottom: 8px;
	right: 8px;
	color: #fff;
}

/*  2nd Custom css merged as below  */



@media(max-width: 767px) {
    .crk-trending-videos-container h1 {
	    font-size: 16px;	
	}
}

.hentry-box h3{
	font-size: 1.2em;
	letter-spacing: 0;margin-bottom: 10px;
	padding-top: 10px;
}

.filter-icons a{
	text-decoration: none;
}

.filter-icons a:focus{
	outline: none;
}

.timeline-main-menu{
	background: #b5b5b5;
	color: #000;
}
/* .timeline-main-menu a.active{
	background: #333;
	color: #FFF;
}

.timeline-main-menu a:hover{
	text-decoration: none;
	background: #333;
	color: #FFF;
}
.timeline-main-menu a:focus{
	outline: none;
}


.timeline-main-menu {
    text-align: center;
	position: relative;
}
*/
.timeline-main-menu a {
    color: #000;
    text-transform: capitalize;
    letter-spacing: 0;
    cursor: pointer;
	padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin-left: -4px;
}

.filter-icons {
    text-align: center;
    margin-top: 15px;
}

.filter-icons a {
    margin-right: 20px;
    margin-left: 20px;
	display: inline-block;
}

@media(max-width: 767px) { 
	
	.timeline-main-menu a{
		/*font-size: 0.8em !important;
	    padding: 5px !important;*/
	}
	.filter-icons a img{
		width: 40px !important;
	}
	.filter-icons a {
	    margin-left: 5px !important;
	    margin-right: 5px !important;
	}
	#site-container > .timeline_area > .container{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	#site-container{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.social-icons-timeline a {
		padding: 0px 5px !important;
		font-size: 16px;
	}
	#timeline > li .hentry:before {
	    left: -22px !important;
	}
	#timeline:before {
	    left: 14px;
	}
	#timeline > li {
	    padding: 0 0 0 30px !important;
	}
}
@media(min-width: 620px) and (max-width: 767px) { 
	/*.timeline-main-menu a {
	    font-size: 12px !important;
	    margin: 5px 0;
	}*/
}

.entry-quote-white {
	background: #f3f5fb !important;
	color: #000 !important;
}

.commentry {
	padding: 5px 15px;
}
.commentry p{
	margin: 0;
	line-height: 19px;
    /*text-align: justify;*/
}

p.news-sub-title {
    margin-top: 5px;
    margin-bottom: 0;
    color: #949494 ;
}
h3.news-title {
    margin-bottom: 0;
}
.news-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

p.article-sub-title {
    margin-top: 5px;
    margin-bottom: 0;
    color: #949494 ;
    font-style: italic;
}
h3.article-title {
    margin-bottom: 0;
}
.article-image {
    margin-top: 20px;
}
.article-description {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-filter-n div{
	width: 40px;
	height: 40px;
	font-size: 0.8em;
	padding-top: 7px;
	border-radius: 50%;
	border: 1px solid #2459A4;
	color: #2459A4;
}
/*
.btn-filter-n .boom {
	background-image: url(../images/filters/boom.svg);
}
.btn-filter-n .four {
	background-image: url(../images/filters/four.svg);
}
.btn-filter-n .sIx {
	background-image: url(../images/filters/six.svg);
}
.btn-filter-n .wicket {
	background-image: url(../images/filters/wicket.svg);
}
.btn-filter-n .all {
	background-image: url(../images/filters/all.svg);
}
*/
.btn-filter-n div.active, .btn-filter-n div:hover {
	background: #2459A4;
	color: #FFF;
}
/*
.btn-filter-n .boom.active {
	background-image: url(../images/filters/boom_active.svg);
}
.btn-filter-n .four.active {
	background-image: url(../images/filters/four_active.svg);
}
.btn-filter-n .sIx.active {
	background-image: url(../images/filters/six_active.svg);
}
.btn-filter-n .wicket.active {
	background-image: url(../images/filters/wicket_active.svg);
}
.btn-filter-n .all.active {
	background-image: url(../images/filters/all_active.svg);
}
*/
#site-container{
	/*overflow: auto;*/
}

#timeline > li:nth-child(even) .hentry:before{
	left: -27px;
}
#timeline > li {
    padding-top: 60px;
}

.match_result{
	background:transparent linear-gradient(transparent, #000) repeat scroll 0 0;
	width:100%;
	text-decoration: none;
	text-shadow: none;
	display: block;
	padding: 15% 0 10px 25px;;
	text-align: left;
	margin:0;
}
.match_result h2{
	font-size: 30px;
}
.match_result h3{
	font-size: 24px;
}
.match_result h2, .match_result h3{
	margin:5px 0 0;
	color: #FFF;
}
@media screen and (max-width: 767px){
	.match_result {
	    width: 100% !important;
	    padding: 10% 0 10px 10px;
	}
	
	.match_result h2{
		font-size: 20px;
	}
	.match_result h3{
		font-size: 15px;
	}
}

@media screen and (max-width: 427px){
	.end_match{
		background-size: contain !important;
	}
}

.nextPageLoader.text-center {
    font-size: 1em;
}

#content {
    margin: 15px auto 0;
}


@media (min-width: 768px){
	.hentry {
	    margin: 0 auto 0px;
	}
	
	#timeline > li:nth-child(odd){
		float: none;
	}
	#timeline > li:nth-child(even){
		float: none;
		margin-left: 50% !important;
	}
	#timeline > li:nth-child(2n){
		margin: 0px;
		margin-top: -5%;
	}
}

.buy_stream {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px){
	.scorecard_palyer_name{
		width: 67%;
		text-align: left !important;
	}
	.scorecard_palyer_name a{
		font-weight: normal;
	}
}
/********asim 1/17/17*****************/
/**************timeline filter menu****************************/
.timeline-filter-menu{
	/*background: transparent;*/
	background: #f3f5fb !important;
	color: #000; text-align: center; overflow:hidden;
	border: 1px solid #e7e7e7;
}
/*.timeline-filter-menu a.active{
	background: #333;
	color: #FFF;
}

.timeline-filter-menu a:hover{
	text-decoration: none;
	background: #333;
	color: #FFF;
}
.timeline-filter-menu a:focus{
	outline: none;
}


.timeline-filter-menu {
    text-align: center;
}

.timeline-filter-menu a {
    color: #000;
    text-transform: capitalize;
    letter-spacing: 0;
    cursor: pointer;
	padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin-left: -4px;
}*/
.timeline-filter-menu .btn-filters {
  cursor: pointer;
  margin: 2%;
  border-radius: 20px;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 16px;
  transition:  all 0.2s ease 0s;
  -webkit-transition:  all 0.2s ease 0s;
  -moz-transition:  all 0.2s ease 0s;
  -o-transition:  all 0.2s ease 0s;
  display: inline-block;
  
    margin: 10px 2px;
 	width: 21%;
	border: none !important;
}
.timeline-filter-menu .btn-filters.btn-all {
	color: #000;
	background-color: #fff;
	opacity: 0.7;
}

.timeline-filter-menu .btn-filters.btn-6 {
	color: #fff;
	background-color: #55acee;
	opacity: 0.3;
}

.timeline-filter-menu .btn-filters.btn-4 {
	color: #fff;
	background-color: #6db21e;
	opacity: 0.3;
}

.timeline-filter-menu .btn-filters.btn-w {
	color: #fff;
	background-color: #ee1d23;
	opacity: 0.3;
}
.timeline-filter-menu  .btn-filters:hover {
  cursor:pointer;
}
.timeline-filter-menu .gray {
  /*color: #b1b1b1;
  border: 1px #b1b1b1 solid;*/
}

.timeline-filter-menu .gray:hover, .timeline-filter-menu .gray.active{
  
  cursor:pointer;
box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 0px 5px 0 rgba(0, 0, 0, 0.1);
	opacity: 1;
}
@media(max-width: 767px) { 
	
	.timeline-filter-menu .col-xs-offset-3{
		margin-left:0 !important;
	}
}
@media(max-width: 600px) { 
	.timeline-filter-menu .btn-filters {
  	padding: 3px 15px;
	}
	.timeline-main-menu a {
		padding: 5px 10px !important;
		margin-left: auto;
	}
	.btn-timeline, .btn-scorecard {
		padding-top: 0px !important;
	}
	.match_result h2 {
		font-size: 14px;
		font-weight: normal !important;
	} 
	.match_result h3 {
		font-size: 15px;
		font-weight: normal !important;
	}
}
/**************end timeline filter menu****************************/
/********end asim 1/17/17*****************/