#loadingDiv{
    text-align: center;
    margin: 10px 0px;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4fc;
}
.wrapper, .wrapper-main{
    width: 100% !important; position: relative;
}

.item .video-container .video-content .video-description {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin: 0px !important;
    line-height: 1.5em;
    height: 4em;
    font-size: 1em;
}

.item {
    cursor: pointer;
}

#content{
    width: 100% !important;
}

#site-container {
    background: none;
}

video{
    background: #000;
    width: 100%;
}


.ad-logo {
    float: right;
}
.ad-logo img {
   margin-top: 14px !important;
   margin-right: 15px;
    width: 150px;
}/*
.ad-logo img {
   margin-top: 5px;
   margin-right: 5px;
      width: 130px;
}*/
.ad-user{
    float: right;
    margin-top: 15px !important;
   /*margin-right: 15px;*/
    width: 34px;
}

.ad-user img{
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; 
}
.ad-user:hover img, .ad-user:focus img{
    transform: scale(1.15);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; 
}
.ad-logo-sm {
   display: none;
   position: absolute;
   right: 10px;
   top: 0;
}
.ad-logo-sm img {
   margin-right: 5px;
   margin-top: 9px;
   width: 40px;]
}
.user {
   font-size: 26px;
   color: #FFF;
   position: absolute;
   right: 20px;
   top: 25px;
}

a.user:hover, a.user:focus{
    color: #FFF;
}

.navbar-inverse .navbar-toggle {
    border: none;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: rgba(0,0,0,0.2) !important;
}
.navbar-inverse {
   /* max-width: 1170px;*/
    margin: 0 auto;
    border-bottom: 1px solid #d7d7d7  !important;
}

.navbar-collapse .nav li a {
    color: #011906;
    text-transform: capitalize;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    padding-top: 22px;
    width: 100%;
    height: 100%;
    font-weight: normal;
}
.navbar-collapse .nav li a i{
    color: #f78300 ;
}
.navbar {
    background: #fff;
    border-color: transparent;
}

@media(max-width: 767px) { 
    nav.navbar { 
        padding: 0; 
    }
    .navbar-collapse .nav li a {
        padding-left: 10px;
        padding-right: 10px;
    
    }
    .navbar-toggle{
        margin-right: 0px;
    }
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header{
        margin-right: 0px;
    }
    .user {
       right: 50px;
       top: 12px;
    }
}

.navbar-brand {
    padding: 5px 10px;
    height: auto;
    margin-left: auto !important;
}

.navbar-brand:focus {
    outline: none;
}

.navbar-collapse .nav li a:focus {
    outline: none;
}


@media(max-width: 767px) {
    .container{
        padding: 0px;
        /*padding-right: 5px;*/
    }
}

@media(max-width: 767px) {
    .navbar-brand {
        padding-right: 0 !important;
        padding-left: 25px;
    }
    .ad-logo {
        display: none;
    }
    .ad-logo-sm {
        display: block !important;
    }
    .navbar-brand img {
        width: 130px !important;
    }
}

blockquote.entry-quote{
    border-left: none !important;
}

#social-icons li a{
    text-decoration: none;
}

.adds-hrz {
    padding: 5px;
}


/* .container {
    width: 100%;
}*/

/*Footer */
#footer-tag h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 200;
    /* font-size: 20px !important; */
    color: #828386 !important;
}
h3.last-cat {
    margin-bottom: 10px;
}
#footer-tag .last-tips {
    z-index: 9999;
    position: relative;
}
ul.last-tips {
    list-style-type: none;
    padding-left: 0;
}
ul.last-tips li {
    /* border-bottom: 1px solid #b5b5b5; */
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #b5b5b5;
    list-style: none;
}
ul.last-tips li a {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #9a9a9a;
    text-decoration: none;
}
ul.last-tips li a:hover {

    color: #333;
}
#footer-tag .social {
    margin: 10px auto 0;
    padding: 0;
}
#footer-tag .social li {
    display: inline-block;
    list-style-type: none;
    padding: 0 5px;
}
#footer-tag .social li a {
    background: transparent !important;
    font-size: 20px;
}
#footer-tag .social li a i {
    color: #797979;
}
#footer-tag p.subcrb {
    font-size: 20px !important;
    font-weight: 200;
    margin-top: 40px;
}
#footer-tag p {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #b5b5b5;
}
#footer-tag .email {
    position: relative;
}
#footer-tag #email {
    color: #a7b1ba;
    font-size: 16px;
    padding-right: 80px;
}
.footer-newsletters input#email, .footer-newsletters input[type=text] {
    border: 1px solid #e3e3e3;
    /* background-color: #606060; */
    height: 40px;
    padding: 0 10px;
    width: 90%;
    font-size: 12px;
    margin-bottom: 20px;
    color: #ccc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#footer-tag .email .Subscribe {
    font-size: 1.2em;
    left: auto;
    margin: 0 !important;
    padding: 8px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: none;
    width: 40%;
    background: #df4e26;
    font-weight: normal ;
}
.footer-newsletters input[type=submit] {
    /* border: 1px solid #548ad5; */
    background-color: #548ad5;
    padding: 10px 45px;
    font-size: 13px;
    font-weight: 400;
    width: 90%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border: none;
}
@media (min-width:768px) and (max-width:990px) {
    #footer-sec .signup .user-signup input[type="submit"] {
        line-height: 39px!important
    }
    #footer-sec .col-md-4.widget {
        width: 50%;
        float: left
    }
    #footer-sec .widget_text .logo {
        text-align: left;
        padding-left: 7%
    }
}

@media (max-width: 550px) {
    .carousel-caption .small_size{
        font-size: 20px !important;
    }
    .carousel-caption h3{
        font-size: 15px !important;
    }
}

.thumb-title-custom{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: break-word;
    padding: 7px !important;
}

a:focus {
    outline: none !important;
}

@media (max-width: 767px) {
    .event article {
        padding: 20px 0 10px !important;
    }
    .nav > li:hover {
    background: #cfcfcf;
    }
    .nav > li a:hover {
        color: #000 !important;
    }
}
.results-block{
    border-bottom: 6px solid #efefef;
}
.results-block:hover{
    cursor: pointer;
}
.navbar{
    border-radius: 0px;
    z-index: 999;
}


/*------------------------------------------------------------------------------
Footer
------------------------------------------------------------------------------*/

#site-footer #copyright {
    font-size:14px; 
}

/* Footer Widgets */
#footer-widgets {
    padding: 40px 0 0;
    background:#fff;
    border-top: 1px solid #DFDFDF;
}
#footer-widgets .ht-column {
    margin-bottom:20px; 
}

#footer-bottom {
    background: #444;
    color: #fff;
    padding: 20px 0;
    z-index: 999999;
    display: block;
    position: relative;
}

@media (max-width: 767px) {
    .adds-hrz.mt20{
        margin-top: 0px
    }
}
@media (min-width:768px) and (max-width:800px) {
    /* .navbar-collapse .nav li a{
        margin-left: 5px;
    }*/
}

.side_panel_video:hover{
    cursor: pointer;
}

img.video-play-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    top: 0;
    left: 0;
}

.video-container img {
    cursor: pointer;
}

.crop_to_one_line{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
.read_more_anchor{
    font-size: 12px;
    color: #212121 !important;
}
.read_more_anchor:hover{
    color: #c40a0b !important;
}
.read_more_anchor i{
    font-size: 14px;
    color: #7f7f7f;
}

.six_line_elipses {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 24px;     /* fallback */
   max-height: 144px;      /* fallback */
   -webkit-line-clamp: 6; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.bs-example-modal-sm .modal-footer{
    padding: 10px 15px;
}
.tab-links-match li.active a, li.active a:hover{
    border-top: none !important;
    border: none !important;
}
.modal-footer .btn-default {
   background-color: #07569e ;
   border-color: #adadad ;
   color: #fff;
    border:none;
    border-radius:0;
    width:100%;
}

.modal-footer .btn-default:hover {
    box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.25) inset; color: #fff;
    background-color: #07569e ;
   text-decoration: none;
    border:none;
    outline: none !important; 
} 
.modal-footer .btn-default:focus {
    color: #fff;
    background-color: #07569e ;
   text-decoration: none;
    border:none;
    outline: none !important; 
}

.bootstrap-select .btn.active, .bootstrap-select .btn:active{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}