.top-banner-scorecard {
    width: 90%;
    position: relative;
    /* left: 15%; */
    /* top: 20px; */
    margin: 0 auto;
    padding: 10px 0px;
	background-color: #fff;
	border-radius: 5px;
}

.top-banner-scorecard .first-team-container {
	width: 49%;
	display: inline-block;
	padding-right: 10px;
}
.top-banner-scorecard .first-team-container .first-team-content {
	background: #fff;
}

.score-container {
	padding: 10px;
	display: inline-block;
}

.rr-container {
	display: inline-block;
	color: #000;
	margin-top: 40px;
	margin-right: 10px;
}

.score-container .current-score {
	font-size: 25px;
	color: #333;
	letter-spacing: 1px;
	font-weight: normal;
}

.second-team-content .score-container .current-score {
	font-weight: normal;
}

.flag-container{
	display: inline-block; 
	float: right; 
	/*padding: 5px;*/
	margin-top: -10px;
}

.second-team-content .flag-container{
	float: none; 
	padding-top: 9px;
}

.second-team-content .score-container{
	float: right; 
}

.first-team-content{
	padding-right: 10px;
}
.second-team-content{
	padding-left: 10px;
}

.second-team-content .current-score-third-row{
	text-align: right;
}

.current-overs {
    font-size: 19px;
}

.current-score-first-row {
	border-bottom: 1px solid rgb(211, 211, 211);
	margin-left: 10px;
	margin-right: 10px;
}

.current-score-second-row {
	border-bottom: 1px solid rgb(211, 211, 211);
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}
.current-score-second-row .player-score {
	float: right;
}

.current-score-third-row {
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;

}

.first-team-content .current-score-third-row p {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	margin-bottom: 0;
}

.second-team-content .current-score-third-row p {
	overflow: hidden !important;
	margin-bottom: 0;
	font-size: 10px;
	font-weight: normal;
}


.second-team-content .current-score-third-row {
	padding-top: 10px;
    padding-bottom: 3px;
}

.second-team-content .current-score-third-row .ball-circle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 5px;
}

.second-team-content .current-score-third-row p {
	text-align: center;
	margin-top: 2px;
	margin-left: -2px;
	color: #fff;
}

.top-banner-scorecard .first-team-container h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	text-align: left;
	/*background: #125311;*/
	color: #c4161c;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
}
.top-banner-scorecard .second-team-container {
	width: 49%;
	display: inline-block;
	padding-left: 10px;
}
.top-banner-scorecard .second-team-container .second-team-content {
	background: #fff;
}
.top-banner-scorecard .second-team-container h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	text-align: right;
	/*background: #225197;*/
	color: #c4161c;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
}


.top-banner-scorecard .first-team-container {
	width: 100%;
	}
	.first-team-container h3 {
		font-size: 14px;
		padding: 5px !important;
	}
	.second-team-container h3 {
		font-size: 14px;
		padding: 5px !important;
	}
	
	/* .ball-circle {
		height: auto;
		width: auto !important;
		background: none !important;
	}
	.ball-circle p {
		color: #333 !important;
	}*/


.active-bold {
	font-weight: normal;
}

.b-green {
	background: #6db21e;
}
.b-blue {
	background: #55acee;
}
.b-red {
	background: #ee1d23;
}
.b-grey {
	background: #878b96;
}
.current-score-third-row p{
	margin: 0 !important;
}

.top-banner-scorecard .first-team-container h3, .top-banner-scorecard .second-team-container h3 { 
	font-size: 20px !important; 
}

.fill.timeline-page-background-img{
	width: 100%;
	position: relative;
}

.image-wrapper{
	width: 100%;
	background-size: cover;
	height: 100%;
	padding: 10px 0;
	position: relative;
}

.flag-container img{
	width: 60px;
}

@media(max-width: 767px) { 
	
	h3.team-title { 
		font-size: 14px; 
	}
	
	.score-container {
	   padding: 0;
	   display: inline-block;
	}
	.top-banner-scorecard .second-team-container{
		padding-left: 0px
	}
	.top-banner-scorecard .first-team-container{
		padding-right: 0px
	}
	
	.score-container .current-score, .score-container .current-overs{
		font-size: 15px;
	}
	.current-score-second-row .player-name, .current-score-second-row .player-score{
		font-size: 14px;
	}
	 
	.rr-container {
	   margin-top: 0;
	   margin-right: 0;
	}
	
	.current-score-first-row { 
		margin-left: 0px; 
		margin-right: 0px; 
		padding: 0px; 
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.current-score-second-row { 
		margin-left: 0px; 
		margin-right: 0px; 
		padding: 0px; 
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.current-score-third-row {
	   	margin-left: 0px; 
		margin-right: 0px; 
		padding: 0px; 
		padding-top: 11px;
		padding-bottom: 3px;
	}
	
	.flag-container { 
		padding: 0px;
		padding-top: 0px;
	} 
	.hide-sm-screen{
		width: 100% !important;
	}
	.flag-container img{ 
		width: 48px;
	}
	.second-team-content .flag-container{
		padding-top: 0px;
	}
	.first-team-content{
		padding-left: 15px;
		padding-right: 15px;
	}
	.second-team-content{
		padding-left: 15px;
		padding-right: 15px;
	}
	.second-team-content .current-score-second-row{
		text-align: right;
	}
	
	.current-score-second-row .player-score {
		float: none;
	}

	.current-score-second-row .player-score {
		float: none;
	}
	.first-team-content .current-score-third-row{
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media(min-width: 768px) {
	.second-team-content .score-container{
		padding-top: 14px;
	}
}

.vs-circle {
	position: absolute;
    display: inline-block;
    bottom: 22px;
	left: 42.2%;
    background: #fdb913;
    border-radius: 25px;
    
	
	text-align: center;
	font-size: 16px;
	color: #c4161c;
	text-transform: capitalize;
	padding: 8px 15px;
	z-index: 1;
}

.live-stream {
	position: absolute;
    display: inline-block;
    bottom: 22px;
	left: calc(50% - 80px) ;
    background: #fdb913;
    border-radius: 25px;
	padding: 8px 15px;
    z-index: 1;
	
}
.live-stream a{
	text-align: center;
	font-size: 15px;
	color: #c4161c;
	text-transform: capitalize;
	font-weight: bold
}

@media (min-width:768px) and (max-width:800px) {
	.top-banner-scorecard {
	    width: 97%;
	}
}

@media (min-width:901px) and (max-width:1050px) {
	.vs-circle {
		left: 46.8%;
	}
}

@media (min-width: 768px) and (max-width:900px) {
	.vs-circle {
		left: 46.3%;
	}
}

@media (min-width: 300px) and (max-width:767px) {
	.vs-circle {
		font-size: 12px;
	    height: 30px;
	    left: 46.2%;
	    padding-top: 3px;
	    top: 147px;
	    width: 29px;
	}
}
@media (min-width: 441px) and (max-width:550px) {
	.vs-circle {
	    left: 46.6%;
	}
}
@media (min-width: 551px) and (max-width:670px) {
	.vs-circle {
	    left: 47%;
	}
}
@media (min-width: 671px) and (max-width:767px) {
	.vs-circle {
	    left: 47.4%;
	}
}