@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900,100&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700&subset=latin,latin-ext);
body {
	font-family: 'Asap', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px!important;
	letter-spacing: .5px;
	color: #444;
	text-rendering: optimizeLegibility
}
body h1, body h2, body h3, body h4, body h5, body h6 {
	color: #282a2f;
	margin: 0px 0px 8px 0px;
	line-height: 1.5;
	font-family: 'Asap', sans-serif;
	font-style: normal;
	font-weight: 700
}
h1 {
	font-size: 28px
}
h2 {
	font-size: 24px
}
h3 {
	font-size: 22px
}
h4 {
	font-size: 20px
}
h5 {
	font-size: 16px
}
h6 {
	font-size: 14px
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #000
}
p a {
	color: #000
}
p {
	margin-bottom: 10px;
	letter-spacing: .2px;
	line-height: 22px!important
}
a {
	color: #000;
	text-decoration: none;
	cursor: pointer
}
a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none
}
ul {
	margin-bottom: 0px
}
figure {
	position: relative;
	margin-bottom: 6px
}
.clear {
	clear: both;
	line-height: 0;
	font-size: 0
}
img {
	max-width: 100%
}
strong {
	color: #333
}
iframe {
	float: left;
	width: 100%!important;
	border: none
}
.container.fullwidth {
	width: 100%
}
.container.fullwidth .col-md-12 {
	padding: 0px
}
sticky, .wp-caption, .wp-caption-text, .gallery-caption, .bypostauthor {
}
.wp-caption img {
	height: auto
}
.wp-caption.alignnone img, .wp-caption.alignnone {
	width: 100%!important
}
::selection {
	background: #04a4cc;
	color: #fff
}
::-webkit-selection {
background:#04a4cc;
color:#fff
}
::-moz-selection {
background:#04a4cc;
color:#fff
}
select {
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	width: 100%;
	border: 1px solid #d2d2d2;
	color: #666;
	font-size: 14px;
	font-weight: 300;
	height: 40px
}
label {
	color: #333;
	display: block;
	font-weight: 400;
	margin-bottom: 10px
}
button {
	border: none
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 35px;
	padding: 4px 6px;
	font-size: 12px;
	line-height: 20px;
	color: #a9a9a9;
	font-weight: 400;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #e2e2e2
}
form p {
	position: relative;
	float: left;
	width: 100%
}
form p span i {
	position: absolute;
	left: 16px;
	top: 13px;
	color: #474747
}
.element-size-25 {
	width: 25%
}
.element-size-33 {
	width: 33.333%
}
.element-size-50 {
	width: 50%
}
.element-size-67 {
	width: 66.67%
}
.element-size-75 {
	width: 75%
}
.element-size-100, .section-fullwidth {
	width: 100%;
	float: left
}
.element-size-75 .col-md-3 {
	width: 33.3333%
}
.element-size-50 .col-md-3 {
	width: 50%
}
.element-size-25 .col-md-3 {
	width: 100%
}
.element-size-67 .col-md-3 {
	width: 33.4444%
}
.page-content .section-content {
	width: 66%;
	float: left;
	position: relative;
	z-index: 1
}
.section-content {
	width: 75%;
	float: left;
	padding: 0 0px 0 0;
	position: relative;
	z-index: 1
}
.section-sidebar {
	float: left;
	width: 25%;
	padding: 0px 0px 0px 30px
}
.page-sidebar ~ .page-content {
	width: 75%;
	float: right;
	z-index: 9;
	padding-left: 15px;
	padding-right: 0px;
	position: relative
}
.page-content {
	width: 75%;
	float: left;
	z-index: 9;
	padding: 0 15px 0 0;
	position: relative
}
.page-content ~ .page-sidebar {
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	position: relative
}
.page-section, figure img {
	float: left;
	width: 100%
}
.page-content .container {
	width: 100%
}
.page-sidebar {
	width: 25%;
	float: left;
	position: relative
}
.sidebar-color.page-sidebar {
	padding: 0 15px 322550px 15px;
	margin-bottom: -322550px
}
.sidebar-color.page-sidebar .widget {
	position: relative
}
.page-content ~ .sidebar-color.page-sidebar:before {
	content: "";
	height: 100%;
	position: absolute;
	left: -5px;
	top: -50px;
	width: 999em;
	background-color: #eff4f7
}
.sidebar-color.page-sidebar:before {
	content: "";
	height: 100%;
	position: absolute;
	right: -5px;
	top: -50px;
	width: 999em;
	background-color: #eff4f7
}
.sidebar-border {
	float: left;
	width: 100%;
	padding: 20px 20px 0px 20px;
	box-shadow: 0px 0px 4px 2px #e8e8e8;
	margin: 0px 0px 30px 0px
}
[class*="element-size"] {
	float: none!important;
	display: inline-block;
	vertical-align: top;
	margin: 0 -4px 0 0
}
[class*="col-md"] {
	float: none!important;
	display: inline-block;
	vertical-align: top;
	margin: 0 -4px 35px 0
}
.wrapper.wrapper_boxed {
	margin: 40px auto;
	max-width: 1240px;
	position: relative;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,.3)
}
body.logged-in.admin-bar {
	margin-top: 32px
}
#wpadminbar {
	position: absolute
}
.wrapper {
	margin-top: .01em
}
.col-md-9 .col-md-2 {
	width: 20%
}
.col-md-9 .col-md-3 {
	width: 33.3333%
}
.rich_editor_text h1, .rich_editor_text h2, .rich_editor_text h3, .rich_editor_text h4, .rich_editor_text h5 {
	margin-bottom: 10px
}
.rich_editor_text p, .rich_editor_text ul, .rich_editor_text ol {
	margin-bottom: 10px
}
.rich_editor_text ul {
	float: none;
	margin-left: 0px;
	padding-left: 25px;
	list-style: disc
}
.rich_editor_text .liststyle ul {
	padding-left: 0px
}
.rich_editor_text ol {
	margin-left: 0px;
	padding-left: 25px;
	list-style-type: decimal
}
.rich_editor_text li {
	float: none
}
.rich_editor_text ul ul {
	margin-bottom: 0;
	list-style-type: circle
}
img.alignright {
	float: right;
	margin: 0 0px 30px 30px;
	box-shadow: 0 0 3px rgba(0,0,0,.2)
}
img.alignleft {
	float: left;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	margin: 0 30px 30px 0
}
img.aligncenter {
	display: block;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	margin: 0 auto 30px
}
li {
	list-style: disc outside none;
	line-height: 28px
}
ul ul {
	margin-left: 20px
}
ol {
	list-style: decimal;
	float: none;
	padding-left: 15px
}
ol ol {
	margin-left: 20px
}
ol li {
	width: 100%;
	list-style: decimal
}
table {
	max-width: 100%;
	background-color: transparent
}
th {
	text-align: left
}
table {
	width: 100%;
	margin-bottom: 10px
}
dl {
	margin: 20px 0px
}
table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
	line-height: 2.5;
	vertical-align: top;
	border-top: 1px solid #d2d2d2;
	border: 1px solid #d2d2d2;
	padding-left: 7px
}
table thead tr th {
	border-top: 1px solid #d2d2d2
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
	border-top: 1px solid #d2d2d2
}
table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #d2d2d2
}
table>caption+thead>tr:first-child>th, table>colgroup+thead>tr:first-child>th, table>thead:first-child>tr:first-child>th, table>caption+thead>tr:first-child>td, table>colgroup+thead>tr:first-child>td, table>thead:first-child>tr:first-child>td {
	border-bottom: 0
}
table>tbody+tbody {
	border-top: 2px solid #d2d2d2
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 12px 16px
}
p ins {
	color: #999
}
dl dd {
	margin-left: 20px
}
address {
	font-style: italic
}
#cs-comments .text blockquote p {
	width: auto;
	float: none
}
#cs-comments ul li .text ul li {
	list-style: outside;
	float: left;
	width: 100%
}
#cs-comments ul li .text ul ul {
	margin-left: 30px;
	float: left;
	width: 100%
}
#cs-comments ul li .text ol li {
	list-style: inherit
}
.gallery-item img {
	border: none!important;
	padding: 0 5px;
	float: left
}
.wp-caption-text.gallery-caption {
	float: left;
	padding: 0 4px;
	text-align: left;
	width: 100%
}
.page-links {
	float: left;
	padding: 0px 0px 20px 0px;
	text-align: center;
	text-transform: uppercase
}
.page-links span {
	background: #222;
	color: #fff;
	font-size: 11px;
	padding: 5px 10px
}
.page-links a span {
	color: #fff;
	font-size: 11px;
	padding: 5px 10px
}
.page-links span.page-links-title {
	color: #fff
}
.password_protected>form {
	display: inline-block
}
.password_protected {
	float: left;
	text-align: center;
	width: 100%
}
.password_protected p {
	float: left;
	margin: 0;
	width: auto
}
.password_protected input[type="submit"] {
	background-color: #000;
	border: none;
	color: #fff;
	padding: 7px 15px
}
.password_protected .protected-icon a {
	background-color: #000;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	height: 80px;
	margin: 0px 0px 20px 0px;
	padding: 15px 0px 0px 0px;
	width: 80px;
	font-size: 50px
}
#cs-comments .text ul ul {
	margin-left: 20px
}
#cs-comments .text ul li {
	list-style: inside none disc
}
#cs-comments .text blockquote p {
	float: none;
	width: auto
}
#cs-comments ul li .text ul li {
	float: left;
	list-style: outside;
	width: 100%
}
#cs-comments ul li .text ul ul {
	float: left;
	margin-left: 30px;
	width: 100%
}
#cs-comments ul li .text ol li {
	list-style: inherit!important
}
.entry-content img {
	border: 1px solid #ccc;
	max-width: 98%;
	padding: 1%
}
.gallery {
	clear: both;
	margin: 0 auto;
	margin-left: -30px!important;
	overflow: hidden
}
.gallery .gallery-item {
	float: left;
	list-style: none;
	margin: 0px 0 0;
	overflow: hidden;
	padding: 0px 0px 30px 30px;
	text-align: center
}
.gallery-caption {
	font-size: 11px
}
.gallery-item img {
	float: left;
	padding: 0 0px;
	width: 100%
}
.gallery-columns-0 .gallery-item {
	width: 100%
}
.gallery-columns-1 .gallery-item {
	width: 100%
}
.gallery-columns-2 .gallery-item {
	width: 50%
}
.gallery-columns-3 .gallery-item {
	width: 33.33%
}
.gallery-columns-4 .gallery-item {
	width: 25%
}
.gallery-columns-5 .gallery-item {
	width: 20%
}
.gallery-columns-6 .gallery-item {
	width: 16.66%
}
.gallery-columns-7 .gallery-item {
	width: 14.28%
}
.gallery-columns-8 .gallery-item {
	width: 12.5%
}
.gallery-columns-9 .gallery-item {
	width: 11.11%
}
.gallery-columns-10 .gallery-item {
	width: 10%
}
.gallery-columns-11 .gallery-item {
	width: 9.09%
}
.gallery-columns-12 .gallery-item {
	width: 8.33%
}
.gallery-columns-13 .gallery-item {
	width: 7.69%
}
.gallery-columns-14 .gallery-item {
	width: 7.14%
}
.gallery-columns-15 .gallery-item {
	width: 6.66%
}
.gallery-columns-16 .gallery-item {
	width: 6.25%
}
.gallery-columns-17 .gallery-item {
	width: 5.88%
}
.gallery-columns-18 .gallery-item {
	width: 5.55%
}
.gallery-columns-19 .gallery-item {
	width: 5.26%
}
.gallery-columns-20 .gallery-item {
	width: 5%
}
.gallery-columns-21 .gallery-item {
	width: 4.76%
}
.gallery-columns-22 .gallery-item {
	width: 4.54%
}
.gallery-columns-23 .gallery-item {
	width: 4.34%
}
.gallery-columns-24 .gallery-item {
	width: 4.16%
}
.gallery-columns-25 .gallery-item {
	width: 4%
}
.gallery-columns-26 .gallery-item {
	width: 3.84%
}
.gallery-columns-27 .gallery-item {
	width: 3.7%
}
.gallery-columns-28 .gallery-item {
	width: 3.57%
}
.gallery-columns-29 .gallery-item {
	width: 3.44%
}
.gallery-columns-30 .gallery-item {
	width: 3.33%
}
/***********************************typo***********************/
/*@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900,100&subset=latin,latin-ext) ;@import url(http://fonts.googleapis.com/css?family=Asap:400,700&subset=latin,latin-ext) ;*/body {
	font-family: 'Asap', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px!important;
	letter-spacing: .5px;
	color: #444;
	text-rendering: optimizeLegibility
}
body h1, body h2, body h3, body h4, body h5, body h6 {
	color: #282a2f;
	margin: 0px 0px 8px 0px;
	line-height: 1.5;
	font-family: 'Asap', sans-serif;
	font-style: normal;
	font-weight: 700
}
h1 {
	font-size: 28px
}
h2 {
	font-size: 24px
}
h3 {
	font-size: 22px
}
h4 {
	font-size: 20px
}
h5 {
	font-size: 16px
}
h6 {
	font-size: 14px
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #000
}
p a {
	color: #000
}
p {
	margin-bottom: 10px;
	letter-spacing: .2px;
	line-height: 22px!important
}
a {
	color: #000;
	text-decoration: none;
	cursor: pointer
}
a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none
}
ul {
	margin-bottom: 0px
}
figure {
	position: relative;
	margin-bottom: 6px
}
.clear {
	clear: both;
	line-height: 0;
	font-size: 0
}
img {
	max-width: 100%
}
strong {
	color: #333
}
iframe {
	float: left;
	width: 100%!important;
	border: none
}
.container.fullwidth {
	width: 100%
}
.container.fullwidth .col-md-12 {
	padding: 0px
}
sticky, .wp-caption, .wp-caption-text, .gallery-caption, .bypostauthor {
}
.wp-caption img {
	height: auto
}
.wp-caption.alignnone img, .wp-caption.alignnone {
	width: 100%!important
}
::selection {
	background: #04a4cc;
	color: #fff
}
::-webkit-selection {
background:#04a4cc;
color:#fff
}
::-moz-selection {
background:#04a4cc;
color:#fff
}
select {
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	width: 100%;
	border: 1px solid #d2d2d2;
	color: #666;
	font-size: 14px;
	font-weight: 300;
	height: 40px
}
label {
	color: #333;
	display: block;
	font-weight: 400;
	margin-bottom: 10px
}
button {
	border: none
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 35px;
	padding: 4px 6px;
	font-size: 12px;
	line-height: 20px;
	color: #a9a9a9;
	font-weight: 400;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #e2e2e2
}
form p {
	position: relative;
	float: left;
	width: 100%
}
form p span i {
	position: absolute;
	left: 16px;
	top: 13px;
	color: #474747
}
.element-size-25 {
	width: 25%
}
.element-size-33 {
	width: 33.333%
}
.element-size-50 {
	width: 50%
}
.element-size-67 {
	width: 66.67%
}
.element-size-75 {
	width: 75%
}
.element-size-100, .section-fullwidth {
	width: 100%;
	float: left
}
.element-size-75 .col-md-3 {
	width: 33.3333%
}
.element-size-50 .col-md-3 {
	width: 50%
}
.element-size-25 .col-md-3 {
	width: 100%
}
.element-size-67 .col-md-3 {
	width: 33.4444%
}
.page-content .section-content {
	width: 66%;
	float: left;
	position: relative;
	z-index: 1
}
.section-content {
	width: 75%;
	float: left;
	padding: 0 0px 0 0;
	position: relative;
	z-index: 1
}
.section-sidebar {
	float: left;
	width: 25%;
	padding: 0px 0px 0px 30px
}
.page-sidebar ~ .page-content {
	width: 75%;
	float: right;
	z-index: 9;
	padding-left: 15px;
	padding-right: 0px;
	position: relative
}
.page-content {
	width: 75%;
	float: left;
	z-index: 9;
	padding: 0 15px 0 0;
	position: relative
}
.page-content ~ .page-sidebar {
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	position: relative
}
.page-section, figure img {
	float: left;
	width: 100%
}
.page-content .container {
	width: 100%
}
.page-sidebar {
	width: 25%;
	float: left;
	position: relative
}
.sidebar-color.page-sidebar {
	padding: 0 15px 322550px 15px;
	margin-bottom: -322550px
}
.sidebar-color.page-sidebar .widget {
	position: relative
}
.page-content ~ .sidebar-color.page-sidebar:before {
	content: "";
	height: 100%;
	position: absolute;
	left: -5px;
	top: -50px;
	width: 999em;
	background-color: #eff4f7
}
.sidebar-color.page-sidebar:before {
	content: "";
	height: 100%;
	position: absolute;
	right: -5px;
	top: -50px;
	width: 999em;
	background-color: #eff4f7
}
.sidebar-border {
	float: left;
	width: 100%;
	padding: 20px 20px 0px 20px;
	box-shadow: 0px 0px 4px 2px #e8e8e8;
	margin: 0px 0px 30px 0px
}
[class*="element-size"] {
	float: none!important;
	display: inline-block;
	vertical-align: top;
	margin: 0 -4px 0 0
}
[class*="col-md"] {
	float: none!important;
	display: inline-block;
	vertical-align: top;
	margin: 0 -4px 35px 0
}
.wrapper.wrapper_boxed {
	margin: 40px auto;
	max-width: 1240px;
	position: relative;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,.3)
}
body.logged-in.admin-bar {
	margin-top: 32px
}
#wpadminbar {
	position: absolute
}
.wrapper {
	margin-top: .01em
}
.col-md-9 .col-md-2 {
	width: 20%
}
.col-md-9 .col-md-3 {
	width: 33.3333%
}
.rich_editor_text h1, .rich_editor_text h2, .rich_editor_text h3, .rich_editor_text h4, .rich_editor_text h5 {
	margin-bottom: 10px
}
.rich_editor_text p, .rich_editor_text ul, .rich_editor_text ol {
	margin-bottom: 10px
}
.rich_editor_text ul {
	float: none;
	margin-left: 0px;
	padding-left: 25px;
	list-style: disc
}
.rich_editor_text .liststyle ul {
	padding-left: 0px
}
.rich_editor_text ol {
	margin-left: 0px;
	padding-left: 25px;
	list-style-type: decimal
}
.rich_editor_text li {
	float: none
}
.rich_editor_text ul ul {
	margin-bottom: 0;
	list-style-type: circle
}
img.alignright {
	float: right;
	margin: 0 0px 30px 30px;
	box-shadow: 0 0 3px rgba(0,0,0,.2)
}
img.alignleft {
	float: left;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	margin: 0 30px 30px 0
}
img.aligncenter {
	display: block;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	margin: 0 auto 30px
}
li {
	list-style: disc outside none;
	line-height: 28px
}
ul ul {
	margin-left: 20px
}
ol {
	list-style: decimal;
	float: none;
	padding-left: 15px
}
ol ol {
	margin-left: 20px
}
ol li {
	width: 100%;
	list-style: decimal
}
table {
	max-width: 100%;
	background-color: transparent
}
th {
	text-align: left
}
table {
	width: 100%;
	margin-bottom: 10px
}
dl {
	margin: 20px 0px
}
table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
	line-height: 2.5;
	vertical-align: top;
	border-top: 1px solid #d2d2d2;
	border: 1px solid #d2d2d2;
	padding-left: 7px
}
table thead tr th {
	border-top: 1px solid #d2d2d2
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
	border-top: 1px solid #d2d2d2
}
table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #d2d2d2
}
table>caption+thead>tr:first-child>th, table>colgroup+thead>tr:first-child>th, table>thead:first-child>tr:first-child>th, table>caption+thead>tr:first-child>td, table>colgroup+thead>tr:first-child>td, table>thead:first-child>tr:first-child>td {
	border-bottom: 0
}
table>tbody+tbody {
	border-top: 2px solid #d2d2d2
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 12px 16px
}
p ins {
	color: #999
}
dl dd {
	margin-left: 20px
}
address {
	font-style: italic
}
#cs-comments .text blockquote p {
	width: auto;
	float: none
}
#cs-comments ul li .text ul li {
	list-style: outside;
	float: left;
	width: 100%
}
#cs-comments ul li .text ul ul {
	margin-left: 30px;
	float: left;
	width: 100%
}
#cs-comments ul li .text ol li {
	list-style: inherit
}
.gallery-item img {
	border: none!important;
	padding: 0 5px;
	float: left
}
.wp-caption-text.gallery-caption {
	float: left;
	padding: 0 4px;
	text-align: left;
	width: 100%
}
.page-links {
	float: left;
	padding: 0px 0px 20px 0px;
	text-align: center;
	text-transform: uppercase
}
.page-links span {
	background: #222;
	color: #fff;
	font-size: 11px;
	padding: 5px 10px
}
.page-links a span {
	color: #fff;
	font-size: 11px;
	padding: 5px 10px
}
.page-links span.page-links-title {
	color: #fff
}
.password_protected>form {
	display: inline-block
}
.password_protected {
	float: left;
	text-align: center;
	width: 100%
}
.password_protected p {
	float: left;
	margin: 0;
	width: auto
}
.password_protected input[type="submit"] {
	background-color: #000;
	border: none;
	color: #fff;
	padding: 7px 15px
}
.password_protected .protected-icon a {
	background-color: #000;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	height: 80px;
	margin: 0px 0px 20px 0px;
	padding: 15px 0px 0px 0px;
	width: 80px;
	font-size: 50px
}
#cs-comments .text ul ul {
	margin-left: 20px
}
#cs-comments .text ul li {
	list-style: inside none disc
}
#cs-comments .text blockquote p {
	float: none;
	width: auto
}
#cs-comments ul li .text ul li {
	float: left;
	list-style: outside;
	width: 100%
}
#cs-comments ul li .text ul ul {
	float: left;
	margin-left: 30px;
	width: 100%
}
#cs-comments ul li .text ol li {
	list-style: inherit!important
}
.entry-content img {
	border: 1px solid #ccc;
	max-width: 98%;
	padding: 1%
}
.gallery {
	clear: both;
	margin: 0 auto;
	margin-left: -30px!important;
	overflow: hidden
}
.gallery .gallery-item {
	float: left;
	list-style: none;
	margin: 0px 0 0;
	overflow: hidden;
	padding: 0px 0px 30px 30px;
	text-align: center
}
.gallery-caption {
	font-size: 11px
}
.gallery-item img {
	float: left;
	padding: 0 0px;
	width: 100%
}
.gallery-columns-0 .gallery-item {
	width: 100%
}
.gallery-columns-1 .gallery-item {
	width: 100%
}
.gallery-columns-2 .gallery-item {
	width: 50%
}
.gallery-columns-3 .gallery-item {
	width: 33.33%
}
.gallery-columns-4 .gallery-item {
	width: 25%
}
.gallery-columns-5 .gallery-item {
	width: 20%
}
.gallery-columns-6 .gallery-item {
	width: 16.66%
}
.gallery-columns-7 .gallery-item {
	width: 14.28%
}
.gallery-columns-8 .gallery-item {
	width: 12.5%
}
.gallery-columns-9 .gallery-item {
	width: 11.11%
}
.gallery-columns-10 .gallery-item {
	width: 10%
}
.gallery-columns-11 .gallery-item {
	width: 9.09%
}
.gallery-columns-12 .gallery-item {
	width: 8.33%
}
.gallery-columns-13 .gallery-item {
	width: 7.69%
}
.gallery-columns-14 .gallery-item {
	width: 7.14%
}
.gallery-columns-15 .gallery-item {
	width: 6.66%
}
.gallery-columns-16 .gallery-item {
	width: 6.25%
}
.gallery-columns-17 .gallery-item {
	width: 5.88%
}
.gallery-columns-18 .gallery-item {
	width: 5.55%
}
.gallery-columns-19 .gallery-item {
	width: 5.26%
}
.gallery-columns-20 .gallery-item {
	width: 5%
}
.gallery-columns-21 .gallery-item {
	width: 4.76%
}
.gallery-columns-22 .gallery-item {
	width: 4.54%
}
.gallery-columns-23 .gallery-item {
	width: 4.34%
}
.gallery-columns-24 .gallery-item {
	width: 4.16%
}
.gallery-columns-25 .gallery-item {
	width: 4%
}
.gallery-columns-26 .gallery-item {
	width: 3.84%
}
.gallery-columns-27 .gallery-item {
	width: 3.7%
}
.gallery-columns-28 .gallery-item {
	width: 3.57%
}
.gallery-columns-29 .gallery-item {
	width: 3.44%
}
.gallery-columns-30 .gallery-item {
	width: 3.33%
}
