

/****************padding settings***********************/
.p0{
	padding: 0px !important;
}

.pr60 {
	padding-right: 60px !important;
}
.pl60 {
	padding-left: 60px !important;
}
.pr50 {
	padding-right: 50px !important;
}
.pl50 {
	padding-left: 50px !important;
}
.pt50 {
	padding-top: 50px !important;
}
.pb50 {
	padding-bottom: 50px !important;
}
.pr40 {
	padding-right: 40px !important;
}
.pl40 {
	padding-left: 40px !important;
}
.pt40 {
	padding-top: 40px !important;
}
.pt45 {
	padding-top: 45px !important;
}
.pb40 {
	padding-bottom: 40px !important;
}
.pr30 {
	padding-right: 30px !important;
}
.pl30 {
	padding-left: 30px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.pb30 {
	padding-bottom: 30px !important;
}
.pr20 {
	padding-right: 20px !important;
}
.pl20 {
	padding-left: 20px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pb20 {
	padding-bottom: 20px !important;
}
.pr10 {
	padding-right: 10px !important;
}
.pl10 {
	padding-left: 10px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pt15 {
	padding-top: 15px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pr5 {
	padding-right: 5px !important;
}
.pl5 {
	padding-left: 5px !important;
}
.pt5 {
	padding-top: 5px !important;
}
.pb5 {
	padding-bottom: 3px !important;
}
.pr3 {
	padding-right: 3px !important;
}
.pl3 {
	padding-left: 3px !important;
}
.pt3 {
	padding-top: 3px !important;
}
.pb3 {
	padding-bottom: 3px !important;
}
.pr0 {
	padding-right: 0!important;
}
.pl0 {
	padding-left: 0!important;
}
.pt0 {
	padding-top: 0 !important;
}
.pb0 {
	padding-bottom: 0!important;
}
/***********margin settings****************/

.mr50 {
	margin-right: 50px;
}
.ml50 {
	margin-left: 50px;
}
.mt50 {
	margin-top: 50px;
}
.mb50 {
	margin-bottom: 50px;
}
.mr40 {
	margin-right: 40px;
}
.ml40 {
	margin-left: 40px;
}
.mt40 {
	margin-top: 40px;
}
.mb40 {
	margin-bottom: 40px;
}
.mr30 {
	margin-right: 30px;
}
.ml30 {
	margin-left: 30px;
}
.mt30 {
	margin-top: 30px;
}
.mb30 {
	margin-bottom: 30px;
}
.mr20 {
	margin-right: 20px;
}
.ml20 {
	margin-left: 20px;
}
.mt20 {
	margin-top: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.mr10 {
	margin-right: 10px;
}
.ml10 {
	margin-left: 10px;
}
.mt10 {
	margin-top: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.mr5 {
	margin-right: 5px;
}
.ml5 {
	margin-left: 5px;
}
.mt5 {
	margin-top: 5px;
}
.mb5 {
	margin-bottom: 5px;
}
.mr0 {
	margin-right: 0;
}
.ml0 {
	margin-left: 0;
}
.mt0 {
	margin-top: 0;
}
.mb0 {
	margin-bottom: 0;
}
.mr-5 {
	margin-right: -5px;
}
.ml-5 {
	margin-left: -5px;
}
.mt-5 {
	margin-top: -5px;
}
.mb-5 {
	margin-bottom: -5px;
}
.mr-10 {
	margin-right: -10px;
}
.ml-10 {
	margin-left: -10px;
}
.mt-10 {
	margin-top: -10px !important;
}
.mb-10 {
	margin-bottom: -10px !important;
}
.mr-20 {
	margin-right: -20px;
}
.ml-20 {
	margin-left: -20px;
}
.mt-20 {
	margin-top: -20px !important;
}
.mb-20 {
	margin-bottom: -20px !important;
}
/****************borders******************/
.borderb0{
	border-bottom:none !important
}
/***********end margin settings****************/

 @media (max-width: 320px) {
	 .col-xs-p0{
		padding: 0px !important;
		}
	.col-xs-p5{
		padding-left: 5px;
    	padding-right: 5px;
		}
 }
.mtb5{
	margin:5px 0 !important;
		
}
.top10{
	top:10px 
}
.bottom0{
	bottom:0;
}