.top-banner-scorecard {
    width: 70%;
    position: relative;
    /* left: 15%; */
    /* top: 20px; */
    margin: 0 auto;
    padding: 10px 0px 0px;
}

.top-banner-scorecard .first-team-container {
	width: 49%;
	display: inline-block;
	padding-right: 10px;
}
.top-banner-scorecard .first-team-container .first-team-content, .top-banner-scorecard .second-team-container .second-team-content {
	background: rgba(255,255,255,1);
}

.score-container {
	padding: 10px;
	display: inline-block;
}

.rr-container {
	display: inline-block;
	color: #000;
	margin-top: 40px;
	margin-right: 10px;
}

.score-container .current-score {
	font-size: 25px;
	color: #333;
	letter-spacing: 1px;
	font-weight: bold;
}

.second-team-content .score-container .current-score {
	font-weight: normal;
}

.flag-container{
	display: inline-block; 
	float: right; 
	padding: 5px;
}

.second-team-content .flag-container{
	float: none; 
	padding-top: 9px;
}

.second-team-content .score-container{
	float: right; 
}

.first-team-content{
	padding-right: 10px;
}
.second-team-content{
	padding-left: 10px;
}

.second-team-content .current-score-third-row{
	text-align: right;
}

.current-overs {
    font-size: 19px;
}

.current-score-first-row {
	border-bottom: 1px solid rgb(211, 211, 211);
	margin-left: 10px;
	margin-right: 10px;
}

.current-score-second-row {
	border-bottom: 1px solid rgb(211, 211, 211);
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}
.current-score-second-row .player-score {
	float: right;
}

.current-score-third-row {
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;

}

.first-team-content .current-score-third-row p {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	margin-bottom: 0;
}

.second-team-content .current-score-third-row p {
	overflow: hidden !important;
	margin-bottom: 0;
	font-size: 10px;
	font-weight: bold;
}


.second-team-content .current-score-third-row {
	padding-top: 10px;
    padding-bottom: 3px;
}

.second-team-content .current-score-third-row .ball-circle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 5px;
}

.second-team-content .current-score-third-row p {
	text-align: center;
	margin-top: 2px;
	margin-left: -2px;
	color: #fff;
}

.top-banner-scorecard .first-team-container h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	text-align: center;
	background: #125311;
	/*
	background: rgba(223, 194, 33, 0.85) none repeat scroll 0 0;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
   	border-right: 1px solid rgba(255, 255, 255, 0.25);
   	border-top: 1px solid rgba(255, 255, 255, 0.25);
   	*/
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.top-banner-scorecard .second-team-container {
	width: 49%;
	display: inline-block;
	padding-left: 10px;
}

.top-banner-scorecard .second-team-container h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	text-align: center;
	background: #225197;
	/*
	background: rgba(236, 34, 43, 0.65) none repeat scroll 0 0;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
   	border-right: 1px solid rgba(255, 255, 255, 0.25);
   	border-top: 1px solid rgba(255, 255, 255, 0.25);
   	*/
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@media(max-width: 767px) {
	.top-banner-scorecard {
		width: 100%;
		left: 0px;
	}

	.first-team-container h3 {
		font-size: 14px;
		padding: 5px !important;
	}
	.second-team-container h3 {
		font-size: 14px;
		padding: 5px !important;
	}
	
	.ball-circle {
		height: auto;
		width: auto !important;
		background: none !important;
	}
	.ball-circle p {
		color: #333 !important;
		font-size: 0.8em !important;
	}
}

.active-bold {
	font-weight: bold;
}

.b-green {
	background: #1BB885;
}
.b-blue {
	background: #02BDF2;
}
.b-red {
	background: #E84C3D;
}
.b-grey {
	background: #585858;
}
.current-score-third-row p{
	margin: 0 !important;
}

.top-banner-scorecard .first-team-container h3, .top-banner-scorecard .second-team-container h3 { 
	font-size: 20px !important; 
}

.fill.timeline-page-background-img{
	width: 100%;
	position: relative;
}

.image-wrapper{
	width: 100%;
	background-size: cover;
	height: 100%;
}

.flag-container img{
	width: 60px;
}

@media(max-width: 767px) { 
	
	h3.team-title { 
		font-size: 14px; 
	}
	
	.score-container {
	   padding: 0;
	   display: inline-block;
	}
	.top-banner-scorecard .second-team-container{
		padding-left: 0px;
		float: right;
	}
	.top-banner-scorecard .first-team-container{
		padding-right: 0px;
		float: left;
	}
	
	.score-container .current-score, .score-container .current-overs{
		font-size: 0.8em;
	}
	.current-score-second-row .player-name, .current-score-second-row .player-score{
		font-size: 0.7em;
	}
	 
	.rr-container {
	   margin-top: 0;
	   margin-right: 0;
	}
	
	.current-score-first-row { 
		margin-left: 0px; 
		margin-right: 0px; 
		padding: 0px; 
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.current-score-second-row { 
		margin-left: 0px; 
		margin-right: 0px; 
		padding: 0px; 
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.current-score-third-row {
	   	margin-left: 0px; 
		margin-right: 0px; 
		padding: 0px; 
		padding-top: 11px;
		padding-bottom: 3px;
	}
	
	.flag-container { 
		padding: 0px;
		padding-top: 0px;
	} 
	.hide-sm-screen{
		width: 100% !important;
	}
	.flag-container img{ 
		width: 50px;
	}
	.second-team-content .flag-container{
		padding-top: 0px;
	}
	.first-team-content{
		padding-left: 10px;
		padding-right: 15px;
	}
	.second-team-content{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.current-score-second-row .player-score {
		float: none;
	}

	.current-score-second-row .player-score {
		float: right;
	}
	.first-team-content .current-score-third-row{
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 0.7em;
	}
}

@media(min-width: 768px) {
	.second-team-content .score-container{
		padding-top: 14px;
	}
	.second-team-content .current-score-third-row {
	    overflow: hidden;
	    max-height: 40px;
	}
	.first-team-content .current-score-third-row {
	    max-height: 40px;
	    overflow: hidden;
	}
}

.vs-circle {
	position: absolute;
    display: inline-block;
    top: 187px;
    left: 47.2%;
    background: #E84C3D;
    border-radius: 50%;
    width: 54px;
    height: 55px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 15px;
    z-index: 1;
}

@media (min-width:768px) and (max-width:800px) {
	.top-banner-scorecard {
	    width: 85%;
	}
}

@media (min-width:901px) and (max-width:1050px) {
	.vs-circle {
		left: 46.8%;
	}
}

@media (min-width: 768px) and (max-width:900px) {
	.vs-circle {
		left: 46.3%;
	}
}

@media (min-width: 300px) and (max-width:767px) {
	.vs-circle {
		font-size: 12px;
	    height: 30px;
	    left: 46.2%;
	    padding-top: 3px;
	    top: 150px;
	    width: 29px;
	}
}
@media (min-width: 441px) and (max-width:550px) {
	.vs-circle {
	    left: 46.6%;
	}
}
@media (min-width: 551px) and (max-width:670px) {
	.vs-circle {
	    left: 47%;
	}
}
@media (min-width: 671px) and (max-width:767px) {
	.vs-circle {
	    left: 47.4%;
	}
}
.score-card-pipe {
    display: inline;
    margin-right: 5px;
    border-right: 1px solid #000;
    padding: 15px 0px 0px;
}
