
@font-face {
    font-family:'Cocon-Regular';
    src: url('../fonts/Cocon-Regular.eot');
	src: url('../fonts/Cocon-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cocon-Regular.woff2') format('woff2'),
		url('../fonts/Cocon-Regular.woff') format('woff'),
		url('../fonts/Cocon-Regular.svg#Cocon-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}
body, html {
	margin: 0;
	padding: 0;
	font-family:'Cocon-Regular';
	height: 100%;
	max-height: 100%;
	

}
input, button, input:focus, button:focus, .modal, .modal:focus {
	outline: none !important;
	text-decoration: none !important;
}
.ffamily, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family:'Cocon-Regular' !important;
}
#wrapper {
	width: 100%;height: 100%;
}
.social-box .inner {
		width: 100%;
	height: 100%;
}

.latest-collection {
	width: 100%;
	/*border: 1px solid #e9ded0;
	background-color: #fff;*/
	position: relative;
	padding: 0 0 16px 0;
}
/*.latest-collection:before {
	content: '';
	background: url(../images/featured-frame-icon.png) no-repeat left top;
	width: 63px;
	height: 62px;
	position: absolute;
	left: -14px;
	top: -13px;
}
.latest-collection:after {
	content: '';
	background: url(../images/featured-frame-icon-2.png) no-repeat left bottom;
	width: 63px;
	height: 62px;
	position: absolute;
	right: -14px;
	bottom: -13px;
}*/
.latest-collection-inner {
	width: 100%;
	position: relative !important;
	padding-top: 10px;
}
.latest-content{
	width: 100%; padding:0 10px;
}

.brands-section {

	width: 100%;
	/* background-color: #522f13;
	background-image: url(../images/img-blur-client.jpg);
	background-size:100%;
	background-position: center top;
	background-repeat: repeat;*/
	padding: 0 0 20px 0;
}

.lower-footer {
	width: 100%;
	/*height: 30px;
	float: left;*/
	position: relative;
	/*margin-top: -20px;*/
}

.lower-footer .inner {
	width: 100%;
	float: left;
	/*padding: 31px 0 0 0;*/
	position: relative;
}
.copyrights {
	/*float: right;*/
	width: 100% !important;
	padding: 13px 0 0 0;
	position: relative;
	text-align:center
}

.copyrights strong.copy {
	font-size: 13px !important;
	font-family:'Cocon-Regular';
	line-height: 14px;
	color: #fff;
	font-weight: normal;
}
.copyrights strong.copy a.link {
	color: #00b7db;
	text-decoration: none;
}
.copyrights strong.copy a.link:hover {
	text-decoration: underline;
}
.update * {
	float: left;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#wrapper{
 /*display:none*/
}

.language {
	cursor: pointer;
	right: 10px;
	position: absolute;
	top: 10px;
	transition: all 0.2s ease-in-out 0s;
	/*padding: 14px 10px;*/
	border-radius: 50px;
	border: none;
	background: #ee6e23;
	color: #fff;
	/*font-weight: bold;*/
	font-size:14px;
	text-decoration:none;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	text-align: center;

	}
.language:hover {
	color: #fff;
	text-decoration:none;
	 transform: scale(1.2);
    transition: all 0.2s ease-in-out 0s;
}
.language:hover, .language:focus{
	outline: none !important;
}

.color-success{
    color:#7aa333 !important
}
.color-red{
	color: #e31702 !important;
}
.color-gray{
	color: #747474 !important;
}
.color-light-gray{
	color: #555 !important;
}.color-dark{
	color: #1b2b2a !important;
}.bg-color-light-gray{
	background-color: #f7f7f7;
}
/*************live jeem*************/
		.input-jazz{
			background:#fff; width: 100%;margin: 5px auto; height: 40px; padding: 10px; color:#444; border: none;font-family:'Cocon-Regular'; border-bottom: 1px solid #444; margin-bottom: 10px; text-align: center !important; font-size: 16px; text-decoration: none !important;
	}
	.btn-continue{
		background:#a90000; width: 100%;margin: 5px auto; height: 40px; padding: 10px; color:#fff; font-size: 20px; border: none;font-family:'Cocon-Regular';
	}
.img-jeem{
	padding:0px 10px; width: 100% 
}
.bg-img-jeem{
	padding:20px 10px; width: 100% 
}
.input-number{
	margin-left: 15%
}
.message {
	padding: 0 10px;
}
.message .alert {
    padding: 10px 15px;
	margin-bottom: 10px;
}
/***************************media ****************************************/
@media only screen and (max-width : 480px){
	
	.btn-continue{
		
		font-size: 16px; padding: 2px 10px 0;
	}
	
}