.entry-date {
	background-color: #c4161c !important;
	font-size: 14px !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 8px 15px 9px !important;
}

#timeline li:nth-child(odd) #social-icons {
	
}
#timeline li:nth-child(even) #social-icons {

}
#social-icons {
	position: relative !important;
	float: right;
	top: 0 !important;
	right: 0 !important;
}
#social-icons li {
	margin-top: 5px;
	margin-left: 0 !important;
}
#social-icons li a {
	border: none !important;
	color: #3b5998 !important;
	padding: 5px !important;
	font-size: 16px !important;
}
#social-icons li a:hover {
	color: #8b9dc3 !important;
	border-color: #8b9dc3 !important;
}
#social-icons li a:focus {
	outline: none !important;
}

#timeline > li .hentry:before {
	background: #c4161c !important;
}

.cd-timeline-center-circle {
	height: 95px;
	width: 95px;
	background: #aadea2;
	cursor: pointer;
	transition: 0.2s ease-in;
}
.cd-timeline-center-circle:hover {
	background: #fff;
}
.entry-quote-green {
	background: #aadea2 !important;
	color: #383838 !important;
}
.entry-quote-red {
	background: #c4161c !important;
	color: #fff !important;
}

img.icc-image {
	width: 100%;
}

.hentry .hentry-box {
	padding: 0 20px;
}

p.image-description {
	margin-top: 10px;
}

.no-padding {
	padding: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}

.video-block {
	display: inline-block;
	width: 24%;

}
.ad-logo {
	margin-top: 0px!important;
}

.video-block p {
	margin-top: 0;
}

.video-section {
	margin-left: 20px;
	padding-bottom: 30px;
}

@media(max-width: 540px) {
	.video-section {
		margin-left: 0;
	}
	.video-block {
		width: 49%;
	}
}

.video-block img {
	width: 100%;
	height: auto;
}

.six {
	background: #75ce66 !important;
}

.green-tag {
	background: #aadea2 !important;
	color: #383838 !important;
}

.video-thumbnail img {
	cursor: pointer;
	width: 100%;
}

.video-play-link {
	position: absolute;
	top: 33%;
	left: 41%;
	z-index: 99;
	transition: 1s ease;
	cursor: pointer;
}

.video-play-link img:hover {
	transform: scale(1.1);
}

.video-thumbnail {
	position: relative;
	height: 100%;
	width: 100%;
}


.view-count {
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: #fff;
}
.duration {
	position: absolute;
	bottom: 8px;
	right: 8px;
	color: #fff;
}

/*  2nd Custom css merged as below  */

.carousel-caption{
	background:transparent linear-gradient(transparent, #000) repeat scroll 0 0;
	bottom:0;
	width:100% !important;
	left:0

}

.carousel-caption a {
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	/*background-color: rgba(0,0,0,0.3);*/
	display: block;
	padding: 10px 0 0 25px;;
	text-align:left;
	margin:0;
	
}
.carousel-caption a:hover {
	/*color: #245AA5;*/
}
.carousel-caption a:focus {
	outline: none;
}

.carousel-caption a h2, .carousel-caption a h3{
	margin:5px 0 0;
}
.carousel-indicators{
	margin:0; left:auto; right:25px; width:auto;
}
.customNavigation {
	position: absolute;
	right: 0;
	top: 25px;
}
.customNavigation a {
	font-size: 15px;
	color: #807e7e;
}
.customNavigation a i{
	margin-left: 10px;
	color: #808080;
	font-size: 18px;
}
.crk-trending-videos-container h1 {
	margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: none;
    font-size: 22px;
    /*text-transform: uppercase;*/
    letter-spacing: 0px;
    margin-bottom: 0px !important;
	font-weight: normal !important
}
.widget h2{
	font-size: 22px !important;
	font-weight: normal !important
}
#memes .social-icons {
	margin-top: 15px;
}

.item .video-container .video-content .social-icons {
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
	.item .video-container .video-content .social-icons a {
		padding: 2px 5px;
		text-decoration: none;
		color: #939393;
	  	text-align: center;
	    text-decoration: none;
        font-size: 15px;
	}
}
.item .video-container .video-content .social-icons a:hover {
	color: #333;
}
.item .video-container .video-content .social-icons a:focus {
	outline: none;
}

.item .video-container img {
	width: 100%;
}

.item .video-container .video-content {
	border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
}

.item .video-container .video-content .video-description {
	padding: 10px 5px;
	font-size: 14px;
}

.item .video-container .video-content .video-description.author {
	padding-top: 0px !important;
	color: #8a8a8a;
	font-size: 13px;
	
}


.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


@media(max-width: 1199px) {
	.customNavigation {
		top: 17px;
	}
}
.video-container .video-content .video-description{
		
	    padding: 10px !important;
	   	/*height: 3.2em !important;*/
	   	line-height: 1.3em !important;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	}
@media(max-width: 767px) {
    .crk-trending-videos-container h1 {
	    font-size: 16px;
		line-height:normal;	
	}
	.customNavigation a {
	    font-size: 12px;
	}
	
	.video-container .video-content .video-description{
		/*font-size: 0.8em !important;*/
	    
	}
	
}
@media(max-width: 340px) {
    .video-container .video-content .video-description{
		/*font-size: 0.8em !important;
		height: 5.2em !important;*/
	    
	}
}
@media screen and (min-width: 768px){
	.carousel-caption {
	    /*left: 25% !important;*/
	    width: 100% !important;
	    padding-bottom: 10px !important;
	}
}


@media (max-width: 540px) {
    span.video-view-count {
        font-size: 10px;
    }
    span.video-duration {
        font-size: 10px !important;
        bottom: 5px !important;
    }
    span.video-duration::before {
        font-size: 10px !important;
    }
}

span.video-view-count {
    position: absolute;
    bottom: 3px;
    left: 0px;
    color: #fff;
    line-height: 14px;
    background: #000;
    padding: 5px 10px;
}

span.video-duration {
    position: absolute;
    bottom: 3px;
    right: 8px;
    color: #fff;
    /*font-size: 1em;*/
    font-family: 'Lato', sans-serif;
}

span.video-duration::before {
    font-size: 1em;
}

.video-thumbnail {
    position: relative;
   height: 100%;
   width: 100%;
}

.video-thumbnail .overlay {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #FFF;
    display: block;
}
.scorecard {
	background-color: #f2f2f5;
	border-radius: 5px;
	font-size: 19px;
	font-weight: bold;
}
.sc-title {
	height: 50px;
	background-color: #4A4D59;
	display: flex;
	align-items: center;
	color: #fff;
	padding-left: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.sc-row {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
}
.border-btm {
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.sc-row img {
	max-height: 45px;
	width: auto!important;
}
.sc-row:nth-child(3) {
	color: rgba(0,0,0,0.5);
}
.sc-row:last-child {
	background-color: #fff;
	margin: 0;
	padding: 0 20px;
	height: 50px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 17px;
}
.sc-row:last-child span:last-child {
	color: rgba(0,0,0,0.5);
}
.sc-row-lg {
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.sc-row-lg img {
	max-height: 65px;
	width: auto!important;
}
.owl-next {
	position: absolute;
    right: -75px;
    top: 85px;
    width: 40px;
    height: 40px;
    background: #fff!important;
    border-radius: 50%!important;
}
.owl-prev {
	position: absolute;
    left: -75px;
    top: 85px;
    width: 40px;
    height: 40px;
    background: #fff!important;
    border-radius: 50%!important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
	color: #333!important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #fff!important;
}
.no-padding-left {
	padding-left: 0!important;
}
.live-tag {
    background-color: #DF0000;
    height: 50px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    vertical-align: middle;
}
.live-tag-triangle {
    width: 0;
    display: inline-block;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #DF0000;
    vertical-align: middle;
    margin-left: -4px;
}
.wrapper-sc {
	width: calc(100% - 200px);
	margin: 0 auto;
}
@media(max-width: 999px) {
	.wrapper-sc {
		width: calc(100% - 50px);
		margin: 0 auto;
	}	
}
.winner-dot {
	width: 6px;height: 6px;border-radius: 50%;background-color: #DF0000;vertical-align: middle;
	display: inline-block; margin-right: 5px;
}
.winner-team {
	display: inline-block;vertical-align: middle;
}
.wrapper-main {margin-bottom: 10px!important;}
.pr-0 { padding-right: 0!important; }
.pb-5 { padding-bottom: 5px!important; }
.pt-5 { padding-top: 5px!important; }
.sixteen-by-nine {
	padding-bottom: 40%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.heading-lg {
	font-weight: bold!important;
	margin: 0!important;
	color: #fff!important;
	padding-bottom: 0!important;
}
.heading-sm {
	margin-top: 5px!important;
	margin-bottom: 10px!important;
	padding-left: 5px;
}
.play-icon-ov {
	width: auto!important;
	height: 100%;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.play-icon-ov-sm {
	width: 250px!important;
	height: 100%;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.container-description {
	margin-left: 10px;
	font-size: 16px;
}
.container-description p {
	color: rgba(0,0,0,0.5);
	margin-bottom: 5px;
}
.container-description p:first-child {
	color: #333;
	cursor: pointer;
}
.container-description p:first-child:hover {
	text-decoration: underline;
}
.container-description-lg {
	margin-left: 10px;
	font-size: 18px;
}
.container-description-lg p {
	color: rgba(0,0,0,0.5);
	margin-bottom: 5px;
}
.container-description-lg p:nth-child(2) {
	color: #000;
	cursor: pointer;
}
.container-description-lg p:nth-child(3) {
	color: rgba(0,0,0,0.7);
}
.container-description-lg p:first-child {
	text-transform: uppercase;
}
.container-description-lg p:nth-child(2):hover {
	text-decoration: underline;
}
@media(max-width: 767px) {
	.hide-xs-screen {
		display: none;
	}
	.xs-screen-adjust {
		padding: 0;
	    padding-right: 0px!important;
	    padding-top: 5px;
	}
	.heading-sm {
		padding-left: 0;
	}
	.no-xs-padding {
		padding: 0!important;
	}
}
