*:focus {
    outline: none;
}
.box {
    text-align: left;
}
a{
    color: #333;
    text-decoration: none;
}
a:focus, a:hover {
    color: #ee1d23;
    text-decoration: none;
}
a:focus h2, a:hover h2 {
    color: #ee1d23 !important;
    text-decoration: none;
}
/*blockquote {
    font-size: 26px !important;
}*/
#videos_page .col-lg-1, #videos_page  .col-lg-10, #videos_page  .col-lg-11, #videos_page  .col-lg-12, #videos_page  .col-lg-2, #videos_page  .col-lg-3, #videos_page  .col-lg-4, #videos_page  .col-lg-5, #videos_page  .col-lg-6, #videos_page  .col-lg-7, #videos_page  .col-lg-8, #videos_page  .col-lg-9, #videos_page  .col-md-1, #videos_page  .col-md-10, #videos_page  .col-md-11, #videos_page  .col-md-12, #videos_page  .col-md-2, #videos_page  .col-md-3, #videos_page  .col-md-4, #videos_page  .col-md-5, #videos_page  .col-md-6, #videos_page  .col-md-7, #videos_page  .col-md-8, #videos_page  .col-md-9, #videos_page  .col-sm-1, #videos_page  .col-sm-10, #videos_page  .col-sm-11, #videos_page  .col-sm-12, #videos_page  .col-sm-2, #videos_page  .col-sm-3, #videos_page  .col-sm-4, #videos_page  .col-sm-5, #videos_page  .col-sm-6, #videos_page  .col-sm-7, #videos_page  .col-sm-8, #videos_page  .col-sm-9, #videos_page  .col-xs-1, #videos_page  .col-xs-10, #videos_page  .col-xs-11, #videos_page  .col-xs-12, #videos_page  .col-xs-2, #videos_page  .col-xs-3, #videos_page  .col-xs-4, #videos_page  .col-xs-5, #videos_page  .col-xs-6, #videos_page  .col-xs-7, #videos_page  .col-xs-8, #videos_page  .col-xs-9 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
#videos_page .row {
    margin-left: -10px;
    margin-right: -10px;
}
#videos_page .entry-date {
    padding: 0px 10px !important;
}
@media(min-width: 320px) {
 #videos_page   .container{
    	padding: 0 5px !important;
    }
}

.right-column {
    /*margin-bottom: 20px;*/
    padding: 0;
}
/***line style**/

.cs-seprator {
    float: left;
    height: 20px;
    margin: 0;/*margin: 0 0 15px;*/
    position: relative;
    text-align: center;
    width: 100%;/*margin-bottom: 15px;*/
	padding-left: 5px;
	padding-right:5px;
}
.devider1 {
    float: left;
    position: relative;
    width: 100%;
	margin-top: 10px;
}
.devider1::before {
    border-top: 1px solid #c4161c;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.devider1::after {
    border-top: 1px solid #fdb913  !important;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}

.crk-trending-videos-container h1 {
	/*margin-top: 30px;
	padding-bottom: 7px;*/
	border-bottom: none;
	/*font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 1px;*/
	margin-bottom:0;
	padding:0 5px 10px;
	color:#111;
}

/***end line style**/
/***social media**/
.socialmedia {
    float: left;
}
.socialmedia ul li {
    float: left;
    list-style: outside none none;
}
.socialmedia ul li a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 32px;
    margin: 0 5px 5px 0;
    text-align: center;
    width: 32px;
	position:relative
}
.socialmedia ul li a i.google{
	position: absolute;
    top: 6px;
    left: 5px;
}
.socialmedia ul li a:hover {
	text-decoration:none;
	opacity:0.9;	
}
.socialmedia ul li a.addthis_button_pinterest {
    background-color: red;
    margin: 0 4px 0 0;
}
.socialmedia ul li a[data-original-title="Facebook"] {
    background-color: #305891;
}
.socialmedia ul li a[data-original-title="twitter"] {
    background-color: #2ca8d2;
}
.socialmedia ul li a[data-original-title="google-plus"] {
    background-color: #ce4d39;
}
.socialmedia ul li a[data-original-title="pinterest"] {
    background-color: #c82828;
}
.socialmedia ul li a[data-original-title="envelope"] {
    background-color: #738a8d;
}
.socialmedia ul li a[data-original-title="Tumblr"] {
    background-color: #c82828;
}
.socialmedia ul li a[data-original-title="Dribbble"] {
    background-color: #ce4d39;
}
.socialmedia ul li a[data-original-title="twitter"] {
}
.socialmedia ul li a[data-original-title="stumbleupon"] {
    background-color: #c82828;
}
.socialmedia ul li a[data-original-title="Youtube"] {
    background-color: #305891;
}
.socialmedia ul li a[data-original-title="Instagram"] {
    background-color: #738a8d;
}
.socialmedia ul li a.new-look{
	background-color: transparent !important;
	color: #bcbec0 !important;
	height: 24px;
    width: 24px;
}
.socialmedia ul li a.new-look:hover .fa-facebook{
 color: #305891 !important;
}
.socialmedia ul li a.new-look:hover .fa-twitter{
 color: #2ca8d2 !important;
}
.socialmedia ul li a.new-look:hover .fa-google-plus{
 color: #ce4d39 !important;
}
@media(max-width: 400px) {
 footer .copyright{
	 /*margin: 0 0 10px 20%;*/
 }
 footer .socialmedia{
	 margin:0 30% 0 0;
 }
}
/***end social media**/

/*************heading style*******************/
.cs-section-title {
	/*float: left;*/
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 13px;
}
.cs-section-title::before, .cs-section-title::after {
	border-top: 1px solid #e5e5e5;
	content: "";
	height: 1px;
	left: 100%;
	margin-left: 10px;
	position: absolute;
	top: 30px;
	width: 7700px;
}
.cs-section-title.no_style::before, .cs-section-title.no_style::after {
	border: none
}
.comment-respond .cs-section-title h2::before {
	top: 11px;
}
.cs-section-title::after {
	left: auto;
	margin-right: 10px;
}
.cs-section-title.adj::after {
	width: 83%;
}
.cs-section-title h2.adj {
	left: -40.5%;
}
.cs-section-title h2 {
	display: inline-block;
	font-size: 18px;
	position: relative;
	text-transform: uppercase;
}
.cs-section-title h2::before {
	border-style: solid;
	border-width: 1px 0 0;
	content: "";
	height: 1px;
	position: absolute;
	right: -70px;
	top: 15px;
	width: 60px;
	z-index: 5;
}
.cs-section-title h2.no_style {
/*font-weight: 100*/
}
.cs-section-title h2.no_style::before {
	border: none
}
.cs-section-title h2.no_style::after {
	border: none
}
.post-option-panel .cs-section-title::before, .post-option-panel .cs-section-title::after, .post-option-panel h2::before {
	display: none;
}
.main-history .cs-section-title {
	margin-bottom: 60px;
}
.cs-section-title h2 {
	font-size: 18px!important
}
/*************end heading style*******************/
/***********main sub nav***************/

.nav > li:hover {
    background: transparent;
	
}
.nav > li:hover.user-status {
    background-color: #f0eef0 !important;
   
}
.nav > li.user-status .edit-profile{
	display: inline-block; width: auto; padding: 5px 10px; font-size: 20px; float: right;
}
.nav > li:hover a{
    background: transparent;
	/*color:#ee1d23  !important;*/
}
.navbar li a:hover, .navbar li a:focus{
	/*color: #ee1d23;*/
    border-top:none;
    /*border-bottom: 1px solid #ee1d23;*/
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    /*color: #ee1d23;*/
    background-color: transparent;
}
.navbar li.active a, li.active a:hover, li.active a:focus {
	/*color:#ee1d23  !important;*/
    border-top:none;
    /*border-bottom: 1px solid #ee1d23;*/
	background-color: transparent !important
}
.navbar.sub-navbar{
	background-color:#555;
	min-height: inherit;
	position:absolute;
	width:100%
}
.sub-navbar .nav > li a:hover {
    color: #fff !important;
}
.sub-navbar .nav.navbar-nav{
	margin-top:0
	
}
.sub-navbar .navbar-toggle{
	margin:0;
	width:100%;
	text-align:left;
}
.sub-navbar .nav.navbar-nav > li:hover{
	background-color:#353535
}
.sub-navbar .nav.navbar-nav > li a:hover {
    border-top:none;
    border-bottom:none;
}
.sub-navbar .nav.navbar-nav > li.active, .sub-navbar .nav.navbar-nav > li.active{
    background-color:#ee1d23;
}
.sub-navbar .nav.navbar-nav > li.active a, .sub-navbar .nav.navbar-nav > li.active a:hover {
    background-color:#ee1d23;
	border:none
}
.sub-navbar .nav.navbar-nav a {
    padding-bottom: 5px;
    padding-top: 5px;
}

/***********end main sub nav***************/
/***********more button***************/

#news-section .ca-more {
	color: #fff
}

#news-section .ca-more-vertical {
	color: #fff
}
#news-section .ca-more:hover {
	color: #ccc
}

.ca-more-resp {
	display: none
}
.ca-more {
	position: absolute;
	bottom: 10px;
	right: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	color: #333
}
.news-content .ca-more {
	margin-right: 20px;
	margin-bottom: 10px
}
.ca-more i {
	color: #fff;
	font-size: 14px;
	margin-right: 5px;
	padding: 2px 5px 3px;
	background: #548ad5 ;
}
.ca-more:hover i {
	color: #000;
	text-decoration: none;
	background: #74aaf5;
}
.ca-more:hover {
	color: #000;
	text-decoration: none
}

.data-news-pg .ca-more {
	position: relative
}
.right-content .ca-more {
	margin-top: 10px;
	position: relative;
	float: right
}
.match-more a.ca-more {
	float: right;
	position: relative;
	bottom: 0;
	background: #212121;
	color: #fff;
	margin-right: 10px
}
/***********end more button***************/
.result-date {
	color: #ebebeb;
	font-size: 60px;
	padding-top: 20px;
	text-align: center;
}
.result-month {
	color: #a7a7a7;
	display: block;
	font-size: 20px;
	padding-bottom: 12px;
	padding-top: 30px;
	text-align: center;
}

.ad-logo {
	float: right;
	position: relative !important;
	right: -14px;
}
.navbar-collapse .nav {
	/*margin-left: 16% !important;
	margin-top: 5px;*/
}
/* .navbar-nav {
    height: 65px;
}*/
.nav > li {
    border-left: 1px solid #dcdcdc;
    height: 65px;
}
.nav > li:last-child {
    border-right: 1px solid #dcdcdc;
}
.navbar-header {
    margin-right: 20px !important;
}
.wrapper {
	background-color: #767E8E;
	box-shadow: none;
	margin: 0 auto;
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding-top: 10px;
}
.wrapper-main {
	background-color: #fff !important;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.02);
	margin: 0 auto;
	position: relative;
	max-width: 1170px;
	display: block;
}
.item {
	/*background: #fff none repeat scroll 0 0;*/
	cursor: pointer;
}
.navbar {
	padding: 0;
}
.ad-logo img {
	margin-top: 0px;/*width: 150px;*/
}
.navbar-brand img {
	width: 150px;
}
.right-last-photo {
	padding: 0;
}
.adds-hrz {
	width: 100%;
}
.adds-hrz img {
	width: 100%;
}
.carousel {
    margin-top:0;
	border-top: 10px solid #fff;
}
.carousel-caption a {
    padding: 10px 0 0 14px;
}
.carousel-caption a h2, .carousel-caption a h3 {
    margin: 5px 0 0;
}
.carousel-caption a:hover h2, .carousel-caption a:hover h3, .carousel-caption a:focus, .carousel-caption a:focus {
    color: #dfdfdf !important;
}

.carousel-caption a .upcoming{
background:#cd8900;padding:4px 10px 5px; font-weight: normal; display:inline-block;font-size: 20px	
}

.carousel-caption a .livenow{
background:#c4161c;padding:3px 10px; font-weight: normal;	 display:inline-block;font-size: 20px
}
.carousel-caption a .watch{
background: rgba(0, 0, 0, 0.7); font-weight: 100; padding:3px 10px; font-size: 18px; display:inline-block
}
.carousel-caption a .watch i{
	padding-left: 5px;
}
	/*
.carousel-caption a:hover .watch{
	color:#e20009
}*/
.carousel-caption a .score{
	font-weight: normal; font-size: 18px;
}
@media (max-width: 550px) {
	.carousel-caption .small_size{
		font-size: 14px !important;
	}
	.carousel-caption h3{
		font-size: 14px !important;
	}
	.carousel-caption a .watch{
		 padding:3px 10px; font-size: 14px;
		}
		.carousel-caption a .score{
		 font-size: 14px;
		}
}

/***************article section*****************/
.cs-blog.cs-blog-grid .h4, .cs-blog.cs-blog-grid h4 {
    font-size: 18px;
    font-weight: normal;
}
  .item .cs-blog-grid{
	/*border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;*/
	border:none;
  }
/***************end article section*****************/

/*****************videolist *************************/

.cric-lockup-content {
	overflow: hidden;
	position: relative;
	/*border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;*/
	background-color: #fff;
	cursor:pointer;
}
.cric-lockup-title {
	font-size: 13px;
	color: #535353 !important;
	margin-bottom: 1px;
	max-width: 100%; font-weight: normal;
}
/*video thumbnails on play*/
.video-container {
    padding-top: 0px;
}
/*end video thumbnails on play*/

.cric-ui-ellipsis-2::before {
	top: 1.3em;
}
.cric-ui-ellipsis::before {
	content: "…";
	right: 5px;
}
.cric-ui-ellipsis::before {
	background-color: inherit;
	position: absolute;
}
.cric-ui-ellipsis::after {
	content: "";
	height: 100%;
	width: 100%;
}
.cric-ui-ellipsis::after {
	background-color: inherit;
	position: absolute;
}
.cric-uix-expander-collapsed .cric-ui-ellipsis {
	overflow: hidden;
}
.cric-lockup-title a, .cric-lockup:hover a, .cric-lockup:hover .cric-lockup-meta a, .cric-lockup:hover .cric-lockup-description a {
	color: #167ac6;
}
.cric-ui-ellipsis-2 {
	max-height: 2.6em;
}
.cric-ui-ellipsis {
	background-color: #fff;
	display: block;
	line-height: 1.3em;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
}
.cric-lockup-title{
	padding: 5px 5px 0px !important;
}
a, abbr, acronym, address, applet, b, big, blockquote {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
.cric-lockup .cric-lockup-meta a, .cric-lockup .cric-lockup-description a, .cric-lockup .cric-lockup-byline a {
	color: #767676;
}
.cric-lockup-grid .cric-lockup-meta {
	max-width: 100%;
}
.cric-lockup-meta {
	display: block;
}

ul {
	list-style: outside none none;
}
.cric-lockup-meta-info > li:first-child::before {
	display: none;
}
.cric-lockup-meta-info > li::before {
	content: "•";
	margin: 0 5px;
}
.cric-lockup-meta-info > li:last-child {
	margin-right: 0;
}
.cric-lockup-meta-info > li {
	font-size: 11px;
	display: inline-block;
	line-height: 1.3em;
	color:#8e8e8e
}
.cric-lockup-meta-info.views > li {
	font-size: 14px;
	
}
.cric-lockup-meta-info.views-left > li {
	font-size: 14px;
	display:none
}

@media only screen and (max-width: 400px) {

/*.cric-lockup-meta-info.views > li {
	display:none;
}*/	
.cric-lockup-meta-info.views-left > li {
	display:block
}
}
.btn-ok{
	background:url(../images/left_arrow.png) no-repeat center right;
	width: 176px;
	font-size: 20px !important;
    padding-left: 30px !important;
    text-align: left;
	line-height: 10px;
}

.btn-more{
	/*background:url(../images/left_arrow.png) no-repeat center right;*/
	width: auto !important;
	font-size: 20px !important;
    padding: 10px  40px !important;
    text-align: left;
	background-color:#ee1d23  !important;
	line-height:25px;
	border:none;
	color:#fff;
}
.btn-ok:hover, .btn-more:hover{
	background-color:#666 !important;
	box-shadow:none !important;
}
.btn-ok.full-width, .btn-more.full-width {
	width: 100%;
}
/*right side list videos*/
.widget_team ul li figure {
	float: left;
	margin-bottom: 0;
	width: 100px
}
.recent_blog_widget ul li figure ~ .infotext, .widget_team ul li figure ~ .infotext {
	padding-left: 110px;
	text-align: left;
	
}
.widget.widget_team ul li {
	text-align: right;
	float: left;
	padding: 0;
	padding-bottom: 10px
}
.widget_team ul li p, .widget_team ul li a {
	line-height: normal;
	text-align: left
}
.widget #lang_sel_list ul a {
	padding: 5px 0px;
	border-bottom: 1px solid #eee
}
.widget_team ul li .infotext {
	font-size: 30px;
	color: #4d4d4d;
	font-weight: normal;
	text-align: left;
	padding-top: 0;
	line-height: none
}
.widget_team ul li:hover:before {
	display: none
}
.widget_team ul li:hover a {
	color: #222
}
.widget_team .infotext p {
	color: #999;
	font-size: 12px;
	margin-bottom: 3px;
	font-weight: normal;
	margin-top: 0;
}
.widget_team .infotext a {
	color: #222;
	font-size: 12px;
	font-weight: normal;
	line-height: none;
	display: block;
	margin-top: -4px;
}
/*end right side list videos*/

.list_space_mng_big{
	padding-right:5px
}
@media only screen and (min-width: 992px) {
	.list_space_mng{
		padding-right:5px
	}
	.list_space_mng_side{
		padding-right:10px
	}
}
@media (max-width: 991px) {
	.list_space_mng, .list_space_mng_side{
		padding-right:5px;
		padding-left: 5px;
	}
	.list_space_mng_big{
		padding-right:5px;
		padding-left: 5px;
	}
}
.item .video-container .video-content {
    background: #fff none repeat scroll 0 0;
    /*border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;*/
	border:none;
}
.video-container .video-content {
    background: #fff none repeat scroll 0 0;
    border:none;
	
}
/*****************end videolist*************************/

/*****scorecard******/
/*stylefromball*/
.column, .columns {
	padding-left: 0.57692em;
	padding-right: 0.57692em;
	width: 100%;
	float: left;
	position: relative
}

hr.secondary-hr {
	border-color: #eaeaea;
	margin-top:10px;
	margin-bottom:10px
}
hr.thick-2 {
	border: 1px solid #464141
}

.innings-information .team-1-name, .innings-information .team-2-name {
	font-size: 18px;
	margin: 0
}
.innings-information .team-1-name .innings-1-score, .innings-information .team-1-name .innings-2-score, .innings-information .team-2-name .innings-1-score, .innings-information .team-2-name .innings-2-score {
	font-weight: bold
}
.innings-information .team-1-name .innings-current, .innings-information .team-2-name .innings-current {
	color: #07569e
}
.innings-information .innings-requirement {
	padding: 5px 0px;
	font-size: 11px;
	 line-height: 16px;
}
.match-information div {
	font-size: 12px;
	padding: 2px 0;
	font-size: 11px
}
hr.border-top-score-squad {
	margin: 10px 0 0 0
}
table.score-table, table.squad-table {
	margin: 0px 0 10px 0
}
table.score-table th, table.score-table td, table.squad-table th, table.squad-table td {
	height: 22px;
	font-size: 11px
}
table.score-table th span.current-time-info, table.score-table td span.current-time-info, table.squad-table th span.current-time-info, table.squad-table td span.current-time-info {
	font-weight: normal
}
table.score-table .match-status-info {
	float: left
}
table.score-table .match-n-time-head {
	padding-right: 5px;
	min-width: 124px
}
table.score-table .career-head {
	border-left: 1px solid #eaeaea
}
table.squad-table {
	border-bottom: 2px solid #464141;
	padding-bottom: 5px;
	margin-bottom: 5px
}
table.squad-table .match-status-info {
	float: left
}
table.squad-table .current-time-info {
	float: right
}
table.squad-table table.team-1, table.squad-table table.team-2 {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea
}
table.squad-table table.team-1 .team-1-name, table.squad-table table.team-1 .team-2-name, table.squad-table table.team-2 .team-1-name, table.squad-table table.team-2 .team-2-name {
	font-weight: normal;
	border-bottom: 1px solid #eaeaea
}
table.squad-table table.team-1 .player-names, table.squad-table table.team-2 .player-names {
	line-height: 1.6em
}
table.squad-table table.team-2 {
	border-bottom: none
}
table.batsmen td, table.batsmen th, table.batsmen-career td, table.batsmen-career th, table.bowlers td, table.bowlers th, table.bowlers-career td, table.bowlers-career th {
	padding: 0px 4px 0 0;
	text-align: right
}
table.batsmen th, table.batsmen-career th, table.bowlers th, table.bowlers-career th {
	font-weight: normal;
	color: #737373;
	font-weight: normal;
	background: #e7e7e7;
	padding: 5px;
}
.batting-table {
	margin: 10px 0px
}
.batting-table th {
	font-weight: normal;
	background: #d0f2f0;
	text-align: right;
	font-size: 11px
}
.batting-table th.th-innings-heading {
	text-align: left;
	padding-left: 5px;
}
.batting-table th.th-sr {
	width: 8%
}
.batting-table th.th-r, .batting-table th.th-m, .batting-table th.th-b {
	width: 5%
}
.batting-table th.th-4s, .batting-table th.th-6s {
	width: 4%
}
.batting-table th:last-child {
	padding-right: 5px
}
.batting-table tr.tr-heading {
	border-bottom: none
}
.batting-table tr.dismissal-detail {
	display: none;
	background: #F7F7F7
}
.batting-table tr.dismissal-detail td {
	text-align: left;
	padding: 5px
}
.batting-table td {
	text-align: right;
	/*height: 20px;*/
	font-size: 11px;
	line-height: 1.7em;
}
.batting-table td:last-child {
	padding-right: 5px
}
.batting-table td.batsman-name {
	width: 26%;
	font-weight: normal;
	text-align: left
}
.batting-table td.td-icon-expand-collapse {
	padding: 0;
	width: 2%;
	text-align: left
}
.batting-table td.td-icon-expand-collapse img {
	margin-top: -3px
}
.batting-table td.dismissal-info {
	width: 41%;
	text-align: left
}
.batting-table td.extra, .batting-table td.extra-details {
	text-align: left
}
.batting-table td.total {
	font-weight: normal;
	text-align: left
}
.batting-table td.total-details {
	text-align: left
}
.batting-table td.rpo {
	text-align: center
}
.batting-table td.dismissal-detail {
	text-align: left;
	padding: 5px
}
.batting-table .total-wrap td {
	
}
.bowling-table {
	margin: 10px 0px
}
.bowling-table th {
	font-weight: normal;
	background: #e7e7e7;
	text-align: right;
	font-size: 11px
}
.bowling-table th.th-innings-heading {
	text-align: left;
	padding-left: 5px;
}
.bowling-table th.th-o, .bowling-table th.th-m, .bowling-table th.th-r {
	width: 6%
}
.bowling-table th.th-w {
	width: 6%
}
.bowling-table th.th-econ {
	width: 8%
}
.bowling-table th:last-child {
	padding-right: 5px
}
.bowling-table tr.tr-heading {
	border-bottom: none
}
.bowling-table tr td {
	font-size: 11px
}
.bowling-table tr.dismissal-detail {
	display: none;
	background: #F7F7F7
}
.bowling-table tr.dismissal-detail td {
	text-align: left;
	padding: 5px
}
.bowling-table tr.tr-last {
	border-bottom: none
}
.bowling-table td {
	text-align: right;
	/*height: 20px;*/
	line-height:1.7em;
}
.bowling-table td.bowler-name {
	font-weight: normal;
	text-align: left;
	width: 26%
}
.bowling-table td.td-icon-expand-collapse {
	padding: 0;
	width: 2%;
	text-align: left
}
.bowling-table td.td-icon-expand-collapse img {
	margin-top: -3px
}
.bowling-table td.td-extra {
	text-align: left;
	padding-left: 30px;
	width: 40%
}
.match-details-block .match-information div {
	line-height: 20px;
	font-size: 12px
}
.more-match-stats {
	font-size: 11px
}
.more-match-stats p {
	margin-bottom: 0;
	padding: 2px 0;
	line-height:1.4em
}
.more-match-stats span.head {
	padding: 0 2px 0 0;
	font-weight: bold
}
.more-match-stats .recent-overs {
	line-height: 16px;
	padding: 0px;
	  background-color: #d0f2f0;
	  padding:5px
}
.more-match-stats .recent-partnership {
	line-height: 16px;
	padding: 0px;
	 
}
.more-match-stats .recent-partnership  span.head {
	float: left
}
.more-match-stats .recent-partnership ul.recent-over {
	padding: 0px 5px;
	float: left;
	margin-bottom: 0
}
.more-match-stats .recent-overs span.head {
	float: left
}
.more-match-stats .recent-overs ul.recent-over {
	padding: 0px 5px;
	float: left;
	border-right: 1px solid;
	margin-bottom: 0
}
.more-match-stats .recent-overs ul.recent-over li {
	font-size: 11px;
	text-align: center;
	line-height: 16px;
	margin: 2px;
	width: 14px
}
.more-match-stats .current-partnership img.icon-partnership {
	padding: 0 4px 3px 0
}
/* end stylefromball*/

.player-vs .tab-content .tab-content {
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}
.player-vs .tab-links-match li {
	width: auto;
}
.batting-table th {
	background: #eaebed;
	
}
.bowling-table th {
	background: #eaebed;
}
#scorecard a, #scorecard a:visited, #scorecard a:hover, #scorecard .comment-action i {
	color: #515151 !important;
}
a.fowLink {
	color: #515151 !important;
}

@media only screen and (max-width: 400px) {
	.hide-sr {
		display: none !important;
	}
	.tr-heading th {
		width: 8% !important;
	}
}
/***** end scorecard******/
/***** styling red******/

.video-desc {
    margin-top: 0;
	background-color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:5px;
	  border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
.video-desc p.video-arg {
    border-left:none;/*border-left: 3px solid #548ad5;*/
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
	margin:10px 10px 10px 0
}
.ca-more.timeline {
    background: #ee1d23;
	color:#fff;
	padding:6px 20px 7px 0;
	bottom:-10px;
	font-size:16px;
	left:0;
	right:auto;
	position:relative;
    
}
.ca-more.timeline:hover {
	color:#c7c7c7;
}
.ca-more.timeline i {
    background: #bc1010;
	padding:8px 18px;font-size:16px;
	margin-left:2px;
    
}
.ca-more.timeline:hover i {
    background: #bc1010;
    color: #fff;

}
.extra-large-btn.has_icon i {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    float: left;
    line-height: 45px;
    min-width: 45px;
    font-size: 20px;
}
.cs-bg-color, .cs-bgcolor, .cs-bgcolorhover:hover, .navigation ul > li:hover > a, .cs-tags ul li:hover a, .share-btn, .custom-btn, .team-detail figure figcaption header .player-no, .cs-tags ul li a:hover, .share-btn, form p.form-submit input[type="submit"], .team-detail figure figcaption header .player-no, .cs-qoute .cs-auther-name::before, .woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .widget_archive ul li:hover, .widget_categories ul li:hover, .widget_pages ul > li:hover > a, .widget_meta ul li:hover, .widget_nav_menu ul > li:hover > a, .tagcloud a:hover, #wp-calendar tbody tr td#today, .widget_calendar thead, .history-list article h4::before, .history-grid article h4::before, .spreater-holder span::before, form p.form-submit input[type="submit"], .main-section .button_style .default, .flat, .main-section .strock, .main-section .three-d, #footer-sec .signup .user-signup input[type="submit"], .cart-sec span.qnt {
    background-color: #ee1d23 !important;
}
.cs-borcolor, .cs-borcolorhover:hover, .cs-section-title h2::before, .widget-section-title h2::before, .woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .cs-section-title h2::before, .filter-nav li.active a, .products li a span::before {
    border-color: #ee1d23 !important;
}
.cs-color, .cs-colorhover:hover, .post-option li a:hover, .filter-nav li.active a, .prev .left-arrow, .prev-next-post article.next .right-arrow, .prev-next-post article.prev::after, .social-media ul li a:hover, #copyright P a, .footer-tweets ul li .text a, .navigation ul .sub-dropdown > li:hover > a, .social-media ul li a:hover i, .post-option li a:hover, .woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button, .woocommerce #content input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .recent_blog_widget ul li a:hover, .widget_team ul li a:hover, .recent_blog_widget ul li a:hover, .widget_result ul li a:hover, .twitter-logo a, .footer-tweets ul li i, .navigation ul .sub-dropdown > li:hover > a, .social-media ul li a:hover i, .blog-grid .text h2 i, .widget_blog ul li i, .prev-next-post a .icon-list8, .pagination li a:hover, .pagination li.pgprev:hover img, .woocommerce #content table.cart a.remove, .woocommerce table.cart a.remove, .woocommerce-page #content table.cart a.remove, .woocommerce-page table.cart a.remove {
    color: #ee1d23 !important;
}

.button_style .default, .flat, .strock, .three-d {
    background-color: #ee1d23;
    
}
.button_style:hover .default, .flat, .strock, .three-d {
    background-color: #dc121b;
	text-decoration:none
}
/***** end styling red******/
/***** video thumbnails on homepage******/

.video-thumbnail .overlay {
    height: 30%;
    opacity: 0.8;
    top: 70%;
}
.video-container img:hover + img  {
    cursor: pointer; opacity:1;
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.video-play-icon {
    opacity:0.3;
	-webkit-transition: all .5s ease;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.video-play-icon:hover {
    opacity:1
}

/***** end video thumbnails on homepage******/
/***** news carousel at home******/

.news-page {
	margin-bottom: 10px;
	background: #fff;
	/*box-shadow: 0 1px 2px rgba(0,0,0,.3);*/
	padding: 10px !important;
	/*border: 1px solid #d3d3d3;*/
	box-shadow: none;
	/*margin-left: 1%;*/
    width:100%;
	float: left;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 0px 3px 0 rgba(0, 0, 0, 0.1);
	position: relative
}
.news-page:first-child {
	/*margin-left: 0px;*/
}

.news-page > div{
	/*box-shadow: 0 1px 2px rgba(0,0,0,.3);
	padding: 10px;
	border: 1px solid #eee*/
}
.news-page img {
	/*border: 1px solid #ccc*/
	margin-left: -5px;
}
.news-page .col-md-10 {
	/*width: 75%*/
	margin-bottom:20px
}
.data-news-pg p {
	font-weight: normal;
	margin-left: 0px;/*margin-left: 5px;*/
	text-align: left;
	line-height: normal;
	font-size: 14px;
	margin-bottom: 9px/*margin-bottom: 15px*/;
	position:relative;
	margin-top: 10px;
	color: #666;
}
.data-news-pg p.news-dd {
	line-height: normal;
	padding: 0 6px;
	margin-bottom: 15px;
	/*background: #548ad5;*/
	color: #fff;
	margin-left: 0;
	font-weight: normal;
}
.data-news-pg .news-list {
	padding-left: 10px;
}
.data-news-pg p.news-dd.news-list {
	padding-left: 10px;
}
.news-page p.news-dd {
	line-height: normal;/*line-height: 25px;*/
	padding: 0;/*padding: 0 6px;*/
	margin-bottom: 0px;
	/*background: #548ad5;*/
	color: #afafaf;
	margin-left: 0;
	font-size: 13px;
	font-weight: 100;
	 margin-top: 0;
}
.news-dd > i{
	font-size: 12px;
	font-weight: normal;
}
.data-news-pg h3 {
	margin-top: 0;
	font-size: 18px;
	text-align: left;
	font-weight: normal ;
	margin-bottom: 20px
}
.news-page h3 {
	margin-top: 0;
	font-size: 18px;
	text-align: left;
	font-weight: normal ;
	margin-bottom: 10px;
	letter-spacing:normal;
	color:#555
}
.data-news-pg .ca-more {
	position: relative
}
.news-more {
	margin-top:0;
	padding: 0;
	text-align: right;
	 height: 0;
}
.news-page-page {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px
}
.news-page-page span {
	padding: 5px 10px;
	background: #548ad5;
	margin-right: 5px;
	/*border: 1px solid #548ad5*/;
	color: #fff
}
.news-page-page span:hover {
	background: #74aaf5 ;
	/*border: 1px solid #548ad5*/;
	cursor: pointer
}
.news-page-page span.news-page-active {
	/*border: 1px solid #548ad5*/;
	background: #74aaf5;
	color: #fff
}
.news-page-page span.page-point {
	background: #e7e7e7;
	border:1px solid #d3d3d3;
	color: #000;
}
.news-page.hom_slider {
    background: transparent;
    border:none;
    box-shadow:none;
    margin-bottom: 20px;
    padding: 0 5px;
}
.data-news-pg.pl10{
	padding-left: 0px ;	
}
@media only screen and (max-width: 768px) {
	.news-page{
		/*width:50% !important;*/
		/*margin-right: 15px;
		width: 48% !important;*/
		 padding: 5px !important;

	}
	.news-page:nth-child(2n){
		margin-right: 0px;
	}
	
.data-news-pg .news-list {
		padding-left: 0px;
	}	
.data-news-pg p.news-dd.news-list {
		padding-left: 0px;
	}

}
@media only screen and (max-width: 640px) {
	.col-md-6.col-sm-6.pl0.pr10 {
    padding-right: 0 !important;
	}
}
@media only screen and (max-width: 400px) {
	.news-page{
		/*width:50% !important;*/
		/*margin-right: 15px;
		width: 100% !important;*/
		 padding: 5px !important;
		/* width:48.5%;*/
		 margin-left:2.5%;

	}
	.news-page:nth-child(2n){
		margin-right: 0px;
	}
	.data-news-pg.pl10{
	padding-left: 5px !important;	
	}
	.data-news-pg p {
    font-size: 12px;
	}
	
}
/*****end  news carousel at home******/

/*****result page******/

@media only screen and (max-width: 767px) {
	
	.news-page img {
		margin-left:auto;
	}
	.event.event-samll article {
		border-bottom: medium none;
		margin-left: 0;
		width: 100%;
	}
.match-result > figure {
    text-align: left;
}
.event article {
    padding: 5px 0 !important;
}
	.top-score-title img.result-img {
    width: 70%;
}
.post-option{
	padding-left:0;	
}
.post-option > li {
	color: #777;
  font-size: 12px !important;
    text-align: center;
    width: 100%;
	
	}
	
}
/*****end result page******/

/*****blog page******/
.cs-blog.blog-lrg {
    border-bottom: 1px solid #e5e5e5;
    background-color:#fff;
	padding:10px 10px 30px;
}
.widget_recent_entries li::before, .widget_meta li::before, .widget_nav_menu li::before, .widget_pages li::before, .widget_archive li::before, .widget_recent_comments li::before, .widget_categories li::before {
    color: #1a1a1a;
   content: "";
    /*font-family: FontAwesome;*/
    font-size: 13px;
    left: 5px;
    position: absolute;
    top: 0;
}
.recent_blog_widget ul li figure, .widget_team ul li figure {
    float: left;
    margin-bottom: 0;
    width: 100px;
}
.widget_result ul li, .recent_blog_widget ul li {
    margin: 0 0 10px;
}
.recent_blog_widget .infotext p {
    color: #999;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 0;
}
.widget.widget_archive ul li:hover::before, .widget_categories ul li:hover::before {
    color: #fff;
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 10px;
}
.widget {
    float: left;
    margin-bottom: 10px; /*margin-bottom: 30px;*/
}
.widget_categories ul li, .widget_archive ul li, .widget_meta ul li, .widget_nav_menu ul li a, .widget_pages ul li a {
    border-bottom: 1px solid #e4e4e4;
    padding: 8px 0;
}
.post-option li time {
    background-color: #b0b0b0 ;/*background-color: #ee1d23 ;*/
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-right: 4px;
    padding: 4px 8px;
}
/* .devider1::after {
    border-top-color: #ee1d23 !important;
}*/
.post-option li a {
    color: #9c9c9c;
    font-weight: 400;
}
.cs-blog.blog-lrg section .title {
    float: left;
    width: 318px;
}
@media only screen and (max-width: 767px) {
	
.cs-blog.blog-lrg section .title {
    float: left;
    width: 100%;
}
.post-option > li.time-xs {
	text-align: left;
   margin-left:0;
	}
}
/*****end blog page******/
/***** blog post page******/
menu, ol, ul {
    padding: 0 ;
}
.blog-editor.rich_editor_text .cs-qoute {
    margin-left: -10px;/* margin-left: -40px;*/
	font-size:26px;
}
.cs-about-author {
    /*background-color: #ffffff;*/
	 background-color: #e6e6e6;
    margin-bottom: 20px;
	
}
.custom-btn.btn-post{
	padding-top:7px;
}
a:focus.btn-post, a:hover.btn-post {
    color: #fff;
    text-decoration: none;
	background-color:#CC3C3C !important
}
.pagination {
    background-color: #ffffff;
	
}
.cs-about-author {
    padding: 20px;
}
.post-option > li.post_time {
	text-align: left;
}
.top-score-title .detail-blog {
	background-color: #fff !important;
    overflow: hidden;	
}
.cs-blog-grid {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}
.pagination li:before {
    color: #999;
    content: "--";
    font-size: 12px;
    left: -6px;
    letter-spacing: -2px;
    position: absolute;
    top: 0;
}
@media only screen and (max-width: 767px) {
.post-option > li.post_time {
	margin-left:0;
}
}
/*****end blog post page******/
/***** team squad page******/
.filter-nav {
    float: left;
    width: 100%;
}
.filter-nav li {
    float: left;
    list-style: outside none none;
    margin: 7px 0 0 1px;
    position: relative;
    z-index: 5;
}
.filter-nav li:first-child {
    margin-left: 0;
}
.filter-nav li a {
    background-color: #e7e7e7;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 14px 20px;
    text-transform: uppercase;
}
.filter-nav li.active a {
    background-color: #fff;
    border-top: 1px solid #ee1d23;
    box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.1);
    margin-top: -8px;
    padding: 20px 20px 14px;
    position: relative;
    z-index: 3;
}
.post-option-panel .filter-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 16px;
    font-weight: normal;
    margin-left: 35px;
    padding: 0;
}
.post-option-panel .filter-nav li:first-child a {
    margin-left: 0;
}
.post-option-panel .filter-nav {
    margin-bottom: 20px;
}
.filter-nav li a i {
    margin: 0 5px 0 0;
}
.cs-team, .cs-team .text, .cs-team .text header {
    float: left;
    width: 100%;
}
.cs-team figure {
    float: left;
    margin-bottom: 16px;
    overflow: hidden;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: transform;
    width: 100%;
	background-color: #ececec;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cs-team:hover figure img {
    transform: scale(1.1) rotate(3deg);
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cs-team figure img {
    transform: scale(1);
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cs-team .text .player-no {
    color: #d2d2d2;
    float: left;
    font-size: 50px;
    font-weight: normal;
    line-height: 42px;
}
.cs-team .text h4 {
    float: none;
    margin: 0;
    text-transform: capitalize;
}
.cs-team .text .player-no ~ h4, .cs-team .text .player-no ~ h6 {
    padding: 3px 0 0 70px;
}
.cs-team .text h6 {
    font-weight: 400;
    margin: 3px 0 20px;
	color: #afafaf;
}
figure.detailpost img {
    width: 100%;
}
.frame-plane, .detailpost {
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
}
.team-detail figure.detailpost {
    margin-bottom: 30px;
}
.team-detail .frame-plane figure img, .team-detail .frame-plane figure {
    height: 100%;
    width: 100%;
}
.team-detail .detailpost img {
    float: left;
    width: 26%;/* width: 45%;*/
}
.team-detail .frame-plane a ~ section, .team-detail .detailpost img ~ figcaption {
    background-color: #ececec;
    height: auto;
    padding:5px 20px;/* padding: 22px 30px 15px;*/
    position: absolute;
    right: 0;
    top: 35px;
    width: 55%;
}
.team-detail .detailpost img ~ figcaption {
    background-color: #fff;/* #dfdfdf;background-color: #1d242e;*/
    height: 100%;
    top: 0;
	width:74%
}
.frame-plane section, .team-detail .detailpost figcaption {
    float: left;
    padding: 22px 30px 0;
}
.frtable {
    display: table;
}
.frtable-row {
    display: table-row;
}
.frtabel-cell.imageframe img {
    width: 100%;
}
.frtabel-cell.imageframe {
    width: 45%;
}
.frtabel-cell {
    background-color: #f2f0f1;
    display: table-cell;
    vertical-align: top;
}
.team-detail .frame-plane p {
    padding: 0;
}
.contant-info.cs-team header {
    float: left;
    margin: 0 0 20px;
    width: 100%;
}
.contant-info.cs-team header h1 {
    float: left;
    margin: 15px 0 0;
}
.contant-info.cs-team header .player-no {
    color: #fff;
    float: right;
    font-size: 40px;
    font-weight: normal;
    height: 62px;
    line-height: 60px;
    text-align: center;
    width: 62px;
}
.contant-info.cs-team .cs-seprator {
    margin-bottom: 10px;
}
.contant-info.cs-team .devider1::before {
    border-top: 1px solid #e5e5e5;/* #bfbfbf; border-top: 1px solid #3f454d;*/
}
.player-info, .player-info ul {
    float: left;
    width: 100%;
}
.player-info {
    margin-bottom: 5px;
}
.player-info .right-side li {
    color: #636363;
    float: left;
    font-size: 14px;
    font-weight: normal;
    list-style: outside none none;
    width: 100%;
}
.player-info .left-side li {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    list-style: outside none none;
}
.player-info .left-side {
    background-color: #efefef ;/* #3f3f3f ;background-color: #0e1217;*/
    float: left;
    padding: 20px;
    width: 30%;
	margin-top: 0;
}
.player-info .right-side {
    background-color: #e1e1e1;/* #717171;background-color: #141920;*/
	float: left;
    padding: 20px 20px 20px 27px;
    width: 70%;
	margin-top: 0;
}
h4 a.player-name {
    font-size: 80%;
}
.panel-heading a {
    font-size: 20px;
	
}
@media only screen and (max-width: 768px) {
.col-xs-3.team{
    width:20% !important;
}

}
@media only screen and (max-width: 400px) {
.col-xs-3.team{
    width:25% !important;
}

}
/*****end team squad page******/

/*****player profile page******/
.table-condensed {
    background-color: #fff;
}
.table-condensed tbody tr {
    border-bottom: 1px solid #efefef;
    transition: none;/*transition: all 0.3s ease-in-out 0s;*/
}
.table-condensed tbody tr:hover, .table-condensed tbody tr:focus{
	background-color: #fff;/* #efefef;*/
	/*background-color: transparent !important;*/
    border-bottom:1px solid #efefef;
    transition: none;/* all 0.3s ease-in-out 0s;*/
}
.table-condensed tbody tr:nth-child(2n+1):hover {
    border-bottom:none;
}
.table-condensed tbody tr:nth-child(2n+1) {
    background-color: #f7f7f7;
	border-bottom:none;
}
.table-condensed tbody tr:hover td {
    color: #333;
}
.table-condensed tbody tr td{
    font-size: 12px;
}
.table-condensed tbody tr th{
    font-size: 12px;
	vertical-align: middle;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: none;/* 1px solid #ddd;*/
}
.table-condensed tbody tr td {
    border: none;/* 1px solid #efefef;*/
}

@media only screen and (max-width: 1024px) {
.team-detail .detailpost img {
    width: 30% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 70% !important;
}
}
@media only screen and (max-width: 980px) {
.team-detail .detailpost img {
    width: 22% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 78% !important;
}
.player-info .left-side, .player-info .right-side {
    padding: 10px;
}
}
@media only screen and (max-width: 880px) {
.team-detail .detailpost img {
    width: 27% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 73% !important;
}
.player-info .left-side, .player-info .right-side {
    padding: 10px;
}
}

@media only screen and (max-width: 768px) {
.team-detail .detailpost img {
    width: 28.3% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 71.5% !important;
}
}
@media only screen and (max-width: 767px) {
.team-detail .detailpost img {
    width: 100% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 100% !important;
}
.table-condensed tbody tr td, .table-condensed tbody tr th{
    font-size: 12px;
}
}
@media only screen and (max-width: 400px) {
.team-detail .detailpost img {
    width: 100% !important;
}
.team-detail .detailpost img ~ figcaption {
    /*background-color: #1d242e;*/
    height: 100%;
    top: 0;
    width: 100% !important;
}
.player-info {
    margin-bottom: 0;
}
.player-info .left-side, .player-info .right-side {
    padding: 10px;
}
.contant-info.cs-team .cs-seprator {
    margin-bottom: 0;
}
.table-condensed tbody tr td, .table-condensed tbody tr th{
    font-size: 11px;
}
}
/*****end player profile page******/
/*****team standing page******/
.match-tbs {
    margin-top:0px;
   border:none;
   background-color:#fff;
}
.match-tbs th{
	text-align:center;
	font-size: 14px;
}
.match-tbs .match-more:hover, .match-tbs .match-tbs-title:hover {
	background: #e0e0e0
}
.match-tbs .match-tbs-title {
    background-color: #e0e0e0;
    border:none;
    color: #333;
    font-weight:bold;
    text-transform: uppercase;
}
.th-height50{
	height:50px;
	background:#fafafa;
}
/*****end team standing page******/
/*****misc updates all pages******/
.carousel-indicators {
    right: 13px;
	bottom: 5px;
}


#footer-tag p.subcrb {
    font-size: 12px !important;
    font-weight: normal;
    margin-top: 20px;
}
#footer-bottom {
   padding: 10px 0;
}
.crk-trending-videos-container h1 {
    margin-top: 30px;
    margin-bottom: 10px!important;
}
#footer-tag #email {
    color: #333;
}
.color-theme-red{
	color:#ee1d23 !important;	
}
.full-story{
	text-align:right;font-size:12px;
}
.full-story a{
	 color: #afafaf
}
.full-story a:hover, .full-story a:focus{
	 color: #ee1d23
}
.owl-wrapper-outer {
    margin-top: 0px !important;
	}
 .crk-trending-videos-container.adj-top{
	 margin-top:-10px;
	 
 }
 /*.video-container a {
    background: #212121 url("./../images/play.png") no-repeat scroll center center;
    border: medium none;
    display: block;
    transition: all 0.5s ease 0s;
}
.video-container a img {
    opacity: 0.5 !important;
    transition: all 0.5s ease 0s;
}
.video-container a:hover img {
    opacity: 0.7 !important;
}*/
.customNavigation.more-news{
	top:19px;
}

@media only screen and (max-width: 767px) {
	.navbar-brand {
    	padding-left:20px !important;
	}
	.carousel-caption {
    	padding-bottom: 7px !important;
	}
	.carousel-caption a .livenow {
		padding: 3px 7px !important;
		font-size: 16px;
	}
	.carousel-caption a .upcoming {
		font-size: 16px;padding: 3px 5px !important;
	}
	.carousel-caption a .score {
		font-size: 16px !important;
	}
	.carousel-caption h3 {
		font-size: 14px !important;
	}
	.customNavigation.more-news{
		top:-4px;
	}
}
.next-trending{
	margin-top:5px;
	font-size: 15px;
	color: #807e7e;
	float: right;
}
.next-trending:hover{
	cursor:pointer;
}
@media only screen and (max-width: 600px) {
	
	.carousel-caption a {
		padding: 10px 0 0 10px;
	}
	
}
@media only screen and (max-width: 480px) {
	.adj-leftblock{
		margin-left:-9px; margin-right:4px
	}
	.adj-rightblock{
		margin-left:-3px; margin-right:-2px
	}
	.news-page{
		margin-left:0 
	}
	.carousel-caption a {
		padding: 10px 0 0 7px;
	}
	.carousel-caption a .score {
		font-size: 13px !important;
	}
	.carousel-caption a .livenow {
		font-size: 14px;
	}
}

/*****end misc updates all pages******/


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-weight: normal !important;
	margin-top: 8px;
	/*padding: 0 10px;*/
}
/**********************tabs update**********************/
.nav-tabs.nav-side {
    border-bottom:none;
}
.nav-tabs.nav-side > li {
    height: auto !important;
	border: none;
	width: 33.33%;
	background-color: #f2f0f0;
	text-align: center;
}
.nav-tabs.nav-side > li > a {
    border: none;
	background-color: #f2f0f0
}
.nav-tabs.nav-side > li > a:hover, .nav-tabs.nav-side > li:hover > a:hover {
    color:  #fff !important;
	border: none;border-radius: 0;
	background-color: #c4161c
}
.nav-tabs.nav-side > li:last-child{
	border-right: none;
}
 .nav-tabs.nav-side > li.active > a, .nav-tabs.nav-side > li.active > a:focus, .nav-tabs.nav-side > li.active > a:hover {
    background-color: #c4161c !important;
	color: white !important;
	border-radius: 0;
	border: none;
	 cursor: default;
}
.tab-content.nav-side-content{
	padding: 10px;
	border-left: 1px solid #f1f1f1; border-right: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1;
	height: 284px;
	padding-top: 5px;
}
.color-light-gray{
	color: #737373;
}
.tab-banner li{
	border-bottom: 1px solid #e5e5e5;
}
.tab-banner li:last-child{
	border-bottom:none;
}
.tab-banner li h5{
	margin-bottom: 3px;
}
.tab-banner li p{
	color: #999;
	font-size: 14px;
}
.fw-normal{
	font-weight: normal !important;
}
/*********************/
.banner-side-left{
	/*width: 75%;position: relative;*/
}
.banner-side-right{
	width: 22.5%; position: absolute;right: 1.2%;z-index: 2;top: 10px;
}
.more-tb{
	background-color: #f1f1f1;
	padding: 5px 5px 6px;
}
.btn-more-tb:hover .more-tb{
	background-color: #c4161c ;
	color:#fff;
}
.width100p{
	width: 100%;
}
.news-page .more-arrow, .news-page .icon-share, .more-arrow{
	position: absolute;
	bottom: 5px;
	right: 5px;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.news-page .icon-share{
	top: 5px;
	right: 5px;
	bottom: auto;
}
.news-page .more-arrow img, .news-page .icon-share img, .more-arrow img{
	filter: grayscale(100%);
   	opacity: .37;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	border:none;
	width: 40px !important;
}
/*.news-page:hover{
	cursor: pointer;
}*/ 
.news-page:hover .more-arrow{
	right: 2px;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.news-page:hover .more-arrow img, .news-page .icon-share:hover img, .more-arrow:hover img{
	filter: grayscale(0);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.modal-dialog {
    /*width: 600px;*/
    margin: 10% auto;
}
.modal-content {
	width: auto;
    border-radius: 0;
}
button.close{
    color: white;
	font-weight: normal;
	position: absolute;
	right: 10px;
	top: 5px;
	opacity: 1;
	z-index: 1;
} 
button.close:hover,  button.close:focus{
	 color: black !important;
}
.icon-home{
	display: none;
}
/* Video Box
================================================== */
.videobox {
	width:100%;
	float: left;
	background:#000;
	margin-bottom:20px;
	position: relative;
}
.videobox figure{
	width:100%;
	float: left;
	position:relative;
}
.videobox a.playicon{
	width:128px;
	height: 128px;
	display: block;
	margin-top:-64px;
	margin-left: -64px;
	left: 50%;
	top: 50%;
	position: absolute;
}
.videobox a.playicon i{
	color: #fff;
	font-size: 147px;
	margin-top: -8px;
	opacity: .5;
}
.videobox figcaption{
	width:100%;
	padding:20px 20px 10px 20px;
	left:0;
	bottom:0;
	color:#FFF;
	position:absolute;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.64) 99%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 101%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.64)), color-stop(100%,rgba(0,0,0,0.65)), color-stop(101%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.col-lg-2 .videobox figcaption h2 {
	font-size: 120%;
}
.videobox figcaption h2 a{
	color:#FFF;
}
.videobox figcaption ul{
	width:100%;
	float:left;
	margin: 0;
	height: 0px;
	overflow: hidden;
	-webkit-transition: height .4s ease-in-out;
	-moz-transition: height .4s ease-in-out;
	-ms-transition: height .4s ease-in-out;
	-o-transition: height .4s ease-in-out;
	transition: height .4s ease-in-out;
}
.videobox:hover figcaption ul{
	height: 26px;
}
.col-lg-2 .videobox figcaption ul{
	display:none;
}
.videobox figcaption ul li{
	float:left;
	position:relative;
	font-size:14px;
	margin-left:20px;
}
.videobox figcaption ul li:first-child{
	margin-left:0px;
}
.videobox figcaption ul li i{
	margin-right: 10px;
}
figcaption{
	width:100%;
	padding:20px 10px 5px;
	left:0;
	bottom:0;
	color:#FFF;
	position:absolute;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.64) 99%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 101%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.64)), color-stop(100%,rgba(0,0,0,0.65)), color-stop(101%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 99%,rgba(0,0,0,0.4) 100%,rgba(0,0,0,0.65) 101%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
figcaption.figcaption-4bnr-incremnt{
	padding:50px 10px 10px;
	
}

figcaption h2 {
	font-size: 110%;
}
figcaption h2 a{
	color:#FFF;
}
figcaption ul{
	width:100%;
	float:left;
	margin: 0;
	height: 0px;
	overflow: hidden;
	-webkit-transition: height .4s ease-in-out;
	-moz-transition: height .4s ease-in-out;
	-ms-transition: height .4s ease-in-out;
	-o-transition: height .4s ease-in-out;
	transition: height .4s ease-in-out;
}
figcaption ul{
	height: 26px;
}
figcaption ul{
	display:none;
}
figcaption ul li{
	float:left;
	position:relative;
	font-size:14px;
	margin-left:20px;
}
figcaption ul li:first-child{
	margin-left:0px;
}
figcaption ul li i{
	margin-right: 10px;
}
/* Video Box 2
================================================== */
.videobox2 {
	width:100%;
	position: relative;
	float: left;
}
.videobox2 figure{
	width:100%;
	float: left;
	background: #000;
	position:relative;
}
.videobox2 figure > a{
	float: left;
	width: 100%;
}
.videobox2 .vidopts{
	width:100%;
	padding:20px 20px 15px 20px;
	left:0;
	bottom:0;
	color:#FFF;
	position:absolute;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.64) 99%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 101%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.64)), color-stop(100%,rgba(0,0,0,0.65)), color-stop(101%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.videobox2 h4{
	padding-top: 10px;
	width: 100%;
	float: left;
}
.videobox2 .vidopts ul{
	width:100%;
	float:left;
	display: block;
	margin-bottom: 0;
}
.videobox2 .vidopts ul li{
	float:left;
	position:relative;
	font-size:14px;
	margin-right:20px;
}
.videobox2 .vidopts ul li:last-child{
	margin-left:0px;
}
.videobox2 .vidopts ul li i{
	margin-right: 10px;
}
li.divider{
	border-top: 1px solid #ededed;
}
/**********************************************************************/
.h2, h2 {
    font-size: 22px;
}
.bg-gradient-red1 {
    width: 100%;
    /*background: #e63b3e;*/
    /*background: -webkit-linear-gradient(to top, #c4161c, #ee1d23);*/
    /*background: linear-gradient(to top, #c4161c, #ee1d23);*/
    /*background: linear-gradient(180deg, #c4161c 30%, #ee1d23 100%);*/
}
.right-content h5, .right-content h2, .right-content p{
	color: white;
}
.right-content a{
	color: white
}
.right-content a:hover{
	color: #fdb913 
}
#schedules .right-content a{
	color: white !important
}
#schedules .right-content a:hover{
	color: #fdb913 !important
}
figcaption .icon-share{
	float: right;
	margin-top: -10px;
}
figcaption .icon-share:hover{
	opacity: 0.5
}
figcaption .icon-share img{
	width: 40px;
}
.color-gray{
	color: #666;
}

/*****login*************/
.left-panel-login{
	width: 300px; margin:18% auto 0;
}
.img-login{
	padding-left: 0;
	padding-right: 0;
}
.img-login img{
	float: left;
}
.login-page{
	background: #fff;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 0px 3px 0 rgba(0, 0, 0, 0.1);
}
.bg-login{
	background: url(../../../images/bg-corner.png) left top no-repeat;
}
.color-white{
	color: white !important;
}
.color-red{
	color: #ee1d23 !important;
}
.fw-normal{
	font-weight: normal !important;
}
.input-number, .btn-continue{
	border: none;
	background-color: #f3f5fb;
	width: 100%;
	padding: 10px;
	font-size: 16px;
}
.btn-continue{
	background-color: #f88300;
	color: white;
	margin-top: 10px;
}
.btn-continue:hover, .btn-continue:focus{
	background-color: #d67100;
	outline: none !important;
	border: none;
	outline-width: 0 !important;
}
/**************timelin live**********/

.btn-timeline, .btn-scorecard{
	width: 100%; text-align: center; margin-left: 0px; padding-top: 11px !important;border-radius: 25px;
	background-color: #f3f5fb  !important;
	font-size: 18px;
font-weight: normal;/* margin-top: 15px; margin-bottom: 15px;*/
}
.btn-timeline:hover, .btn-scorecard:hover, .btn-timeline:focus, .btn-scorecard:focus, .btn-timeline.active, .btn-scorecard.active{
	background: #f88300  none repeat scroll 0 0 !important;
	border: medium none;
	color: #fff !important;
	text-decoration: none;
	outline: none;z-index: 2;
	border-radius: 25px;
}
.timeline-background{
	border-radius: 25px; background-color: #f3f5fb;width: 460px;margin: 0 auto;margin-bottom: 15px;
}
.timeline-base{
	list-style: none;
}
.timeline-base li{
	list-style: none;
	display: inline-block;
	width: 49.1%;
}
.timeline-base li:last-child{
	float: right;
}
/**************/
.switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
	margin-top: 3px;
}
.switch-lable{
	margin-top: 18px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 50px;
  height: 25px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round.cmn-toggle-small + label {
  width: 43px;
  height: 21px;
}
input.cmn-toggle-round.cmn-toggle-small + label:after {
	width: 20px;
}

input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 24px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #46cca8;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 26px;
}
input.cmn-toggle-round.cmn-toggle-small:checked + label:after {
  margin-left: 23px;
}
/*************/
.bg-jazz-red-dark{ background-color: #c4161c}
.bg-jazz-red-light{ background-color: #d71920}
.bg-jazz-red{ background-color: #ee1d23}
.bg-jazz-yellow-dark{ background-color: #fdb913}
.bg-jazz-yellow-light{ background-color: #ffcb05}
.bg-jazz-yellow{ background-color: #ffdd00}
.bg-jazz-grey-darker{ background-color: #636466}
.bg-jazz-grey-dark{ background-color: #939598}
.bg-jazz-grey-light{ background-color: #bcbec0}
.bg-jazz-grey{ background-color: #e6e7e8}
.bg-jazz-beige{ background-color: #cdcab3}

.color-jazz-red-dark{ color: #c4161c}
.color-jazz-red-light{ color: #d71920}
.color-jazz-red{ color: #ee1d23 !important}
.color-jazz-yellow-dark{ color: #fdb913}
.color-jazz-yellow-light{ color: #ffcb05}
.color-jazz-yellow{ color: #ffdd00}
.color-jazz-grey-darker{ color: #636466}
.color-jazz-grey-dark{ color: #939598 !important}
.color-jazz-grey-light{ color: #bcbec0 !important}
.color-jazz-grey{ color: #e6e7e8 !important}
.color-jazz-beige{ color: #cdcab3}

.color-grey-light{
	color: #737373 !important;
}
.color-grey-lighter{
	color: #ababab !important
}
.color-black{
	color: #000 !important;
}
#fixtures-container a.color-grey-lighter{
	color: #ababab !important
}

.share-rank img{
	transform: scale(1);
	-webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.share-rank:hover img{
	transform: scale(1.5);
	-webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.no-border{
	border: none !important;
}
.h4, h4 {
    font-size: 16px;
}
.padding-md-0{
	padding: 0 !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ee1d23;
}
.user-status{
	background-color: #f0eef0; padding: 10px 0px 10px 20px;
}
.border-left-hide{
	border-left: none !important;
}
.padding-lr5-md{
	padding-left: 5px;
	padding-right: 5px;
}

/***/
.bottom-event-panel {
	background-color: #efefef;
	padding: 10px 0
}
.bottom-event-panel.more-series {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}
.bottom-event-panel:hover {
	background-color: #c4161c ;
	color: #fff;
	cursor: pointer;
}
.bottom-event-panel a {
	font-size: 14px;
	font-weight: normal;
}
.bottom-event-panel:hover a {
	color: #fff;
}
.bottom-event-panel a i {
	color: #000;
	margin: 0 5px 0 0
}
/***/
.series-name{
	font-size: 18px;
	margin-top: 0;
}
.crk-trending-videos-container h1.video-title{
	
	padding-bottom: 5px !important;
	text-transform: capitalize !important;
	margin-top: 10px !important;
	/*margin-left: -10px !important;*/
	line-height: normal !important;
}

.crk-trending-videos-container h1.video-discription, .crk-trending-videos-container h1.video-date{
	padding-bottom: 5px !important;
	text-transform: capitalize !important;
	margin-top: 0px !important;
	/*margin-left: -10px !important;*/
	line-height: normal !important;
	font-weight: normal !important;
	font-size: 16px !important;
	
}
.widget .series-related-videos{
	height: 400px; overflow-y: scroll;display: block
}

/********************psl styles ********************/
.pls-event .nav-side-tab li a{
	text-transform: capitalize !important;
	text-align: center !important;
}

.pls-event .inplay-filters-margin {
    margin: 0 -5px;
}

.pls-event .team-first ul, .team-second ul{
	margin-top: 0;
}
.pls-event .team-first ul li, .team-second ul li{
	list-style: none;
	line-height: normal !important
}
.pls-event h1, .pls-event h2, .pls-event h3, .pls-event h4{
	line-height: normal !important
}
.pls-event .nav-side-tab.psl-series {
    margin-bottom: 0 !important;
    bottom: 0;
    margin-top: 39px;
}
#summary .team-first {
    border-right: none;
    padding-right: 4px;
}
#fixtures-container .upcoming{
	position: absolute; top: 0;right: 0;padding: 1px 10px 2px;color: #fff;background-color: #ee592c 
}
#fixtures-container .result{
	position: absolute; top: 0;right: 0;padding: 1px 10px 2px;color: #fff;background-color: #c4161c 
}
#fixtures-container .live{
	position: absolute; top: 0;right: 0;padding: 1px 10px 2px;color: #fff;background-color: #c4161c 
}
.pls-event .news-page img {
    border: none;
}
#videos .item {
	background-color: #fff;
	overflow: inherit;
	-moz-border-radius:none; 
	-webkit-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius:none;
	border-radius:none;
}
#videos .video-thumbnail{
	height: auto !important
}
#videos figcaption h2 {
    color: #fff !important;
}
#videos h1 {
    font-size: 18px;
	margin-bottom: 0;
}
/*#videos .item .video-container .video-content .video-description {
    padding: 10px !important;
    height: 3.2em !important;
    line-height: 1.3em !important;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}*/
#videos .video-content{
	float: none;
}
#videos .video-container {
    position: relative;
    padding-bottom: 5px;
    padding-top: 0px;
    height: auto;
    overflow: inherit;
}
#videos .video-content .video-description {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin: 0px !important;
    line-height: 1.5em;
    height: 4em;
}
#videos .bottom-event-panel.more-series {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}
#videos .bottom-event-panel.more-series:hover{
	color: #fff !important;
}
/*****pole pie chart***/
.team-first.vs:after{
	content: "VS";
	position: absolute;
	color: #ee1d23;
	top: calc(50% - 32px);
	right: -10px;
	font-size: 16px;
}
.chart {
  position: absolute;
  width: 200px;
  height: 200px;
  /*top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;*/
}
.pieTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 2px;
  background: rgba(255,255,255,.97);
  color: #444;
  font-size: 19px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transform: all .3s;
     -moz-transform: all .3s;
      -ms-transform: all .3s;
       -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
}
.pieTip:after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(255,255,255,.95);
      line-height: 0;
}
.chart path { cursor: pointer; }

.modal-dialog.modal-pole{
	width: 500px; background-color:#fff; overflow: hidden
}
.modal-dialog .side-right{
	text-align: left;
	margin-top: 0;
	padding-left: 10px;
	font-weight: normal;
	line-height: normal;
}
.modal-dialog .side-right .right-color{
	width: 15px;height: 15px;background-color:#3d7e8a; display: inline-block; padding-right: 20px;
}
.modal-dialog .side-left{
	text-align: right;
	margin-top: 0;
	padding-right: 10px;
	font-weight: normal;
	line-height: normal;
}
.modal-dialog .side-left .left-color{
	width: 15px;height: 15px;background-color:#f2826e; display: inline-block; padding-right: 20px;
}
/*****end pole pie chart***/
/********************end psl styles ********************/

/***************************responsive stuff********************************************/
@media only screen and (max-width:1280px){
	.container {
		width: 100% !important;
	}
}
@media only screen and (max-width: 1024px) {
	.container {
		width: 100% !important;
	}
	
	.tab-banner li p{
		font-size: 13px;
		margin-bottom: 3px
	}
	.tab-banner li h5{
		margin-bottom: 1px;
		
	}
	.tab-content.nav-side-content{
		height: 243px;
		padding-top: 2px;
	}
}
@media only screen and (max-width: 960px) {
	.tab-banner li p{
		font-size: 12px;
	}
	.tab-banner li h5{
		font-size: 13px;
	}
	.tab-content.nav-side-content{
		height: 224px;
		padding: 2px 0 1px ;
		border: none;
	}
	.col-xs-offset-1{
		margin-left: auto;
	}
	.wrapper-main {
		box-shadow: none !important;
	}
}
@media (min-width:768px) and (max-width:959px)  {
	.navbar-collapse .nav li a{
		padding-left: 7px;padding-right: 7px;
	}
}
@media (min-width:600px) and (max-width:767px)  {
	.vs {
    top: 65px !important;
	}
	
}
@media  (max-width:959px)  {
	
	.banner-side-left{
		width: 100%;
	}
	.banner-side-right{
		width: 97%; position: relative;margin-left: auto; margin-right: auto; right: auto;
	}
	.more-tb {
		padding: 15px;
	}
	.tab-banner li p{
		font-size: 14px;
		margin-bottom: 10px;
	}
	.tab-banner li h5{
		font-size: 16px;
	}
}
@media only screen and (max-width: 768px) {
	
	.data-news-pg p {
	font-size: 12px;
	}
	.ad-logo img {
		margin-right: 25px;
		margin-left: -10px;
	}
	.container {
		width: 100% !important;
	}
	.ad-logo-sm img {
    margin-top: 2px;
	}
	.navbar-header {
		margin-right: 0px !important;
	}
	button.navbar-toggle.menu {
		float: none;
		margin-left: 10px;
	}
	button.navbar-toggle.menu .icon-bar {
		background-color: #454545 ;transition: all 0.5s ease 0s;
	}
	button.navbar-toggle.menu:hover, button.navbar-toggle.menu:focus{
		background-color: transparent !important;
	}
	button.navbar-toggle.menu:hover .icon-bar{
		margin-top: 2px; margin-bottom: 2px;
		transition: all 0.5s ease 0s;
	}
	.carousel {
		border-top:none;
	}
	.tab-content.nav-side-content{
		height:auto;
		padding: 10px 3px;
	}
	
	.ad-user.small {
		display: block;
		margin-top: 7px !important;
		margin-right: 65px;
	}
	.icon-home{
		display: block;position: absolute;left: 40px;top: 10px; width: 25px;
	}
	
	.nav > li:last-child {
		border-right:none;
		border-bottom:none;
	}
	.videos-full-xs{
		margin-left: -10px;
		margin-right: -10px;
		padding: 0 !important;
	}
	.crk-trending-videos-container h1 {
		margin-top: 7px;
		padding: 0 5px;
		margin-bottom: 0px !important;
	}
	.padding-xs-articles{
		padding: 0 10px 10px !important;
	}
	
	/*.bg-login-xs{
		background: url(../../../images/bg-corner.png) left top no-repeat;
		background-size: 50%;
	}*/
	.bg-login{
		background-color:#f4f4fc !important;
		background-size: 70%;
		box-shadow: none;
		margin: 0 !important;	
	}
	.login-title{
		font-size: 100%
	}
	.left-panel-login{
		width: auto;
	}
	.login-page{
		padding-left: 0;
	}
	.series-name{
		font-size: 20px;
		margin-top: 0 !important;
	}
	.crk-trending-videos-container h1.video-title{
	 margin-bottom: 0px !important;
		margin-left: 0px !important;
		line-height: normal !important;
	}
	.socialmedia ul li a i.google {
		top: 3px;
	}
	.crk-trending-videos-container h1.video-discription, .crk-trending-videos-container h1.video-date{
		font-size: 14px !important;
		margin-bottom: 0!important;
	
	}
	.switch {
		padding: 0px 5px 0px 10px;
		margin-top: 0;
	}
	.switch-lable {
		margin-top: 9px;
	}
	.bottom-event-panel.more-series, #videos .bottom-event-panel.more-series{
    	width: 100%;
	}
	.widget .series-related-videos{
		height: auto; overflow-y:visible;display: block
	}
	
	.team-first{
		border-right: none;
		padding-right: 4px;
	}
	.team-second{
		border-right: none;
		padding-left: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.nav > li {
		border-left:none;
		border-bottom: 1px solid #dcdcdc;
		height: auto;
	}
	.navbar-collapse .nav li a {
		padding: 10px 20px;
	}
	.ad-logo img {
		margin-top: 3px !important;
		margin-right: 15px;
		width: 38px;
	}
	.ad-user{
		display: none;
	}
	.col-xs-offset-1.pt40{
		padding-top: 0 !important;
	}
	.img-login{
		margin: 30px auto 0;
	}
	.img-login img{
	float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.event article .text, .event.event-samll article .text{
		width: 100%;
		padding: 0 0 10px;
	}
	.post-option > li {
    font-size: 16px !important;
		margin: 0 !important;
	}
	.cs-seprator {
		padding-left: 0px;
		padding-right:0px;
	}
	.row-xs-5 {
		margin-left: -5px;
		margin-right: -5px;
	}
	.row-xs-10 {
		margin-left: -10px;
		margin-right: -10px;
	}
	.padding-md-0{
		padding: inherit !important;
	}
	.crk-trending-videos-container h1 {
		padding: 0;
	}
	
	.crk-trending-videos-container h1.video-title{
	 margin-bottom: 0px !important;
		margin-left: 0px !important;
		line-height: normal !important;
		padding-bottom: 0  !important
	}
	.fow-border-right {
		border-right: none !important;
	}
	.timeline-background{
		width: 95%;
	}
	.nav-side-tab.psl-series {
		margin-top: 0 !important;
	}
	
	.nav-side-tab.psl-series li a, .nav-side-tab.psl-series li.active a{
			border-left: none;
			margin-left: 0;
		}
	.nav-side-tab.psl-series li a, .nav-side-tab.psl-series li:first-child a, .nav-side-tab.psl-series li a:hover, .nav-side-tab.psl-series li:first-child a:hover, .nav-side-tab.psl-series li.active a:hover{
			border-left: none !important;
			margin-left: 0;
		}
	 /*{
		border-left: none;
    	margin: -1px 0 0 0;
	}*/
	.nav-side-tab.psl-series {
		margin-top: 0 !important;
		padding-top: 39px;
	}
	
}
@media only screen and (max-width: 640px) {
	.img-djoko{
		padding: 8px 0 10px;
	}
	/*.data-news-pg p {
		margin-bottom: 30px;
	}*/
	.cs-seprator.mt30{
		margin-top: 10px !important;
	}
	.news-page .icon-share{
		top: auto;
		right: auto;
		left: 5px;
		bottom:5px;
	}
	
}
@media only screen and (max-width: 600px) {
	.modal-dialog {
		width: 400px;
		margin: 20% auto;
	}
	/*.switch{
		padding: 7px 5px 7px 10px!important; margin-top: 0; 
	}*/
	figcaption .icon-share{
		display: none
	}
	.tobat {
		font-weight: normal;
		font-size: 14px !important;
	}
	#pointstable .table > thead > tr > th {
		padding: 10px 5px !important;
	}
	
	#pointstable .table > tbody > tr > td {
		padding: 6px 8px !important;
	}
	#videos figcaption h2 {
		color: #fff !important;
		padding-top: 20px;
	}
}
@media only screen and (max-width: 599px) {
	
	.modal-dialog.modal-pole{
		width: 340px;
	}
	.modal-dialog .side-left, .modal-dialog .side-right{
		text-align: center;
		font-size: 13px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media only screen and (max-width: 500px) {
	figcaption{
		height: 43px;
		padding: 0 10px;
	}
	figcaption h2, figcaption p{
		font-size: 105%;
		margin-top: 20px;
	}
	.nav-side-tab.psl-series li{
		width: 100%;
	}
	.nav-side-tab.psl-series {
    margin-top: 0 !important;
    padding-top: 0px;
}
}
@media only screen and (max-width: 500px) {
	.modal-dialog {
		width: 320px;
		margin: 20% auto;
	}
	.switch {
		padding-top: 0px !important;
		padding-bottom: 4px !important;
	}
	.switch.switch-timeline-xs {
		padding: 7px 7px 0px !important;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		padding: 5px;
		font-size: 11px;
	}
}
@media only screen and (max-width: 400px) {
	.event-samll .calendar-date figure, .event-samll .match-result figure {
		width: 40px;
	}
	
	
}
@media only screen and (max-width: 320px) {
	/*figcaption{
		display: none;
	}*/
	.modal-dialog {
		width: 300px;
		margin: 20% auto;
	}
	.modal-dialog.modal-pole{
		width: 300px;
	}
	
}
			

