﻿* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}
/*html, body {
	color: #212121;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 16px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #fff!important;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
a {
	color: #212121;
	outline: 0;
}
.h3, h3 {
	font-size: 30px;
	font-weight: 800
}
/*p {
	letter-spacing: .05em
}*/

img {
	max-width: 100%
}
h3 {
/*margin-top: 100px*/
}
/*.secondary-page h3 {
	margin-top: 60px
}*/
ol, ul {
	margin-bottom: 0
}
.slogan {
	background-color: #fff;
	height: 60px
}
.slogan p {
	color: #484848;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-align: right;
	margin-top: 0;
	padding: 20px 10px 0 0
}
.content-logo {
	background-color: #fff;
	height: 60px
}
.content-logo .logo {
	float: left;
	width: 200px;
	/*padding-top:5px;*/
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.content-logo .logo img {
	margin: 5px 0 0
}
.content-logo .txt-logo {
	padding: 30px 0 0;
	float: left
}
.people-img {
	float: right;
	margin-top: 0
}
.top_section {
	background-color: #fff !important;
	position: fixed;
	width: 100%;
	z-index: 100000000;
	/*border-bottom:1px solid #ababab;*/
	box-shadow: 0 0px 2px #aaa
}
.content-top-login {
	background: #fff;
	width: 100%;
	float: left
}
.box-login {
	float: right;
	margin-bottom: -20px;
	margin-right: 75px;
	margin-top: 20px;
}
.box-login a {
	padding: 5px 10px;
	/*border-bottom: 1px solid #12bcb3;*/
	color: #21252b;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
}
.box-login a:hover {
	text-decoration: none;
	color: #548ad5 ;/*background: #cfcfcf*/
}
.box-login a i {
	color: #626262;
}
.box-logo {
	margin-bottom: 0;
	background-color: #fff;
}
.box-menu {
	background: #422c89 none repeat scroll 0 0;
	border-bottom: 0 solid #333;
	float: left;
	margin: 20px 20px 0;
	padding: 0;
	width: 63%;
	border-left: 20px solid #ee2e24;
	border-right: 20px solid #ee2e24;
	color: #fff
}
.box-login i.fa-shopping-cart {
	padding: 8px 10px 7px;
	color: #fff;
	background: #333;
	border: 1px solid #232323;
	text-align: center;
	z-index: 9999;
	margin-right: 15px
}
.box-login i.fa-shopping-cart:hover {
	background: #232323;
	cursor: pointer
}
.cart-prod {
	z-index: 99999;
	float: right;
	margin-top: 50px;
	margin-right: 15px;
	transition: all 2s linear;
	display: block
}
.cart-prod.hiddenbox {
	display: none
}
.content-cart-prod i.fa-times {
	float: right;
	margin-top: 5px
}
.content-cart-prod i.fa-times:hover {
	cursor: pointer
}
.cart-prod .sec-prod {
	position: absolute;
	z-index: 99999;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	padding: 10px;
	background: #fff;
	width: 20%;
	border-top: 3px solid #f59123
}
.cart-prod .sec-prod img {
	width: 40%;
	margin-right: 15px;
	float: left
}
.cart-prod .sec-prod img.racket-img {
	margin-top: 5px
}
.cart-prod .sec-prod p {
	margin-top: 10px
}
.content-cart-prod {
	width: 100%;
	float: left;
	border-bottom: 1px solid #f7f7f7;
	font-size: 13px
}
.content-cart-prod:last-child {
	border-bottom: 0 solid #f7f7f7
}
.cart-tot-price {
	font-weight: normal;
	margin-top: 20px;
	text-align: right;
	margin-right: 30px;
	font-size: 14px
}
.btn-cart {
	width: 100%;
	background: #3D464F;
	color: #fff;
	text-transform: uppercase;
	float: left;
	margin-bottom: 10px;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: normal ;
	font-family: 'Lato', sans-serif;
	text-align: center
}
.btn-cart:hover {
	text-decoration: none;
	background-color: #333;
	color: #fff
}
.box-support {
	float: left;
	color: #10bbb2;
	font-size: 13px;
	margin-top: 17px
}
.box-support .fa-envelope-o {
	color: #21252b;
	margin-right: 5px;
	margin-left: 10px
}
.box-language {
	float: left;
	color: #10bbb2;
	font-size: 13px;
	margin-top: 17px
}
.container.drawer {
	margin-top: 0
}
#summary-slider {
	float: left;
	width: 100%
}
.separator {
	background-color: #333;
	height: 1px;
	width: 70%;
	text-align: center;
	margin: 0 auto
}
.sepbot {
	margin-bottom: 40px
}
.content-info {
	background: #fff;
	padding: 0
}
.general {
	/*background: #fff;*/
	float: left;
	width: 100%
}
.summary-txt {
	margin-top: 0;
	padding: 35px 0 30px;
	color: #333;
	font-style: italic;
	text-align: center;
	margin-bottom: 0
}
.fa-quote-left {
	margin-right: 5px;
	color: #ddd;
	font-size: 20px
}
.fa-quote-right {
	margin-left: 5px;
	color: #ddd;
	font-size: 20px
}
.content-banner {
	width: 100%;
	float: left;
	padding: 0;
	background-color: #fff
}
.banner {
	text-align: center
}
.banner img {
	max-width: 100%;
	margin: 0 auto;
	border: 1px solid #111
}
.content-separator {
	width: 100%;
	float: left
}
.content-separator .i-center {
	margin: -8px auto 0;
	text-align: center;
	width: 40px;
	padding: 0 10px;
	background: #fff;
	color: #a4daff;
	z-index: 9999;
	position: relative
}
.sep-foot {
	margin-bottom: 30px
}
.float-right {
	float: right
}
.space-down {
	margin-bottom: 40px
}
.content-result.content-result-news {
	height: 100%;/*height: 580px;height: 750px;*/
	padding: 0;/*background: url(../images/slider.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
#textslide {
/*padding-bottom:20px;*/
}
.content-result {
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-o-animation: fadein 1s
}
.slide-txt img {
	opacity: 0
}
.slide-circle {
	background: rgba(255,255,255,1);
	border-radius: 100%;
	padding: 0 10px
}
div.inner {
	background: rgba(255,255,255,.8);
	border-radius: 50%;
	margin: 5px auto auto;/*border: 1px solid #548ad5 */
}
.content-result .slide-txt .col-md-4.line-alid1 {
	background: rgba(255,255,255,.2);
	height: 15px;
	opacity: 0
}
.linetheme-left {
	transform: translate(-40px, 0);
	-webkit-transform: translate(-40px, 0);
	-o-transform: translate(-40px, 0);
	-moz-transform: translate(-40px, 0)
}
.linetheme-right {
	transform: translate(40px, 0);
	-webkit-transform: translate(40px, 0);
	-o-transform: translate(40px, 0);
	-moz-transform: translate(40px, 0)
}
.titl-theme {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 25px;
	padding-top: 18px;
	opacity: 0
}
.content-result .col-md-4.slide-theme {
	height: 55px;
	margin-top: 0
}
.slogan-slider p {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 18px;
	text-align: center;
	background: rgba(243,133,12,.7);
	padding: 15px;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px
}
.slogan-slider {
	background: rgba(0,0,0,.5);
	padding: 18px 0;
	margin-top: 120px;
	transform: translate(0, 40px);
	-webkit-transform: translate(0, 40px);
	-o-transform: translate(0, 40px);
	-moz-transform: translate(0, 40px);
	opacity: 0
}
.floating {
	-webkit-animation-name: Floatingx;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: Floating;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out
}
@-webkit-keyframes Floatingx {
from {
-webkit-transform:translate(0, 0)
}
65% {
-webkit-transform:translate(0, 10px)
}
to {
-webkit-transform:translate(0, 0)
}
}
@-moz-keyframes Floating {
from {
-moz-transform:translate(0, 0)
}
65% {
-moz-transform:translate(0, 10px)
}
to {
-moz-transform:translate(0, 0)
}
}
@keyframes Floating {
from {
-moz-transform:translate(0, 0)
}
65% {
-moz-transform:translate(0, 10px)
}
to {
-moz-transform:translate(0, 0)
}
}
@-o-keyframes Floating {
from {
-moz-transform:translate(0, 0)
}
65% {
-moz-transform:translate(0, 10px)
}
to {
-moz-transform:translate(0, 0)
}
}
#textslide p.sub-result {
	opacity: 0
}
#textslide p.creative {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
	opacity: 0
}
@keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-moz-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-webkit-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-o-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
.slide-txt {
	text-align: center;
	padding-top: 60px
}
.content-result .col-md-8 {
	padding-top: 60px;
	height: 30%
}
.content-result .col-md-4 {
	margin-top: 30px;
	height: 55%
}
.effect-backcolor {
	background-color: rgba(255,255,255,1);/*background-color: rgba(0,0,0,.3);*/
	width: 100%;
	height: 100%
}
.result-top-row {
	height: 40px;
	width: 100%;
	background: #121212
}
#slidematch {
	text-align: center;
	padding: 0;
	z-index: 9999
}
.content-match-team-wrapper {
	font-size: 34px;
	font-weight: 400;
	color: #fff;
	background: rgba(0,0,0,.4);
	padding: 40px 0;
	border-top: 1px solid #333;
	text-transform: uppercase;
	margin-top: -133px
}
.content-match-team-time {
	font-size: 14px;
	font-weight: 400;
	color: #292929;
	background: rgba(214,214,214,1);
	padding: 20px 0;
	/*border-bottom: 1px solid #333;*/
	text-transform: uppercase;
	margin-top: 0;
	letter-spacing: 1px
}
.content-match-team-wrapper .gdlr-left {
	margin-right: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}
.content-match-team-wrapper .gdlr-right {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}
.content-match-team-wrapper .gdlr-upcoming-match-versus {
	margin-right: 10px;
	font-weight: 300
}
#getting-started {
	border: 1px solid #cfd1d3;
	display: block;
	font-weight: 800;
	left: 20%;
	letter-spacing: 1px;
	padding: 8px 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 19px;
	width: 60%;
	z-index: 15;
}
#next-match {
	background: url(../images/wave.png) #fff;/*background: url(../images/wave.png) #f3f3f3;*/
	padding-bottom: 50px;
	overflow: hidden
}
#next-match.next-match-news {
	background-image: url(../images/footer_lodyas.png);
	background-repeat: no-repeat;
	height: 620px;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
#next-match .other-firts {
	padding-left: 0
}
#next-match p.sub-result {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	margin-bottom: 15px;
	color: #111;
	text-align: center;
	margin-top: 20px;
	letter-spacing: 1px
}
.content-result p.sub-result.welcome {
	font-weight: 300;
	font-size: 65px
}
.content-result p.sub-result.creative {
	font-weight: 200;
	font-size: 25px;
	text-transform: none
}
.content-result p.sub-result {
	font-size: 100px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	margin-bottom: 70px;
	color: #fff;
	text-align: left;
	margin-top: 50px;
	text-shadow: 0 1px 1px rgba(0,0,0,.5)
}
.content-result p.sub-result.linetheme-right {
	margin-bottom: 50px
}
.content-result p.sub-sub-result {
	font-size: 78px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	color: #548ad5 ;
	margin-top: 50px;
	text-shadow: 0 1px 1px rgba(0,0,0,.5)
}
/*.effect-backcolor .col-md-6 span {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: normal;
}
.effect-backcolor .col-md-6 span.txt-vs {
	margin: 0 10px;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #ccc
}*/
.result-name {
	margin-top: 50px;
	color: #212121
}
.result-name img {
	padding-bottom: 10px;
	margin-right: 5px
}
#result-table {
	margin: 70px auto;
	width: 100%
}
#result-table td {
	border-bottom: 1px solid rgba(255,255,255,.1);
	border-right: 1px solid rgba(255,255,255,.1);
	margin: 0 auto;
	height: 50px;
	font-weight: 400;
	font-size: 18px;
	background: rgba(0,0,0,.7);
	width: 30px;
	color: #fff
}
#result-table td.fpt2 {
	border-right: 1px solid rgba(255,255,255,.1);
	border-bottom: 0 solid rgba(255,255,255,.1)
}
.news_slide-over-color .flex-direction-nav a {
	top: 42%
}
.flex-direction-nav a i {
	margin-top: 12px
}
.top-first-info {
	padding-top: 100px;
	visibility: hidden
}
.top-first-info.visible {
	visibility: visible
}
.slide-news-bottom {
	width: 100%;
	margin-top: 10px;
	background: #282d35;
	padding: 10px 0
}
.slide-news-bottom a {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 10px
}
.slide-news-bottom .i-ico {
	color: #548ad5 ;
	float: right;
	padding-left: 0;
	padding-right: 10px;
	font-size: 18px
}
.news_slide-over-color {
	background-color: #fff;
	position: relative;
	float: left;
	width: 100%
}
.news_slide-over {
	background-image: url(../images/wave.png);
	background-repeat: repeat!important;
	width: 100%;
	height: 100%;
	position: absolute
}
.top-slide-news {
	padding-bottom: 100px;
	border-bottom: 1px solid #333;
	padding-top: 100px
}
.top-slide-info {
	padding-bottom: 100px;
	padding-top: 130px
}
.top-slide-info .col-xs-6 {
	width: 49.5%
}
.slide-cont-img {
	margin-top: 28px;
	margin-right: 15px;
	padding-left: 0;
	padding-right: 0;
	-webkit-backface-visibility: hidden;
	position: relative;
	overflow: hidden
}
.slide-cont-img:hover .scale_image {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}
.slide-cont-img i {
	padding: 6px 8px;
	background: rgba(255,255,255,.8);
	color: #212428;
	font-size: 13px;
	right: 0;
	margin-top: 0;
	position: absolute;
	bottom: 0
}
.slide-cont-img i:hover {
	background: rgba(255,104,13,.8);
	color: #fff
}
.event_date {
	color: #111;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	float: right;
	margin-right: 10px;
	font-weight: normal ;
	text-transform: uppercase;
	letter-spacing: 1px
}
.dd-date {
	margin-top: -15px
}
.post_theme {
	padding: 0 4px;
	background: #ff680d;
	color: #fff;
	margin: 2px 0 0 10px;
	line-height: 16px;
	font-size: 10px;
	text-transform: uppercase;
	display: inline-block
}
.top-slide-info h4 i {
	color: #548ad5 
}
.top-slide-info h4 {
	color: #111;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	border-top: 1px solid #a4daff;
	padding-top: 15px;
	text-transform: uppercase;
	font-size: 15px
}
.box-top-txt {
	margin-top: 70px
}
.top-slide-info p {
	color: #111;
	line-height: 20px;
	text-align: left;
	font-weight: 400;
	font-size: 13px
}
.size-img {
	width: 100%;
	height: 130px;
	position: relative;
	margin: 0 auto;
	padding: 0
}
.effect-cover {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	margin-top: 0
}
.effect-cover img {
	margin: 0 auto;
	text-align: center;
	float: left;
	padding: 50px 0 0
}
.banner_cont {
	text-align: center;
	margin: 0 auto;
	width: 270px
}
.txt-advert {
	color: #fff;
	font-size: 40px;
	padding: 25px 0 15px;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	text-transform: uppercase
}
.txt-advert-sub {
	color: #fff;
	font-size: 16px;
	padding: 0;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase
}
.back-img {
	background: url(../images/backcric7.jpg) top center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.back-img-t20 {
	background: url(../images/wt20-body-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.back-img-news {
	background: url(../images/backcric.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.back-img-match {
	background: url(../images/backcric2.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.back-img-shop {
	background: url(../images/backcric3.jpg) bottom center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.back-img-shop2 {
	background: url(../images/backcric6.jpg) bottom center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.back-img-single {
	background: url(../images/backcric4.jpg) top center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.back-img-video {
	background: url(../images/backcric5.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.top-match .col-md-8 {
	padding-left: 0
}
.score-marg {
	margin-top: 120px
}
.next-match-news .subtitle {
	margin: 0 auto 50px
}
.subtitle {
	text-align: center;
	width: 450px;
	color: #5c5c5c;
	margin: 0 auto 50px;
	line-height: 22px;
	font-weight: 400
}
.subtitle.ground {
	color: #a5a4a4
}
.top-match h3.news-title {
	background: 0 0;
	padding: 5px 0;
	width: 100%;
	color: #212121;
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase
}
.top-match h3.news-title.n-match {
	color: #212121
}
.top-match h3.news-title span {
	font-weight: 300
}
.top-score-title h3 {
	padding: 5px 0;
	width: 100%;
	color: #121212;
	text-align: left;
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif;
}
/*.top-score-title h3 span {
	font-weight: 300
}*/
#summary .top-match .col-md-8 h3.news-title {
	margin-bottom: 9px;
}
.macbook-content {
	text-align: center;
	margin-top: 60px
}
.macbook-content img {
	visibility: hidden
}
.macbook-content img.visible {
	visibility: visible
}
.circle-percentage {
	margin-bottom: 30px
}
.pie_progress {
	text-align: center;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.pie_progress svg {
	margin: 0 auto
}
.pie_progress__content {
	font-weight: normal;
}
.pie_progress__content, .pie_progress__icon, .pie_progress__label, .pie_progress__number {
	width: 100%;
	position: absolute;
	top: 40%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}
.pie_content {
	width: 20%
}
.pie_progress__number {
	font-size: 22px;
	top: 60%
}
.pie_progress__label {
	margin-top: 32px;
	font-size: 12px
}
.pie_progress {
	visibility: hidden
}
.circle-percentage .visible {
	visibility: visible
}
.tabs {
	width: 100%;
	display: inline-block;
	border: 0 solid #eee
}
#resultsPoint {
	padding-bottom: 100px;
	background: url(../images/top-background.png) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.general-results .top-score-title.total-reslts {
	background: url(../images/top-background.png) center right no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
#rrResult {
	margin-bottom: 50px
}
.tab-links li.active:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 9px 10px 0;
	border-color: #212121 transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -9px;
	left: 0;
	right: 0;
	margin: 0 auto
}
.tab-links:after {
	display: block;
	clear: both;
	content: ''
}
.result-filter {
	width: 100%;
	text-align: center;
	border-bottom: 0 solid #212121;
	margin-bottom: 5px
}
.tab-links {
	padding: 0;
	text-align: center;
	margin: 0 auto
}
.tab-content, .tab-content-point {
/*margin-top: 15px*/
}
.tab-links li {
	margin: 0;
	float: left;
	list-style: none;
	background-color: #212121;
	width: 33.3333%;
	position: relative;
	padding: 10px 0;
	border-right: 1px solid #333
}
.home-page .tab-links li {
	padding: 0
}
.home-page .tab-links a {
	font-size: 13px
}
.tab-links li:last-child {
	border-right: 0 solid #a4daff
}
.tab-links a {
	padding: 12px 25px;
	display: inline-block;
	border-radius: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: normal ;
	color: #fff;
	transition: all linear .15s;
	border-top: 0 solid #548ad5 
}
.tab-links a:hover {
	text-decoration: none
}
.tab-links li.active a, .tab-links li.active a:hover {
	color: #fff;
	background-color: #212121;
	border-top: 0 solid #548ad5 ;
	text-decoration: none
}
li.active a, li.active a:hover {
	color: #fff;
	background-color: #212121;
	border-top: 2px solid #548ad5 ;
	text-decoration: none
}
.tab-content {
	padding: 0;
	border-radius: 1px;
	background: rgba(255,255,255,0)
}
.tab {
	display: none
}
.tab.active {
	display: block
}
.tab-score {
	width: 100%;
	opacity: 1
}
.tab-score td img {
	width: 32px;
	height: 32px
}
.tab-score td {
	height: 50px;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	padding-left: 10px;
	border-right: 1px solid #6c6f70
}
.tab-score td:last-child {
	font-weight: normal;
}
.tab-score td a {
	text-decoration: none;
	color: #fff
}
.tab-score td a:hover, .tab-score tr:hover td a {
	color: #fff
}
.tab-score tr:hover td {
	background-color: #a4daff;
	color: #fff
}
.tab-score tr.top-scrore-table:hover td {
	background-color: #4f575e;
	color: #fff
}
.tab-score tr:nth-child(odd) {
	background-color: #4f575e
}
.tab-score tr:nth-child(even) {
	background-color: #2c333b
}
.score-position {
	padding-left: 10px
}
.tab-score td span {
	font-size: 9px;
	color: #fff;
	font-weight: normal;
	display: inline-block;
	margin-left: 7px;
	padding: 0 5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	letter-spacing: .05em
}
.tab-score td span.newrecord {
	background: #d0a41f
}
.tab-score td span.fastball {
	background: #709ff3
}
.tab-content .tab-score .top-scrore-table {
	font-weight: normal ;
	background-color: #212121
}
.tab-content .tab-score .top-scrore-table td {
	color: #fff;
	font-family: 'Lato', sans-serif;
	border-right: 1px solid #6c6f70;
	background: #4f575e;
	padding-left: 10px;
	font-weight: normal;
}
.tab-content .tab-score .top-scrore-table td:last-child {
	border-right: 0 solid #ec7f06
}
.tab-content .tab-score .top-scrore-table {
	opacity: 1
}
.tab-content .tab-score tr {
	opacity: .9
}
.next-match-news .other-match {
	padding: 0;
	margin-right: 15px;
	width: 100%;/*width: 32.2%;*/
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border-radius: 0;
	border: 1px solid #ebebeb;
}
.next-match-news .other-match.other-last {
	margin-right: 0
}
.other-match {
	background: #fff
}
.match-team {
	background: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: normal ;
	font-size: 16px;
	padding: 25px 0;
	color: #111;
	text-align: center;
	text-transform: uppercase
}
.match-team-list {
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: normal ;
	font-size: 13px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 0;
	border-top: 1px solid #eee
}
.match-team-list .t-img1 {
	margin-right: 15px
}
.match-team-list .t-img2 {
	margin-left: 15px
}
.match-team-list p {
	margin: 0;
	font-size: 11px;
	color: #848484;
	letter-spacing: 1px
}
.txt-vs {
	margin: 0 7px
}/*
.match-team-list .txt-vs {
	margin: 0 7px
}*/
.match-team-list:first-child {
	border-top: 0 solid #eee
}
.match-team p {
	margin-top: 10px
}
.match-team-vs {
	background: #fff;
	padding: 15px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #111;
	text-align: center;
	margin-top: 30px
}
.team-view-all {
	background: #efefef;
	width: 100%;
	text-transform: uppercase;
	float: left;
	text-align: center;
	border-top: 1px solid #eee
}
.team-view-all p {
	margin: 0;
	padding: 10px 0;
	font-size: 13px;
	letter-spacing: 1px
}
.next-match-place {
	color: #111;
	text-align: center;
	padding: 0 0 20px;
	background: #f6f6f6;
	border-top: 1px solid #eee;
	float: left;
	width: 100%
}
.other-match .match-flags {
	width: 100%;
	text-align: center
}
.other-match .match-flags .flag {
	padding: 10px 0 5px
}
.other-match .match-flags img, .other-match .match-stadium img {
	padding: 0 0 5px
}
.score-next-time {
	/*background-color: #fff;
	border-top: 1px solid rgba(255,255,255,.05);
	border-left: 1px solid rgba(255,255,255,.05);
	border-right: 1px solid rgba(255,255,255,.05);*/
	text-align: center;
	color: #fff;
	width: 100%;
	padding: 10px 0 35px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase
}
.circle-ico::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	content: "";
	z-index: 1;
	border-top: 70px solid #548ad5 ;
	border-right: 70px solid transparent
}
.circle-ico-right::before {
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	content: "";
	z-index: 1;
	border-top: 50px solid #e7e7e7;
	border-left: 50px solid transparent
}
.login-w-page .circle-ico p {
	margin: 0 0 0 5px;
	font-weight: normal;
	font-size: 26px;
	position: absolute;
	z-index: 999;
	top: 10px;
	left: 5px;
}
.quiz-w-page .circle-ico p {
	margin: 0 0 0 5px;
	font-weight: normal;
	font-size: 26px;
	position: absolute;
	z-index: 999;
	top: 10px;
	left: 5px;
}
.commentary-event .circle-ico-right p a {
	color: #548ad5 ;
}
.commentary-event .circle-ico-right p {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 0 5px;
	position: absolute;
	right: 8px;
	top: 2px;
	z-index: 999;
}
.commentary-block .commentary-event p {
}
.commentary-event .circle-ico-right + .commentary-text >p {
	width: 95%;
}
.score-view-all {
	background-color: #f7f7f7;
	width: 100%;
	padding: 20px 0 21px;
	color: #fff;
	text-align: center;
	text-transform: uppercase
}
.score-view-all a {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	text-decoration: none
}
.box-cc {
	width: 70%;
	padding: 20px;
	background: #fff;
	margin: 20px auto 60px;
	border-radius: 2px
}
.css3-gradient1, .css3-gradient2, .css3-shadow {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	box-shadow: 0 1px 4px rgba(0,0,0,.3)
}
.box-cc h4 {
	background: #eee;
	margin: 0;
	padding: 60px 20px;
	text-align: center;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
	box-shadow: 0 0 4px rgba(0,0,0,.2)
}
.css3-gradient1:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 100%;
	bottom: 0;
	width: 120%;
	height: 50px;
	left: -10%;
	right: -10%;
	background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(00,00,00,.5), rgba(97,97,97,0) 40%);
	background: radial-gradient(ellipse at 50% -3%, rgba(00,00,00,.5), rgba(97,97,97,0) 40%)
}
.bbtxt-content {
	background: url(../images/place1.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	float: left;
	margin-top: 0;
	border-top: 1px solid rgba(255,255,255,.05)
}
.bbtxt-content-subscription {
	background: url(../images/MG_7241.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.video-icon {
	float: left
}
.bbtxt-box .video-txt p {
	color: #fff;
	text-align: left;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400
}
.it-video i {
	padding: 6px 8px;
	background: rgba(255,255,255,.8);
	color: #212428;
	font-size: 13px;
	right: 0;
	margin-top: -25px;
	position: absolute
}
.it-video i:hover {
	background: rgba(255,104,13,.8);
	color: #fff
}
.it-video {
	margin-right: 15px;
	padding-left: 0;
	padding-right: 0;
	-webkit-backface-visibility: hidden;
	position: relative;
	overflow: hidden
}
.scale_image {
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}
.it-video:hover .scale_image {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}
.homevideo {
	margin-top: 30px;
	padding-left: 0
}
.video-txt {
	padding-top: 10px
}
.homevideo-top h3.home-video-title {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 10px;
	border-top: 1px solid #a4daff;
	padding-top: 10px
}
.post_theme.video-post {
	margin: 0 5px 0 0;
	float: left
}
.video-txt h3 {
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	margin: 0 0 10px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase
}
.event_date_video {
	color: rgba(255,255,255,.5);
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	margin-right: 10px;
	font-weight: normal;
	margin-bottom: 15px
}
.bbtxt-box {
	padding: 100px 0
}
.ipad-img, .subscription-content {
	width: 100%;
	text-align: center
}
.subscription-cric {
	width: 100%;
	border: 10px solid #fff;
	margin-top: 80px;
	padding: 80px 0 100px;
	background: rgba(0,0,0,.5)
}
.subscription-cric h3 {
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 26px;
	color: #fff;
	font-family: 'Lato', sans-serif;
}
.subscription-cric h3 span {
	font-weight: 300;
	color: #548ad5 
}
.subscription-cric .desc-subscription {
	margin: 30px 0;
	color: #fff;
	font-size: 13px;
	font-style: normal;
	line-height: 22px;
	text-transform: none;
	padding: 10px 70px
}
.bbtxt-box img.macbook {
	margin: 60px auto 0;
	text-align: center;
	visibility: hidden
}
.bbtxt-box img.visible {
	visibility: visible
}
.bbtxt-box h4 {
	font-family: 'Lato', sans-serif;
	font-size: 72px;
	text-align: center;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	margin-top: 30px
}
.bbtxt-box .fa-quote-left {
	color: #548ad5 ;
	font-size: 40px;
	margin-right: 15px;
	vertical-align: top;
	margin-top: 10px
}
.bbtxt-box .fa-quote-right {
	color: #548ad5 ;
	font-size: 40px;
	margin-left: 10px;
	vertical-align: top;
	margin-top: 10px
}
.middle-txt {
	font-weight: 100
}
.point-big, .point-little {
	color: #548ad5 
}
.top-score-title h3 span.point-int {
	color: #548ad5 ;
	font-weight: 800
}
.cat-con-desc {
	padding: 20px;
	background: #fff;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
	margin-bottom: 20px
}
.cat-con-desc img {
	float: left;
	width: 10%
}
.bbtxt-box p.subin {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-align: center;
	font-weight: normal ;
	color: rgba(255,255,255,.7);
	text-transform: uppercase;
	margin-top: 20px;
	letter-spacing: 1px
}
#parallaxTraining {
	background: url(../images/fitness.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	float: left
}
.txt-training {
	width: 100%;
	text-align: center;
	color: #fff
}
.txt-training h2 {
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 50px
}
.txt-training p {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 900
}
.txt-training a {
	padding: 10px 20px;
	background: #548ad5 ;
	/*border: 1px solid #dd7f18;*/
	color: #fff;
	margin-right: 10px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	border-radius: 1px;
	text-decoration: none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}
.txt-training a:last-child {
	margin-right: 0
}
.txt-training a:hover {
	border-radius: 20px
}
.black-shad {
	background: rgba(0,0,0,.7);
	padding: 140px 0
}
.orange-shad {
	background: rgba(245,158,62,.7);
	padding: 100px 0
}
.yoga-desc {
	background-color: #f4a145;
	padding: 70px 50px;
	font-weight: 400;
	line-height: 26px
}
.yoga-desc::before {
	content: " ";
	left: 100%;
	right: -25px;
	top: 60px;
	position: absolute;
	border-left: 25px solid #f4a145;
	border-right: 0;
	z-index: 999;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent
}
.next-match-co {
	background: url(../images/stadium2.jpg) center center no-repeat;
	padding-left: 0;
	padding-right: 0;/*box-shadow: 0 1px 2px rgba(0,0,0,.2)*/
}
.next-match-co h3 {
	background: #fff;
	padding: 5px 0;
	width: 100%;
	color: #121212;
	text-align: left;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase
}
#nextmatch-content {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	float: left;
	background: rgba(0,0,0,.8)
}
#atp-match {
	background: url(../images/top-background.png) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-size: 100%;
}
#people-top {
	padding-bottom: 30px
}
.dd-news-date {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #111;
	font-style: italic;
	margin: 0 0 5px
}
.nm-result {
	text-align: center;
	margin-top: 9%
}
.nm-result-vs {
	text-align: center;
	margin-top: 0
}
.img-face-home {
	width: 100%
}
#nextmatch-content .img-face-home img {
	text-align: center;
	margin: 0 auto;
	width: 65%;
	padding: 60px 0 10px
}
.crichead {
	padding: 0;
	margin-top: 0 !important;
	position: absolute;
	bottom: -20px;
}
.match-sing-title {
	background: rgba(33,37,43,.7);
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	padding: 16px 0;
	text-align: left;
	border-bottom: 1px solid #232323;
	letter-spacing: 1px
}
.match-sing-title.inf-bottom {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 13px;
	padding: 10px 0;
	border-top: 1px solid #232323;
	position: absolute;
	text-align: center;
	top: -63px;
	width: 100%;
}
.match-sing-title.inf-bottom p {
	margin: 0
}
.match-sing-title.inf-bottom i {
	margin-right: 10px
}
.match-sing-title.inf-bottom i.fa-map-marker {
	margin-left: 20px
}
.match-sing-title img {
	margin-left: 20px;
	margin-right: 10px;
	width: 3.3%
}
#nextmatch-content .name-mc {
	font-family: 'Lato', sans-serif;
	font-weight: normal ;
	font-size: 16px;
	margin-bottom: 0;
	text-align: center;
	margin-left: 0;
	padding: 0
}
#nextmatch-content .name-mc-title {
	font-family: 'Lato', sans-serif;
	font-weight: normal ;
	font-size: 16px;
	margin-bottom: 0;
	text-align: center;
	margin-left: 0;
	padding: 70px 0 10px;
	letter-spacing: 1px
}
.social-player .social {
	text-align: center;
	margin: 30px auto 0
}
.social-player .social li {
	display: inline-block;
	list-style-type: none;
	padding: 5px
}
.social-player .social li a i {
	color: #fff
}
.social-player .social li a {
	background: #548ad5 ;
	padding: 8px 13px;
	border: 1px solid #a4daff
}
.social-player .social li a.m-facebook {
	padding: 8px 15px
}
.social-player .social .top-social {
	padding: 0 5px 0 0
}
.ris1, .ris2 {
	color: #fff
}
.nm-result .nr1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 58px
}
.nm-result .nr2 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 22px;
	margin-top: 40px
}
.nm-result-vs .nrvs {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 26px;
	border: 0 solid #fff;
	border-radius: 100%;
	padding: 35px 0;
	color: #fff
}
.bg-cover {
	background: url(../images/bg_p.png);
	width: 100%;
	height: 100%
}
.pl-point {
	padding: 0 0 3.8%;
	font-family: 'Lato', sans-serif;
	font-weight: normal ;
	font-size: 18px;
	border: 0 solid #fff;
	color: #fff
}
.pl-bt-con {
	margin-top: 42px
}
.pl-point-button {
	padding: 7px 13px;
	color: #fff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	text-transform: uppercase
}
.pl-point-button:hover {
	text-decoration: none;
	color: #a4daff
}
.pl-point .pl-title {
	margin-bottom: 50px
}
#nextmatch-content .pht-1 {
	color: #fff;
	padding: 0 0 53px
}
#nextmatch-content .pht-left, #nextmatch-content .pht-right {
	visibility: hidden
}
#nextmatch-content .visible {
	visibility: visible
}
.pl-details {
	padding: 9px;
	background-color: #548ad5 ;
	color: #fff;
	float: left;
	width: 90%;
	margin: 10px 5px 0 35px;
	position: relative
}
.pl-details:before {
	content: '';
	line-height: 0;
	font-size: 0;
	width: 0;
	height: 0;
	border-top: 34px solid #548ad5 ;
	border-bottom: 0 solid transparent;
	border-left: 0 solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	top: 0;
	right: -30px
}
.pl-details:after {
	content: '';
	line-height: 0;
	font-size: 0;
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-bottom: 34px solid #548ad5 ;
	border-left: 30px solid transparent;
	border-right: 0 solid #548ad5 ;
	position: absolute;
	top: 0;
	left: -30px
}
.pl-details a {
	text-align: center;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 800
}
.dt-pl {
	width: 56%
}
.dt-pl p {
	font-weight: normal ;
	text-transform: uppercase;
	font-size: 13px
}
.skills {
	margin-top: 10px
}
.block header.skill-title {
	margin: 0 0 12px
}
.skillbar {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background: #212121;
	height: 22px;
	-webkit-transition: .4s linear;
	-moz-transition: .4s linear;
	-ms-transition: .4s linear;
	-o-transition: .4s linear;
	transition: .4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color
}
.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 13px;
	color: #fff;
	text-transform: capitalize
}
.skillbar-title span {
	display: block;
	padding: 0 20px 0 0;
	height: 22px;
	line-height: 0
}
.skillbar-bar {
	height: 1px;
	width: 0;
	background: #a4daff
}
.skillbar-title {
	background: #212121
}
.skill-bar-percent {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 11px;
	height: 1px;
	line-height: 22px;
	color: rgba(255,255,255,.5)
}
.experience .exp-title {
	padding-bottom: 15px;
	margin-top: 40px;
	font-size: 14px;
	font-weight: normal;
}
#news-section {
/*background-color: #fff;
	background: url('../images/slider_header_bg.png') no-repeat;
	background-position:top left;
	background-size: auto;
	border-top:23px solid #e7e7e7;*/
	
}
.section_top {
	background-color: #fff;
	background: url('../images/slider_header_bg.png') no-repeat;
	background-position: top left;
	border-top: 20px solid #e7e7e7 !important;
	/*padding-bottom: 50px;*/
	padding-top: 50px !important;
	background-size: auto;
}
.section_top_trns {
	/*background: url('../images/slider_header_bgt.png') no-repeat;
	background-position: top left;
	border-top: 20px solid #e7e7e7 !important;
	padding-bottom: 50px;*/
	padding-top: 50px !important;
	background-size: auto;
}
.section_bottom_trns {
	background: url('../images/slider_footer_bgt.png') no-repeat;
	background-position: bottom left;
	padding-bottom: 110px !important;
	background-size: auto;
	border-bottom: 1px solid #585858;
}
#news-section .portfolio {
/*margin-top: 40px;*/
	/*margin-bottom:40px;*/
}
#news-section dl {
	margin-bottom: 0
}
.news-section-news {
	margin-bottom: 100px
}
#news-section .ca-more {
	color: #fff
}
#news-section #container-vert-n {
	padding: 0
}
#news-section p.sub-result span {
	color: #a4daff
}
#news-section p.sub-result {
	font-size: 20px;
	font-weight: normal ;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	margin-bottom: 15px;
	color: #fff;
	text-align: left;
	padding-left: 10px;
	margin-top: 15px
}
#news-section p.news-desc {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	padding: 10px;
	font-size: 13px;
	line-height: 20px
}
#news-section p.news-date {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	padding: 10px;
	font-size: 13px;
	line-height: 20px;
	color: rgba(255,255,255,.6)
}
#news-section .portfolio li {
	border: 0 solid rgba(255,255,255,.05);
	background: #212121;
	color: #fff;
	padding: 0;
	margin: 0;
	width: 24.95%
}
#news-section .portfolio a {
	border: 0 solid #212121;
	background: url("../images/play.png") no-repeat center center;
}
#news-section .portfolio img {
	border: 0 solid #333;
	padding: 0;
	opacity: 0.5
}
#news-section .button.button-group.small {
	font-size: 12px;
	padding: 8px 0 9px 14px;
	background: #548ad5 ;
	font-weight: 400;
	color: #fff
}
#news-section .button.button-group.small:hover {
	text-decoration: none;
	background: #a4daff
}
.button.button-group span i {
	background: #ff7f13;
	padding: 11px;
	margin-left: 5px
}
#news-section .ca-more-vertical {
	color: #fff
}
#news-section .ca-more:hover {
	color: #ccc
}
.news img {
	float: left
}
.ca-container {
	position: relative;
	margin: 0 0 60px;
	width: 100%;
	height: 400px
}
.ca-wrapper {
	width: 100%;
	height: 100%;
	position: relative
}
.ca-item {
	position: relative;
	float: left;
	width: 285px;
	height: 100%;
	text-align: center
}
/*#cbp-hrmenu.live li{
	list-style:none;display:inline-block;width:33.0%;
	
}*/
#cbp-hrmenu.live {
	padding: 0;
	margin: 0 -10px;
}
#cbp-hrmenu.live a span {
	display: inline-block;
}

@media screen and (max-width:480px) {
#cbp-hrmenu.live a span, .hide-xs-sr {
	display: none;
}
}
.cbp-hrmenu .content-sub-menu .ca-more {
	color: #fff
}
.cbp-hrmenu .content-sub-menu .ca-more i {
	float: left
}
.ca-more-resp {
	display: none
}
.ca-more {
	position: absolute;
	bottom: 10px;
	right: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	color: #333
}
.news-content .ca-more {
	margin-right: 20px;
	margin-bottom: 10px
}
.ca-more i {
	color: #fff;
	font-size: 14px;
	margin-right: 5px;
	padding: 2px 5px 3px;
	background: #548ad5 ;
}
.ca-more:hover i {
	color: #000;
	text-decoration: none;
	background: #74aaf5;
}
.ca-more:hover {
	color: #000;
	text-decoration: none
}
.ca-close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../images/cross.png) center center no-repeat #fff;
	width: 27px;
	height: 27px;
	text-indent: -9000px;
	outline: 0;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	opacity: .7
}
.ca-close:hover {
	opacity: 1
}
.ca-item-main {
	padding: 10px;
	position: absolute;
	margin-right: 2px;
	top: 5px;
	left: 2px;
	right: 5px;
	bottom: 5px;
	background: rgba(0,0,0,.6);
	overflow: hidden;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3)
}
.ca-icon {
	width: 100%;
	height: 180px;
	position: relative;
	margin: 0 auto;
	padding: 0;
	background: url(../images/1.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.ca-item-2 .ca-icon {
	background-image: url(../images/2.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.ca-item-3 .ca-icon {
	background-image: url(../images/3.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.ca-item-4 .ca-icon {
	background-image: url(../images/4.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.ca-item-5 .ca-icon {
	background-image: url(../images/5.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.ca-item-6 .ca-icon {
	background-image: url(../images/6.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.ca-item-7 .ca-icon {
	background-image: url(../images/1.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.ca-item-8 .ca-icon {
	background-image: url(../images/3.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.ca-item h3 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
	height: 25px;
	text-align: left;
	margin-left: 10px
}
.ca-item h4 {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	text-align: left;
	border-left: 1px solid #548ad5 ;
	padding-left: 10px;
	line-height: 24px;
	margin: 10px;
	position: relative
}
.ca-item h4 span {
	display: block;
	font-size: 13px;
	color: #ccc
}
.ca-content-wrapper {
	background: #f1f1f1;
	position: absolute;
	width: 0;
	height: 97.5%;
	top: 5px;
	text-align: left;
	z-index: 10000;
	overflow: hidden;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3)
}
.ca-content {
	width: 100%;
	overflow: hidden
}
.ca-content-text {
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	margin: 10px 9px;
	padding: 10px;
	color: #333;
	line-height: 20px
}
.ca-content-text p {
	padding-bottom: 5px
}
.ca-content h6 {
	margin: 25px 20px 5px 15px;
	font-size: 22px;
	padding-bottom: 5px;
	font-family: 'Lato', sans-serif;
	color: #212121;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase
}
.ca-content ul {
	margin: 20px 15px;
	height: 30px
}
.ca-content ul li {
	float: left;
	margin: 0 2px;
	list-style-type: none
}
.ca-content ul li a {
	color: #fff;
	background: #242B33;
	padding: 6px 10px;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
}
.ca-content ul li a:hover {
	background: #3D464F;
	color: #fff;
	text-decoration: none
}
.ca-nav span {
	width: 12px;
	height: 25px;
	background: url(../images/arrows.png) top left no-repeat;
	position: absolute;
	top: 0;
	margin-top: -38px;
	right: 20px;
	text-indent: -9000px;
	opacity: 1;
	cursor: pointer;
	z-index: 100
}
.ca-nav span.ca-nav-next {
	background-position: top right;
	left: auto;
	right: 0
}
.ca-nav span:hover {
	opacity: 1
}
.bx-wrapper .bx-controls-direction a, .other-news .bx-wrapper .bx-controls-direction a {
	margin-top: -75px
}
.bx-wrapper .bx-controls-direction a:hover {
	background: #548ad5 
}
#container-vert-n .bx-wrapper .bx-controls-direction a {
	margin-top: -75px
}
#container-vert-n {
	padding: 0 10px
}
.vertical-news .slide .vert-img {
	float: left
}
.vertical-news .slide {
	width: 100%
}
.vertical-news .vertical-news-desc p.news-number {
	font-size: 172px;
	font-weight: 800;
	position: absolute;
	float: right;
	margin-left: 70%;
	font-family: 'Lato', sans-serif;
	margin-top: -30px;
	font-style: italic;
	color: rgba(255,255,255,.05)
}
.vertical-news .vertical-news-desc {
	position: relative;
	overflow: hidden;
	height: 140px;
	padding-left: 10px;
	background: #252525
}
.vertical-news .vertical-news-desc h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	margin-top: 5px
}
.vertical-news .vertical-news-desc p {
	font-weight: 400;
	font-size: 13px;
	color: #fff;
	line-height: 20px
}
.vert-img a {
	margin-top: -36px;
	padding: 9px 12px;
	border: 1px solid #d27510;
	background: rgba(245,135,35,1);
	color: #fff;
	position: absolute
}
.vert-img a:hover {
	background: rgba(245,135,35,.6);
	cursor: pointer
}
.top-product-news .bx-wrapper .bx-viewport {
	border: 0 solid rgba(0,0,0,.1)
}
.bx-wrapper .bx-viewport {
	margin-top: 10px
}
.bxslider li p.product-title {
	color: #fff
}
.top-product h3 {
	padding: 5px 0;
	width: 100%;
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	border-bottom: 0 solid rgba(255,255,255,.2);
	font-family: 'Lato', sans-serif;
	text-transform: uppercase
}
.top-product h3 span {
	font-weight: 200
}
.top-product {
	/*height: 750px;*/
	/*text-align: center;
	background-repeat: repeat;
	background-color: #232323;*/
	margin-top: 0
}
.overprod {
	background-color: rgba(0,0,0,.88);
	width: 100%;
	height: 100%;
	position: absolute
}
.top-product.top-product-news {
	/*background: url(../images/8.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	width: 100%
}
.bxslider li .product-title a span {
	color: #548ad5 ;
	font-size: 17px;
	margin-left: 20px;
	vertical-align: top;
}
.bxslider li .product-title a {
	font-weight: normal ;
	font-family: 'Lato', sans-serif;
	font-size: 38px;
	color: #fff;
	float: left;
	position: relative;
	width: 100%
}
.bxslider li .product-title p.prod-ts-price {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: right;
	color: #fff;
	margin-bottom: 0
}
.bxslider li .product-title {
	margin-top: 0;
	padding: 9px 10px;
	text-align: left;
	background-color: rgba(255,255,255,0.2);
	height: 45px;
}
.bxslider li .product-title .name {
	position: absolute;
	top: -8px;
	left: 20px;
	font-size: 16px;
}
.bxslider li .product-title .country {
	position: absolute;
	top: 12px;
	left: 20px;
	font-size: 14px;
	color: white;
	font-weight: 100;
}
.tshirt-buy p.prod-ts-price {
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-align: right;
	padding: 10px
}
.tshirt-buy a {
	padding: 10px 15px;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-align: left;
	float: left;
	background: #548ad5 ;
	/*border: 1px solid #a4daff;*/
	margin-top: 15px
}
.tshirt-buy p.tshirt-price i:hover {
	cursor: pointer
}
.tshirt-buy a i, .tshirt-buy p i {
	font-size: 16px;
	margin-right: 10px
}
.tshirt-buy p.tshirt-price i {
	margin-left: 20px
}
.tshirt-buy {
	background: #fff;
	color: #111;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	border-top: 1px solid #333
}
.tshirt-buy a:hover {
	text-decoration: none;
	color: #fff
}
.readmore a {
	padding: 10px 30px;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-align: left;
	float: right;
	background: #548ad5 ;
	margin-top: -20px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	text-transform: uppercase;
}
.readmore a:hover {
	text-decoration: none;
	color: #fff;
	background: #a4daff;
}
#product .jm-item {
	padding: 0
}
#product .jm-item-button {
	text-align: center;
	margin-top: 30%
}
#product .jm-item-button i {
	color: #fff;
	font-size: 18px;
	background: #548ad5 ;
	/*border: 1px solid #a4daff;*/
	border-radius: 100%;
	padding: 10px
}
#product .jm-item-button i:hover {
	background: #a4daff;/*border: 1px solid #548ad5 */
}
#product .in-item {
	padding: 0
}
#product .in-item-button {
	text-align: center;
	margin-top: 30%
}
#product .in-item-button i {
	color: #fff;
	font-size: 18px;
	background: #548ad5 ;
	/*border: 1px solid #a4daff;*/
	border-radius: 100%;
	padding: 10px
}
#product .in-item-button i:hover {
	background: #a4daff;/*border: 1px solid #548ad5 */
}
#video col-md-9 {
	position: relative;
	float: left
}
.top-video h3 {
	padding: 5px 0;
	width: 100%;
	color: #121212;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase
}
.top-score-title h3.video-tit {
	margin-top: 0;
	padding-left: 10px
}
.top-video h3 span {
	font-weight: 200
}
.video-desc {
	/*float: left;*/
	margin-top: 30px
}
.flession-img {
	margin-bottom: 1px;
	margin-top: 20px
}
.accordion {
	margin: 0;
	padding: 20px;
	border-bottom: 1px solid #f9f9f9;
	background: #548ad5 ;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	overflow: hidden;
	letter-spacing: 1px
}
.accordion i {
	color: #fff;
	font-size: 14px;
	margin-right: 10px;
	margin-left: 5px
}
#c-calend {
	margin-bottom: 50px
}
.accordion-open:hover {
	background: #f5a348;
	cursor: pointer
}
.accordion-close:hover {
	background: #333;
	cursor: pointer;
	color: #fff
}
.accordion-close:hover i {
	color: #fff
}
.accordion.accordion-open {
	background: #548ad5 ;
	color: #fff;
	font-weight: normal;
	letter-spacing: 1px
}
.accordion.accordion-open i {
	color: #fff
}
.accordion-open span {
	display: block;
	float: right;
	padding: 10px;
	background: url(../images/minus.png) center center no-repeat
}
.accordion-close span {
	display: block;
	float: right;
	background: url(../images/plus.png) center center no-repeat;
	padding: 10px
}
.tournaments div.acc-content {
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: left;
	/*background: #f0f0f0;*/
	margin: 0;
	padding: 15px 10px;
	font-size: .9em;
	line-height: 1.5em;
	font-family: 'Lato', sans-serif;
}
.acc-title {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: normal;
}
.acc-footer {
	width: 100%;
	height: 1px;
	background: #ccc;
	float: left;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px
}
.tournaments div.acc-content p, .tournaments div.acc-content ul {
	padding: 0;
	margin: 0
}
.tournaments div.acc-content ul li {
	list-style-position: inside;
	line-height: 25px
}
.tournaments div.acc-content ul li a {
	color: #555
}
.txt-dd-second {
	margin-bottom: 40px
}
.cric-player {
	padding-left: 0;
	width: 20%;
	margin-bottom: 50px;
	padding-right: 0;
	animation: fadein 2s;
	-moz-animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-o-animation: fadein 2s
}
.general.general-results.players .player-vs {
	margin-bottom: 50px
}
.content-wtp-player {
	float: left;
	margin-bottom: 50px
}
@keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-moz-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-webkit-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-o-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
.cric-player > a {
	display: block;
	text-align: center;
}
.cric-player > a:hover {
	text-decoration: none
}
.cric-player p {
	position: absolute;
	margin-top: 0px;
	padding: 5px;
	background-color: rgba(0,0,0,.6);
	color: #fff;
	/*text-transform: uppercase;*/
	text-align: center;
	font-size: 13px;
	width: 100%;
	border-right: 5px solid #fff;
	border-left: 5px solid #fff
}
.cric-player img {
	width: 60%;
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
}
.cric-player img:hover+p, .cric-player p:hover {
	background-color: #548ad5 
}
.cric-single-player {
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	padding: 20px
}
.skill-content {
	margin-top: 20px
}
.skills-pp {
	margin-top: 10px
}
.exp-title-pp {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.block header.skill-title-pp {
	margin: 0 0 12px
}
.skillbar-pp {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background: #e8e8e8;
	height: 22px;
	-webkit-transition: .4s linear;
	-moz-transition: .4s linear;
	-ms-transition: .4s linear;
	-o-transition: .4s linear;
	transition: .4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color
}
.skillbar-title-pp {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 11px;
	color: #fff;
	text-transform: capitalize
}
.skillbar-title-pp span {
	display: block;
	background: rgba(0,0,0,.1);
	padding: 0 20px;
	height: 22px;
	line-height: 22px
}
.skillbar-bar-pp {
	height: 22px;
	width: 0
}
.skillbar-bar-pp, .skillbar-title-pp {
	background: #548ad5 
}
.skill-bar-percent-pp {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 22px;
	line-height: 22px;/*color: rgba(255,255,255,.4)*/
}
.ppl-desc {
	line-height: 22px;
	font-family: 'Lato', sans-serif;
	font-size: 13px
}
.data-player p {
	font-weight: normal ;
	text-align: right
}
.data-player-2 p {
	font-weight: 400;
	margin-left: 5px;
	text-align: left
}
.rank-player {
	padding: 0
}
.rank-player p.rank-title {
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	background: #212121;
	color: #fff;
	padding: 10px 0;
	margin: 0
}
.content-rank {
	width: 100%;
	text-align: center
}
.img-djoko {
	float: left;
	width: 25%;
}
.rank-player p.rank-data {
	font-weight: 400;
	font-size: 46px;
	text-align: center;
	margin: 0 auto;
	border-radius: 0;
	width: 100%;
	vertical-align: middle;
	color: #212121;
	padding: 50px 30px;
	font-family: 'Lato', sans-serif;
}
.player-vs {
	float: left;
	width: 100%
}
.player-vs .tabs {
	box-shadow: 0 0 0 rgba(0,0,0,.35)
}
.player-vs .tabs .img-face.img-mm1 {
	margin-top: 30px;
	border: 4px solid #548ad5 
}
.player-vs .tabs .img-face.img-mm2 {
	margin-top: 30px;
	border: 4px solid rgba(244,213,33,1)
}
.player-vs .tab-links-match {
	background-color: #fff
}
.player-vs .tab-links-match li a.first-tabs {
	/*border-right: 1px solid #eee;
	border-left: 1px solid #eee;*/
	margin-left: 1px;
}
.player-vs .tab-links-match li a {
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	/*border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;*/
	margin-left: 1px;
	width: 100%;
	background-color: #bcbdbd;
	text-decoration: none;
	text-align: center;
	outline: 0;
}
.player-vs .tab-links-match li a i.slide.icon-streem, .player-vs .tab-links-match li a i.slide.icon-commentary {
	margin-bottom: -5px;
	margin-top: -7px;
}
.player-vs .tab-links-match li {
	border-radius: 0;
	background-color: #fff;
	text-transform: uppercase;
	width: 25%;
}
.player-vs .tab-links-match li.active a, .player-vs .tab-links-match li.active a:hover {
	/*border-top: 1px solid #548ad5 ;*/
	background-color: #07569e;
}
.tab-sub-img {
	background: rgba(0,0,0,.6)
}
.player-vs .tab-content {
	padding: 0;
	float: left;
	width: 100%;
	border-radius: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.play-vs {
	font-size: 36px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	margin-top: 0;
	color: #ccc
}
.play-vs #result-table {
	width: 70%
}
.play-vs #result-table td {
	background: rgba(0,0,0,.8);
	width: 30px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400
}
.play-vs #result-table td.fpt2 {
	border-bottom: 0
}
.play-vs .result-name {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: normal ;
	text-transform: uppercase
}
.player-vs .tab-content .result-name .txt-vs {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0 60px
}
#tab1 .effect-color, #tab2 .effect-color {
	background-color: rgba(0,0,0,.8);
	width: 100%;
	float: left
}
#single-match-pl .effect-color {
	width: 100%;
	float: left
}
.player-score-bg {
	background: url(../images/field_.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 230px;
	position: absolute;
	width: 92%
}
.loader4 {
	float: right
}
.player-photo {
	text-align: center
}
.player-photo .img-mm1 {
	margin-right: 40px;
	margin-left: 10px
}
.player-photo .img-mm2 {
	margin-left: 160px
}
.serves-point {
	font-family: 'Lato', sans-serif;
	font-size: 34px;
	font-weight: 300;
	color: #fff
}
.serves-title {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff
}
.serves-content {
	text-align: center;
	width: 20%;
	margin-top: 80px
}
.percentage1 {
	width: 30%;
	margin-top: 30px
}
.big-countdown {
	width: 100%;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 70px;
	float: left
}
.big-countdown h3 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 70px;
	background-color: transparent;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-transform: none;
	font-weight: 300;
	border-bottom: 1px solid #333;
	padding: 5px 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto
}
.kkcountdown-box {
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	padding: 20px;
	background: rgba(255,255,255,.2);
	width: 100%
}
.kkc-days-text, .kkc-hours-text, .kkc-min-text, .kkc-sec-text {
	font-size: 14px;
	margin-left: 5px;
	margin-right: 15px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase
}
.kkcountdown-box .kkc-sec-text {
	margin-right: 0
}
.news-page {
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	padding: 10px;
	border: 1px solid #eee
}
.news-page > div{
	/*box-shadow: 0 1px 2px rgba(0,0,0,.3);
	padding: 10px;
	border: 1px solid #eee*/
}
.news-page img {
	border: 1px solid #ccc
}
.news-page .col-md-10 {
	width: 75%
}
.data-news-pg p {
	font-weight: 400;
	margin-left: 5px;
	text-align: left;
	line-height: 20px;
	font-size: 13px;
	margin-bottom: 15px
}
.data-news-pg p.news-dd {
	line-height: 25px;
	padding: 0 6px;
	margin-bottom: 15px;
	/*background: #548ad5;*/
	color: #fff;
	margin-left: 0;
	font-weight: normal;
}
.news-page p.news-dd {
	line-height: 25px;
	padding: 0 6px;
	margin-bottom: 0px;
	/*background: #548ad5;*/
	color: #afafaf;
	margin-left: 0;
	font-size: 13px;
	font-weight: normal;
	 margin-top: 0;
}
.data-news-pg h3 {
	margin-top: 0;
	font-size: 20px;
	text-align: left;
	font-weight: normal ;
	margin-bottom: 20px
}
.news-page h3 {
	margin-top: 0;
	font-size: 20px;
	text-align: left;
	font-weight: normal ;
	margin-bottom: 10px;
	letter-spacing:normal;
	color:#555
}
.data-news-pg .ca-more {
	position: relative
}
.news-more {
	margin-top:0;
	padding: 0;
	text-align: right
}
.news-page-page {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px
}
.news-page-page span {
	padding: 5px 10px;
	background: #548ad5;
	margin-right: 5px;
	/*border: 1px solid #548ad5*/;
	color: #fff
}
.news-page-page span:hover {
	background: #74aaf5 ;
	/*border: 1px solid #548ad5*/;
	cursor: pointer
}
.news-page-page span.news-page-active {
	/*border: 1px solid #548ad5*/;
	background: #74aaf5;
	color: #fff
}
.news-page-page span.page-point {
	background: #e7e7e7;
	border:1px solid #d3d3d3;
	color: #000;
}
#video .top-score-title {
	margin-bottom: 0
}
.video-desc h3.video-tit {
	font-size: 18px
}
.video-desc p.video-arg {
	line-height: 20px;
	font-size: 13px;
	border-left: 3px solid #548ad5 ;
	padding-left: 10px
}
.other-video .row > a {
	border: 0 solid #212121;
	background: url("../images/play.png") no-repeat center center;
	display: block;
	background-color: #212121
}
.other-video .row > a img {
	border: 0 solid #333;
	padding: 0;
	opacity: 0.5;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}
.other-video .row > a:hover img {
	border: 0 solid #333;
	padding: 0;
	opacity: 0.7;
}
.other-video img {
	border: 0 solid #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,.2)
}
.video-content {
	/*margin-top: 40px;*/
	float: left
}
.other-video, .other-videotitle {
	padding-left: 0;
	padding-right: 10px;
	/*width: 32.1%*/
	margin-top: 10px;
}
.other-video i {
	margin-top: 0;
	top: 0;
	padding: 10px;
	border: 1px solid #a4daff;
	background: #548ad5 ;
	color: #fff;
	margin-left: 0;
	left: 0;
	position: absolute
}
.other-video i:hover, .other-video img:hover + i {
	background: #a4daff;
	border: 1px solid #a4daff;
	cursor: pointer
}
.other-video img:hover {
	background: #a4daff;
	cursor: pointer
}
.othervideo-date {
	color: #959393;
	font-size: 13px
}
.other-videotitle p {
	font-weight: normal ;
}
.otv-last {
	padding-right: 0;
	margin-right: 0
}
#single-match-pl .tabs.single-pl {
	margin-top: 30px
}
.single-match-data {
	background: #fff;
	color: #212121;
	padding: 0;
	text-align: center;
	font-size: 13px;
	border-left: 1px solid #e2e2e2
}
.tab-links-match a {
	padding: 9px 15px;
	display: inline-block;
	border-radius: 0;
	font-size: 16px;
	font-weight: 400;
	color: #ddd;
	transition: all linear .15s
}
.tab-links-match {
	padding: 0;
	background-color: #212121;
	margin-bottom: 2px
}
.tab-links-match li {
	margin: 0;
	float: left;
	list-style: none
}
.player-vs .tab-links-match.tb-set li a {
	border-right: 0;
	border-left: 0
}
.tab-links-match.tb-set {
	text-align: center;
	border-bottom: 1px solid #e2e2e2
}
.tab-links-match.tb-set li {
	float: none;
	display: inline-block
}
.single-match-data p {
	border-bottom: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	padding: 10px 0;
	margin-bottom: 0
}
.top-score-title h3.tab-match-title {
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 10px;
	background: #548ad5 ;
	color: #fff;
	padding-left: 10px;/*border: 1px solid #548ad5 */
}
.single-match-data .nm-player {
	padding: 5px 0;
	background-color: #232323;
	color: #fff
}
.player-vs .tab-content.single-match {
	background: #fff;
	padding: 20px 0
}
.col-md-4.subcol-pl {
	padding: 0
}
.player-vs .tab-content .tab-content {
	padding: 0;
	background: #fff;
	margin-top: -1px;
}
.player-vs .tab-content {
	padding: 0;
	background: #fff;
	margin-top: -1px;
}
.score_content {
	padding: 0;
	background: #fff;
	border-top: 1px solid #548ad5 ;
	margin: -1px;
}
#single_news .desc_news {
	font-weight: 400;
	margin-left: 5px;
	text-align: left;
	line-height: 20px;
	font-size: 13px
}
#single_news .l-comment {
	margin-top: 100px
}
.desc_news.important_news {
	font-style: italic
}
.important_news .fa-calendar {
	margin-right: 5px;
	margin-left: 10px
}
.important_news.data {
	color: #909090
}
.tab_news {
	font-size: 13px;
	margin-top: 50px
}
.tab_news .fa-tag {
	margin-left: 5px;
	margin-right: 5px
}
.tab_news .tag {
	margin-left: 5px;
	background: #232323;
	color: #fff;
	padding: 5px 10px;
	font-size: 11px
}
.other-news {
	text-align: center;
	padding: 0 15px;/*margin-top: 80px*/
}
.news-video video {
/*background-color: #e7e7e7;*/
		
}
#single_news .bx-wrapper .bx-viewport {
	background: #fff;
	border: 5px solid #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.3)
}
#single_news .bxslider li p.product-title {
	color: #232323;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0
}
#single_news .other-news {
	padding: 0
}
.txt-other-news {
	text-align: left;
	line-height: 20px;
	font-size: 13px;
	margin-bottom: 20px;
	padding: 10px
}
#single_news .bx-wrapper .bx-pager {
	display: none
}
#single_news .login-page {
	box-shadow: 0 0 0 transparent
}
#single_news .quiz-page {
	box-shadow: 0 0 0 transparent
}
a.ready-news {
	float: left;
	background: #548ad5 ;
	color: #fff;
	padding: 10px 0 11px;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none
}
a.ready-news:hover {
	cursor: pointer;
	background: #f19a4e
}
.shop-prod {
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	width: 32%;
	margin-right: 8px;
	text-align: center;
	margin-bottom: 10px
}
.shop-prod img {
	margin-top: 20px;
	margin-bottom: 20px
}
.shop-prod:last-child {
	margin-right: 0
}
.shops-cric .shop-cat {
	font-size: 18px;
	color: #fff;
	background: #548ad5 ;
	padding: 15px 10px;
	border: 1px solid #d67810;
	font-weight: normal;
}
.shop-desc {
	font-size: 13px;
	line-height: 20px;
	padding: 10px 0
}
.shop-prod .title-prod {
	text-transform: uppercase;
	font-weight: normal ;
	font-size: 18px;
	padding: 20px 0;
	width: 100%;
	font-family: 'Lato', sans-serif;
}
.shop-prod .title-prod a span {
	color: #548ad5 
}
.shop-prod .title-prod a:hover {
	text-decoration: none;
	color: #548ad5 
}
.shops-top {
	padding: 0
}
.shops {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0
}
.shops-cric {
	padding: 0;
	margin-top: 0;
	margin-bottom: 50px
}
.products-content {
	width: 100%;
	border-bottom: 1px solid #eee;
	padding-top: 2px;
	padding-bottom: 2px;
	float: left
}
.products-content a {
	padding: 5px 0 5px 10px;
	width: 100%;
	float: left;
	line-height: 2em;
	background: #363d43;
	color: #fff;
	font-weight: 400
}
.products-content a:hover {
	text-decoration: none;
	background: #e7e7e7;
	color: #333
}
.prod-buy a.prod-price {
	width: 100%;
	background: #548ad5 ;
	color: #fff;
	padding: 5px 24px 6px;
	text-transform: uppercase;
	float: left;
	margin-bottom: 5px
}
.prod-buy {
	width: 100%;
	background: #3D464F;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding: 10px 10px 2px;
	font-weight: normal ;
	font-family: 'Lato', sans-serif;
	font-size: 14px
}
.prod-buy a.prod-cart {
	text-align: left;
	float: left
}
.prod-buy .prod-sh-price {
	text-align: right
}
.prod-buy a {
	padding: 0;
	color: #fff
}
.prod-buy a.prod-price:hover {
	text-decoration: none;
	background-color: #f8a953
}
.prod-buy a i {
	font-size: 16px;
	margin-right: 10px
}
.top-score-title.right-title h3 {
	font-size: 22px;
	text-align: left
}
.top-score-title.prod-cat h3 {
	font-size: 22px;
	margin-bottom: 30px;
	text-align: left
}
.content-img-zoom img {
	border: 1px solid #e2e2e2
}
#shop .content-zoom, #shop .content-zoom .col-md-6 {
	padding-left: 0
}
.content-zoom .desc-prod {
	line-height: 20px;
	font-size: 13px;
	color: #333
}
.content-zoom .desc-price {
	line-height: 30px;
	font-size: 24px;
	color: #548ad5 ;
	margin-top: 10px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}
.content-desc-zoom h3 {
	margin-top: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	border-bottom: 0;
	margin-bottom: 15px;
	text-align: left
}
p.square {
	margin-top: 10px
}
p.square span:nth-child(1) {
	background: #0669ae
}
p.square span:nth-child(2) {
	background: #ae0e06
}
p.square span:nth-child(3) {
	background: #232323
}
p.square span {
	padding: 5px 15px;
	margin-right: 5px
}
.content-desc-zoom .cart-bt a {
	padding: 8px 10px 10px;
	background: #363d43;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal ;
	font-family: 'Lato', sans-serif;
}
.content-desc-zoom .cart-bt a:hover {
	text-decoration: none;
	background: #548ad5 
}
.cart-bt {
	float: left;
	margin-top: 50px
}
.cart-bt a i {
	font-size: 16px;
	margin-right: 10px
}
.content-more-det {
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	margin-top: 40px;
	background: #f5f5f5;
	border: 1px solid #eee
}
.bulleted_list ul {
	padding: 10px;
	float: left
}
.bulleted_list ul li {
	background: url(../images/shop/red-bullet.gif) 0 7px no-repeat;
	font-size: 13px;
	padding-left: 10px;
	margin-bottom: 10px;
	color: #333;
	list-style-type: none
}
.content-more-det h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left
}
#qty {
	font-size: 22px;
	background-color: transparent;
	text-align: center;
	width: 50%;
	margin: 0;
	color: #363d43;
	float: left;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	border: 1px dotted #ccc;
	height: 36px
}
.box label {
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	width: 50%
}
abbr[data-original-title], abbr[title] {
	cursor: help;
	border-bottom: 0 dotted #999
}
button {
	color: #fff;
	background-color: #363d43;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding: 10px 15px;
	border: 0
}
button:active, button:focus, button:hover {
	background-color: #548ad5 
}
.box {
	background-color: #fff;
	color: #212121;
	text-align: center;
	padding: 0;
	margin-top: 20px
}
dl {
	margin-bottom: 6em;
	color: #777
}
dd, dt {
	float: left
}
dt {
	margin-right: 5px
}
.group dd {
	width: 100%
}
.group ul.filter {
	margin: 0 auto;
	text-align: center
}
.filter li {
	display: inline-block;
	list-style: none;
	margin-right: 5px
}
.filter li:last-child:after {
	content: ""
}
.filter a {
	padding: 5px 15px;
	color: #8e8e8e;
	text-decoration: none;
	border: 0 solid #dedede
}
.current a, .filter a:hover {
	color: #548ad5 ;
	border-bottom: 1px solid #548ad5 
}
.portfolio li {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	/*border: 1px solid #eee;*/
	display: block;
	list-style: none;
	width: 31.6%;
	-moz-animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-o-animation: fadein 2s
}
.portfolio li:nth-child(3n) {
	margin-right: 0
}
.portfolio a {
	/*display: block;
	border: 3px solid #fff;
	text-decoration: none*/
	background: url("../images/play.png") no-repeat center center;
	display: block;
	background-color: #212121;
	border: none
}

.portfolio a img {
	opacity: 0.5 !important;
}
.portfolio a:hover img {
	opacity: 0.7 !important;
}
.portfolio img {
	width: 100%;
	height: auto;
	display: block;
	border: none !important;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: .8s;
	-moz-transition-duration: .8s;
	-ms-transition-duration: .8s;
	-o-transition-duration: .8s;
	transition-duration: .8s
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity
}
.isotope .isotope-item.no-transition, .isotope.no-transition, .isotope.no-transition .isotope-item {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s
}
.home-pg .sponsor {
	margin: 0 auto
}
.sponsor {
	text-align: center;
	margin: 60px auto 0
}
.sponsor li {
	display: inline-block;
	width: 12%;
	margin-right: 50px
}
.sponsor li:last-child {
	margin-right: 0
}
.sponsor.second li img {
	max-width: 100%
}
.sponsor.second {
	background-color: #fff;
	padding: 50px 0 40px;
	border-top: 0 solid #ddd
}
.sponsor li img {
	padding: 0;
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-ms-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease
}
.sponsor li:hover img {
	opacity: .8
}
.client-sport {
	margin-top: 40px;
	width: 100%;
	float: left
}
.client-sport.client-sport-nomargin {
	margin-top: 0
}
#testimonials {
	margin-bottom: 100px
}
.right-column {
	padding: 0;
	margin-bottom: 50px
}
.general-results {
	padding-top: 0
}
.news-title-right {
	text-transform: uppercase;
	font-weight: normal;
}
.txt-right {
	font-size: 13px;
	line-height: 20px
}
.right-content {
	width: 100%;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 30px
}
.right-content .ca-more {
	margin-top: 10px;
	position: relative;
	float: right
}
.right-last-photo li {
	list-style-type: none;
	width: 32.1%;
	height: auto;
	/*width: 84px;
	height: 50px;*/
	display: inline-block
}
.right-last-photo li .jm-item {
	padding: 1px 1px 2px 0
}
.right-last-photo .jm-item-button {
	position: relative;
	color: #fff;
	cursor: pointer;
	text-align: center
}
.right-last-photo .jm-item-button i {
	padding: 5px 6px;
	text-align: center;
	border-radius: 100%;
	background: #548ad5;
	color:#fff; 
}
.right-last-photo .jm-item-button {
	margin: 0 auto
}
.right-last-photo .in-item-button {
	position: relative;
	color: #fff;
	cursor: pointer;
	text-align: center
}
.right-last-photo .in-item-button i {
	text-align: center;
	/*border-radius: 100%;
	background: #548ad5 ;*/
	background: rgba(18,188,179,0.8);
	padding: 10px 7px;
}
.right-last-photo .in-item-button {
	margin: 0 auto
}
.login-w-page p.logiin-w-title {
	font-weight: normal;
}
.quiz-w-page p.quiz-w-title {
	font-weight: normal;
}
.login-w-page p {
	font-size: 13px;
	line-height: 20px
}
.quiz-w-page p {
	font-size: 13px;
	line-height: 20px
}
.login-w-page h3 {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: normal ;
	margin-bottom: 0;
	border-bottom: 0;
	margin-top: 26px;
	text-align: left
}
.quiz-w-page h3 {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: normal ;
	margin-bottom: 0;
	border-bottom: 0;
	margin-top: 26px;
	text-align: left
}
.register-form {
	width: 70%;
	float: left
}
.login-page {
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	/*padding: 20px;*/
	margin: 50px 20px;
	background: #fff;
	overflow: hidden;
}
.quiz-page {
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	padding: 20px;
	margin-bottom: 50px;
	border: 1px solid #eee;
	background: #fff;
	position: relative;
}
.quiz-join-page {
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	padding: 0px;
	padding-top: 10px;
	margin-bottom: 50px;
	border: 1px solid #eee;
	background: #fff;
	position: relative;
}
.login-page img.ball-cric {
	width: 5%;
	margin-top: -7px;
	margin-right: 5px
}
.quiz-page img.ball-cric {
	width: 5%;
	margin-top: -7px;
	margin-right: 5px
}
.ctn-img {
	margin-top: 60px
}
.matches-tbs {
	box-shadow: 0 0 0 rgba(0,0,0,.4)
}
.match-tbs {
	width: 100%;
	margin-top: 20px;
	border-right: 1px solid rgba(0,0,0,.05);
	border-left: 1px solid rgba(0,0,0,.05);
	border-top: 1px solid rgba(0,0,0,.05)
}
#allmatch .top-score-title {
	margin-bottom: 0
}
.match-tbs td {
	border-bottom: 1px solid rgba(0,0,0,.05);
	margin: 0 auto;
	height: 50px;
	font-weight: 400;
	font-size: 14px;
	width: 20px;
	color: #333;
	text-align: center
}
.match-tbs .match-sets td {
	font-weight: normal ;
	background: #eee;
	color: #333;
	height: 36px;
}
.match-tbs .match-tbs-title {
	font-weight: 400;
	background: #212121;
	border-bottom: 1px solid #212121;
	border-right: 1px solid #212121;
	color: #fff;
	text-transform: uppercase
}
.match-tbs td.fpt {
/*border-right: 1px solid rgba(0,0,0,.2)*/
}
.match-tbs td.fpt:hover, .match-tbs td:hover {
/*background-color: #EEE*/
}
.match-tbs td.fpt:hover, .match-tbs tr:hover {
	background-color: #fafafa
}
.match-tbs td.fpt:first-child:hover {
	background-color: transparent
}
.match-tbs .match-sets td.fpt:hover, .match-tbs .match-sets td:hover {
	background: #eee
}
.match-tbs .match-more:hover, .match-tbs .match-tbs-title:hover {
	background: #212121
}
.match-tbs .fpt i {
	float: right;
	color: #fff;
	font-size: 14px;
	margin-right: 10px;
	padding: 5px;
	background: #548ad5 ;
	border-radius: 100%
}
#allmatch .match-right {
	float: right
}
.match-tbs .match-more {
	height: 40px;
	background: #212121;
	border-right: 1px solid #212121
}
.match-more a.ca-more {
	float: right;
	position: relative;
	bottom: 0;
	background: #212121;
	color: #fff;
	margin-right: 10px
}
.tab-links-matches {
	padding: 0;
	background-color: #606060;
	margin-bottom: 2px
}
.tab-links-matches li {
	margin: 0;
	float: left;
	list-style: none
}
.tab-links-matches li.active a, .tab-links-matches li.active a:hover {
	color: #fff;
	background-color: #548ad5 ;
	border-top: 0 solid #548ad5 
}
.tab-links-matches:after {
	display: block;
	clear: both;
	content: ''
}
.tab-links-matches a {
	padding: 9px 15px;
	display: inline-block;
	border-radius: 0;
	font-size: 16px;
	font-weight: 400;
	color: #ddd;
	transition: all linear .15s
}
#map_container {
	width: 100%;
	position: relative;
	margin-top: 0;
	border-color: rgba(111,111,111,.1);
	border-style: solid;
	border-width: 7px
}
#map_canvas {
	height: 500px;
	position: relative;
	top: 0;
	width: 100%
}
#map_canvas img {
	max-width: none!important;
	height: auto!important;
	background: 0 0!important;
	border: 0!important;
	margin: 0!important;
	padding: 0!important
}
#contact_form, #info-company {
	margin-top: 10px
}
#info-company h3 {
	text-align: left
}
#contact_form label {
	color: #484848;
	font-weight: normal ;
	padding: 3px
}
#info-company .col-md-12 {
	padding: 0
}
#info-company p i {
	font-size: 14px;
	background: #232323;
	color: #fff;
	padding: 5px;
	margin-right: 5px
}
#info-company p i.fa-phone {
	padding: 5px 6px 5px 7px
}
#info-company p i.fa-globe {
	padding: 5px 6px
}
#info-company p i.fa-map-marker {
	padding: 5px 8px
}
#contact_form {
	margin-bottom: 40px
}
#contact_form input#email, #contact_form input[type=text], .login-form input[type=password], .login-form input[type=text], .quiz-form input[type=password], .quiz-form input[type=text], .register-form input[type=password], .register-form input[type=text] {
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	height: 40px;
	padding: 0 10px;
	width: 80%;
	font-size: 12px;
	margin-bottom: 20px;
	color: #333;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}
#category {
	border: 1px solid #ddd;
	background-color: #fff;
	height: 40px;
	padding: 0 10px;
	width: 80%;
	font-size: 12px;
	margin-bottom: 20px;
	color: #333;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}
textarea.txt-area {
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	width: 100%;
	height: 150px;
	margin-bottom: 20px;
	color: #333;
	font-size: 12px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}
textarea.txt-link {
	padding: 10px;
	margin-left: 15px;
	width: 98%;
	height: 80px
}
#contact_form input[type=submit], .login-form input[type=submit], .quiz-form input[type=submit], .register-form input[type=submit] {/*border: 1px solid #548ad5 */;
	background-color: #548ad5 ;
	padding: 15px 45px;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	cursor: pointer;
	border: none;
	text-align: center
}
/*#contact_form input[type=submit]:hover, .login-form input[type=submit]:hover, .quiz-form input[type=submit]:hover, .register-form input[type=submit]:hover {
	color: #fff;
	background-color: #a4daff 
}*/
.website-info {
	margin-bottom: 40px
}
.website-info p {
	color: #484848;
	margin-left: 15px
}
.website-info p strong {
	text-transform: uppercase
}
.affiliate {
	width: 100%;
	float: left;
	margin: 30px 0 20px 15px
}
#contact_form .error, #contact_form .success {
	display: none;
	font-size: 13px;
	color: #333
}

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 51px;
	height: 51px;
	border: none;
	text-indent: 100%;
	z-index: 9999;
	background: url(../images/ui.totop.png) left top no-repeat
}
#toTopHover {
	background: url(../images/ui.totop.png) left -51px no-repeat;
	width: 51px;
	height: 51px;
	display: block;
	overflow: hidden;
	float: left;
	opacity: 0;
	-moz-opacity: 0
}
#slide-contentfull {
	padding: 0 1px;
	background: #000
}
#slide0 .slide-contentfull {
	margin-bottom: 0
}
.clearfix {
	display: block
}
.fullwidthbanner-container {
	width: 100%!important;
	position: relative;
	padding: 0;
	max-height: 750px!important;
	overflow: hidden;
	margin-top: 0
}
#slider-top .big-countdown {
	margin-top: 10px
}
#slider-top .big-countdown h3 {
	margin-top: 20px;
	font-size: 20px;
	margin-bottom: 40px
}
#slider-top .kkcountdown-1 .kkcountdown-box .kkc-days-text, #slider-top .kkcountdown-1 .kkcountdown-box .kkc-hours-text, #slider-top .kkcountdown-1 .kkcountdown-box .kkc-min-text, #slider-top .kkcountdown-1 .kkcountdown-box .kkc-sec-text {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	background: rgba(255,255,255,0);
	padding: 0;
	margin: 0
}
#slider-top .kkcountdown-1 div {
	font-size: 38px;
	font-weight: 400
}
#slider-top .kkcountdown-1 .kkcountdown-box div {
	background: rgba(255,255,255,.2);
	padding: 30px 0;
	width: 24%;
	float: left;
	margin-right: 5px
}
#slider-top .kkcountdown-box {
	background: rgba(255,255,255,0);
	padding: 0
}
/*******************************/

.slider_box {
/*margin-top:30px !important;box-shadow: 0px 0px 5px #333;margin-left:14.5% !important;width:73% !important;*/
	
}
.slide_btn {
	padding: 0;
}
.slide_btn a {
	padding: 20px;
	background: #548ad5 ;
	/*border: 1px solid #dd7f18;*/
	color: #fff;
	margin-right: 10px;
	/*text-transform: uppercase;*/
	font-weight: 400;
	letter-spacing: 1px;
	/*border-radius: 1px;*/
	text-decoration: none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	width: 100% !important;
	display: block;
	cursor: pointer;
	text-align: center;
	border: 1px solid #fff;
}
.slide_btn a:hover {
	background: #a4daff;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.slide_btn a i {
	margin-bottom: -6px;
}
.slide_btn a.disable {
	background: #bdc3c7;
	color: rgba(255,255,255,0.75);
	cursor: default;
}
.slide_btn a.disable i {
	opacity: 0.75;
	cursor: default;
}
.slide {
	background: url('../images/slide_icons.png') no-repeat center center;
	width: 20px;
	height: 23px;
	display: inline-block;/*position: absolute;
    top: 17px;
    left: 29%;*/  
}
.slide.icon-commentary {
	background-position: 0px 0px;
}
.slide.icon-stream {
	background-position: -20px 0px;
}
.slide.icon-ball2ball {
	background-position: -40px 0px;
}
.slider-header {
	/*background: url('../images/slider_header_bgt.png') no-repeat;*/
	background-size: 100%;
	background-position: left bottom;
	background-color: transparent;
	/*height:53px;
	margin:0 -10px;*/
	padding: 0 10px;
}
.slider-header > .live, .slider-header > .share {
	margin-top: -10px;
}
.slider-header > .live, .slider-header > .in-match {
	margin-top: -10px;
}
.section-header-bg {
	/*background: url('../images/slider_header_bg.png') no-repeat;*/
	background-size: 100%;
	background-position: left bottom;
	/*height:53px;*/
	display: block
}

@media screen and (max-width:1024px) {
.slider-header {
	background-position: left top;
	background-size: 500px;
}
}

@media screen and (max-width:640px) {
.slider_box {
	/*margin-top:10% !important;*/margin-left: 3.5% !important;
	width: 93% !important;
}
}

@media screen and (max-width:360px) {
}
.live h1 {
	color: #8b1400;
}
/*.share{
	 float: right !important;
    position: absolute;
    right: 0;
    top: -27px;
}*/
.share h1 {
	font-size: 18px;
	font-weight: 100;
	margin-top: 15px;
}
.share h1 a {
	font-size: 18px;
}
.share h1 a i {
	color: #548ad5 ;
}
.share h1 a:hover i {
	color: #a4daff;
}
.in-match h1 {
	font-size: 18px;
	font-weight: 100;
	margin-top: 15px;
}
.in-match h1 a {
	font-size: 18px;
}
.in-match h1 a i {
	color: #548ad5 ;
}
.in-match h1 a:hover i {
	color: #a4daff;
}
/**************************next section*******************/
.cs-section-title {
	/*float: left;*/
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 13px;
}
.cs-section-title::before, .cs-section-title::after {
	border-top: 1px solid #e5e5e5;
	content: "";
	height: 1px;
	left: 100%;
	margin-left: 10px;
	position: absolute;
	top: 30px;
	width: 7700px;
}
.cs-section-title.no_style::before, .cs-section-title.no_style::after {
	border: none
}
.comment-respond .cs-section-title h2::before {
	top: 11px;
}
.cs-section-title::after {
	left: auto;
	margin-right: 10px;
}
.cs-section-title.adj::after {
	width: 83%;
}
.cs-section-title h2.adj {
	left: -40.5%;
}
.cs-section-title h2 {
	display: inline-block;
	font-size: 18px;
	position: relative;
	text-transform: uppercase;
}
.cs-section-title h2::before {
	border-style: solid;
	border-width: 1px 0 0;
	content: "";
	height: 1px;
	position: absolute;
	right: -70px;
	top: 15px;
	width: 60px;
	z-index: 5;
}
.cs-section-title h2.no_style {
/*font-weight: 100*/
}
.cs-section-title h2.no_style::before {
	border: none
}
.cs-section-title h2.no_style::after {
	border: none
}
.post-option-panel .cs-section-title::before, .post-option-panel .cs-section-title::after, .post-option-panel h2::before {
	display: none;
}
.main-history .cs-section-title {
	margin-bottom: 60px;
}
.cs-section-title h2 {
	font-size: 18px!important
}
footer#footer-sec, footer#footer-sec:before, .footer-tweets {
	background-color: #f0f0f0!important
}
footer.group {
	background-image: url(http://goalklub.chimpgroup.com/wp-content/uploads/xfooter-bg.jpg.pagespeed.ic.77fCbdzuRw.jpg)!important
}
#copyright {
}
#copyright p {
	color: #666!important
}
#footer-sec a, #footer-sec .widget-form ul li input[type="submit"], #footer-sec .tagcloud a, #footer-sec .widget ul li a, #footer-sec li, #copyright a {
	color: #444!important
}
#footer-sec .widget h2, #footer-sec .widget h5, #footer-sec h2, #footer-sec h3, #footer-sec h4, #footer-sec h5, #footer-sec h6 {
	color: #000!important
}
#footer-sec .widget ul li, #footer-sec .widget p, #footer-sec .widget_calendar tr td, #footer-sec, #footer-sec .col-md-3 p, footer .widget_latest_post .post-options li, footer .widget i, .widget-form ul li i, footer .widget_rss li, footer .widget_recent_comments span {
	color: #444!important
}
.footer-tweets ul li .text, .footer-tweets ul li .text:before {
	background: #fff!important
}
.cs-color, .cs-colorhover:hover, .post-option li a:hover, .filter-nav li.active a, .prev .left-arrow, .prev-next-post article.next .right-arrow, .prev-next-post article.prev:after, .social-media ul li a:hover, #copyright P a, .footer-tweets ul li .text a, .navigation ul .sub-dropdown>li:hover>a, .social-media ul li a:hover i, .post-option li a:hover, .woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button, .woocommerce #content input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .recent_blog_widget ul li a:hover, .widget_team ul li a:hover, .recent_blog_widget ul li a:hover, .widget_result ul li a:hover, .twitter-logo a, .footer-tweets ul li i, .navigation ul .sub-dropdown>li:hover>a, .social-media ul li a:hover i, .blog-grid .text h2 i, .widget_blog ul li i, .prev-next-post a .icon-list8, .pagination li a:hover, .pagination li.pgprev:hover img, .woocommerce #content table.cart a.remove, .woocommerce table.cart a.remove, .woocommerce-page #content table.cart a.remove, .woocommerce-page table.cart a.remove {
	color: #548ad5 !important
}
.cs-bg-color, .cs-bgcolor, .cs-bgcolorhover:hover, .cs-tags ul li:hover a, .share-btn, .custom-btn, .team-detail figure figcaption header .player-no, .cs-tags ul li a:hover, .share-btn, form p.form-submit input[type="submit"], .team-detail figure figcaption header .player-no, .cs-qoute .cs-auther-name:before, .woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .widget_archive ul li:hover, .widget_categories ul li:hover, .widget_pages ul>li:hover>a, .widget_meta ul li:hover, .widget_nav_menu ul>li:hover>a, .tagcloud a:hover, #wp-calendar tbody tr td#today, .widget_calendar thead, .history-list article h4:before, .history-grid article h4:before, .spreater-holder span:before, form p.form-submit input[type="submit"], .main-section .button_style .default, .flat, .main-section .strock, .main-section .three-d, #footer-sec .signup .user-signup input[type="submit"] {
	background-color: #548ad5 !important
}
.cs-borcolor, .cs-borcolorhover:hover, .cs-section-title h2:before, .widget-section-title h2:before, .woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .cs-section-title h2:before, .filter-nav li.active a, .products li a span:before {
	border-color: #548ad5 !important
}
.devider1:after {
	border-top-color: #548ad5 !important
}
.breadcrumbs, .breadcrumbs li, .breadcrumbs li a {
	color: #fff!important
}
.sidebar-color .widget-section-title h2, .sidebar-color .widget a {
color:  !important
}
.sidebar-color .widget p, .sidebar-color .widget span, .sidebar-color .widget ul li, .sidebar-color .widget .infotext, .sidebar-color .widget i {
color:  !important
}
/***************next style*******************/
