/***************next style*******************/
.text-center-align {
	text-align: center
}
.cs-seprator {
	float: left;
	height: 15px;
	margin: 0 0 15px 0;
	position: relative;
	text-align: center;
	width: 100%
}
.spreater {
	display: inline-block;
	float: none;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: center;
	width: 430px
}
.spreater span {
	border: 1px solid #919191;
	display: inline-block;
	height: 5px;
	width: 5px
}
.cs-seprator .devider2 {
	border-top: 1px dotted #919191;
	float: left;
	position: relative;
	text-align: center;
	width: 100%
}
.cs-seprator .devider3 {
	float: left;
	position: relative;
	text-align: center;
	width: 100%
}
.cs-seprator .devider3:after {
	background: url() repeat-x;
	color: #999;
	content: "";
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}
.divider5:after {
	background: url() repeat-x;
	bottom: 0;
	content: " ";
	display: inline-block;
	height: 6px;
	position: relative;
	width: 191px
}
.divider5 {
	display: inline-block;
	position: relative
}
span.divider5 {
	margin-top: 0px
}
.spreater-holder span {
	border: none;
	border-bottom: 1px solid #e5e5e5;
	float: left;
	width: 100%;
	position: relative
}
.spreater-holder span:before {
	content: '';
	width: 60px;
	height: 1px;
	position: absolute;
	left: 50%;
	bottom: -1px;
	margin: 0px 0px 0px -30px
}
.heading-fonts .spreater, .cs-heading .spreater {
	margin-bottom: 0px
}
.dropcap-one, .dropcap-two {
	color: #777;
	float: left;
	font-weight: lighter;
	line-height: 24px;
	margin-bottom: 0px
}
.dropcap-one:first-letter, .dropcap-one p:first-letter {
	border: 5px solid #ec2c3b;
	color: #ec2c3b;
	float: left;
	font-size: 30px;
	font-weight: 400;
	margin: 0 20px 0px 0;
	padding: 15px 20px
}
.dropcap-two:first-letter, .dropcap-two p:first-letter {
	color: #ec2c3b;
	float: left;
	font-size: 80px;
	font-weight: 400;
	margin: 0 15px 0px 0;
	padding: 15px 20px
}
.form-style input {
	float: left;
	width: 100%
}
.form-style input, .form-style select, .form-style label {
	margin-bottom: 3px
}
.form-style textarea, .form-style label, .form-style select, .form-style {
	float: left;
	width: 100%
}
.form-style input {
	margin-bottom: 20px
}
.form-style input:focus {
	box-shadow: none
}
.form-style textarea {
	height: 155px;
	margin-bottom: 20px
}
.form-style .custom-btn {
	display: inline-block;
	float: left;
	width: auto;
	border: none
}
.form-style .select-style-one {
	float: left;
	position: relative;
	width: 100%
}
.form-style .select-style-one:before, .holder .select-style-two:before, .holder .select-style-three:before, .holder .select-style-four:before, .holder .select-style-five:before {
	background-color: #fff;
	border-left: 1px solid #a7a7a7;
	color: #a7a7a7;
	content: "\f0d7";
	font-family: 'FontAwesome';
	font-size: 22px;
	line-height: 36px;
	padding: 0 0 0 12px;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 38px
}
.holder .select-style-four:before, .holder .select-style-five:before {
	border: none;
	line-height: 37px;
	right: 0px;
	top: 0px
}
.holder .select-style-two:before {
	top: 32px
}
.holder .select-style-three:before {
	content: "\f073";
	font-family: 'FontAwesome';
	font-size: 14px;
	top: 32px
}
.custom-btn {
	border-radius: 2px;
	color: #fff;
	font-weight: 400;
	height: 40px;
	min-width: 130px;
	padding: 0px 20px;
	text-align: center;
	text-transform: uppercase
}
.popover {
	display: none!important
}
.tolbtn {
	padding: 7px 20px
}
.tooltip-info {
	float: left;
	margin: 0 0 25px;
	width: 100%
}
.holder .select-style-two, .holder .select-style-three, .holder .select-style-four, .holder .select-style-five {
	float: left;
	position: relative;
	width: 48%
}
.holder .select-style-two, .form-style .select-style-four {
	margin-right: 4%
}
.form-style select {
	border-radius: 2px
}
#cs-classic-form .cs-classic-form .form-style .cs-plan {
	border: 1px solid #e2e2e2;
	color: rgba(0,0,0,.50);
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 15px;
	width: 100%;
	padding-left: 10px;
	height: 50px;
	font-size: 12px
}
#cs-classic-form .cs-classic-form form input[type="email"] {
	height: 50px
}
#cs-classic-form .cs-classic-form form input[type="submit"] {
	width: auto;
	border: none
}
#cs-classic-form .cs-classic-form .form-style .cs-plan:focus {
	box-shadow: none
}
.form-style .select-style-four select, .form-style .select-style-five select {
	border-bottom: 1px solid #ccc;
	border-left: none;
	border-right: none;
	border-top: none;
	color: rgba(0,0,0,.50);
	font-size: 16px;
	padding: 8px 12px
}
.form-style .select-style-four input, .form-style .select-style-five input {
	border-left: none;
	border-right: none;
	border-top: none
}
#cs-classic-form .cs-classic-form .form-style textarea.cs-plan {
	height: 215px;
	margin-bottom: 20px;
	padding-top: 10px
}
#cs-plain-form .cs-plain-form form input[type="text"], #cs-plain-form .cs-plain-form form input[type="email"] {
	height: 50px
}
#cs-plain-form .cs-plain-form form input[type="text"]:focus, #cs-plain-form .cs-plain-form form input[type="email"]:focus {
	box-shadow: none
}
#cs-plain-form .cs-plain-form form input[type="submit"] {
	width: auto;
	border: none
}
.liststyle ul {
	margin-left: 12px
}
.liststyle li {
	color: #333;
	float: left;
	font-weight: 300;
	list-style: none;
	padding: 0px 0 0px 10px;
	width: 100%
}
.liststyle .cs-bulletslist li {
	list-style: square outside none
}
.liststyle .cs-number-list li, .liststyle .cs-num-iconlist li {
	list-style: decimal-leading-zero outside none
}
.liststyle .cs-upper-alphalist li {
	list-style: upper-alpha outside none
}
.liststyle .cs-upper-alphalist li ul li {
	list-style: none;
	padding-left: 17px
}
.liststyle .cs-upper-alphalist li ul {
	float: left;
	position: relative
}
.liststyle .cs-upper-alphalist li ul:before, .liststyle .cs-upper-alphalist li ul:after {
	background-color: #ebebeb;
	content: "";
	height: 80%;
	left: 0px;
	position: absolute;
	top: 11%;
	width: 1px
}
.liststyle .cs-upper-alphalist li ul:after {
	left: 3px
}
.liststyle .cs-unorderedlist li, .liststyle .cs-iconlist li, .cs-num-iconlist li {
	list-style: none;
	padding: 4px 0px
}
.liststyle .cs-unorderedlist, .liststyle .cs-iconlist {
	margin-left: 0px
}
.liststyle .cs-iconlist li i {
	margin: 10px 5px 0 0;
	font-size: 8px;
	float: left
}
.liststyle li.has_border {
	border-top: 1px dotted #acacac
}
.liststyle li:first-child {
	border-top: none;
	padding-top: 0px
}

.liststyle .cs-num-iconlist li i {
	float: right;
	margin: 9px 0 0 0
}
.liststyle .cs-numiconlist, .cs-number-list, .cs-upper-alphalist {
	float: left;
	margin-left: 22px!important
}
.liststyle .cs-numiconlist li {
	padding: 4px 0px
}
.messagebox {
	float: left;
	padding: 18px;
	position: relative;
	width: 100%
}
.messagebox span {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase
}
.messagebox span a {
	color: #fff;
	font-size: 14px;
	font-weight: 200;
	margin-left: 5px;
	text-transform: capitalize
}
button.close-v1, button.close-v2 {
	background: #494949;
	border-radius: 0px 6px 0 6px;
	color: #dfdfdf;
	display: inline-block;
	float: right;
	font-size: 10px;
	height: 20px;
	line-height: 9px;
	opacity: 1;
	position: absolute;
	right: 0px;
	text-shadow: none;
	top: 0px;
	width: 26px
}
.messagebox button.close-v2, .messagebox-v3 button.close-v2 {
	background: #494949;
	border-radius: 0
}
.messagebox button.close-v2 {
	position: absolute;
	right: 0px;
	top: 0px
}
.messagebox i {
	color: #fff;
	display: inline-block;
	font-size: 18px;
	line-height: 22px;
	margin-right: 10px;
	text-align: center
}
.messagebox-v1 {
	padding: 19px 18px
}
.messagebox-v3 p {
	color: #777;
	margin-bottom: 0px
}
.messagebox-v3.icon_position_left i {
	color: #fff;
	float: left;
	font-size: 50px;
	margin: 0px 18px 0 0
}
.messagebox-v3.icon_position_left h6 {
	color: #333;
	font-size: 16px!important;
	margin: 3px 0 6px 0
}
.messagebox-v3:before {
	background: #dedede;
	border-color: #dedede #fff;
	border-style: solid;
	border-width: 0px 0px 15px 15px;
	content: "";
	display: block;
	left: -1px;
	position: absolute;
	top: -1px
}
.messagebox-v3 {
	float: left;
	padding: 30px;
	position: relative;
	width: 100%
}
.messagebox-v3 .custom-btn {
	border-radius: 3px;
	height: 40px;
	line-height: 16px;
	position: absolute;
	right: 30px;
	top: 33%
}
.messagebox .fa-lightbulb-o, .messagebox .fa-exclamation-triangle {
	border: none;
	font-size: 24px
}
.messagebox.has-radius {
	border-radius: 8px
}
.messagebox.has-pattern {
	background: url() repeat
}
.messagebox.cs-dearktheme {
	background: url() repeat
}
.messagebox.icon_position_left {
	float: left
}
.messagebox a small {
	font-size: 14px;
	text-decoration: underline
}
.messagebox-v1.alert-info, .messagebox-v3.alert-info {
	background: none;
	border: none
}
.cs-testimonial {
	border: none;
	color: #333;
	display: inline-block;
	font-size: 16px;
	position: relative
}
.cs-testimonial article {
	float: left;
	width: 100%
}
.cs-testimonial.left {
	text-align: left
}
.cs-testimonial.right {
	text-align: right
}
.cs-testimonial.center {
	text-align: center
}
.cs-testimonial p:before {
	color: #ec2c3b;
	content: '"';
	display: inline-block;
	font-size: 40px;
	left: 0;
	margin: 0 5px 0 0;
	top: 0px;
	transform: rotate(180deg)
}
.cs-testimonial p:after {
	bottom: -18px;
	color: #ec2c3b;
	content: '"';
	font-size: 40px;
	margin: 0 0 0 5px;
	position: absolute
}
.cs-testimonial.text-center-align p:before {
	margin: 0 10px 0 0;
	margin: 0 10px 0 0;
	position: absolute;
	top: -10px
}
.cs-testimonial.text-center-align p {
	padding: 0 0 0 10px
}
.cs-testimonial p {
	color: #333;
	display: inline-block;
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	margin: 0 0 20px;
	position: relative
}
.cs-testimonial p {
	font-weight: 500!important
}
.cs-testimonial.center p {
	font-style: italic
}
.cs-testimonial p span {
	background-color: #333;
	color: #fff;
	font-size: 14px;
	font-style: normal;
	line-height: 25px;
	padding: 1px 4px;
	text-decoration: none
}
.cs-testimonial h6 {
	font-size: 16px;
	text-align: left;
	text-transform: inherit
}
.cs-testimonial figure {
	display: inline-block;
	float: none;
	width: 44px
}
.cs-testimonial figure img {
	border-radius: 4px
}
.cs-testimonial .cs-author {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	vertical-align: top
}
.cs-testimonial figure ~ .cs-author {
	margin-left: 10px
}
.cs-testimonial .cs-author span {
	color: #999;
	display: block;
	font-size: 12px;
	font-weight: 300;
	margin: 4px 0 0 0;
	text-align: left
}
.cs-testimonial.text-center-align .cs-author span {
	display: block;
	text-align: left
}
.main-section img.alignleft {
	box-shadow: none
}
.cs-testimonial .flex-direction-nav {
	display: none
}
.cs-testimonial .flex-control-nav li {
	margin: 0px 4px;
	width: auto
}
.cs-testimonial .flex-control-nav li a {
	background-color: #fff;
	border-radius: 0px;
	box-shadow: none;
	display: block;
	height: 10px;
	position: static;
	text-indent: -9999px;
	width: 10px
}
.cs-testimonial .flex-control-nav li a.flex-active, .cs-testimonial .flex-control-nav li a:hover {
	background-color: #ec2c3b;
	border: 2px solid transparent
}
.cs-testimonial .flex-control-nav {
	background-color: transparent;
	bottom: -40px;
	display: inline-block;
	width: 100%
}
.main-title.col-md-12 {
	margin: 0px
}
.panel-group {
	margin: 0px


}
.panel-group, .panel {
	float: left;
	width: 100%
}
.panel {
	border: 1px solid #ededed;
	box-shadow: none
}
.panel-group .panel-heading {
	background: none;
	padding: 0
}
.panel-heading a {
	display: block;
	font-size: 14px;
	outline: none;
	padding: 12px 18px;
	position: relative;
	text-decoration: none
}
.panel-heading a i {
	color: #999;
	float: left;
	font-size: 12px;
	line-height: 17px;
	margin: 0 15px 0 0
}
.panel-body {
	padding: 0 15px 20px 45px
}
.panel-body p {
	color: #777;
	margin: 0
}
.panel-heading .collapse:before {
	color: red;
	content: "-";
	font-family: FontAwesome;
	font-size: 35px;
	font-weight: 100;
	line-height: 40px;
	position: absolute;
	right: 15px;
	top: -5px
}
.panel-heading .collapse.collapsed:before {
	color: #ccc;
	content: "+";
	font-family: FontAwesome;
	font-size: 20px;
	font-weight: 100;
	line-height: 40px;
	position: absolute;
	right: 15px;
	top: 0
}
.panel-heading .collapse.collapsed i {
	color: #999!important
}
.panel-heading .collapse.collapsed, .panel-group.simple .panel-heading a.collapse {
	color: #333!important
}
.panel-heading a.collapse, .panel-heading a.collapse i {
	color: #ec2c3b!important
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: none
}
.panel-group.simple .panel-heading a {
	text-transform: uppercase
}
.panel-group.box {
	border-bottom: 1px solid #ededed
}
.panel-group.box .panel, .simple .panel {
	border-top: 1px solid #ededed;
	border-width: 1px 0 0 0
}
.panel-group .panel+.panel {
	margin-top: 0px
}
.default.panel-group .panel+.panel {
	margin-top: 5px
}
.panel-group .panel {
	border-radius: 0px
}
.panel-group.simple .panel-heading a i {
	font-size: 18px;
	margin: 1px 15px 20px 0;
	width: 20px
}
.panel-group.simple .panel-heading a, .panel-group.box .panel-heading a {
	padding: 12px 18px 12px 0px
}
.panel-group.box .panel-heading .collapse:before {
	right: 0px
}
.panel-group.simple .panel-heading .collapse:before {
	display: none
}
.simple .panel-body {
	padding: 0 15px 20px 35px
}
.panel-group.simple .panel {
	border: none
}
.nav-tabs {
	border-bottom: 2px solid #548ad5 ;
	float: left;
	margin: 0 0 15px 0;
	/*padding: 0 0 0 15px;*/
	width: 100%
}
.nav-tabs>li {
	float: left;
	margin-bottom: 0;
	list-style: none
}
.nav-tabs>li>a {
	border: none;
	/*border: 1px solid #f0f0f0;*/
	color: #548ad5 ;
	display: inline-block;
	font-size: 14px;
	outline: none;
	padding: 10px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	margin-top:11px;
	text-transform:uppercase
	
}
.nav-tabs>li>a i {
	font-size: 12px;
	margin: 0 3px 0 0
}
.nav-tabs>li.active>a {
	border-bottom-color: transparent;
	/*border-top: 3px solid #ec2c3b;*/
	color: #fff;
	font-weight: 500;
	margin-top: 11px;
	padding: 10px 20px;
	text-transform:uppercase;
	background-color:#548ad5 ;
	border:none;
	border-radius:0;
	
}
.nav-tabs>li.active>a:hover {
	border-bottom-color: transparent;
	/*border-top: 3px solid #ec2c3b;*/
	color: #fff;
	font-weight: 500;
	margin-top: 11px;
	padding: 10px 20px;
	text-transform:uppercase;
	background-color:#548ad5 ;
	border:none;
	border-radius:0;
	
}
.borderless .nav-tabs>li.active>a {
	padding-left: 0px;
	padding-right: 0px
}
.nav-tabs>li.active a:before {
	/*background-color: #fff;
	bottom: -1px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%*/
}
.tab-content h5 {
	color: #666;
	font-size: 12px;
	margin: 0 0 5px;
	text-transform: uppercase
}
.cs-tabs .nav-tabs>li.active>a, .cs-tabs .nav-tabs>li.active>a:hover, .cs-tabs .nav-tabs>li.active>a:focus {
	background-color: inherit;
	border-bottom-color: transparent;
	border-left-color: #ededed;
	border-radius: 0;
	border-right-color: #ededed;
	border-top-color: #ec2c3b;
	border-width: 3px 1px 0 1px;
	color: inherit
}
.cs-tabs.borderless .nav-tabs>li.active>a {
	border-width: 0
}
.cs-tabs.box .nav-tabs>li>a {
	min-width: 133px
}
.box .nav-tabs {
	border-bottom: none;

	margin: 0;
	padding: 0
}
.box .tab-content {
	border: 1px solid #ededed;
	float: left;
	padding: 20px;
	width: 100%
}
.borderless .nav-tabs {
	padding: 0
}
.borderless ul li.active>a {
	border: none
}
.borderless ul.nav-tabs li {
	margin: 0 0 10px 0
}
.borderless ul li a {
	border: none;
	display: inline;
	margin: 0 20px 0 0;
	padding: 0;
	text-align: left
}
.borderless ul li.active a:before {
	background-color: #ec2c3b;
	bottom: -5px;
	height: 3px
}
.tab-content .text ul {
	padding: 0
}
.tab-content .text li {
	color: #777;
	list-style: circle
}
.vertical .nav-tabs {
	border-bottom: none;
	border-right: none;
	float: left;
	padding: 0 0 40px;
	width: 20%
}
.vertical ul li, .vertical ul li a {
	border-right: medium none;
	width: 100%
}
.vertical .tab-content {
	float: left;
	padding: 20px;
	width: 80%;
	border: 1px solid #f0f0f0
}
.vertical>ul li>a {
	border-bottom: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	padding: 8px 0 8px 15px;
	text-align: left
}
.vertical>ul li.active>a {
	border-bottom: 1px solid #f0f0f0;
	border-left: 3px solid #ec2c3b;
	border-top: 1px solid #f0f0f0;
	margin: 0;
	padding: 8px 0 8px 15px
}
.vertical>ul li.active a:before {
	background-color: #fff;
	bottom: 0;
	content: "";
	height: 100%;
	left: auto;
	position: absolute;
	right: -2px;
	width: 2px
}
.vertical .nav-tabs>li>a:hover {
	border-color: #f0f0f0
}
.cs-tabs.vertical .nav-tabs>li.active>a, .cs-tabs.vertical .cs-tabs .nav-tabs>li.active>a:hover, .cs-tabs.vertical .cs-tabs .nav-tabs>li.active>a:focus {
	border-bottom-color: #f0f0f0;
	border-left-color: #ec2c3b;
	border-radius: 0;
	border-top-color: #f0f0f0;
	border-width: 1px 0 1px 3px
}
.cs-services, .cs-services figure, .cs-services .text {
	float: left;
	width: 100%
}
.top-center {
	text-align: center
}
.top-right {
	text-align: right
}
.top-left {
	text-align: left
}
.cs-services figure {
	margin: 0px 0px 18px 0px
}
.cs-services figure img {
	display: inline-block;
	float: none;
	width: auto
}
.cs-services .text h4 {
	font-size: 20px;
margin: 0px 0px 12px 0px text-transform: uppercase
}
.cs-services .text p {
	margin: 0px 0px 23px 0px
}
.cs-services.modren .text p {
	margin: 0 0 15px 0
}
.cs-services a.read-more {
	background-color: #333;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	padding: 10px 22px;
	text-transform: uppercase
}
.cs-services.bg-color {
	background-color: #f8f8f8;
	padding: 40px 40px 40px 40px
}
.cs-services.classic figure {
	float: left;
	width: auto
}
.cs-services.right figure {
	float: right
}
.cs-services.classic.right figure ~ .text {
	padding: 0 130px 0 0
}
.cs-services.classic .text {
	float: none;
	width: auto
}
.cs-services.classic figure ~ .text {
	padding: 0px 0px 0px 130px
}
.cs-services.classic .text .read-more {
	background-color: transparent!important;
	color: #fa8532;
	padding: 0px;
	text-transform: capitalize
}
.cs-services.classic .text .read-more i {
	border-radius: 100%;
	border: 1px solid #fa8532;
	height: 20px;
	margin: 0px 0px 0px 7px;
	padding: 1px 0px 0px 0px;
	text-align: center;
	width: 20px
}
.cs-services.classic figure i {
	border-radius: 100%;
	border: 1px solid #333;
	height: 100px;
	padding: 10px 0;
	text-align: center;
	width: 100px;
	line-height: 75px;
	float: left;
	font-size: 30px
}
.cs-services.modren figure i {
	border: 1px solid #333;
	border-radius: 100%;
	padding: 10px
}
.cs-services.modren.top-left figure i {
	float: left
}
.cs-services.modren.top-center figure i {
	float: none;
	display: inline-block
}
.button_style {
	display: inline-block;
	margin: 0 5px 5px 0;
	vertical-align: bottom
}
.button_style .default, .flat, .strock, .three-d {
	background-color: #dc5954;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	padding: 0px 15px;
	text-align: center;
	text-transform: uppercase
}
.extra-large-btn {
	line-height: 45px;
	min-width: 180px
}
.default.radius {
	border-radius: 20px
}
.default.has_icon {
	padding-left: 0px
}
.extra-large-btn.has_icon i {
	background: rgba(0,0,0,.2);
	float: left;
	line-height: 45px;
	min-width: 45px
}
.large-btn {
	line-height: 40px;
	min-width: 145px
}
.large-btn.has_icon i {
	background: rgba(0,0,0,.2);
	float: left;
	line-height: 40px;
	min-width: 35px
}
.medium-btn {
	line-height: 35px;
	min-width: 115px
}
.medium-btn.has_icon i {
	background: rgba(0,0,0,.2);
	float: left;
	line-height: 35px;
	min-width: 35px
}
.small-btn {
	line-height: 30px;
	min-width: 90px
}
.small-btn.has_icon i {
	background: rgba(0,0,0,.2);
	float: left;
	line-height: 30px;
	min-width: 30px
}
.flat {
	background-color: #1a80b6;
	border-radius: 0
}
.strock {
	background-color: #fff;
	border: 1px solid #d44945;
	color: #ec2d3c
}
.strock.extra-large-btn.has_icon i, .strock.large-btn.has_icon i, .strock.medium-btn.has_icon i, .strock.small-btn.has_icon i {
	background: none;
	border-right: 1px solid #d44945
}
.three-d {
	background-color: #ec2b3a;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4), 0 -3px 0px rgba(0, 0, 0, 0.4) inset
}
/*.social-media-btn {
	background-color: #354e9a;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	line-height: 35px;
	min-width: 130px;
	text-align: center;
	text-transform: uppercase
}
.social-media-btn i {
	background: rgba(0,0,0,.2);
	float: left;
	line-height: 35px;
	min-width: 35px
}
.twitter {
	background-color: #31a7ee
}
.snd-cloud {
	background-color: #ff6400
}
.instagram {
	background-color: #617ecb
}
.facebook {
	background-color: #354e9a
}
.social-media-icons {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	line-height: 40px;
	min-width: 40px;
	text-align: center
}*/
.cs_counter {
	float: left;
	width: 100%
}
.cs_counter figure img {
	display: inline-block;
	float: none;
	margin: 0px 0px 22px 0px;
	width: auto
}
.cs_counter.top-left {
	text-align: left
}
.cs_counter.top-center {
	text-align: center
}
.cs_counter.top-right {
	text-align: right
}
.cs_counter.left img {
	float: left;
	margin: 0px 25px 0px 0px
}
.cs_counter.right img {
	float: right;
	margin: 0px 0px 0px 30px
}
.cs_counter .cs-numcount {
	display: inline-block;
	font-size: 50px;
	font-weight: 400;
	line-height: 40px;
	margin: 0px 0px 13px 0px
}
.cs_counter span {
	display: block;
	font-size: 14px;
	font-weight: 400
}
.cs_counter.classic.top-center span {
	margin: 0 0 10px 0
}
.cs_counter.modren .cs-numcount {
	border-left: 5px solid;
	font-size: 60px;
	font-weight: normal ;
	line-height: 45px;
	padding: 0px 0px 0px 12px
}
.cs_counter.modren.top-right .cs-numcount {
	border-left: none;
	border-right: 5px solid;
	padding: 0px 12px 0px 0px
}
.cs_counter.modren span {
	font-size: 16px;
	margin: 0px 0px 15px 0px;
	text-transform: uppercase
}
.cs_counter p {
	margin: 0px 0px 24px 0px
}
.cs_counter .readmore {
	background-color: red;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 8px 25px;
	text-transform: uppercase
}
.counter-seprater {
	display: inline-block;
	min-width: 200px;
	overflow: hidden;
	position: relative;
	text-align: center
}
.counter-seprater:before, .counter-seprater:after {
	border-bottom: 1px dotted #e6e8ea;
	content: "";
	height: 3px;
	left: 50%;
	margin: 0px 0px 0px 20px;
	position: absolute;
	top: 10px;
	width: 7700px
}
.counter-seprater:after {
	left: auto;
	margin: 0px 20px 0px 0px;
	right: 50%
}
.counter-seprater i {
	color: #e6e8ea;
	display: inline-block;
	font-size: 14px!important;
	margin-bottom: 10px;
	text-transform: uppercase
}
.succ_mess p, .error_mess p {
	background-color: green;
	border-radius: 3px;
	color: #fff!important;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 10px 15px;
	width: 100%
}
.error_mess p {
	background-color: #acdae2
}
.error_mess p:before {
	content: "\f071";
	float: left;
	font: 14px/1 FontAwesome;
	margin: 5px 10px 0px 0px
}
.succ_mess p:before {
	content: "\f00c";
	float: left;
	font: 14px/1 FontAwesome;
	margin: 5px 10px 0px 0px
}
.skills-sec {
	float: left;
	width: 100%
}
.skillbar {
	background-color: #ebebeb;
	display: block;
	float: left;
	margin-bottom: 8px;
	position: relative;
	width: 100%
}
.plain .skillbar {
	width: 96%
}
.plain .skills-sec span {
	margin: 0px
}
.plain .skillbar:after {
	background: none
}
.plain .skillbar:after, .plain .skillbar-bar {
	height: 15px
}
.plain .skills-sec small {
	float: right;
	position: static
}
.skillbar-bar {
	float: left;
	height: 15px;
	position: relative;
	z-index: 9
}
.skills-sec small {
	color: #585858;
	float: right;
	font-size: 16px;
	font-weight: normal;
	margin: -3px 0 0 0
}
.skills-sec span {
	color: #585858;
	float: left;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 5px;
	text-transform: uppercase;
	width: 100%
}
.skills-v2 .skillbar {
	background: none;
	float: right;
	margin-bottom: 30px;
	position: relative;
	width: 81%
}
.skills-v2 .skillbar:after, .skills-v3 .skillbar:after {
	background-repeat: repeat;
	background: url();
	content: "";
	height: 15px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}
.skills-v2 span {
	float: left;
	font-size: 14px;
	margin: -5px 0px 0px 0px;
	width: 19%
}
.skills-v2 .skillbar small {
	background-color: #000;
	border-radius: 3px;
	color: #fff;
	font-weight: 400;
	line-height: 18px;
	padding: 0px 6px 2px;
	position: relative;
	right: -10px;
	top: -17px
}
.skills-v2 .skillbar small:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	bottom: -4px;
	content: "";
	height: 0;
	left: 13px;
	position: absolute;
	width: 0
}
.skills-v3 .skillbar, .skills-v3 .skillbar-bar {
	height: 25px
}
.skills-v3 .skillbar {
	margin: 0 0 20px 0
}
.skills-v3 .skillbar small {
	color: #fff;
	font-weight: 400;
	position: absolute;
	right: 5px;
	top: 4px
}
.skills-v3 .skillbar span {
	color: #fff;
	font-size: 14px;
	font-weight: normal ;
	margin: 0px 0 0 10px
}
.skills-v3 .skillbar:after {
	height: 25px
}
.main-section .forget-link a {
	color: #fff!important
}
.circliful {
	position: relative
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
	color: #333;
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 100%
}
.circle-info, .circle-info-half {
	font-size: 14px;
	font-weight: 400;
	padding: 5px 0px 0px 0px
}
.sircle-outer {
	float: left;
	text-align: center;
	width: 100%
}
.sircle-outer #chart2, .sircle-outer #chart3, .sircle-outer #chart4, .sircle-outer #chart5 {
	display: inline-block;
	float: none;
	width: auto
}
.sircle-outer-v2 #chart2 .fa, .sircle-outer-v2 #chart3 .fa, .sircle-outer-v2 #chart4 .fa, .sircle-outer-v2 #chart5 .fa {
	color: #333;
	font-size: 30px;
	margin: -20px 11px 0 11px
}
.sircle-outer-v2 #chart2 span, .sircle-outer-v2 #chart3 span, .sircle-outer-v2 #chart4 span, .sircle-outer-v2 #chart5 span {
	color: #333
}
.cs-price-table {
	background: #fff;
	border: 2px solid #f1f1f1;
	float: left;
	overflow: hidden;
	padding: 0 0 30px 0;
	text-align: center;
	width: 100%
}
.cs-price-table h3 {
	font-size: 18px;
	line-height: 50px!important;
	text-align: center;
	text-transform: uppercase
}
.cs-price {
	font-size: 40px;
	font-weight: normal;
	line-height: 70px;
	text-align: center
}
.cs-price small {
	display: inline-block;
	font-weight: normal;
	margin-left: 5px
}
.cs-price figure {
	margin: 0;
	text-align: center
}
.features {
	list-style: none;
	padding: 0px 0 25px 0;
	text-align: left
}
.features li {
	border-top: 1px dashed #e0e0e0;
	color: #444;
	line-height: 34px;
	list-style: none;
	padding: 0px 30px
}
.features li:last-child {
	border-bottom: 1px dashed #e0e0e0
}
.features li i {
	color: #7fa32a;
	margin-right: 8px
}
.cs-price-table .sigun_up {

	background-color: #ccc;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	line-height: 32px;
	padding: 0 30px;
	text-transform: uppercase
}
.pr-simple h3 {
	background-color: #fbfbfb;
	border-bottom: 1px solid #f1f1f1;
	color: #505050;
	margin: 0
}
.pr-simple .cs-price {
	background-color: #fff;
	color: #505050
}
.cs-price .inner-sec {
	display: inline-block;
	position: relative
}
.pr-simple .cs-price span {
	color: #505050;
	font-size: 24px;
	left: -14px;
	position: absolute;
	top: -3px
}
.pr-simple .cs-price figure img {
	margin: 17px 0 0 10px;
	width: 55px
}
.pr-simple .cs-price small {
	color: #9d9d9d;
	font-size: 12px
}
.pr-simple.featured {
	margin-top: -15px;
	padding: 0 0 45px 0
}
.pr-simple.featured h3 {
	line-height: 95px
}
.pr-classic {
	border-radius: 8px;
	border: 1px solid #dcdcdc;
	float: left;
	overflow: hidden;
	padding: 0 0 30px;
	text-align: center;
	width: 100%
}
.pr-classic .cs-price {
	background: #333;
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	line-height: 1;
	padding-bottom: 20px;
	padding-top: 18px
}
.pr-classic .cs-price span {
	font-size: 30px
}
.pr-classic h3 {
	background-color: #5c5c5c;
	color: #fff;
	margin: 0;
	padding: 10px 0 5px 0
}
.pr-classic .cs-price h3 {
	background: none
}
.pr-classic .cs-price small {
	color: #fff;
	font-size: 12px
}
.pr-classic ul li {
	line-height: 36px;
	padding: 0px;
	text-align: left
}
.pr-classic ul li:first-child {
	border-top: none
}
.pr-classic ul li i {
	display: inline-block;
	margin-right: 10px
}
.pr-classic ul {
	padding: 10px 30px 25px 30px
}
.pr-classic.featured {
	border-radius: 15px;
	margin-top: -20px;
	padding: 0 0 50px 0;
	position: relative;
	z-index: 99
}
.pr-classic.featured h3 {
	line-height: 82px
}
.pr-classic figure {
	margin-bottom: 20px
}
.pr-classic figure img {
	float: none;
	width: auto
}
.pr-classic.featured .cs-price {
	background: #21cdec;
	padding-top: 38px
}
.pr-classic .sigun_up {
	min-width: 200px
}
.cs-price-table.pr-modren {
	background-color: transparent;
	border: 2px solid rgba(161,161,161,.5);
	padding: 20px 0px 30px 0px
}
.pr-modren .features {
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
	width: 100%
}
.pr-modren .features li {
	border: none;
	color: #fff;
	font-size: 17px
}
.pr-modren h3 {
	font-size: 25px;
	line-height: 18px;
	margin: 0px 0px 0px 0px
}
.pr-modren .cs-price {
	border-bottom: 2px solid rgba(161,161,161,.5);
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	padding: 0px 0px 15px 0px
}
.pr-modren .cs-price small {
	font-size: 14px
}
.pr-modren .sigun_up {
	font-size: 14px;
	font-weight: 400;
	line-height: 45px
}
.call-actions {
	border-top: 1px solid #ececec;
	float: left;
	padding: 40px 0 0 0;
	text-align: center;
	width: 100%
}
.call-actions.ac-classic, .call-actions.ac-plane {
	border: none
}
.call-actions .cell {
	display: inline-block;
	padding: 0 15px;
	vertical-align: middle
}
.call-actions .cell p {
	color: #666
}
.call-actions .cell.heading {
	text-align: right;
	width: 45%
}
.call-actions .cell.heading h3 {
	color: #666;
	font-size: 18px!important;
	text-transform: uppercase
}
.cell.icon {
	width: 10%
}
.call-actions .cell.text-area {
	text-align: left;
	width: 45%
}
.call-actions .cell.icon i {
	color: #ec2d3c;
	font-size: 50px;
	line-height: 42px;
	width: 52px
}
.call-actions.in-center .cell, .call-actions.in-center .cell.heading, .call-actions.in-center .cell.text-area, .call-actions.in-center .cell.icon {
	float: left;
	text-align: center;
	width: 100%
}
.call-actions.in-center .cell.text-area {
	padding-bottom: 7px
}
.call-actions.in-center .cell.icon {
	padding: 0 0 15px
}
.call-actions.in-center .cell.icon i {
	border: 0;
	font-size: 52px;
	height: 100%
}
.call-actions .custom-btn, .call-actions.in-center .custom-btn:hover {
	background: #ec2d3c;
	color: #fff
}
.call-actions.in-center .custom-btn {
	display: inline-block;
	float: none;
	line-height: 40px
}
.ac-clean {
	border-top: none
}
.ac-clean .cell.heading h3 {
	text-transform: uppercase
}
.ac-clean .cell.heading h3, .ac-clean .cell.icon i, .ac-clean .cell p {
	border: none;
	color: #fff
}
.ac-clean .cell.icon i {
	font-size: 50px
}
.table.tablev1>thead>tr>th {
	border: 1px solid #9f9f9f
}
.table.tablev1 th {
	background-color: #2d2d2d;
	color: #fff;
	font-weight: 400;
	padding: 8px 15px;
	text-transform: uppercase
}
.table.tablev1 tbody tr td:nth-child(2) {
	color: #333;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase
}
.table.tablev1 tbody tr td:first-child {
	color: #777;
	font-size: 14px
}
.table.tablev1 tbody tr td:first-child {
	width: 55px
}
.table.tablev1 tbody tr td {
	border: 1px solid #e2e2e2
}
.table.tablev1 th {
	background-color: #5c5c5c
}
.table.tablev1 {
	border: 1px solid #9f9f9f
}
* {
	margin: 0px;
	padding: 0px
}
.main-section {
	float: left;
	overflow: hidden;
	padding: 35px 0 0 0;
	width: 100%
}






.main-title {
	padding: 0px 15px
}
.sticky {
}


.top-bar {
	border-bottom: 1px solid rgba(255,255,255,.1);
	float: left;
	padding: 8px 0;
	width: 100%
}
.left-side {
	float: left
}
.top-bar .left-side p {
	color: #999;
	float: left;
	font-size: 11px;
	margin: 0 12px 0 0
}
.top-bar .left-side p a {
	color: #999
}
.top-bar .left-side p i {
	color: #ee1d23;
	float: left;
	margin: 6px 5px 0 0
}
.right-side {
	float: right
}
.cart-sec {
	float: left;
	padding: 3px 0px 0px 0px;
	position: relative;
	text-align: center;
	width: 65px
}
.cart-sec a {
	color: #999;
	float: left;
	font-size: 12px
}
.cart-sec i {
	color: #b8b8b8;
	float: left;
	margin: 5px 5px 0 0
}
.cart-sec span.qnt {
	background-color: #ee1d23;
	border-radius: 100%;
	color: #fff;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	padding: 0px 2px 2px 2px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 5px;
	width: 16px
}
.logo-section {
	border-bottom: 1px solid rgba(255,255,255,.1);
	float: left;
	padding: 7px 0 14px 0;
	width: 100%
}
.logo-section .logo {
	float: left
}
.logo-section p {
	color: #484848;
	float: left;
	font-style: italic;
	padding: 25px 0 0 10px
}
.search-top {
	border-bottom: 1px solid rgba(255,255,255,.1);
	float: left;
	height: 36px;
	margin-top: 11px;
	overflow: hidden;
	position: relative
}
.search-top:after {
	color: #484848;
	content: "\ea01";
	font-family: "icomoon";
	position: absolute;
	right: 0px;
	top: 6px;
	z-index: 1
}
.search-top input[type="text"] {
	background: none;
	border: medium none;
	color: #484848;
	float: left;
	font-size: 12px;
	font-style: italic;
	height: 34px;
	line-height: 34px;
	min-width: 250px;
	padding: 0
}
.search-top input[type="submit"] {
	background: none;
	border: medium none;
	min-height: 36px;
	min-width: 36px;
	position: relative;
	z-index: 9
}
header .socialmedia {
	float: left;
	padding: 20px 0 0 30px
}
header .socialmedia li {
	float: left;
	list-style: none;
	margin: 0 0 0 5px
}
header .socialmedia li a i {
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	color: #484848;
	font-size: 24px;
	transition: all .3s linear
}
header .socialmedia li a i:hover {
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	color: #fff;
	transition: all .3s linear
}
.main-navbar {
	float: left;
	width: 100%
}
.main-navbar .container {
	position: relative
}
.navigation {
	float: left
}
.navigation ul li {
	float: left;
	line-height: 1;
	list-style: none;
	position: relative
}
.navigation ul li a i {
	margin-right: 7px
}
.navigation ul>li>a {
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	border-left: 1px solid rgba(255,255,255,.1);
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: 500;
	padding: 20px;
	position: relative;
	text-transform: capitalize;
	text-transform: uppercase;
	transition: all .3s linear
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #e7e7e7;
	border:none;
	color:#548ad5 ;
	border-radius:0;
}
.navigation ul li:last-child a {
	border-right: 1px solid rgba(255,255,255,.1)
}
.navigation ul>li:hover>a, .navigation ul>li:hover>a:before {
	color: #fff
}
.navigation ul>li:hover>a {
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	background-color: #ee1d23;
	transition: all .3s linear
}
.sub-dropdown {
	-moz-transform: translateX(20px);
	-moz-transition: all .3s ease-in-out;
	-ms-transform: translateX(20px);
	-o-transform: translateX(20px);
	-o-transition: all .3s ease-in-out;
	-webkit-transform: translateX(20px);
	-webkit-transition: opacity .3s ease-out 100ms;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,.1);
	left: 0px;
	margin: 0px;
	opacity: 0;
	padding: 10px 0px 10px 0px;
	position: absolute;
	top: 100%;
	transform: translateX(20px);
	transition: all .3s ease-in-out;
	visibility: hidden;
	width: 230px;
	z-index: 99
}
.navigation ul li:hover>.sub-dropdown {
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	opacity: 1;
	transform: translateX(0px);
	visibility: visible
}
.sub-dropdown li {
	width: 100%
}
.navigation ul li .sub-dropdown li:hover a {
	color: #fff!important
}
.navigation ul .sub-dropdown li a {
	background: none;
	border-left: none;
	color: #fff;
	float: left;
	font-size: 12px;
	padding: 8px 14px;
	width: 100%
}
.navigation ul .sub-dropdown li:last-child a {
	border-right: none
}
.navigation ul .sub-dropdown ul {
	left: 95%;
	top: 0px
}
.navigation ul .sub-dropdown>li:first-child>a {
	border-top: none
}
.navigation ul li.cs-mega-menu {
	position: static
}
.mega-grid {
	-moz-transform: translateY(20px);
	-moz-transition: all .3s ease-in-out;
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
	-o-transition: all .3s ease-in-out;
	-webkit-transform: translateY(20px);
	-webkit-transition: opacity .3s ease-out 100ms;
	background-color: #fff;
	display: none;
	left: 0px;
	margin: 0px;
	opacity: 0;
	position: absolute;
	top: 100%;
	transform: translateY(20px);
	transition: all .3s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 99
}
.cs-click-menu {
	background-color: #1b1b1b;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: none;
	height: 32px;
	padding: 5px 15px;
	text-align: center;
	width: 50px
}
.breadcrumb-sec {
	float: left;
	overflow-x: hidden;
	padding-bottom: 35px;
	position: relative;
	width: 100%
}
.breadcrumb-sec:before {
	background-color: rgba(29,36,46,.8);
	content: '';
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0
}
.pageinfo {
	margin-bottom: 60px;
	position: relative;
	z-index: 15
}
.pageinfo h1 {
	display: inline-block;
	font-size: 50px;
	line-height: .8;
	padding: 7px 20px 0px 0px;
	text-transform: uppercase
}
.pageinfo span {
	border-left: 1px solid #fff;
	display: inline-block;
	font-size: 14px;
	margin: 0px 0px 8px 0px;
	padding: 0 0px 0 30px;
	vertical-align: top;
	width: 50%
}
.pageinfo.page-title-align-center h1 {
	display: block
}
.pageinfo.page-title-align-center span {
	border: none;
	display: block;
	padding: 0px;
	width: 100%
}
.pageinfo.page-title-align-right h1 {
	float: right;
	padding: 7px 0px 0 20px
}
.pageinfo.page-title-align-right span {
	border-left: none;
	border-right: 1px solid #fff;
	padding: 0 30px 0 0px
}
.breadcrumbs ul li {
	float: left;
	list-style: none
}
.breadcrumbs ul li.active {
	color: #fff;
	font-size: 12px;
	margin: 8px 0 0 0
}
.breadcrumbs ul li a {
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 8px 25px 8px 12px;
	position: relative
}
.breadcrumbs ul li a:before {
	content: "\f05b";
	font-family: 'icomoon';
	font-size: 7px;
	position: absolute;
	right: 7px;
	top: 9px
}
.breadcrumbs {
	background-color: rgba(0,0,0,.2);
	bottom: 0px;
	left: 30%;
	padding: 0 0 0 20px;
	position: absolute;
	width: 100%
}
.pageinfo.page-title-align-center .breadcrumbs {
	bottom: -95px
}
.page-title-align-center {
	text-align: center
}
.page-title-align-left {
	text-align: left
}
.page-title-align-right {
	text-align: right
}
.cs-seprator {
	float: left;
	margin-bottom: 15px;
	position: relative;
	width: 100%
}
.devider1 {
	float: left;
	position: relative;
	width: 100%
}
.devider1:before {
	border-top: 1px solid #e5e5e5;
	content: "";
	height: 1px;
	left: 0px;
	position: absolute;
	top: 0;
	width: 100%
}
.devider1:after {
	border-top: 1px solid #ee1d23;
	content: "";
	height: 1px;
	left: 0px;
	position: absolute;
	top: 0;
	width: 60px
}
.cs-blog {
	float: left;
	width: 100%
}
.cs-blog figure {
	float: left;
	width: 100%
}
.cs-blog h2 {
	line-height: 26px;
	margin-bottom: 10px
}
.post-option {
	display: block
}
.post-option li {
	color: #ccc;
	float: left;
	font-size: 14px;
	font-weight: 400;
	list-style: none;
	margin-left: 30px
}
.post-option li:first-child {
	margin-left: 0px
}
.post-option li time {
	background-color: #548ad5 ;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin-right: 4px;
	padding: 4px 8px
}
.post-option li a {
	color: #ccc;
	font-weight: 400
}
.post-option li a:hover {
	color: #d7233c
}
.post-option li i {
	color: #ccc;
	font-size: 16px;
	margin-right: 7px;
	vertical-align: middle
}
.cs-blog .title .post-option {
	float: left;
	margin-bottom: 10px;
	width: 100%
}
.cs-blog .btnshare {
	color: #ccc;
	font-size: 18px;
	padding: 5px 0px 0px 0px
}
.cs-blog.cs-blog-grid .title .post-option {
	margin-bottom: 6px
}
.cs-blog.blog-lrg figure {
	float: left;
	margin-bottom: 20px;
	width: 100%
}
.cs-blog.cs-blog h2 {
	margin-bottom: 14px
}
.cs-blog.blog-lrg section {
	float: left
}
.cs-blog.blog-lrg section .title {
	float: left;
	width: 318px
}
.cs-blog.blog-lrg {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 30px
}
.cs-blog.blog-lrg section .title ~ .blog-text {
	padding: 0 0 0 360px
}
.cs-blog .btnshare {
	float: right
}
.cs-blog.blog-lrg p {
	margin-bottom: 20px
}
.cs-blog .cs-seprator {
	margin-bottom: 4px
}
.cs-blog.blog-medium .cs-media {
	width: 360px
}
.cs-blog.blog-medium .cs-media figure {
	margin: 0px
}
.cs-blog.blog-medium h2 {
	margin-bottom: 15px
}
.cs-blog.blog-medium {
	border-radius: 0;
	border: 1px solid #ebebeb;
	box-shadow:0 1px 2px rgba(0,0,0,.2);
}
.cs-blog.blog-medium .cs-media ~ section {
	padding: 30px 30px 0 390px
}
.cs-blog.blog-medium .title .post-option {
	margin-bottom: 16px
}
.cs-blog.blog-medium p {
	margin-bottom: 20px
}
.no-image section {
	float: left;
	padding: 20px
}
.blog-medium .blog-text {
	float: left;
	padding: 0 0 15px;
	width: 100%
}
.cs-blog-grid figure {
	float: left;
	margin-bottom: 15px
}
.cs-blog-grid h4 {
	line-height: 22px;
	margin-bottom: 10px
}
.cs-blog-grid {
	padding-bottom: 18px
}
.cs-blog-grid p {
	margin-bottom: 0px
}
.cs-blog-grid .cs-seprator {
	margin-bottom: 0px
}
.cs-blog-grid .post-option {
	float: left;
	margin-bottom: 18px
}
.post-option-panel {
	float: left;
	width: 100%
}
.post-option-panel .post-option {
	float: left;
	margin-bottom: 15px;
	width: 100%
}
.post-option-panel .post-option li i {
	margin-right: 5px
}
.post-option-panel h2 {
	line-height: 28px;
	margin-bottom: 18px
}

.blog-editor.rich_editor_text {
	padding: 0 0 0 34px
}
.blog-editor .col-md-12.wow.slide {
	padding: 0

}
.blog-editor.rich_editor_text .cs-qoute {
	margin-left: -40px
}
.blog-editor.rich_editor_text p {
	margin-bottom: 15px
}
.detail-post {
	float: left;
	width: 100%
}
.detail-post>h5 {
	text-transform: uppercase
}
.detail-post, .cs-tags, .prev-next-post, .match-video, .default_gallery, .about-staduim {
	padding: 0 0 0 34px

}
.socialmedia .at_PinItButton:before {
	color: #fff;
	content: "";
	float: left;
	font-family: "icomoon";
	margin: -2px 0 0 9px
}
.socialmedia .at_PinItButton {
	background: none
}
.about-staduim .detailpost img {
	width: 50%
}
.about-staduim .detailpost img ~ figcaption {
	background-color: #ececec;
	height: 100%;
	padding: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%
}
.about-staduim .detailpost+figcaption {
	background-color: #ececec;
	height: 100%;
	padding: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%
}
.about-staduim .detailpost figcaption {
	background-color: #ececec;
	float: left;
	padding: 30px
}
.contant-info header p {
	margin-bottom: 20px
}
.contant-info header h5 {
	margin-bottom: 12px
}
.default_gallery [class*="col-md"] {
	margin: 0 -4px 7px 0;
	padding: 0 4px
}
.cs-gallery {
	float: left;
	width: 100%
}
.default_gallery .row {
	margin: 0
}
.share-btn {
	color: #fff;
	float: left;
	font-size: 14px;
	margin: 0 12px 0 0px;
	min-width: 124px;
	padding: 8px 10px;
	text-align: center
}
.share-btn i {
	display: inline-block;
	margin: -2px 8px 0 0;
	vertical-align: middle
}
.socialmedia {
	float: left
}
.socialmedia ul li {
	float: left;
	list-style: none
}
.socialmedia ul li a {
	color: #fff;
	display: inline-block;
	font-size: 18px;
	height: 32px;
	line-height: 36px;
	margin: 0 5px 5px 0;
	text-align: center;
	width: 32px
}
.socialmedia ul li a.addthis_button_pinterest {
	background-color: red;
	margin: 0 4px 0 0
}
.socialmedia ul li a[data-original-title="Facebook"] {
	background-color: #305891
}
.socialmedia ul li a[data-original-title="twitter"] {
	background-color: #2ca8d2
}
.socialmedia ul li a[data-original-title="google-plus"] {
	background-color: #ce4d39
}
.socialmedia ul li a[data-original-title="pinterest"] {
	background-color: #c82828
}
.socialmedia ul li a[data-original-title="envelope"] {
	background-color: #738a8d
}
.socialmedia ul li a[data-original-title="Tumblr"] {
	background-color: #c82828
}
.socialmedia ul li a[data-original-title="Dribbble"] {
	background-color: #ce4d39
}
.socialmedia ul li a[data-original-title="twitter"] {
	background-color: #Instagram
}
.socialmedia ul li a[data-original-title="stumbleupon"] {
	background-color: #c82828
}
.socialmedia ul li a[data-original-title="Youtube"] {
	background-color: #305891
}
.socialmedia ul li a[data-original-title="Instagram"] {
	background-color: #738a8d
}
.prev-next-post {
	float: left;
	width: 100%
}
.prev-next-post article.prev {
	float: left;
	width: 45%
}
.prev-next-post article.next {
	float: right;
	width: 46.66%
}
.prev-next-post a .icon-list8 {
	background-color: #ececec;
	color: #d7233c;
	display: inline-block;
	font-size: 18px;
	margin: 0 13px;
	padding: 8px 11px
}
.prev-next-post article.prev .left-arrow, .prev-next-post article.next .right-arrow {
	background: url(assets/images/xprve-bg.png.pagespeed.ic.LK8TfiiF0a.png) no-repeat;
	float: left;
	font-size: 18px;
	height: 33px;
	line-height: 34px;
	margin-right: 2px;
	padding-left: 10px;
	text-align: center;
	width: 47px
}
.prev-next-post article .text a {
	color: #4d4d4d;
	font-size: 14px
}
.prev-next-post article .text {
	display: inline-block;
	width: 100%
}
.prev-next-post article .text h2 {
	background-color: #f2f0f1;
	float: right;
	font-size: 14px;
	margin-bottom: 0px;
	padding: 0px 15px 4px 15px;
	width: 86%
}
.prev-next-post article.prev .text h2 {
	float: right
}
.prev-next-post article.next .text h2 {
	float: left;
	width: 86.66%
}
.prev-next-post article.next .text {
	float: right;
	width: 100%
}
.prev-next-post article.next .right-arrow {
	background: url(assets/images/xnext-bg.png.pagespeed.ic.0T-XiuLqXO.png) no-repeat;
	float: right;
	margin: 0 0 0 2px;
	padding-right: 10px
}
.cs-about-author {
	background-color: #f2f0f1;
	float: left;
	min-height: 266px;
	padding: 60px 30px 30px 30px;
	position: relative;
	width: 100%
}
.cs-about-author figure {
	float: right
}
.cs-about-author figure img {
	border-radius: 100%
}
.cs-about-author .text {
	width: 75%
}
.cs-about-author .text p {
	margin-bottom: 20px
}
.custom-btn {
	background-color: #d7233c;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	margin: 0 10px 10px 0;
	padding: 10px 30px;
	text-transform: uppercase
}
#cs-comments {
	float: left;
	width: 100%
}
#cs-comments ul {
	margin: 0px
}
#cs-comments ul li {
	float: left;
	list-style: none;
	width: 100%
}
#cs-comments ul li:first-child {
	padding-top: 0px
}
.thumblist p {
	display: inline;
	margin-bottom: 20px
}
.thumblist {
	float: left;
	margin-bottom: 50px;
	position: relative;
	width: 100%
}
.thumblist h6 {
	margin-bottom: 0px;
	text-transform: uppercase
}
.thumblist figure img {
	border-radius: 100%
}
.thumblist figure {
	border-radius: 100%;
	float: left;
	margin-bottom: 10px;
	margin-right: 25px;
	width: 60px
}
.thumblist header {
	float: left;
	width: 220px
}
.thumblist span {
	color: #a9a9a9;
	font-size: 12px;
	text-transform: uppercase
}
.thumblist .text {
	padding: 0 0 0 250px;
	position: relative
}
.thumblist .comment-reply-link {
	color: #d7233c;
	font-size: 12px;
	margin-left: 5px;
	text-transform: uppercase
}
.children {
	padding-left: 60px;
	width: 100%
}
.children #li-comment-51 .thumblist {
	border-radius: 2px;
	border: 1px solid #f5f5f5;
	box-shadow: 0 0 2px 0px rgba(0,0,0,.05);
	margin: 0 0 20px 0;
	padding: 32px 32px 32px 25px
}
#li-comment-50 .thumblist {
	border: none;
	margin: 0 0 25px 0;
	padding: 0px
}
.thumblist .text .reply-btn {
	bottom: -75px;
	left: 50%;
	position: absolute
}
.thumblist .text .reply-btn {
	background-color: #fff;
	border-top: none;
	border-top: none;
	border: 1px solid #efefef;
	color: #a9a9a9;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	line-height: 32px;
	min-width: 88px;
	padding: 0px 20px;
	text-transform: uppercase
}
.children .thumblist p {
	margin-bottom: 0px
}
.children li:last-child .thumblist {
	margin-bottom: 10px
}
#cs-comments ul li .thumblist {
	float: left;
	margin: 0;
	position: relative;
	width: 100%
}
#li-comment-2 .thumblist .text .reply-btn {
	bottom: auto;
	top: -65px
}
#cs-comments ul>li .thumblist {
	margin: 0px 0px 50px 0px
}
#cs-comments ul li .children li .thumblist {
	border-radius: 2px;
	border: 1px solid #f5f5f5;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.05);
	margin: 0px 0px 20px 0px;
	padding: 32px 32px 32px 25px
}
.cs-classic-form, .cs-classic-form form {
	float: left;
	position: relative;
	width: 100%
}
.cs-classic-form input[type="text"] {
	height: 65px;
	padding: 10px 10px 10px 60px;
	text-transform: uppercase
}
.cs-classic-form p {
	position: relative
}
.cs-classic-form p label, .cs-classic-form .comment-form-comment label {
	display: inline-block;
	left: 20px;
	margin-bottom: 0px;
	position: absolute;
	top: 21px
}
.cs-classic-form p label i {
	color: #333;
	font-size: 18px
}
.cs-classic-form p.comment-form-comment {
	position: absolute;
	right: 0px;
	top: 0;
	width: 50%
}
.cs-classic-form .comment-form-comment label {
	left: 24px;
	top: 22px
}
.cs-classic-form textarea {
	height: 215px;
	padding: 18px 10px 10px 55px;
	width: 100%
}
.cs-classic-form .comment-form-author, .cs-classic-form .comment-form-email, .cs-classic-form .comment-form-Website {
	width: 100%
}
form p.form-submit input[type="submit"] {
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	height: 46px;
	left: 50%;
	margin: 10px 0 0 0px;
	min-width: 130px;
	position: relative
}
.cs-classic-form .comment-form-author input, .cs-classic-form .comment-form-email input, .cs-classic-form .comment-form-Website input {
	width: 48%
}
.cs-classic-form.logged_in p.comment-form-comment {
	position: inherit;
	width: 100%
}
.logged_in form p.form-submit input[type="submit"] {
	position: initial
}
blockquote cite {
	font-size: 14px
}
blockquote {
	border-left: none;
	color: #333;
	float: left;
	font-size: 26px;
	font-style: italic;
	line-height: 34px;
	margin: 0px 0px 0px 0;
	padding: 0px;
	width: 100%
}
blockquote .cs-auther-name {
	color: #a9a9a9;
	display: block;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	padding-left: 75px;
	position: relative
}
blockquote .cs-auther-name:before {
	bottom: 15px;
	content: "";
	height: 1px;
	left: 0px;
	position: absolute;
	width: 60px
}
.cs-tags {
	float: left;
	width: 100%
}
.cs-tags ul li {
	float: left;
	list-style: none;
	margin: 0 6px 6px 0
}
.cs-tags ul li a {
	-moz-transition: all .25s cubic-bezier(.7, .4, .8, .9);
	-ms-transition: all .25s cubic-bezier(.7, .4, .8, .9);
	-o-transition: all .25s cubic-bezier(.7, .4, .8, .9);
	-webkit-transition: all .25s cubic-bezier(.7, .4, .8, .9);
	background-color: #ececec;
	border-radius: 20px;
	color: #a9a9a9;
	display: block;
	font-size: 12px;
	line-height: 12px;
	padding: 10px 16px;
	text-transform: capitalize;
	transition: all .25s cubic-bezier(.7, .4, .8, .9)
}
.pagination {
	background-color: #f2f2f2;
	float: left;
	margin: 10px 0px;
	padding: 15px 20px;
	text-align: center;
	width: 100%
}
.pagination li {
	display: inline-block;
	list-style: none;
	position: relative
}
.pagination li a {
	color: #999;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	padding: 0 14px
}
.pagination li:before {
	color: #999;
	content: "//";
	font-size: 12px;
	left: -6px;
	letter-spacing: -2px;
	position: absolute;
	top: 0px
}
.pagination li:nth-child(1):before {
	display: none
}
.pagination li.pgprev {
	float: left
}
.pagination li.pgprev a, .pagination li.pgnext a {
	color: #666;
	padding: 0px;
	text-transform: uppercase
}
.pagination li a:hover, .pagination li.pgprev:hover img {
	color: #fd4e33
}
.pagination li.pgprev:before, .pagination li.pgnext:before {
	display: none
}
.pagination li.pgprev img {
	margin-right: 10px
}
.pagination li.pgnext {
	float: right
}
.pagination li.pgnext img {
	margin-left: 10px
}
.filter-nav {
	float: left;
	width: 100%
}
.filter-nav li {
	float: left;
	list-style: none;
	margin: 7px 0px 0px 1px;
	position: relative;
	z-index: 5
}
.filter-nav li:first-child {
	margin-left: 0px
}
.filter-nav li a {
	background-color: #e7e7e7;
	color: #000;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	padding: 14px 20px;
	text-transform: uppercase
}
.filter-nav li.active a {
	background-color: #fff;
	border-top: 1px solid #ee1d23;
	box-shadow: 0 -2px 2px 1px rgba(0,0,0,.1);
	margin-top: -8px;
	padding: 20px 20px 14px;
	position: relative;
	z-index: 3
}
.post-option-panel .filter-nav li a {
	background: none;
	font-size: 16px;
	font-weight: normal;
	margin-left: 35px;
	padding: 0px
}
.post-option-panel .filter-nav li:first-child a {
	margin-left: 0px
}
.post-option-panel .filter-nav {
	margin-bottom: 20px
}
.filter-nav li a i {
	margin: 0 5px 0 0
}
.cs-team, .cs-team .text, .cs-team .text header {
	float: left;
	width: 100%
}
.cs-team figure {
	float: left;
	margin-bottom: 16px;
	width: 100%;
	overflow: hidden;
	transform: translateZ(0px);
	transition-duration: .5s;
	transition-property: transform
}
.cs-team:hover figure img {
	transform: scale(1.1) rotate(3deg)
}
.cs-team figure img {
	transform: scale(1)
}
.cs-team .text .player-no {
	color: #d2d2d2;
	float: left;
	font-size: 50px;
	font-weight: normal;
	line-height: 42px
}
.player-no {
	color: #d2d2d2;
	float: left;
	font-size: 50px;
	font-weight: normal;
	line-height: 42px
}
.cs-team .text h4 {
	float: none;
	margin-bottom: 0px;
	text-transform: uppercase
}
.cs-team .text .player-no ~ h4, .cs-team .text .player-no ~ h6 {
	padding: 3px 0 0 70px
}
.cs-team .text h6 {
	font-weight: 400;
	margin-bottom: 0px
}
figure.detailpost img {
	width: 100%
}
.frame-plane, .detailpost {
	float: left;
	margin: 0px;
	position: relative;
	width: 100%
}
.team-detail figure.detailpost {
	margin-bottom: 30px
}
.team-detail .frame-plane figure img, .team-detail .frame-plane figure {
	height: 100%;
	width: 100%
}
.team-detail .detailpost img {
	float: left;
	width: 45%
}
.team-detail .frame-plane a ~ section, .team-detail .detailpost img ~ figcaption {
	background-color: #ececec;
	height: auto;
	padding: 22px 30px 15px;
	position: absolute;
	right: 0;
	top: 35px;
	width: 55%
}
.team-detail .detailpost img ~ figcaption {
	background-color: #1d242e;
	height: 100%;
	top: 0
}
.frame-plane section, .team-detail .detailpost figcaption {
	float: left;
	padding: 22px 30px 0px 30px
}
.frtable {
	display: table
}
.frtable-row {
	display: table-row
}
.frtabel-cell.imageframe img {
	width: 100%
}
.frtabel-cell.imageframe {
	width: 45%
}
.frtabel-cell {
	background-color: #f2f0f1;
	display: table-cell;
	vertical-align: top
}
.team-detail .frame-plane p {
	padding: 0
}
.contant-info.cs-team header {
	float: left;
	margin: 0 0 25px 0;
	width: 100%
}
.contant-info.cs-team header h1 {
	float: left;
	margin: 15px 0 0 0
}
.contant-info.cs-team header .player-no {
	color: #fff;
	float: right;
	font-size: 40px;
	font-weight: normal;
	height: 62px;
	line-height: 60px;
	text-align: center;
	width: 62px
}
.contant-info.cs-team .cs-seprator {
	margin-bottom: 30px
}
.contant-info.cs-team .devider1:before {
	border-top: 1px solid #3f454d
}
.player-info, .player-info ul {
	float: left;
	width: 100%
}
.player-info {
	margin-bottom: 28px
}
.player-info .right-side li {
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: normal;
	list-style: none;
	width: 100%
}
.player-info .left-side li {
	color: #999;
	font-size: 14px;
	font-weight: 400;
	list-style: none
}
.player-info .left-side, .player-info .right-side {
	background-color: #0e1217;
	float: left;
	padding: 20px;
	width: 50%
}
.player-info .right-side {
	background-color: #141920;
	padding: 20px 20px 20px 27px
}
.cs-theme-carousel li[class*="col-md-"] {
	padding: 0px;
	width: 100%
}
.post-recent [class*="col-md"] {
	margin-bottom: 0
}
.post-recent {
	float: left;
	width: 100%
}
.post-recent ul {
	margin: 0px
}
.cs-prv-next .owl-controls {
	background-color: #fff;
	padding: 0 0 0 10px;
	position: absolute;
	right: 0px;
	top: -46px;
	width: auto
}
.cs-prv-next .owl-nav div {
	background-color: #ccc;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 24px;
	line-height: 26px;
	position: relative;
	text-align: center;
	width: 35px
}
.cs-prv-next .owl-prev {
	float: left;
	left: 0
}
.cs-prv-next .owl-prev:after {
	border-right: 1px solid #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transform: skew(-20deg);
	width: 1px
}
.cs-prv-next .owl-next:before {
	border-left: 1px solid #fff;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: skew(-20deg);
	width: 1px
}
.cs-prv-next .owl-next {
	float: right;
	right: 1px
}
.event-editor .match-score small {
	background-color: #0e1723;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 10px;
	padding: 0 5px 1px 5px;
	text-align: center
}
.event-editor .cs-sc-team ul li .match-score span {
	bottom: -16px;
	left: 50%;
	margin: 0 0 0 -9px;
	position: absolute
}
.event-editor .cs-sc-team ul li .match-score {
	display: inline-block;
	float: none;
	margin: 24px 0 0;
	width: auto
}
.event-editor .bottom-event-panel {
	padding: 0 0 0 10px;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 5
}
.event-editor .bottom-event-panel .post-option {
	display: inline-block;
	padding: 7px 0;
	width: 79%
}
.bottom-event-panel .ticket-btn {
	background-color: #d7233c;
	color: #fff;
	float: right;
	font-size: 16px;
	font-weight: normal;
	min-width: 165px;

	padding: 12px 0px;
	text-align: center;
	text-transform: uppercase
}
.countdownit {
	float: left;
	margin: 0 0 15px 0;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 5
}
.hasCountdown span.countdown_row {
	border: 1px solid rgba(255,255,255,.7);
	display: inline-block;
	padding: 6px 10px
}
.hasCountdown span {
	color: #fff;
	font-weight: 400;
	margin: 0 0 0 3px;
	text-transform: uppercase
}
.hasCountdown .countdown_section .countdown_amount {
	font-weight: normal;
}
.bottom-event-panel .post-option li .ticket-btn {
	display: inline-block;
	float: none
}
.cs-upcomming .bottom-event-panel {
	background: rgba(0,0,0,.4);
	text-align: center
}
.history-list {
	margin: 0px 0px 0px -85px
}

.history-list article {
	float: left;
	padding: 0px 0px 30px 85px;
	position: relative;
	text-align: center;
	width: 50%
}
.history-list article:before {
	border-left: 1px solid #eee;
	content: '';
	height: 100%;
	left: 6%;
	position: absolute;
	top: 0px;
	width: 2px
}
.history-list article .inner-sec {
	box-shadow: 0px 0px 4px 1px #ebebeb;
	float: left;
	padding: 0px 40px 40px 40px;
	position: relative;
	width: 100%
}
.history-list article .inner-sec:before {
	border-bottom: 10px solid transparent;
	border-left: 12px solid #ccc;
	border-top: 10px solid transparent;
	content: '';
	position: absolute;
	right: -13px;
	top: 25px
}
.history-list article:nth-child(even) .inner-sec:before {
	-moz-transform: rotate(179deg);
	-ms-transform: rotate(179deg);
	-o-transform: rotate(179deg);
	-webkit-transform: rotate(179deg);
	left: -13px;
	right: auto;
	transform: rotate(179deg)
}
.history-list article:nth-child(even) {
	padding-top: 60px
}
.history-list article:nth-child(odd):before {
	display: none
}
.history-list article:after {
	background-color: #fff;
	border-radius: 100%;
	border: 2px solid #eee;
	color: #ccc;
	content: "\f111";
	font-family: 'icomoon';
	height: 30px;
	left: 4%;
	padding: 2px 0px 0px 2px;
	position: absolute;
	top: 80px;
	width: 30px
}
.history-list article:nth-child(odd):after {
	left: auto;
	right: -55px;
	top: 19px;
	z-index: 9
}
.history-list article span {
	color: rgba(40,42,47,.2);
	font-size: 50px;
	font-weight: normal;
	left: 20px;
	position: absolute;
	top: 23px
}
.history-list article img {
	border-radius: 100%;
	margin: -70px 0px 0px 0px
}
.history-list article h4, .history-grid article h4 {
	border-bottom: 1px solid #e5e5e5;
	float: left;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 16px 0px;
	position: relative;
	width: 100%
}
.history-list article h4:before, .history-grid article h4:before {
	bottom: -1px;
	content: '';
	height: 1px;
	left: 50%;
	margin: 0px 0px 0px -30px;
	position: absolute;
	width: 60px
}
.history-list article p, .history-grid article p {
	margin: 0px
}
.history-grid article {
	padding-top: 40px;
	position: relative
}
.history-grid article:before {
	border-top: 1px solid #eee;
	content: '';
	height: 1px;
	left: 15px;
	position: absolute;
	top: 0px;
	width: 100%
}
.history-grid article:nth-child(3n):before {
	width: 93%
}
.history-grid article .inner-sec:before {
	background-color: #fff;
	border-radius: 100%;
	border: 2px solid #eee;
	color: #ccc;
	content: "\f111";
	font-family: "icomoon";
	height: 30px;
	left: 50%;
	margin: 0px 0px 0px -15px;
	padding: 1px 0 0 2px;
	position: absolute;
	top: -53px;
	width: 30px
}
.history-grid article .inner-sec:after {
	border-bottom: 10px solid #ccc;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: '';
	left: 50%;
	margin: 0px 0px 0px -10px;
	position: absolute;
	top: -11px
}
.history-grid .history-info {
	text-align: center
}
.history-grid .history-info .inner-sec {
	box-shadow: 0 0 4px 1px #ebebeb;
	float: left;
	padding: 30px 40px 40px;
	position: relative;
	width: 100%
}
.history-grid article span {
	color: rgba(40,42,47,.2);
	display: block;
	font-size: 50px;
	font-weight: normal;
	margin: 0px 0px 30px 0px
}
.history-grid article img {
	border-radius: 100%;
	display: inline-block;
	margin: 0px 0px 30px 0px
}
.footer-tweets {
	background-color: #f0f0f0;
	float: left;
	padding: 45px 0 0px 0;
	width: 100%
}
.footer-tweets .col-md-12 {
	margin-bottom: 10px
}
.footer-tweets ul li {
	list-style: none
}
.footer-tweets ul li .twitter-logo {
	float: left;
	margin: 30px 0px 0 0;
	width: 25%
}
.footer-tweets ul li i {
	color: #13c5e5;
	float: left;
	font-size: 30px;
	margin: 0px 0px 0px 10px
}
.footer-tweets ul li .text {
	background-color: #fff;
	float: right;
	font-size: 16px;
	padding: 30px 30px 30px 35px;
	position: relative;
	width: 69%;
	height: 100px
}
.footer-tweets ul li .text:before {
	background: #fff;
	content: "";
	height: 100%;
	left: -26px;
	position: absolute;
	top: 0;
	transform: skew(-24deg);
	width: 52px
}
.footer-tweets ul li .text span {
	color: #999;
	font-size: 12px;
	margin-left: 10px
}
.footer-tweets ul li .text a {
	text-decoration: underline
}
.footer-tweets .flex-control-nav, .footer-tweets .flex-direction-nav {
	display: none
}
#footer-sec .widget-section-title {
	float: left;
	margin: 0px 0px 22px 0px;
	overflow: hidden;
	position: relative;
	width: 100%
}
#footer-sec .widget-section-title h2 {
	color: #000;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
	position: relative;
	text-transform: uppercase
}
.twitter-logo a {
	font-size: 40px;
	font-weight: normal;
	text-transform: capitalize
}
#footer-sec .widget-section-title:before, #footer-sec .widget-section-title:after {
	border-top: 1px solid #dcdcdc;
	content: "";
	height: 1px;
	left: 100%;
	margin-left: 10px;
	position: absolute;
	top: 13px;
	width: 7700px
}
#footer-sec .widget-section-title:after {
	left: auto;
	margin-right: 10px
}
#footer-sec .widget-section-title h2:before {
	border-top: 1px solid #ee1d23;
	content: "";
	height: 1px;
	position: absolute;
	right: -70px;
	top: 13px;
	width: 60px;
	z-index: 5
}
.rtl #footer-sec .widget-section-title h2:before {
	border-top: 1px solid #ee1d23;
	content: "";
	height: 1px;
	position: absolute;
	left: -70px;
	right: inherit;
	top: 13px;
	width: 60px;
	z-index: 5
}
#footer-sec {
	background-color: #f0f0f0;
	float: left;
	padding: 40px 0 35px 0;
	width: 100%
}
#footer-sec .widget.widget_text p {
	margin-bottom: 18px
}
#footer-sec .widget.widget_text ul li {
	color: #444;
	float: left;
	font-size: 14px;
	line-height: 22px;
	list-style: none;
	margin: 0px;
	width: 100%
}
#footer-sec .widget-newsletter p {
	margin-bottom: 20px
}
#footer-sec .widget-newsletter span {
	color: #999;
	font-size: 12px
}
#footer-sec .signup {
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid #b7b7b7;
	float: left;
	height: 40px;
	margin-bottom: 18px;
	position: relative;
	width: 100%
}
#footer-sec .signup .user-signup label {
	float: left;
	margin-bottom: 0px;
	padding: 0px 0px 0px 16px;
	position: relative;
	width: 240px
}
#footer-sec .signup .user-signup input[type="text"] {
	border: none;
	color: #d2d2d2;
	font-size: 14px;
	height: 38px;
	padding-left: 24px;
	width: 100%
}
#footer-sec .signup .user-signup label .icon-envelope4 {
	left: 15px;
	position: absolute;
	top: 12px
}
#footer-sec .signup .user-signup label i {
	color: #d2d2d2;
	font-size: 16px
}
#footer-sec .signup .user-signup input[type="submit"] {
	background-color: #ee1d23;
	border-radius: 20px;
	border: none;
	color: #fff;
	float: right;
	font-size: 12px;
	font-weight: normal;
	line-height: 39px;
	margin: -1px -1px 0 0px;
	padding: 0px 22px;
	text-transform: uppercase
}
#footer-sec .user-signup #newsletter_mess_1 {
	bottom: -30px;
	color: #666;
	float: left;
	font-size: 12px;
	position: absolute;
	width: 100%
}
#process_newsletter_1 {
	position: absolute;
	right: 30px;
	top: 9px
}
.footer_icon {
	display: inline-block;
	margin-bottom: 20px
}
#copyright .social-media {
	float: left;
	margin-bottom: 15px;
	overflow: hidden;
	text-align: center;
	width: 100%
}
#copyright .social-media ul.socialmedia:before, #copyright .social-media ul.socialmedia:after {
	border-top: 1px solid #373838;
	content: "";
	height: 1px;
	left: 100%;
	margin-left: 10px;
	position: absolute;
	top: 12px;
	width: 7700px
}
#copyright .social-media ul.socialmedia:after {
	left: auto;
	margin-right: 10px;
	right: 100%
}
#copyright .social-media ul.socialmedia {
	display: inline-block;
	float: none;
	position: relative
}
#copyright .social-media ul.socialmedia li {
	float: left;
	list-style: none;
	margin: 0px
}
#copyright .social-media ul.socialmedia li a {
	font-size: 24px;
	padding: 0px 20px;
	position: relative
}
#copyright .social-media ul.socialmedia li a:before {
	background-color: #656464;
	border-radius: 6px;
	content: "";
	height: 5px;
	left: -2px;
	position: absolute;
	top: 12px;
	width: 5px
}
#copyright .social-media ul.socialmedia li:first-child a:before {
	display: none
}
#copyright P {
	color: #666
}
#copyright P a {
	text-decoration: underline
}
.banner {
	background: url(assets/extraimages/mach-detail.jpg) no-repeat;
	float: left;
	height: 605px;
	position: relative;
	width: 100%
}
.banner-inn {
	float: left;
	padding-top: 100px;
	width: 100%
}
.banner:before {
	background: rgba(34,34,34,.8);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}
.banner .featured-event {
	background: none
}
.banner .featured-event:before {
	display: none
}
.banner .featured-event .cs-sc-team {
	padding: 0
}
.banner .bottom-event-panel {
	background: rgba(0,0,0,.3);
	bottom: 0;
	padding: 20px 0;
	position: absolute
}
.banner-top {
	margin: 0 auto;
	width: 850px
}
.cs-rating {
	float: left;
	margin: 0 0 50px;
	padding: 0 0 0 90px;
	position: relative
}
.match-progress:before, .match-progress:after {
	border-radius: 100%;
	border: 4px solid #fff;
	top: -6px;
	content: "";
	height: 13px;
	left: 77px;
	position: absolute;
	width: 13px
}
.match-progress:after {
	left: auto;
	right: -12px
}
.cs-rating ul {
	border-bottom: 1px solid #b5b6b7;
	float: left;
	margin: 0 5px 0 0;
	position: relative;
	top: 0px
}
.cs-rating ul:before {
	border-bottom: 1px solid #777878;
	bottom: -1px;
	content: "";
	left: 0;
	position: absolute;
	width: 100%
}
.cs-rating ul li {
	color: #fff;
	float: left;
	font-size: 10px;
	height: 10px;
	list-style: outside none none;
	position: relative;
	text-align: center;
	top: 4px;
	width: 105px
}
.cs-rating ul li:first-child {
	margin-left: 20px
}
.cs-rating ul li:last-child span {
	background-color: #ead811
}
.cs-rating ul li:last-child small {
	left: 10px
}
.cs-rating ul li span {
	background-color: #579f4b;
	border-radius: 100%;
	height: 14px;
	left: 40px;
	position: absolute;
	top: 0;
	width: 14px
}
.cs-rating ul li small {
	left: 28px;
	position: absolute;
	top: 8px
}
.cs-rating ul li small.position-top {
	top: -25px
}
.cs-rating>img {
	left: 50%;
	margin: 0 0 0 42px;
	position: absolute;
	top: 7px
}
.featured-event {
	background: url(assets/extraimages/match1.jpg) no-repeat;
	float: left;
	margin: 0 0 30px 0;
	padding: 60px 0px 0px 0px;
	position: relative;
	width: 100%
}
span.win {
	background-color: #579f4b;
	color: #fff;
	font-size: 11px;
	left: 0;
	padding: 0 10px;
	position: absolute;
	text-transform: uppercase;
	top: 0
}
.featured-event:before {
	background: rgba(14,23,35,.7);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}
.featured-event .cs-sc-team {
	margin: 0 0 35px 0;
	padding: 0 65px
}
.featured-event .cs-sc-team, .featured-event .cs-sc-team ul {
	float: left;
	width: 100%
}
.featured-event .cs-sc-team ul li {
	float: left;
	list-style: none;
	width: 40%
}
.featured-event .cs-sc-team ul li:nth-child(2) {
	padding: 0;
	text-align: center;
	width: 20%
}
.cs-sc-team ul li figure {
	float: left;
	width: 100%
}
.cs-sc-team ul li figure img, .cs-sc-team ul li figure img {
	width: auto
}
.cs-sc-team ul li figure figcaption {
	color: #fff;
	float: left;
	margin: -20px -25px 0 0px;
	position: absolute;
	right: 0%;
	top: 50%
}
.cs-sc-team ul li figure figcaption a {
	border: 1px solid #fff;
	color: #fff;
	float: left;
	font-size: 16px;
	font-weight: normal;
	padding: 5px 10px;
	text-transform: uppercase
}
.cs-sc-team ul li.right-side figure img, .cs-sc-team ul li.right-side {
	float: right
}
.cs-sc-team ul li.right-side figure figcaption {
	float: right;
	left: 0;
	margin: -20px 0px 0 0
}
.cs-sc-team ul li .match-score {
	float: left;
	margin: -5px 0 0 0;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1
}
.cs-sc-team ul li .match-score span {
	background-color: #579f4b;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	line-height: 16px;
	margin: 0 0 30px 0;
	padding: 1px 5px 2px;
	text-transform: uppercase
}
.cs-sc-team ul li .match-score strong {
	color: #fff;
	display: inline-block;
	font-size: 60px;
	font-weight: normal;
	width: 100%
}
.cs-sc-team ul li .match-score strong small {
	font-size: 30px;
	margin: 0 10px 0 10px;
	position: relative;
	top: -13px
}
.cs-sc-team .match-score ul {
	margin: 0
}
.cs-sc-team .match-score ul li {
	color: #fff;
	font-size: 12px;
	width: 100%
}
.cs-sc-team .match-score ul li i {
	margin: 0 8px 0 0
}
.featured-event .bottom-event-panel {
	background-color: rgba(0,0,0,.5)
}
.bottom-event-panel {
	background-color: #efefef;
	float: left;
	padding: 10px 0;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1
}
.bottom-event-panel a {
	color: #0e1723;
	font-size: 11px;
	text-transform: uppercase
}
.bottom-event-panel a:hover {
	/*color: #17e3d9;*/
}
.bottom-event-panel a i {
	color: #000;
	margin: 0 5px 0 0
}
.bottom-event-panel .post-option li {
	color: #fff;
	display: inline-block;
	float: none;
	font-size: 12px;
	margin-left: 10px
}
.bottom-event-panel .post-option li a {
	color: #fff
}
.featured-event .cs-sc-team img {
	width: 130px
}
.featured-event .cs-sc-team ul li figure figcaption {
	left: 50%;
	margin: -20px 0 0 0;
	right: auto
}
.featured-event .cs-sc-team ul li.right-side figure figcaption {
	left: auto;
	margin: -20px 0 0 0px;
	right: 50%
}
.event {
	/*box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 0 7px rgba(0,0,0,.2);*/
	float: left;
	width: 100%;
	border-radius: 0;
	/*border: 6px solid #ebebeb;*/
}
.event .event-fixture-box{
	box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 0 7px rgba(0,0,0,.2);
	border: 1px solid #efefef;
	margin-bottom: 7px;
	padding: 15px 10px;
}
.event article {
	/*border-left: 2px solid #579f4b;*/
	border-bottom: 1px solid #efefef;
	float: left;
	position: relative;
	width: 100%;
	/*margin-left:10%;*/
	padding: 5px 0 10px;
}
.rtl .event article {
	border-right: 2px solid #579f4b;
	border-left: 0;
	border-bottom: 1px solid #efefef;
	float: right;
	position: relative;
	width: 100%
}
.event .calendar-date, .event .match-result {
	float: left;
	padding: 45px 0 0 0;
	position: relative;
	text-align: center;
	width: 14%
}
.rtl .event .calendar-date, .event .match-result {
	float: right
}
.event .event-fixtures .calendar-date, .event .event-fixtures .match-result {
	padding: 10px 0 0
}
.event.event-results article {
	display: table-row
}
.event.event-results article .calendar-date {
	float: left;
	padding: 6px 0 0
}
.event.event-results article .text {
	float: left;
	padding: 36px 0 35px 15px
}
.event.event-listing-v2 .event-fixtures .text {
	padding: 0
}
.event-listing-v2 article.event-fixtures {
	padding: 12px 15px 18px
}
.event-listing-v2 .event-fixtures .post-option {
	padding: 6px 0 0 0
}
.event.event-listing-v2 .event-fixtures .text {
	padding: 5px 0 0 20px;
	width: 72%
}
.event.event-listing-v2 .event-fixtures .text h2 {
	padding: 3px 0 0 0;
	text-transform: capitalize
}
.event.event-results .match-result {
	float: left;
	padding: 55px 0 0
}
.event .calendar-date figure, .event .match-result figure {
	display: inline-block;
	margin: 0;
	width: 100px;
	width: auto
}
.event .event-fixtures .calendar-date figure {
	margin: 0
}
.event .calendar-date span {
	background-color: #579f4b;
	color: #fff;
	font-size: 11px;
	left: 0;
	min-width: 18px;
	position: absolute;
	top: 0
}
.event .calendar-date span {
	right: 0;
	left: inherit
}
.event .calendar-date time, .event .match-result span {
	color: #ccc;
	font-size: 50px;
	font-weight: normal;
	text-transform: uppercase
}
.event article .text {
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	float: left;
	padding: 25px 0 20px 0;
	position: relative;
	text-align: center;
	width: 70%
}
.event article .text {
	float: right
}
.event article .text h2 {
	font-size: 22px;
	text-transform: uppercase
}
.event article h2 a {
	color: #333
}
.event article .text h2 span {
	background-color: #548ad5 ;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	line-height: 19px;
	margin: 10px 5px 0;
	padding: 0 4px;
	text-transform: uppercase;
	vertical-align: top
}
.event.event-listing .text h2 span {
	margin: 6px 5px 0
}
.event article .post-option li {
	display: inline-block;
	float: none;
	font-size: 12px;
	margin-left: 10px
}
.event-listing-v2 article {
	padding: 0 15px
}
.event-listing-v2 .post-option {
	float: left;
	margin: 0;
	padding: 30px 0 0
}
.event.event-listing-v2 .text .post-option li {
	margin: 0 10px 0 0
}
.event-listing-v2 .post-option li:first-child {
	margin-right: 0
}
.event.event-listing-v2 .text .post-option {
	padding: 0;
	margin: -1px 0 0
}
.event.event-listing-v2 .text .post-option li i {
	font-size: 12px;
	color: #ccc;
	float: left;
	margin: 8px 5px 0 0
}
.event-listing-v2 .post-option li span {
	background-color: #e0c132;
	color: #fff;
	float: left;
	font-size: 10px;
	line-height: 22px;
	margin: 4px 14px 0 0;
	min-width: 20px;
	text-align: center;
	text-transform: uppercase
}
.event-listing-v2 h2 {
	float: left;
	margin: 0 20px 0 0;
	padding: 0
}
.event.event-listing-v2 .text {
	border: medium none;
	padding: 33px 0 10px 10px;
	width: 72%
}
.event-listing-v2 .match-result {
	border-left: 1px solid #efefef;
	float: right;
	padding: 30px 5px 25px 20px;
	width: auto
}
.event-listing-v2 .match-result span {
	font-size: 26px
}
.event-fixtures {
	display: table-row
}
.event-fixtures .ticket-btn {
	background-color: #d7233c;
	display: inline-block;
	float: none;
	font-size: 14px;
	margin: -10px 0 0;
	min-width: 103px;
	padding: 5px 10px;
	position: absolute;
	right: 30px;
	top: 50%
}
.ticket-btn {
	color: #fff;
	float: right;
	font-size: 16px;
	font-weight: normal;
	min-width: 165px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase
}
.event-listing-v2 .event-fixtures .ticket-btn {
	font-size: 12px;
	min-width: 75px;
	padding: 2px 5px;
	right: 20px
}
.event article.event-fixtures .text {
	border: none
}
.cs-partner {
	float: left;

	width: 100%
}
.cs-partner ul li figure {
	display: inline-block
}
.gallery-item img {
	height: 100%;
	width: 100%
}
.blog-grid figure, .blog-grid .text {
	float: left;
	width: 100%
}
.blog-grid figure {
	margin: 0
}
.blog-grid .text {
	background-color: #fff;
	border-bottom: 1px solid #c9c9c9;
	padding: 10px 10px 15px
}
.blog-grid .text h2 {
	font-size: 14px;
	margin: 0
}
.blog-grid .text h2 i {
	color: #ee1d23;
	float: right;
	font-size: 20px;
	margin: 7px 0 0 0
}
.blog-grid .text h2 a {
	font-size: 14px
}
.announcement-ticker {
	float: left;
	/*padding: 10px 0;*/
	width: 100%
}
.announcement-ticker .col-md-12 {
	margin: 0
}
.ticker-wrapp {
	float: left;
	padding: 5px 0 0 0;
	position: relative;
	width: 100%
}
.ticker-wrapp h5 {
	color: #fff;
	float: left;
	margin: 0px 10px 0 0;
	text-transform: uppercase
}
.ticker-wrapp h5 i {
	float: left;
	font-size: 24px;
	margin: -3px 7px 0 0
}
.ticker-wrapp time {
	background-color: #000;
	border-radius: 2px;
	color: #fff;
	float: left;
	font-size: 12px;
	margin: 0 10px 0 0;
	padding: 20px 0 0
}
.ticker-wrapp ul {
	float: left;
	height: 20px;
	overflow: hidden
}
.ticker-wrapp ul li {
	float: left;
	line-height: 20px;
	list-style: none
}
.ticker-wrapp ul li p {
	color: #fff;
	margin: 0
}
.ticker-wrapp .previous, .ticker-wrapp .next {
	display: block;
	position: absolute;
	right: 0;
	top: 3px
}
.ticker-wrapp .next {
	right: -35px
}
.ticker-controls li a {
	border: 1px solid #d5d5d5;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	color: #152129;
	font-size: 12px;
	padding: 7px 10px 5px;
	text-align: center
}
.ticker-controls {
	position: absolute;
	right: 35px;
	top: 0
}
.event.event-samll {
	background-color: #fff
}
.element-size-67 .featured-event .cs-sc-team {
	padding: 0 40px
}
.event-samll .match-result, .event-samll .calendar-date {
	padding: 7px 5px 0 0
}
.event.event-samll article .text {
	border: none
}
.event.event-samll article .text {
	padding: 10px 0 0;
	float: left
}
.event.event-samll article {
	border-bottom:none;
	/*border-bottom-color: #efefef;
	border-left-color: #579f4b;
	border-style: solid;
	border-width: 0 0 1px 3px*/
}
/*.event.event-samll article {
	padding: 5px 15px 7px
}*/
.event-samll .calendar-date figure, .event-samll .match-result figure, .event.event-samll article h2 {
	margin: 0
}
.event-samll .calendar-date figure, .event-samll .match-result figure {
	height: auto;
	width: 50px;
	padding-right: 5px;
}
.event.event-samll article h2 {
	text-transform: capitalize
}
.event.event-samll article h2 a {
	/*color: #fff;*/
	font-size: 14px
}
.event-samll .post-option li time {
	background: none;
	color: rgba(14,23,35,.5)
}
.event-samll .bottom-event-panel, .widget-tab .bottom-event-panel {
	background-color: #efefef;
	padding: 10px 0
}
.event-samll .bottom-event-panel:hover, .widget-tab .bottom-event-panel:hover {
	background-color: #c4161c ;
	color: #fff;
	cursor: pointer;
}
.event-samll .bottom-event-panel a, .widget-tab .bottom-event-panel a {
	font-size: 14px;
	font-weight: normal;
}
.event-samll .bottom-event-panel:hover a, .widget-tab .bottom-event-panel:hover a {
	color: #fff;
}
.event-samll .bottom-event-panel a i, .widget-tab .bottom-event-panel a i {
	color: #000;
	margin: 0 5px 0 0
}
.match-progress {
	text-align: center;
	width: 600px;
	border-top: 1px solid #777878
}
.match-progress .circle, .match-progress .bar {
	display: inline-block;
	background: #fff;
	width: 14px;
	height: 14px;
	border-radius: 40px;
	position: relative;
	top: 0
}
.match-progress .bar {
	position: relative;
	width: 60px!important;
	height: 1px;
	top: -19px;
	margin-left: 0px;
	margin-right: 0;
	border-left: none;
	border-right: none;
	border-radius: 0;
	display: none
}
.cs-circle-holder {
	display: inline-block;
	width: 102px;
	text-align: center;
	overflow: hidden;
	padding: 0 3px;
	margin-top: -8px;
	height: 31px
}
.match-progress .circle .label {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 32px;
	margin-top: 3px;
	color: #b5b5ba;
	font-size: 17px
}
.match-progress .circle .title {
	color: #b5b5ba;
	font-size: 11px;
	line-height: 30px;
	position: relative;
	top: 8px;
	left: 20px
}
.match-progress .circle.done {
	background: #579f4b
}
.match-progress .bar.done {
	background: #777878
}
.match-progress .bar.active {
	background: linear-gradient(to right, #eee 40%, #fff 60%)
}
.match-progress .circle.done .title {
	color: #fff
}
.match-progress .circle.active .title {
	color: #0c95be
}
.cs-services {
	border-bottom: 1px solid rgba(255,255,255,.1);
	float: left;
	padding: 0 0 25px 0;
	width: 100%
}
.cs-services.no-border {
	border: none
}
.cs-services figure {
	display: inline-block;
	margin: 0 0 10px 0
}
.cs-services.top-right figure {
	float: right
}
.cs-services.modren figure {
	margin: 0 0 20px
}
.cs-services.modren .text h2 {
	margin: 0 0 5px 0
}
.cs-services .text h2 {
	margin: 0 0 5px 0;
	text-transform: uppercase
}
.cs-services .text p {
	margin: 0
}
.large-btn {
	background-color: #ee1d23;
	border-radius: 20px;
	color: #fff;
	float: left;
	font-size: 12px;
	padding: 10px 40px;
	text-transform: uppercase
}
.cs-services.top-center {
	text-align: center
}
.cs-services.left {
	text-align: left
}
.featured-event.small-featured {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	padding: 20px 0 0 0
}
.featured-event.small-featured:before {
	display: none
}
.small-featured .countdown {
	margin: 0 0 10px;
	padding: 0 30px;
	text-align: center
}
.small-featured .hasCountdown span {
	color: #0e1723;
	font-size: 12px;
	margin: 0
}
.small-featured .hasCountdown .countdown_section {
	margin-right: 5px
}
.small-featured .hasCountdown span.countdown_amount {
	font-weight: normal;
}
.small-featured .hasCountdown .countdown_row {
	border: 1px solid #cfd1d3;
	padding: 5px;
	width: 100%
}
.small-featured .cs-sc-team ul li figure, .small-featured .cs-sc-team ul li figure img {
	margin: 0
}
.featured-event.small-featured .cs-sc-team ul li figure figcaption {
	margin: -10px 0 0 0;
	position: initial;
	text-align: center;
	width: 100%
}
.small-featured .cs-sc-team ul li figure figcaption a {
	border: none;
	color: #0e1723;
	display: inline-block;
	float: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase
}
.small-featured .cs-sc-team ul li .match-score span {
	margin: 0
}
.small-featured .cs-sc-team ul li .match-score span {
	padding: 1px 3px 2px
}
.small-featured .cs-sc-team ul li.vs {
	padding: 30px 0 0 0;
	text-align: center
}
.small-featured .cs-sc-team ul li .match-score {
	display: inline-block;
	float: none;
	margin: 10px 0 0 3px;
	width: 60px
}
.small-featured .cs-sc-team ul li .match-score small {
	background-color: #0e1723;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 6px 8px
}
.featured-event.small-featured .cs-sc-team {
	margin: 0 0 22px 0;
	padding: 0 40px
}
.small-featured .bottom-event-panel p, .small-featured .bottom-event-panel span {
	color: #0e1723;
	font-size: 12px;
	margin: 0
}
.small-featured .bottom-event-panel span {
	text-transform: uppercase
}
.small-featured .bottom-event-panel {
	background-color: #f4f4f4
}
.small-featured .bottom-event-panel a {
	color: #0e1723;
	text-transform: capitalize
}
.event-samll {
	background: #fff
}
.table-condensed {
	float: left
}
.table-condensed thead {
	background-color: #606060
}
.table-condensed thead tr th {
	border: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding-left: 12px;
	text-transform: uppercase
}
.table-condensed tbody tr td {
	border: 1px solid #efefef;
	color: #0b0b0b;
	font-size: 16px;
	padding-left: 12px
}
.table-condensed tbody tr {
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: opacity .3s ease-out 100ms;
	border-bottom: 1px solid #efefef;
	transition: all .3s ease-in-out
}
.table-condensed tbody tr:last-child {
	border: none
}
.table-condensed tbody tr:nth-child(2n+1) {
	background-color: #f7f7f7
}
.table-condensed tbody tr:hover {
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: opacity .3s ease-out 100ms;
	background-color: #929292;
	transition: all .3s ease-in-out
}
.table-condensed tbody tr:hover td {
	color: #fff
}
.lang_sel_list_horizontal {
	float: left;
	margin: 0 15px 0 0;
	padding: 3px 0 0
}
#lang_sel_list ul a {
	background: none;
	color: #999;
	font-size: 11px;
	text-transform: uppercase
}
#lang_sel_list {
	height: auto
}
#lang_sel_list img.iclflag {
	top: 0
}
#lang_sel {
	height: 14px
}
#lang_sel li {
	position: relative;
	top: 3px;
	width: 100%
}
#lang_sel a, #lang_sel a:visited {
	line-height: 1
}
#lang_sel a.lang_sel_sel {
	background-color: transparent;
	background: none;
	border: none;
	color: #fff;
	padding: 0px
}
#lang_sel a:hover, #lang_sel ul ul a:hover {
	background: rgba(0,0,0,.2);
	color: #fff
}
#lang_sel img.iclflag {
	top: -1px
}
#lang_sel a.lang_sel_sel:before {
	content: "\f107";
	float: right;
	font-family: FontAwesome;
	margin: 0px 0px 0px 7px
}
#lang_sel a.lang_sel_sel:hover {
	color: #fff
}
#lang_sel ul ul {
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid rgba(255,255,255,.2);
	height: auto;
	left: -14px;
	top: 22px;
	transition: all .3s ease-in-out;
	width: 90px;
	z-index: 10
}
#lang_sel ul ul a, #lang_sel ul ul a:visited {
	background-color: transparent;
	border-color: rgba(255,255,255,.2);
	border-style: solid;
	border-width: 0 0px 1px;
	font-size: 12px;
	padding: 6px 10px
}
#lang_sel ul ul li:last-child a, #lang_sel ul ul li:last-child a:visited {
	border: none
}
.home .table {
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background-color: #fff;
	border-radius: 0;
	border: 1px solid #ebebeb;
}
.home .table-condensed thead tr th {
	padding: 10px 10px;
	text-align: center
}
.home .table-condensed thead tr th:nth-child(2) {
	text-align: left
}
.home .table>caption+thead>tr:first-child>th, .home .table>thead:first-child>tr:first-child>th {
	border-top: none
}
.home .table-condensed tbody tr td {
	border: none;
	font-size: 13px;
	padding:8px 10px;
	text-align: center
}
.home .table-condensed tbody tr td:nth-child(1) {
	border-color: #efefef;
	border-style: solid;
	border-width: 0px 1px 0 0
}
.home .table-condensed tbody tr td:nth-child(2) {
	font-size: 14px;
	text-align: left
}
.table-condensed .cs-feature {
	background-color: #454545
}
.table-condensed .cs-feature td {
	color: #fff
}
.home .table-condensed tfoot {
	background-color: #efefef;
	padding: 8px 10px;
	text-align: center
}
.table-condensed tfoot tr td {
	border: none;
	color: #0e1723;
	font-size: 13px;
	text-transform: uppercase
}
.table-condensed tfoot tr td a i {
	margin: 0 5px 0 0
}
.home .filter-nav li a {
	background-color: #797979;
	color: #fff;
	padding: 14px 45.6px
}
.home .filter-nav li.active a {
	background-color: #fff;
	color: #ee1d23;
	padding: 20px 41px 15px
}
.home .filter-nav li.active a i {
	color: #ee1d23
}
.home .filter-nav li a i {
	color: #fff;
	margin: 0 6px 0 0
}
.cs-services.no_border {
	border: none
}
.title h1 {
	line-height: 26px;
	text-transform: uppercase
}
.title h1 a {
	color: #fff
}
.cs-partner {
	float: left;
	width: 100%
}
.cs-partner [class*="col-md-"] {
	margin: 0px
}
.cs-partner ul li figure {
	display: inline-block
}
.widget_blog {
	/*box-shadow:0 1px 2px rgba(0,0,0,.2);;*/
	padding: 4px;
	border-radius: 0;
	border: 1px solid #ebebeb;
}
.widget_blog ul li {
	border-bottom: 1px solid #e5e5e5
}
.widget_blog ul li:last-child {
	border-bottom: none;
	padding-bottom: 0
}
 .widget_blog ul li i {
	padding-top: 10px
}
.widget_blog ul li img {
	float: left;
	width: 44px;/*width: 15%;*/
	margin-right: 7px

}

.cs-contact-info {
	float: left;
	padding: 20px;
	width: 100%
}
.cs-contact-info h3 {
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	padding: 0 0 8px 0
}
.cs-contact-info h3:before {
	background: #ee1d23;
	bottom: -1px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 60px
}
.page-section .flexslider .flex-control-nav {
	bottom: 21px;
	display: none;
	left: 23%;
	position: absolute;
	text-align: center;
	width: 100%
}
.page-section .flexslider .flex-control-nav li {
	display: inline-block;
	float: left;
	margin: 0 6px
}
.page-section .flexslider .cs-flex-total-slides {
	display: none
}
.page-section .flexslider .flex-direction-nav a:before {
	display: none
}
.page-section .flexslider .flex-control-paging li a, .page-section .cs-blog-grid .flexslider .flex-control-paging li a.flex-active {
	background: rgba(256,256,256,.5)
}
/***************per**********/
hr.adj{
	 margin-bottom: 10px;
    margin-top: 10px;
}
.white{
	color:white !important;	
}

.color-theme{
	color:#548ad5  !important;	
}
.color-live{
	color:#8b1400;	
}
.quiz-score{
	display: block; position: absolute; top: 10px; right: 10px; font-size: 20px; padding: 10px; text-align: right; background-color: rgb(251, 251, 251); width: 95%;
}
.logo-psl{
	display: block; position: absolute;   top: 50%; right: 10px; font-size: 20px; padding: 10px; width:150px;
}
.btn-ok{
	background:url(../images/left_arrow.png) no-repeat center right;
	width: 176px;
	font-size: 20px !important;
    padding-left: 30px !important;
    text-align: left;
	line-height: 10px;
}

.btn-more{
	/*background:url(../images/left_arrow.png) no-repeat center right;*/
	width: auto !important;
	font-size: 20px !important;
    padding: 10px !important;
    text-align: left;
	background-color:#548ad5 !important;
	line-height:40px;
	border:none;
	color:#fff;
}
.btn-ok:hover, .btn-more:hover{
	/*background-color:#21cbc2 !important;*/
}
.btn-ok.full-width, .btn-more.full-width {
	width: 100%;
}

.option label{
    display: inline-block;
    font-weight: 400;
    margin-bottom: 5px;
}

.pt40{
 padding-top:40px	
}
.pt30{
 padding-top:30px	
}
.pt20{
 padding-top:20px	
}
.pt10{
 padding-top:10px	
}
.pt5{
 padding-top:5px	
}
.pl30{
 padding-left:30px	
}
.pl20{
 padding-left:20px	
}
.pl10{
 padding-left:10px	
}
.pl5{
 padding-left:5px	
}
.pl0{
 padding-left:0px	
}
.pb30{
 padding-bottom:30px	
}
.pb20{
 padding-bottom:20px	
}
.pb10{
 padding-bottom:10px	
}
.pb5{
 padding-bottom:5px	
}
.ml30{
 margin-left:30px	
}
.ml20{
 margin-left:20px	
}
.ml10{
 margin-left:10px	
}
.ml5{
 margin-left:5px	
}

.mb30{
	margin-bottom:30px
	
}
.mb20{
	margin-bottom:20px
	
}
.mb0{
	margin-bottom:0px !important
	
}
.mb-10{
	margin-bottom:-10px !important
	
}
.mt0{
	margin-top:0px !important
}
.mt10{
	margin-top:10px !important
}
.mt20{
	margin-top:20px !important
}
.mt30{
	margin-top:30px !important
}
.plr0{
	padding-left:0;
	padding-right:0;
}
.border-lr{
	border-left:1px solid ;
	border-right:1px solid;
	padding:0 10px !important;
}
.border-t{
border-top: 1px solid #e7e7e7;	
}
/****************************************/

.innings-information .team-1-name .innings-1-score, .innings-information .team-1-name .innings-2-score, .innings-information .team-2-name .innings-1-score, .innings-information .team-2-name .innings-2-score {
    font-weight:300;
}
.innings-information .team-1-name, .innings-information .team-2-name {
    font-size: 18px;
    margin: 5px 0;
}
.innings-information .team-1-name .innings-current, .innings-information .team-2-name .innings-current {
    color: #548ad5 ;font-weight:500;
}
.innings-information .innings-requirement {
    font-size: 11px;
    padding: 5px 0;
}

.share-score{
position:absolute;height:35px; width:35px; font-size:20px;padding-top:5px; padding-right:3px; border-radius:50%;border:1px solid #ccc; right:10px; top:20px; text-align:center	
}
.cric_wrapper{
 	height: auto !important;
    /*margin-bottom: -56px;*/
    min-height: 100%;	
}
