.navbar li span img {
    padding-top: 12px!important;
  }
.navbar li a {
    padding-top: 0px!important;
  }
a.next-trending:hover {
  color: #f88300!important;
}
.bg-batting-head {
  background-color: #f88300!important;
}
.bg-bowling-head {
  background-color: #f88300!important;
}
.upcoming {
  background-color: #88ca32!important;
}
.result {
  background-color: #f88300!important;
}
.bg-mobily-green-dark {
  background-color: #88ca32!important;
}
th .mb0 {
  color: white!important;
}
.bg-yellow {
  background-color: #f88300!important;
}
.navbar-inverse {
  border-bottom: 1px solid #dcdcdc !important;
}
.sc-title {
  background-color: #88ca32!important;
}

.cs-seprator {
  float: left;
  height: 20px;
  margin: 0;/*margin: 0 0 15px;*/
  position: relative;
  text-align: center;
  width: 100%;/*margin-bottom: 15px;*/
	padding-left: 5px;
	padding-right:5px;
}
.devider1 {
  float: left;
  position: relative;
  width: 100%;
	margin-top: 10px;
}
.devider1::before {
  border-top: 1px solid #88ca32!important;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.devider1::after {
  border-top: 1px solid #f88300!important;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.bg-gradient-red1 {
    background-color: #f88300!important;
}
.ad-logo img {
  margin-top: 8px!important;
}
.navbar li a {
  padding-top: 0px!important;
  color: #9C9DA1!important;
}
.navbar  li.active a {
  
  color: #9C9DA1!important;
  opacity: .8;
}
.navbar li span img {
    padding-top: 12px!important;
    opacity: .4;
}
.navbar li span img:hover {
    opacity: 1;
}
.navbar  li.active span img {
  padding-top: 12px!important;
  opacity: 1;
}
.navbar li.active a {
  color: #070707!important;
  padding-top: 0px!important;
      height: 30px;
    padding-bottom: 0px;
}
.navbar li a:hover {
  color: #070707!important;
  opacity: .8;
}
.navbar li.active a:focus {
  color: #070707!important;
  opacity: .8;
}




.tab-banner li p{
  max-height: 40px;
  text-overflow: ellipsis;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.tab-banner li h5{
  height: 18px;
  text-overflow: ellipsis;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.widget_team .infotext a{
  line-height: 1.4em;
  text-overflow: ellipsis;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.widget_team .infotext a:hover {
  color: #f88300!important;
}
.tab-banner li h5.more-tb{
  display: block;
  height: auto;
}
#results-container h4.crop_to_one_line{
  line-height: 1.5em;
}

#results-container .news-page img.img-djoko{
/*  max-width: 25%;
  padding: 0px 10px 10px 0px;
  float:left;*/
}
#results-container .news-page img,
#results-container .news-page h4,
#results-container .news-page p{
  /*float:none;*/
}

.top-score-title .right-content h2{
  line-height: 1.3em;
}

#c-calend .news-page:hover{
  cursor: initial;
}

.bottom-event-panel:not(.more-series) {
    background-color: #efefef;
    float: left;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.event-samll .bottom-event-panel, .widget-tab .bottom-event-panel {
    background-color: #efefef;
    padding: 10px 0;
}
.bottom-event-panel a {
    color: #0e1723;
    font-size: 11px;
    text-transform: uppercase;
}
.bottom-event-panel a:hover,
.bottom-event-panel a:focus{
  /*color: #ef2743;*/
  text-decoration: none;
}

img {
    max-width: 100%;
    width: auto;
}
.event article {
    /* border-left: 2px solid #579f4b; */
    border-bottom: 1px solid #efefef;
    float: left;
    position: relative;
    width: 100%;
    /* margin-left: 10%; */
    padding: 5px 0 10px;
}
.event .calendar-date, .event .match-result {
    float: left;
    padding: 45px 0 0 0;
    position: relative;
    text-align: center;
    width: 15%;
}

.event.event-samll article {
    border-bottom: none;
}
.event-samll .match-result, .event-samll .calendar-date {
    padding: 7px 5px 0 0;
}

.event .calendar-date figure, .event .match-result figure {
    display: inline-block;
    margin: 0;
    width: 100px;
    width: auto;
}
.event-samll .calendar-date figure, .event-samll .match-result figure, .event.event-samll article h2 {
    margin: 0;
}

.event-samll .calendar-date figure, .event-samll .match-result figure {
    height: auto;
    width: 50px;
    padding-right: 5px;
}

.event article .text {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    float: left;
    padding: 25px 0 20px 0;
    position: relative;
    text-align: center;
    width: 70%;
}
.event article .text {
    float: right;
}
.event.event-samll article .text {
    border: none;
}
.event.event-samll article .text {
    padding: 10px 0 0;
    float: left;
}
.event article .text h2 {
    font-size: 22px;
    text-transform: uppercase;
}
.event-samll .calendar-date figure, .event-samll .match-result figure, .event.event-samll article h2 {
    margin: 0;
}
.event.event-samll article h2 {
    text-transform: capitalize;
}
.event article h2 a {
    color: #333;
}
.event.event-samll article h2 a {
    /* color: #fff; */
    font-size: 14px;
}
.tab-content .text ul {
    padding: 0;
}
.post-option li {
    color: #ccc;
    float: left;
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    margin-left: 30px;
}
.tab-content .text li {
    color: #777;
    list-style: circle;
}
.post-option li:first-child {
    margin-left: 0px;
}
.event article .post-option li {
    display: inline-block;
    float: none;
    font-size: 12px;
    margin-left: 10px;
}
.rtl .event .calendar-date, .event .match-result {
    float: right;
}
.desc_news.important_news {
    font-style: italic;
}
.important_news.data {
    color: #909090;
}
.important_news .fa-calendar {
    margin-right: 5px;
    margin-left: 10px;
}
.event .event-fixture-box {
    border: 1px solid #efefef;
    margin-bottom: 7px;
}

.video-thumbnail{
  overflow: hidden;
}
.crk-trending-videos-container .news-page,
#results-container .news-page{
  cursor: auto !important;
}
.video-play-icon {
  /*top: calc(50% - 30px) !important;*/
}

#content .nav-side-tab li{

  position: relative;
  display: block;

  float: left;
  margin-bottom: 0;
  list-style: none;

  height: 41px;
  line-height: 39px;
  padding: 0;
  width: auto;
  border: none;
}

.carousel-caption a .upcoming{
  background-color:#fdb913;
}
.carousel-caption a .livenow{
  background-color: #F78300;
}
.crk-trending-videos-container h1{
  text-transform: capitalize;
}
figcaption{
  width:100%;
  padding:20px 10px 5px;
  left:0;
  bottom:0;
  color:#FFF;
  position:absolute;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.84) 99%, rgba(0,0,0,0.85) 100%, rgba(0,0,0,0.85) 101%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.84)), color-stop(100%,rgba(0,0,0,0.85)), color-stop(101%,rgba(0,0,0,0.85)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.84) 99%,rgba(0,0,0,0.85) 100%,rgba(0,0,0,0.85) 101%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.84) 99%,rgba(0,0,0,0.85) 100%,rgba(0,0,0,0.85) 101%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.84) 99%,rgba(0,0,0,0.85) 100%,rgba(0,0,0,0.85) 101%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.84) 99%,rgba(0,0,0,0.85) 100%,rgba(0,0,0,0.85) 101%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

#results-container .news-page h4{
  text-transform: capitalize;
}

.video-container .video-content{
  /*min-height: 90px;*/
}
.carousel-caption a .upcoming{
  padding-top:7px;
}
.carousel-caption a.uf:hover h2,
.carousel-caption a.uf:hover h3{
  color:#fff!important;
}

button.navbar-toggle.menu:hover .icon-bar{
  margin-top: 0; margin-bottom: 0;
}
button.navbar-toggle.menu:hover .icon-bar+.icon-bar{
  margin-top: 4px;
}

button.navbar-toggle.menu:not(.collapsed):hover .icon-bar{
  margin-top: 2px; margin-bottom: 2px;
  transition: all 0.5s ease 0s;
}
.fixtures a:not(#more-fixtures-btn){
  cursor:default;
}
.fixtures a:not(#more-fixtures-btn):focus,
.fixtures a:not(#more-fixtures-btn):hover{
  color:#333;
}


#timeline > li:nth-child(even) {
    float: none;
    clear: none;
    padding-left: 0px;
  }

  #timeline > li.even {
      float: right;
      clear: right;
      padding-left: 20px;
  }

  #timeline > li:nth-child(odd) {
    float: none;
    clear: none;
    padding-right: 0px;
  }
  #timeline > li.odd {
      float: left;
      clear: left;
      padding-right: 20px;
  }

  #timeline > li:nth-child(even) .hentry .entry-date,
  #timeline > li:nth-child(odd) .hentry .entry-date,
  #timeline > li:nth-child(even) .hentry:before,
  #timeline > li:nth-child(even) .hentry:before,
  #timeline > li:nth-child(odd) .hentry:before {

    left: initial;
    right:initial;
  }
  #timeline > li.even .hentry .entry-date {
      left: -2px;
  }
  #timeline > li.odd .hentry .entry-date {
    right: -2px;
  }

  #timeline > li.even .hentry:before{
    left: -28px;
  }

  #timeline > li.even .hentry:before{
    left: -27px;
  }

  #timeline > li.odd .hentry:before{
    right:-28px;
  }

  .row.aside{
    margin-left: 0!important;
    margin-right:0!important;
  }

  .rankings h2{
    font-size: 18px;
  }

  .nav-side-tab li.active a:focus {
    border: 1px solid #e9e9e9;
    color: #000;
    border-bottom: none!important;
    background-color: #fff !important;
    padding: 11px 20px;
    margin: -1px 0 0 10px;
    font-weight: normal;
    border-radius: 0;
  }

  span.rankings-team{
    display: inline-block;
    width: calc(100% - 35px);
  }
  .rankings .flag{
    vertical-align: top;
  }

#scorecard .nav-tabs>li>a {
  text-transform: capitalize;
}
#scorecard .nav-side-tab li.active a{
  padding:10px 20px 11px;
}
#scorecard .nav-side-tab li a{
  padding:10px 20px;
}

#user-modal .modal-dialog{
  width: auto;
  max-width: 298px;
  color:#333;
}
#user-modal .modal-body {
    position: relative;
    padding: 15px;
}
#home-news .image-news-pg{
  /*max-height:145px;*/
  /*height:165px;*/
  /*overflow: hidden;*/
}

.article-header .socialmedia ul,
.article-header h1{
  margin: 5px 0 10px 0 !important;
  padding:0;
}
.article-title{
  width: 86%;
  padding-right:10px;

}
.article-header .socialmedia ul a{
  margin-bottom:0;
}
.socialmedia ul li a i.google {
    top: 5px;
}
.article-detail .desc_news.important_news{
  font-style: normal;
  padding-bottom: 5px;
  margin: 5px 0 10px;
  border-bottom: 1px solid #909090;
  color:#909090;
}
.article-detail .desc_news{
  /*margin:10px 0;*/
}
.article-body{
    font-size: 16px!important;
    line-height: 1.5em!important;
    color: #333!important;
    text-align: justify;
}
.article-body blockquote{
  padding-bottom: 10px;
}
#c-article figcaption{
  padding-bottom:10px;
}
#c-article figcaption h2 {
    font-size: 110%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3em;
}
.bottom-event-panel{
  margin-bottom:10px;
  padding: 0;
}
.bottom-event-panel a{
  display:block;
  text-align: center;
  padding: 10px 0;
}

.bottom-event-panel:hover {
    background-color: #F78300;
    color: #FFF;
    cursor: pointer;
}
.video-container .video-content .video-description {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin: 0px !important;
    line-height: 1.5em;
    height: 4em;
    font-size: 1em;
}
.middle-caption{
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap!important;
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item{
  margin-bottom: 2px;
}

#home-video .video-container .video-content .video-description{

}
#home-video .video-container{
  margin-bottom: 10px!important;
}

.one-liner{
  white-space: nowrap!important;
  text-overflow: ellipsis!important;
  overflow: hidden!important;
  height: auto!important;
}
.one-liner2{
  white-space: nowrap!important;
  text-overflow: unset;!important;
  overflow: hidden!important;
  height: auto!important;
}
.owl-item {
    padding: 5px!important;
}
#scorecard .nav-tabs>li>a{
  text-transform: uppercase;
}


.news-page h4,
#fixtures-container h4{
  line-height: 1.3em!important;
}




#scorecard .nav-side-tab li.active a{
  background: #fff !important;
}
.event .event-fixture-box {
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 7px rgba(0,0,0,.2);
    border: 1px solid #efefef;
    margin-bottom: 7px;
    padding: 15px 10px;
}
#fixtures-container ol, #fixtures-container ul {
    margin-bottom: 0;
}
.remove-cursor a{
  cursor: auto; cursor: default!important;
}
.event-samll .bottom-event-panel a, .widget-tab .bottom-event-panel a {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
}
.event-samll .bottom-event-panel:hover, .widget-tab .bottom-event-panel:hover {
    background-color: #F78300!important;
    color: #fff;
    cursor: pointer;
}
.event-samll .bottom-event-panel, .widget-tab .bottom-event-panel {
    padding: 0;
}
.bottom-event-panel a {
    font-size: 14px;
    padding: 10px 0;
    font-weight: normal;
}
.bottom-event-panel {
    padding: 0;
}
.switch.switch-timeline-xs {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

#psl .nav-tabs{
    float: left;
    width: 100%;
}
#psl #content {
    margin: 15px auto 0;
}
#psl .bottom-event-panel {
    background-color: #efefef;
    padding: 10px 0;
}

#psl .nav-side-tab li{
  height: 41px;
    line-height: 39px;
    padding: 0;
    width: auto;
    border: none;
}

#psl .nav-tabs>li{
  float: left;
    margin-bottom: 0;
    list-style: none;
}

.tab-banner li a.fw-normal{
  display: block;

}
.tab-banner li a.fw-normal:hover h5.more-tb, .tab-banner li a.fw-normal:focus h5.more-tb{
  color:#fff;
  background-color: #F78300;
}


.owl-carousel .video-thumbnail{
  height:auto;
}
.image-wrapper.end_match.p0{
  height: auto;
}
.bg-mobily-green-dark{
  background-color: #F78300;
}

#scorecard .right-content p {
line-height: 1.42857143;
}
#psl .bottom-event-panel{
  padding:0;
}
#psl .bottom-event-panel a{
  padding-top:20px;
  padding-bottom:20px;
}
#psl .right-content.bg-gradient-red1.p15 h2{
  margin-top:8px;
}

.team-flag img {
    width: 60px!important;
    height: auto!important;
}
.col-xs-6.bowling,
.col-xs-6.batting{
    width: 50%!important;
}





.banner-side-right .tab-pane{
  position: relative;
}
a.widget-more{
  display:block;
  width: 100%;
  bottom:0;
  position: absolute;
}
.banner-side-right .tab-banner:not(.live-matches) li:last-child {
    padding-bottom: 47px;
}


#more-series-btn{
  text-transform: none;
}

.flag{
  top:0;
  height:20px;
}

#fixtures-container .col-md-12.col-xs-12.event-fixture-box .col-md-2.col-sm-3.col-xs-6 >   .row{
  margin:0;
}

.pleasewait{
  margin-bottom: 50px;
  text-align:center;
}














/*media*/



@media only screen and (max-width: 960px){
  .tab-content.nav-side-content{
    height:auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 800px){
  .scorecard_area #content{
    min-height: 854px;
  }

  .timeline_area #content{
    min-height: 753px;
  }
}
@media only screen and (max-width: 800px){
  .switch.pull-right, .switch-lable.pull-right.hidden-xs{
  }
  .switch-lable.pull-right.hidden-xs{

  }
}


@media only screen and (min-width: 768px){


  #timeline > li:nth-child(odd) {
    float: none;
  }
  #timeline > li.odd {
      float: none;
  }

/*-------------------------------*/

  #timeline > li:nth-child(even) {
    float: none;
    margin-left: 0 !important;
  }

  #timeline > li.even {
      float: none;
      margin-left: 50% !important;
  }

  #timeline > li:nth-child(2n) {
    margin: 0px;
    margin-top: 0;
  }
  #timeline > li.even {
    margin: 0px;
    margin-top: -5%;
  }



}


@media only screen and (min-width: 768px) and (max-width: 991px){
  #home-news .data-news-pg h4{
    font-size: 13px;
  }
  #home-news .data-news-pg p,
  #home-news .news-page p.news-dd{
    font-size: 11px;
  }
}



@media only screen and (max-width: 768px){
  .visible-xs.text-center .time-xs{
    color: #bbb;
    font-size: 16px;
  }
  .visible-xs.text-center h4{
    margin: 5px 0;
    color: #444;
    font-size: 16px;
    font-weight: normal!important;
  }
  .visible-xs.text-center .one-line{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
  }
  #results-container .news-page img.img-djoko{
    width:100%;
    max-width: 100%;
  }
  .carousel-indicators li{
    width: 6px;
    height: 6px;
  }
  .carousel-indicators li.active{
    width: 8px;
    height: 8px;
  }
  .carousel-caption a .score{
    font-size: 13px;
  }
  .ad-user.small {
    display: none;
  }

  #scorecard .nav-tabs>li>a {
    /*font-size: 12px;*/
  }
  .team-first {
      border-right: 1px solid #f1eff1;
  }



}
@media only screen and (max-width: 767px){
  .ad-user.small {
    display: block;
    margin-top: 7px !important;
    margin-right: 65px;
  }
  #site-container > .scorecard_area > .container{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #results-container .news-page h4{
    margin-top:10px;
  }
  #results-container .news-page p:not(.news-dd),
  #home-news .news-page p:not(.news-dd){
    margin-bottom: 40px;
  }
  .article-title, .article-sharing,
  .article-date, .article-author{
    width: 100%;
    float:left!important;
  }
   .article-sharing{
    margin-top: 5px;
  }
  .article-header .socialmedia ul{
    margin-top:0!important;
    margin-left:-7px!important;
  }
  .article-header h1{
    margin-bottom: 0!important;
  }
  .video-container .video-content .video-description{
    padding:5px!important;
  }
  .video-container figcaption{
    padding-right:5px!important;
    padding-left:5px!important;
  }
  .video-container figcaption,
  .video-container .video-content .video-description{
    font-size: 10px!important;
  }
  .row.aside {
      margin-left: -10px!important;
      margin-right: -10px!important;
  }
  .team-first {
    border-right: none;
  }
  #home-news .crop_to_one_line,
  .news-container .crop_to_one_line{
    overflow: visible!important;
    text-overflow: unset!important;
    white-space: normal!important;
  }

}

@media only screen and (max-width: 568px)
{
  .scorecard_area #content #scorecard .nav-side-tab li{
    width:100%;
  }
  .scorecard_area #content #scorecard .nav-side-tab li a{
    margin-left:0px;
  }
  .scorecard_area #scorecard .tab-content.pt15{
    padding-top: 0!important;
  }
  .scorecard_area #scorecard .nav-side-tab{
    margin-top: 0;
  }

}

@media only screen and (max-width: 500px)
{
  figcaption {
      height: auto;
  }
  .nav-side-tab.psl-series li {
      width: 100%!important;
  }

}

@media only screen and (max-width: 460px)
{
  .timeline-background {
    width: 95%;
  }

}








/*stc specific*/
#myTabContent a.widget-more{
  padding:15px 10px!important;
  background-color: #f1f1f1;
}
#myTabContent a.widget-more:hover{
  background-color: #F78300;
  color:#fff;
}
#myTabContent a.widget-more h5.more-tb{
  margin:0!important;
  padding:0!important;
  background-color:transparent!important;
}

@media only screen and (max-width: 460px)
{
  .ad-logo-sm img{
    margin-top:12px;
  }
}


