

/****************padding settings***********************/

.p0{
	padding: 0px !important;
}
.p5{
	padding: 5px !important;
}
.p10{
	padding: 10px !important;
}
.p15{
	padding: 15px !important;
}
.p20{
	padding: 20px !important;
}
.pr60 {
	padding-right: 60px !important;
}
.pl60 {
	padding-left: 60px !important;
}
.pr50 {
	padding-right: 50px !important;
}
.pl50 {
	padding-left: 50px !important;
}
.pt50 {
	padding-top: 50px !important;
}
.pb50 {
	padding-bottom: 50px !important;
}
.pr40 {
	padding-right: 40px !important;
}
.pl40 {
	padding-left: 40px !important;
}
.pt40 {
	padding-top: 40px !important;
}
.pt45 {
	padding-top: 45px !important;
}
.pb40 {
	padding-bottom: 40px !important;
}
.pr30 {
	padding-right: 30px !important;
}
.pl30 {
	padding-left: 30px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.pb30 {
	padding-bottom: 30px !important;
}
.pr20 {
	padding-right: 20px !important;
}
.pl20 {
	padding-left: 20px !important;
}
.pt20 {
	padding-top: 20px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}
.pr10 {
	padding-right: 10px !important;
}
.pl10 {
	padding-left: 10px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pl15 {
	padding-left: 15px !important;
}
.pl16 {
	padding-left: 16px !important;
}
.pt15 {
	padding-top: 15px !important;
}
.pl18 {
	padding-left: 18px !important;
}
.pl20 {
	padding-left: 20px !important;
}
.pl22 {
	padding-left: 22px !important;
}
.pr15 {
	padding-right: 15px !important;
}
.pl20 {
	padding-left: 20px !important;
}
.pr16 {
	padding-right: 16px !important;
}
.pr18 {
	padding-right: 18px !important;
}
.pr20 {
	padding-right: 20px !important;
}
.pr22 {
	padding-right: 22px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pr5 {
	padding-right: 5px !important;
}
.pl5 {
	padding-left: 5px !important;
}
.pt5 {
	padding-top: 5px !important;
}
.pb5 {
	padding-bottom: 3px !important;
}
.pr3 {
	padding-right: 3px !important;
}
.pl3 {
	padding-left: 3px !important;
}
.pt3 {
	padding-top: 3px !important;
}
.pb3 {
	padding-bottom: 3px !important;
}
.pr0 {
	padding-right: 0!important;
}
.pl0 {
	padding-left: 0!important;
}
.pt0 {
	padding-top: 0 !important;
}
.pb0 {
	padding-bottom: 0!important;
}
/***********margin settings****************/
.m0{
	margin: 0 !important;
}
.m10{
	margin: 10px !important;
}
.mr50 {
	margin-right: 50px;
}
.ml50 {
	margin-left: 50px;
}
.mt50 {
	margin-top: 50px;
}
.mb50 {
	margin-bottom: 50px;
}
.mr40 {
	margin-right: 40px;
}
.ml40 {
	margin-left: 40px;
}
.mt40 {
	margin-top: 40px;
}
.mb40 {
	margin-bottom: 40px;
}
.mr30 {
	margin-right: 30px;
}
.ml30 {
	margin-left: 30px;
}
.mt30 {
	margin-top: 30px;
}
.mb30 {
	margin-bottom: 30px;
}
.mr20 {
	margin-right: 20px;
}
.ml20 {
	margin-left: 20px;
}
.mt20 {
	margin-top: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.mr10 {
	margin-right: 10px;
}
.ml10 {
	margin-left: 10px;
}
.mt10 {
	margin-top: 10px !important;
}
.mt-md-10 {
	margin-top: 10px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mr5 {
	margin-right: 5px;
}
.ml5 {
	margin-left: 5px;
}
.mt2 {
	margin-top: 2px;
}
.mt3 {
	margin-top: 3px;
}
.mt4 {
	margin-top: 4px;
}
.mt5 {
	margin-top: 5px;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mr0 {
	margin-right: 0;
}
.ml0 {
	margin-left: 0;
}
.mt0 {
	margin-top: 0 !important;
}
.mb0 {
	margin-bottom: 0;
}
.mb1 {
	margin-bottom: 1px;
}
.mb2 {
	margin-bottom: 2px;
}
.mb3 {
	margin-bottom: 3px;
}
.mb4 {
	margin-bottom: 4px;
}
.mb5 {
	margin-bottom: 5px;
}
.mr-5 {
	margin-right: -5px;
}
.mr-6 {
	margin-right: -6px;
}
.ml-5 {
	margin-left: -5px;
}
.mt-5 {
	margin-top: -5px;
}
.mb-1 {
	margin-bottom: -1px;
}
.mb-2 {
	margin-bottom: -2px;
}
.mb-3 {
	margin-bottom: -3px;
}
.mb-4 {
	margin-bottom: -4px;
}
.mb-5 {
	margin-bottom: -5px;
}
.mr-10 {
	margin-right: -10px;
}
.mr-15 {
	margin-right: -15px;
}
.mr-md-10 {
	margin-right: -10px;
}
.ml-md-5 {
	margin-left: -5px;
}
.ml-md-10 {
	margin-left: -10px;
}
.mr-20 {
	margin-right: -20px;
}
.mr-22 {
	margin-right: -22px;
}
.mr-25 {
	margin-right: -25px;
}
.ml-10 {
	margin-left: -10px;
}
.mt-10 {
	margin-top: -10px !important;
}
.mb-10 {
	margin-bottom: -10px !important;
}
.mr-20 {
	margin-right: -20px;
}
.ml-20 {
	margin-left: -20px;
}
.mt-20 {
	margin-top: -20px !important;
}
.mb-20 {
	margin-bottom: -20px !important;
}
	.mb-xs-10 {
		margin-bottom: 0 !important;
	}
	.mb-xs-20 {
		margin-bottom: 0 !important;
	}
	.mt-xs-5 {
		margin-top: 0px !important;
	}
	.mt-xs-10 {
		margin-top: 0px !important;
	}
/****************borders******************/
.borderb0{
	border-bottom:none !important
}
.height-1{
	height: 1px !important;
	line-height: 1px !important;
}
/***********end margin settings****************/
@media (max-width: 768px) {
	.mt-md-10 {
		margin-top: 0px !important;
	}
	.mt-xs-5 {
		margin-top: 5px !important;
	}
	.mt-xs-10 {
		margin-top: 10px !important;
	}
	.mb-xs-10 {
		margin-bottom: 10px !important;
	}
	.mb-xs-20 {
		margin-bottom: 20px !important;
	}
}
	.mb-xs-10 {
		margin-bottom: 10px !important;
	}

@media (max-width: 500px) {
	.pr10-xs{
		padding-right: 10px !important; 
	}
	.mt15-xs{
		margin-top: 15px !important; 
	}
	.mb15-xs{
		margin-bottom: 15px !important; 
	}
}
@media (max-width: 500px) {
	.row-5-xs{
		margin-left: -5px !important;
		margin-right: -5px !important;
	}
}
 @media (max-width: 320px) {
	 .col-xs-p0{
		padding: 0px !important;
		}
	.col-xs-p5{
		padding-left: 5px;
    	padding-right: 5px;
		}
 }
.mtb5{
	margin:5px 0 !important;
		
}
.mtb10{
	margin-top: 10px;
	margin-bottom: 10px;	
}
.top10{
	top:10px 
}
.bottom0{
	bottom:0;
}
/******************************/
.f10{
	font-size: 10px 
}
.f11{
	font-size: 11px 
}
.f12{
	font-size: 12px 
}
.f13{
	font-size: 13px 
}
.f14{
	font-size: 14px !important
}
.f15{
	font-size: 15px !important 
}
.f16{
	font-size: 16px !important
}
.f17{
	font-size: 17px !important
}
.f18{
	font-size: 18px !important
}
.f19{
	font-size: 19px !important
}
.f20{
	font-size: 20px !important
}
.f21{
	font-size:  21px !important
}
.f22{
	font-size: 22px !important
}
.f23{
	font-size: 23px 
}
.f24{
	font-size: 24px 
}
.f25{
	font-size: 25px
}
.f26{
	font-size: 26px 
}
.f27{
	font-size: 27px 
}
.f28{
	font-size: 28px 
}
.f29{
	font-size: 29px 
}
.f30{
	font-size: 30px 
}
.lh28{
	line-height: 28px;
}
.lh32{
	line-height: 32px;
}
@media (max-width: 760px) {
	.p0-xs{
		padding: 0 !important
	}
	.f10-xs{
		font-size: 10px 
	}
	.f11-xs{
		font-size: 11px 
	}
	.f12-xs{
		font-size: 12px 
	}
	.f13-xs{
		font-size: 13px 
	}
	.f14-xs{
		font-size: 14px !important
	}
	.f15-xs{
		font-size: 15px !important 
	}
	.f16-xs{
		font-size: 16px !important
	}
	.f17-xs{
		font-size: 17px !important
	}
	.f18-xs{
		font-size: 18px !important
	}
	.f19-xs{
		font-size: 19px !important
	}
	.f20-xs{
		font-size: 20px !important
	}
	.f21-xs{
		font-size:  21px !important
	}
	.f22-xs{
		font-size: 22px !important
	}
	.f23-xs{
		font-size: 23px 
	}
	.f24-xs{
		font-size: 24px 
	}
	.f25-xs{
		font-size: 25px
	}
	.f26-xs{
		font-size: 26px 
	}
	.f27-xs{
		font-size: 27px 
	}
	.f28-xs{
		font-size: 28px 
	}
	.f29-xs{
		font-size: 29px 
	}
	.f30-xs{
		font-size: 30px 
	}
}