/************suggestions*************/

.video-thumbnail .overlay {
    background: transparent linear-gradient(transparent, #000) repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 40%;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    top: 60%;
    width: 100%;
}